{% extends "ebsadmin/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load ebsadmin_tags %}

{% block base %}
  <div class="span12">
    <div class="row-fluid">
      <ul class="breadcrumb">
        <li>
          <a href="{% url 'group' %}">
            {% blocktrans %}Группы трафика{% endblocktrans %}
          </a> <span class="divider">/</span>
        </li>

        <li class="active">{{form.name.value}}</li>
      </ul>

      <form method="POST" action="{% url 'group_edit' %}?id={{item.id}}"class="well form-horizontal form-condensed ">
        <legend>
          {% blocktrans %}Параметры группы трафика{% endblocktrans %}{% objectlog item %}
        </legend>
        
        <div class="alert alert-danger">
          {% blocktrans %}Внимание, изменение настроек группы трафика автоматически отразится на всех связанных тарифных планах{% endblocktrans %}
        </div>

        <fieldset>
          {{form|crispy}}
        </fieldset>
        <fieldset>
          <div class="form-actions form-actions-center">
            <button class="btn btn-primary" type="submit">{% blocktrans %}Сохранить{% endblocktrans %}</button>
          </div>
        </fieldset>
      </form>
    </div>
    {% object_comments item %}
  </div>
{% endblock %}