{% load i18n %}
<script>
	function change_password() {
		var old_password=document.getElementById("id_old_password");
		var new_password=document.getElementById("id_new_password");
		var repeat_password=document.getElementById("id_repeat_password");
		var message=document.getElementById("error_message");
	 	jQuery.ajax({
        	type: "POST",
        	cache: false,
        	url: '/subaccount/password/change/',
        	data: {'subaccount_id':{{subaccount.id}}, 'new_password':new_password.value, 'repeat_password':repeat_password.value},
        	timeout: 15000,
			contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
        	//beforeSend: function(XMLHttpRequest){},
        	success: function(data, status){
				var ret = eval('('+data+')');
				message.innerHTML = ret['error_message'];
				new_password.value = '';
				repeat_password.value ='';
				if (typeof ret['ok'] != 'undefined') {
					tb_remove();
				} 
			},
        	error: function(data, status){
				var ret = eval('('+data+')'); 
				message.innerHTML = ret['error_message'];
			 },
        	complete: function(data, status){  }
    	});
	}
</script>

<div class="cs_tb_header">
	<a href="javascript://" onclick="tb_remove()" class="cs_tb_close"></a>
</div>

<div>

	<h2 id="error_message" align="center"></h2>

{% if form %}
<div class="pass_table_margin_top">
<table class="pass_table wide" cellpadding="0" cellspacing="0">
	<tr>
		<th class="blue_caption white s-11 bold main_table_left_border right_border">
			{% blocktrans %}СМЕНА ПАРОЛЯ СУБАККАУНТА{% endblocktrans %} {{subaccount.username}}
		</th>
	</tr>
	<tr>
		<td>
			<form method="post" onsubmit="return false;">
				<table cellpadding="5px;" class="enter_table">
    					{{ form }}
				</table>
				<input type="submit" class="pass_button button_margin f-right" value="OK" onclick="change_password()"/>
			</form>
		</td>
	</tr>
</table>
</div>
{% endif %}
</div>