{% load object_log_tags %}
<table class="object_log">
    {% for item in log %}
        <tr>
            <td class="timestamp">{{ item.timestamp|date }}</td>
            <td>{{ item.timestamp|date:"H:i" }}</td>
            <td>{{ item|render_context:context }}</td>
        </tr>
    {% empty %}
        <tr class="none"><td class="none">- empty -</td></tr>
    {% endfor %}
</table>


<script type="text/javascript">
    function format_log_timestamps() {
        $('table.object_log:not(.formatted)').each(function(){
            var current;
            var current_td;
            var row_count = 0;
            $(this).find('.timestamp').each(function(){
                var td = $(this);
                var timestamp = new Date(td.html());
                if (current == undefined || timestamp > current) {
                    if (current_td != undefined){
                        current_td.attr('rowspan', row_count);
                    }
                    row_count=1;
                    current_td = td;
                    current = timestamp;
                } else {
                    row_count++;
                    td.hide();
                }
            });
            $(this).addClass('formatted');
            if (current_td != undefined){
                current_td.attr('rowspan', row_count);
            }
        });
    }
    $(function(){format_log_timestamps();});
</script>
