<html>
 <head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <style>
   td{
        FONT: 9px Times New Roman;
    }
    h1{
        FONT: 9px Arial;
    }
  </style>
 </head>
 <body>
  <table align=center width="85%">
    <tr>
     <td>
       <h1 align=center> <b> Квитанция об оплате услуг </b> </h1>
       <strong>Абонент:</strong> АН <br>
       <strong>Логин:</strong> brat002<br>
       <strong>Сумма:</strong> 342<br>
       <strong>Дата приема платежа:</strong> 13.11.2008 13:30:12<br>
    </td>
   </tr>
  </table>
 </body>
</html>
