<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>

<div style="width:100%; "> 
<div style="float:right ">
<span style="font-weight:bold; ">Дилер</span><br>		
Организация: УП ТехИнфоКом<br>	
Директор: <br>	
Юр адрес: <br>	
р/с: 3121241234<br>	
УНН: 1321<br>	
ОКПО: 424234<br>	
Банк: 1123, код 12<br>	
</div>

<div style="float:left ">
	<span style="font-weight:bold; ">Оператор</span><br>	
	Организация: ISD<br>	
	Директор: D. Remsha<br>	
	Юр адрес: Багдановича 37-7<br>
  р/с: 6544	<br>	
	УНН: 7777<br>	
	ОКПО: 90097080<br>	
	Банк: ZOGbank #545451, Код 66666<br>	
</div>
</div>

<div style="font-weight:bold; float:left; width:100%; text-align:center; margin-bottom:20px; margin-top:20px; ">Накладная от 21.11.2008 13:15:42</div>

<div style="clear:both "></div>
<table border="1" align="center" style="width:100%">
	<tr>
		<td>ID карты</td>
		<td>Серия</td>
		<td>Номинал</td>
		<td>Активировать С</td>
		<td>Активировать По</td>
	</tr>
	
	<tr>
	   <td>1130</td>
	   <td>0</td>
	   <td>15000.0</td>
	   <td>2008-11-11 00:00:00</td>
	   <td>2009-01-31 00:00:00</td>
	</tr>
	<tr>
	   <td>1131</td>
	   <td>0</td>
	   <td>15000.0</td>
	   <td>2008-11-11 00:00:00</td>
	   <td>2009-01-31 00:00:00</td>
	</tr>
	<tr>
	   <td>1132</td>
	   <td>0</td>
	   <td>15000.0</td>
	   <td>2008-11-11 00:00:00</td>
	   <td>2009-01-31 00:00:00</td>
	</tr>
	<tr>
	   <td>1133</td>
	   <td>0</td>
	   <td>15000.0</td>
	   <td>2008-11-11 00:00:00</td>
	   <td>2009-01-31 00:00:00</td>
	</tr>
	<tr>
	   <td>1134</td>
	   <td>0</td>
	   <td>15000.0</td>
	   <td>2008-11-11 00:00:00</td>
	   <td>2009-01-31 00:00:00</td>
	</tr>
	<tr>
	   <td>1135</td>
	   <td>0</td>
	   <td>15000.0</td>
	   <td>2008-11-11 00:00:00</td>
	   <td>2009-01-31 00:00:00</td>
	</tr>
	<tr>
	   <td>1136</td>
	   <td>0</td>
	   <td>15000.0</td>
	   <td>2008-11-11 00:00:00</td>
	   <td>2009-01-31 00:00:00</td>
	</tr>
	<tr>
	   <td>1137</td>
	   <td>0</td>
	   <td>15000.0</td>
	   <td>2008-11-11 00:00:00</td>
	   <td>2009-01-31 00:00:00</td>
	</tr>
	<tr>
	   <td>1138</td>
	   <td>0</td>
	   <td>15000.0</td>
	   <td>2008-11-11 00:00:00</td>
	   <td>2009-01-31 00:00:00</td>
	</tr>
	<tr>
	   <td>1139</td>
	   <td>0</td>
	   <td>15000.0</td>
	   <td>2008-11-11 00:00:00</td>
	   <td>2009-01-31 00:00:00</td>
	</tr>
	<tr>
	   <td>1140</td>
	   <td>0</td>
	   <td>15000.0</td>
	   <td>2008-11-11 00:00:00</td>
	   <td>2009-01-31 00:00:00</td>
	</tr>
	<tr>
	   <td>1141</td>
	   <td>0</td>
	   <td>15000.0</td>
	   <td>2008-11-11 00:00:00</td>
	   <td>2009-01-31 00:00:00</td>
	</tr>
	<tr>
	   <td>1142</td>
	   <td>0</td>
	   <td>15000.0</td>
	   <td>2008-11-11 00:00:00</td>
	   <td>2009-01-31 00:00:00</td>
	</tr>
	<tr>
	   <td>1143</td>
	   <td>0</td>
	   <td>15000.0</td>
	   <td>2008-11-11 00:00:00</td>
	   <td>2009-01-31 00:00:00</td>
	</tr>
</table>

Итого 14 карт на сумму: 207900.0<br>	
Скидка: 1,000 на сумму 2100.0<br>	
Оплачено: 0.0<br>	
Оплатить до:21.11.2008 13:15:42

</body>
</html>
