<html>
 <head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <style>
   td{
        FONT: 9px Times New Roman;
    }
    h1{
        FONT: 9px Arial;
    }
  </style>
 </head>
 <body>
  <table align=center width="85%">
    <tr>
     <td>
       <h1 align=center> <b> Квитанция об оплате услуг № 26537 </b> </h1>
       <strong>Абонент:</strong> Пупкин Василий <br>
       <strong>Тарифный план:</strong> Unlim 512k/512k <br>
       <strong>Логин:</strong> user<br>
       <strong>Сумма:</strong> 1<br>
       <strong>Дата приема платежа:</strong> 30.12.2008 12:32:50<br>
    </td>
   </tr>
  </table>
 </body>
</html>
