
<html>
 <head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <style>
   td{
        FONT: 9px Times New Roman;
    }
    h1{
        FONT: 9px Arial;
    }
  </style>
 </head>
 <body>
  <table align=center width="85%">
    <tr>
     <td>
       <h1 align=center> <b> Квитанция об оплате услуг № None </b> </h1>
       <strong>Абонент:</strong> Синяк П.Н. <br>
       <strong>Тарифный план:</strong> Новый сетевой+ <br>
       <strong>Логин:</strong> 22177<br>
       <strong>Сумма:</strong> 1<br>
       <strong>Дата приема платежа:</strong> 2011-10-03 16:14:01.351000<br>
    </td>
   </tr>
  </table>
 </body>
</html>
