
<html>
 <head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <style>
   td{
        FONT: 9px Times New Roman;
    }
    h1{
        FONT: 9px Arial;
    }
  </style>
 </head>
 <body>

  <table align=center width="85%">
    <tr>
     <td>
       <h1 align=center> <b> Квитанция об оплате услуг № 17 </b> </h1>
       <strong>Абонент:</strong>  <br>
       <strong>Тарифный план:</strong> Интернет 2+ сеть НДС <br>
       <strong>Логин:</strong> 20338<br>
       <strong>Сумма:</strong> -500<br>
       <strong>Дата приема платежа:</strong> 2011-03-27 19:13:44.949000<br>
    </td>
   </tr>
  </table>
 </body>
</html>
