
body {
    font-family:Arial;
}

h1 {
    font-weight:bold;
}

span {
    font-size:14px;
}

span.label {
    font-weight:900;
	color:#0A668C;
}

th {
    font-size:12px;
}

td {
    font-size:11px;
}

.header {
    background: url('../img/design/header_bg.gif');
    background-repeat:repeat-x;
	width:100%;
	height:88px;
	margin-bottom:15px;
}

.meny_items {
	position:relative;
	z-index:5;
}

.meny_items li {
    background: url('../img/design/marker.gif') 12px 12px;
    background-repeat: no-repeat;
    border: 1px solid #0A688C;
	width:250px;
	height:25px;
	text-align:right;
	font-size:12px;
	padding:6px 14px 0 0;
	margin-bottom:10px;
}

.meny_items li a {
    text-decoration:none;
	color:#000;
	font-weight:900;
}

th.first_row  {
    border:1px solid #000;
}

.table_border th {
    border-right:1px solid #000;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	background-color:#A6A6A6;
}

td.first_row  {
    border-left:1px solid #000;
    border-right:1px solid #000;
    border-bottom:1px solid #000;
}

.table_border td {
    color: #666;
    border-right:1px solid #000;
	border-bottom:1px solid #000;
	
}

.table_border th{
    padding:5px;
}

.table_border td {
    padding:1px 3px;
}

.registration {
    background: url('../img/design/registration_bg.gif');
    background-repeat: no-repeat;
	width:322px;
	height:133px;
	margin:0 auto;
}

.reg_centr {width:1000px; text-align:center;}

.registration label {
    display:block;
    color:#0A668C;
	width:100%;
	text-align:right;
    font-size:12px;
	font-weight:bold;
}

.registration {
    padding-left:20px;
	padding-top:10px;
}

.registration input {
    border:0;
	background-color:#aaa;
}

.registration input.button {
    float:right;
    margin-right:60px;
}


.enter_table th {
    font-size:12px;
	color:#0A668C;
	text-align:left;
}

.enter_table td input {
    border:0;
	background-color:#aaa;
}

.enter_ok_button {
    margin-top:10px;
	margin-left:170px;
}

.table_border, .enter_table {
    margin-top:20px;
}



.prepaid_table {
	margin-top:30px;
	*margin-top:0;
	width:500px;	
}

.prepaid_table div {
	background-color:#246c9c;
	text-align:center;
	color:#ffffff;
	font-weight:bold;
	font-size:13px;
}

.prepaid_table_top_left {
	background: url('../img/design/top-left.gif');
	float:left;
}

.prepaid_table_top_right {
	background: url('../img/design/top-right.gif');
	float:right;
}

.prepaid_table_bottom_left {
	background: url('../img/design/bottom-left.gif');
	float:left;
	margin:24px 0 -4px 0;
	*margin:24px 0 -6px 0;
}

.prepaid_table_bottom_right {
	background: url('../img/design/bottom-right.gif');
	float:right;
	margin:24px 0 -4px 24px;
	*margin:24px 0 -6px 24px;
	
}  

.prepaid_table_top_left, .prepaid_table_top_right, .prepaid_table_bottom_left, .prepaid_table_bottom_right {
	width:7px;
	height:6px;
}  

.prepaid_table_bottom_right, .prepaid_table_bottom_left {
	background-position:bottom;
}

.prepaid_table table {
	width:100%;
}

.prepaid_table th {
	background-color:#A6A6A6;
	padding:10px;
	text-align:center;
} 

.prepaid_table td {
	background-color:#d2d2d2;
	border-top: 1px solid #a4a4a4;
	text-align:center;
} 

.prepaid_table_td_padding {
	padding:24px;
} 


.border_right {
	border-right:1px solid #a4a4a4;
}
