body {
	background:url('../img/design/header_bg.gif') repeat-x;
	font-family:Tahoma;
	padding:0;
	margin:0;
}

h2 {
	color:#9a9a9a;
}

.wide {
	width:100%;
}

.content_align {
	width:1000px;
	margin:0 auto;
}

.f-right {
	float:right;
}

.f-left {
	float:left;
}

.a-left {
	text-align:left;
}

.a-right {
	text-align:right;
}

.white {
	color:#fff;
}

.bold {
	font-weight:bold;
}

.s-11 {
	font-size:11px;
}

.account_menu div {
	margin-left:20px;
	margin-top:5px;
	padding-top:3px;
}

.account_menu div a {
	text-decoration:none;
	color:#fff;
}

.header {
	*margin-top:9px;
}

.logo_ie {
	*width:600px;
}

.exit {
	background:url('../img/design/exit.gif') no-repeat 0 2px;
	padding-left:23px;
	height:20px;
}

.my_account {
	background:url('../img/design/man.gif') no-repeat 0 -1px;
	padding-left:23px;
	height:20px;
}

.main_menu_bg {
	background:url('../img/design/main_menu_bg.gif') repeat-x;
	width:100%;
	margin:0;
	height:32px;
	margin-top:9px;
	*margin-top:0;
}

.main_menu_bg .content_align div a {
	display:block;
	color:#0b4060;
	margin-left:10px;
	padding-top:9px;
	text-decoration:none;
}


.user {
	padding-top:10px;
	height:30px;
}

.user .status {
	
}

.user .user_name {
	color:#3d6692;
	font-size:12px;
	margin-left:20px;	
}

.account_information {
	color:#2f4d6d;
	font-size:14px;
	padding:29px 25px;
}

.blue_caption {
	background:url('../img/design/cell_blue_caption.gif') repeat-x;
}


.green_caption {
	background:url('../img/design/cell_green_caption.gif') repeat-x;
}

.blue_caption, .green_caption {
	padding-left:19px;
	height:23px;
} 

.with_table {
	padding:15px 16px;
}

.extra_table th {
	background-color:#e0dfe3;
	font-size:12px;
	padding-bottom:3px;
	padding-top:3px;
}

.extra_table td {
	border-bottom:1px dotted;
	padding:3px;
	font-size:12px;
}

.extra_table td.left_border {
	border-left:#fd660d 3px double;	
}

.extra_table td.no_border {
	border-bottom:none;
}

.extra_table td.with_bg {
	background-color:#e0dfe3;
}

.extra_table .a-left {
	text-align:left;
	padding-left:7px;
}

.card_activation th {
	font-size:11px;
	font-weight:bold;
	text-align:right;
	padding-right:10px;
}

.card_activation {
	margin:10px 0 0 10px;
}
.card_activation td input {
	border:#314f73 1px solid; 
}

.button {
	margin:10px 0 10px 120px;
}

#message {
	color:#fe0000;
	padding-top:32px;
	margin-left:10px;
}

.main_table_left_border {
	border-left: 1px solid #cacaca;
}

.main_table td.right_border {
	border-right: 1px solid #cacaca;
}

.main_table td.bottom_border {
	border-bottom: 1px solid #cacaca;
}

.user_is_blocked {
	background:url('../img/design/blocked.gif') no-repeat;
	padding-left:30px;
	padding-top:2px;
	height:30px;
	color:#fe0000;
}

.pass_table {
	background:url('../img/design/pass_bg.gif') repeat-x;
	width:318px;
	margin:0 auto;
	border: 1px solid #cacaca;
}

.pass_table table {
	margin-left:15px;
}

.enter_table {
}

.enter_table th {
	color:#1c4364;
	font-size:11px;
	font-weight:bold;
	text-align:right;
}


.pass_table_margin_top {
	padding-top:30px;
}

.pass_button {
	display:block;
	margin:0 auto;
}

.button_margin {
	margin-top:15px;
	margin-bottom:15px;
}

.registration {
	width:400px;
	margin:0 auto;
}

.reg_margin {
	padding-top:50px;
}

table.statistic_table {
	border: 1px solid #cacaca;
	margin-bottom:30px;
}

.statistics_link {
	margin-bottom:3px;
	margin-right:5px;
}

.statistics_link a {
	text-decoration:none;
	color:#fff;
}

#pagination {
	color:#2f4d70;
	margin-top:10px;
}

#pagination a, #pagination a:visited {
	text-decoration:none;
	color:#2f4d70;
}

.pagination_current {
	padding:3px;
	border:1px solid #CACACA;
}

	.cs_tb_close {
		display:block;
		height: 16px; width: 16px;
		background:url(../img/design/closeX.png) no-repeat 0 0;
		float: right;
	}
	
.card_text {
	font-size:10px;
	color:#8a8a8a;
	margin:0 30px 16px;
}

.user_info {
	background:url(../img/design/user_info_bg.gif) repeat-x;
}

.diagram_bg {
	background:url(../img/design/diagram_bg.gif) repeat-x;
}

.user_block {
	background:url(../img/design/MAN.png) no-repeat;
	padding-left:170px;
	padding-top:25px;
	font-size:12px;
	min-height:155px;
    height:auto !important;
    height:155px;
}

.trafficlimit_margin {
	margin-top:-20px;
}


.wrapper {
	min-height: 635px;
	height: auto !important;
	height: 635px;
}

.footer_bg {
	background:url(../img/design/bg_footer.gif) repeat-x;
	height:38px;
	padding-top:11px;
}

.footer {
	background:url(../img/design/info_logo.gif) no-repeat;
	padding-left:30px;
}

.operator span, .footer_ebs_site a {
	color:#2f4d6d;
}

.footer_ebs_site {
	margin-top:5px;
	background:url(../img/design/ebs_img.gif) no-repeat;
	padding-left:20px;
	height:20px;
}

.footer_ebs_site a {
	text-decoration:none;
}

#set_link {
	text-align:center;
}

#set_link a{
	color:#2f4d6d;
}

.cursor {
	cursor:pointer;
}
