/* PAGE BLOCKS */
h2 {
    color: #9A0033;
}

h3 {
    color: #000;
    font-size: 120%;
    font-weight: 600;
}

#container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

a#logo {
    left: 20px;
}

#footer {
    margin-top: 40px;
}

#user-info {
    float: right;
    margin: 12px 7px 0 0;
    font-size: 16px;
    color: #ffffff;
}

#main {
-moz-border-radius-topleft:4px;
-moz-border-radius-topright:4px;
background:#FFFFFF none repeat scroll 0 0;
float:left;
position:relative;
width:100%;
margin-left: 10px;
padding-bottom: 100px;
}

#main-content {
  padding: 0 10px 10px 10px;
  background: #fff;
  min-height: 300px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright:4px;
  z-index: 1000;
}

#main h1, #modal_container .desc h1 {
  font-size: 190%;
  padding: 5px 0;
}

#main h2, #modal_container .desc h2 {
  font-size: 150%;
  padding: 0 0 0px 5px;
  margin: 25px 0 10px 0;
  border-bottom: 1px dotted #ccc;
}

#main h3, #modal_container .desc h3 {
  font-size: 120%;
  padding: 6px 0;
  color: #333;
}

#main #modal_container .desc p {
  padding: 0 5px 5px 5px;
}

div.blankslate {
  background: #eee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 9px;
  font-weight: bold;
  margin: 0 !important;
}

#pbody h2, div.desc h2 {
  border-bottom: none !important;
  font-size: 160%;
  color: #000;
}

#pbody ul, #pbody ol, .desc ol, .desc ul {
  margin: 9px 0 9px 39px;
}

#pbody li, .tcnt li {
  margin-bottom: 6px;
}

#pbody h4, #pbody h5 {
  font-size: 92%;
}

h2#ptitle {
  font-size:  130%;
  border: none;
  margin-bottom: 10px;
}

/* @group Sidebar */

#sbar {
  position: relative;
  float: left;
  margin-left:1.3%;
  width:25%;
}

#utility, .specialblock {
  color: #fff;
  margin-left: 5px;
}

#utility select {
  background: #fff;
  color: #333;
  border: 1px solid #58b;
  font-weight: normal;
}

.specialblock a {
  color: #fff;
  display: block;
  background-color: #5B9BC8;
}

a.pedit {
  font-weight: normal;
  font-size:  92%;
  color: #bdf;
}

a.pedit:hover {
  color: #fff;
}

#sbar dl {
 margin: 0 10px;
 padding: 10px;
}

#sbar dd {
 border: 0;
 display: inline;
}

.sblock {
  background: transparent;
  color: #555;
  margin:10px 10px 0 0;

}

.sblock:after {
  content: ".";
  height: 1px;
  visibility: hidden;
  clear: right;
  display: block;
}

.sblock-cnt {
  padding: 6px;
}

.sblock h3 {
  padding: 0 0 3px 0 !important;
  margin-bottom: 0;
  text-transform: uppercase;
  position: relative;
  color: #222;
  font-weight: bold;
  font-size: 92%;
  clear: none;
}

.sblock p {
  padding: 6px 6px 0px 6px;
}

.sblock .btm-link {
  margin-top: 9px;
  float: right;
  background: #999;
  color: #fff;
  display: block;
  padding: 0 3px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-size: 92%;
}

.sblock .btm-link:hover {
  background: #333;
}

#setopenid input#openid_url { float:left; width:170px; padding:3px 4px; }
#setopenid input.button { padding:3px 12px; min-width:0; }

.attention {
  margin-bottom: 9px;
  margin-top: 9px;
  line-height: 160%;
  background: #F2F2F2;
  color: #555;
  padding: 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.attention h3 {
  font-size: 120%;
  margin-bottom: 6px;
  color: #fff;
  font-weight: 600;
  text-transform: none;
}

.attention .help {
    color: #8B8B8B;
    font-weight: normal;
    font-size: 1em;
}

.attention a {
  color: #000;
  text-decoration: none;
}

.attention .abutton {
  color: #38B;
  padding: 2px;
  margin-top: 3px;
  font-weight: bold;
  text-transform: none;
  text-decoration: none;
  display: block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 4px;
  border-radius: 2px;
}

.attention .abutton:hover {
  color: #000;
}

.smodal {
  color: #fff;
  margin-bottom: 20px;
}

.smodal-cnt {
  padding: 5px;
}

.smodal h3 {
  padding: 5px 5px 0px 5px;
  font-size: 92%;
  background: #548EB8 url(../img/tr.gif) top right no-repeat;
  position: relative;
  text-shadow: 1px 1px #fff;
}

#sbar h4 {
  font-size: 100%;
}

.avatar, .tinyavatar {
  padding: 3px;
  float: left;
  margin: 0 5px 0 0;
  max-height: 40px;
  max-width: 40px;
  overflow: hidden;
}

.tinyavatar {
  padding: 1px;
  width: 20px;
  height: 20px;
  float: none;
  vertical-align: middle;
  border: 1px solid #eee;
}

#sbar .avatar {
}

#assignees li {
  height: 38px;
  border-bottom: 1px dotted #ccc;
  padding: 5px 5px 5px 25px;
  list-style: none;
  position: relative;
}

#assignees li input {
  position: absolute;
  left: 2px;
  top: 45%;
}

#assignees li a {
  color: #000;
}

#assignees .avatar {
  width: 30px;
  height: 30px;
}

ul.stacked {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 130%;
  font-weight:  normal !important;
}

ul.stacked li {
  position: relative;
  padding: 5px;
}

.badge {
  color: #333;
  font-weight: bold;
  width: 38px;
  display: block;
  float: left;
  padding: 2px;
  text-align: center;
  margin-right: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  margin-top: -1px;
}

ul.wbadges li {
  padding: 0 !important;
  line-height: 100% !important;
  margin: 0 !important;
}

ul.wbadges li a {
  position: relative;
  padding: 8px;
  display: block;
  color: #555;
}

ul.wbadges li {
  font-weight: bold;
}

ul.wbadges a span.badge {
  color: #fff;
  background-color: #5596C4;
  line-height: 100%;
}

li.aproj a span.badge {
  background: #bbb;
  color: #999;
}

ul.wbadges li.aproj a {
  color: #777;
  font-weight: normal;
}


#projects li, #user-ticket-bins li, #shared-ticket-bins li, .blist li {
  padding: 5px;
  border-top: 1px solid #ccc;
  margin-top: 0 !important;
}

#projects li a:hover, #user-ticket-bins li a:hover,
#shared-ticket-bins li a:hover,
.blist li a:hover {
  background-color: #ccc;
}

/*li.current-bin a {
  background: url(/images/app/check.png) 98% 50% no-repeat;
  padding-right: 20px;
}*/

.tktlink a:hover {
  color: #333;
}

ul.link-list {
  list-style: none;
}

ul.link-list li {
  padding: 3px;
  display: block;
  border-top: 1px solid #ccc;
}

ul.link-list li .right {
  float: right;
}

ul.link-list li:hover {
  background-color: #ccc;
}

li.last, li.last a {
  border-bottom: none !important;
}

.watcherdude a.watcher {
  padding: 10px;
}

.opts {
  text-align: right;
  font-weight: normal;
  font-size: 92%;
  margin-top: 5px;
}

.proj-desc {
  color: #555;
  padding: 9px 0 9px 0;
}

/* @end */


.etype_inplace{
  width: 60px;
  background-color: #555;
  color: #fff;
  float:right;
  text-align: center;
  padding-bottom: 1px;
  font-size: 92%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 4px;
}

.etype {
  width: 60px;
  background-color: #555;
  color: #fff;
  position: relative;
  float:right;
  right: 0;
  top: 18px;
  text-align: center;
  padding-bottom: 2px;
  font-size: 92%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 4px;
}

.etype-sized {
    width:90px;
}

form, input, dt, dl, dd, ol, div, p, blockquote, h1, h2, h3, h4, h5, h6, a {
    margin:0;
    padding-top:5px;
}


.tleft {
    float:left;
    width:55px;
}

.tcnt {
    margin-left:55px;
    margin-right:0px;
}

ul.info {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}

.message-title {
    color: #50514F;
    font-size: 1.2em;
    font-weight: 600;
}

.tticket {
    border-bottom:1px solid #DDDDDD;
    padding-top:9px !important;
    padding-bottom:9px !important;
    padding-right:9px !important;
    position:relative;
    background: url("../img/icons/comment.png") no-repeat left;
    padding-left: 21px;    
    
}

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.event{
  margin:0 0 10px 0;
}

.event-date {
  position: absolute;
  right: 5px;
  color: #4E4E4E;
  font-size: 75%;
}

.changes {
  margin-top: 18px !important;
}

.changes h3 {
  padding: 5px;
}

.changes h4 a { color:  #444; }

.changes h4 {
  position: relative;
  font-size: 110%;
}

.changes .event-date, .response .event-date {
  position: static;
  display: block;
  color: #888;
  font-size: 92%;
}

.changes .event-date a {
  color: #999;
  font-weight: normal;
}

ul.info {
  list-style: none;
  margin: 0 0 18px 0;
  padding: 0;
}

ul.info li {
}

ul.info ul li {
  border: none;
}

ul.info li:last-child {
  border-bottom: none;
}

.ticket-changes {
  margin: 6px 0;
  padding: 0;
  width: 100%;
}

.info .desc {
  margin-top: 9px;
  color: #555;
}

ul.ticket-changes li {
  display: block;
  padding: 1px 0;
  font-weight: bold;
}

.change {
  background: #eee;
  font-style: normal;
}

#events {
  margin-top: 18px;
  margin-left: 81px;
}

#events h3 {
  border-bottom: 1px solid #ccc;
}

.events, .pagelist {
  margin: 0 0 60px 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.events li.event {
  padding: 12px !important;
  line-height: 160%;
  border-bottom: 1px solid #eee;
  position: relative;
}

.day-break, .time-span {
  position: absolute;
  left: -81px;
  top: 9px;
  width: 60px;
  text-align: center;
  display: block;
  background-color: #eee;
  padding: 9px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

li.daybreak {
  border-top: 2px solid #e4e4e4;
}

span.day {
  display: block;
  font-size: 92%;
  font-weight: bold;
}

span.num {
  color: #777;
}

#events .emeta a {
  color: #555;
}

#events .emeta a:hover {
  color: #111;
}

.events li blockquote p {
  margin: 0 0 10px 0 !important;
  padding: 0 !important;
  color: #444;
  font-size: 92%;
}

.events .event-date {
  color: #999;
  font-family: Georgia, Times, serif;
  position: absolute;
  top: 18px;
}

.events .avatar, .msg .avatar {
  width: 25px;
  height: 25px;
  padding: 2px;
}

.tcnt .event-date a.edit {
  color: #07b;
}

.scrum_bugs{
      heigth:12px;
}

.scrum_bugs img:hover{
      width:12px;
}

.attachments ul {
  list-style: none;
}

table.profile-data {
    width: auto;
}

table.profile-data tr td {
    text-align: right;
    padding-right: 0;
}

table.profile-data tr th, table.profile-data tr td{
    border-bottom: solid 1px #e6e6fa;
}

table.profile-data tr.last th, table.profile-data tr.last td{
    border-bottom: none;
}

