{% extends 'base.html' %}
{% load custom_filters %}
{% load billservice_tags %}

{% block content %}
{% if trafficlimit %}
<table class="table_border" cellpadding="0" cellspacing="0">
    <tr>
	   <th class="first_row">Название</th>
	   <th>Начало</th>
	   <th>Окончание</th>
	   <th>Потреблено</th>
	   <th>Лимит</th>
	</tr>
	{% for traffic_limit in trafficlimit %}
		{% traffic_limit_row traffic_limit user %}
	{% endfor %}
</table>
{% else %}
	<h1>На данный момент информации нет</h1>
{% endif %}
{% endblock %}


{% block title %}
    Биллинговая информация
{% endblock %}