{% extends 'base.html' %}

{% block logo_style %}margin-top:9px;{% endblock %}

{% block login %}




<div class="reg_margin">
	{% if error_message %}
    	<h2 align="center">{{ error_message }}</h2>
	{% endif %}
	{% if message %}
		<h2 align="center">{{ message|safe }}</h2>
	{% endif %}
<!--
<div class="registration">
<form method="post" action="/">
<table cellpadding="5px;">
<tr><td><label for="id_username">{{ form.username.label }}</label></td><td>{{ form.username }}</td></tr>
<tr><td><label for="id_password">{{ form.password.label }}</label></td><td>{{ form.password }}</td></tr>
</table>

<button type="submit" class="button">OK</button>

<input type="submit" value="OK" class="button"/>

<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>

-->
<form method="post" action="/login/" onclick="beforePost()">
<table class="pass_table wide" cellpadding="0" cellspacing="0">
	<tr>
		<th class="blue_caption white s-11 bold main_table_left_border right_border cursor" id="pass_click">
			ВХОД В СИСТЕМУ
		</th>
	</tr>
	<tr>
		<td>
			<div id="pass_body">
				<table cellpadding="5px;" class="enter_table">
					{% for field in form %}
						{% ifnotequal field.label 'пин' %}
							{% ifnotequal field.label 'user' %}
								<tr>
									<th><label>{{ field.label }}:</label></th>
									<td>{{ field }}</td>
								</tr>
							{% endifnotequal %}
						{% endifnotequal %}
					{% endfor  %}
				</table>
				<input type="submit" class="pass_button button_margin" value="Вход"/>
			</div>
		</td>
	</tr>
</table>
<table class="pass_table wide" cellpadding="0" cellspacing="0">
	<tr>
		<th class="blue_caption white s-11 bold main_table_left_border right_border cursor" id="pin_click">
			АКТИВАЦИЯ КАРТЫ ДОСТУПА
		</th>
	</tr>
	<tr>
		<td>
			<div id="pin_body">
				<table cellpadding="5px;" class="enter_table">
					{% for field in form %}
						{% ifnotequal field.label 'пароль' %}
							{% ifnotequal field.label 'имя пользователя' %}
								<tr>
									<th><label>{% ifequal field.label 'user' %}имя пользователя{% else %}{{ field.label }}{% endifequal %}:</label></th>
									<td>{{ field }}</td>
								</tr>
							{% endifnotequal %}
						{% endifnotequal %}
					{% endfor  %}
				</table>
				<input type="submit" class="pass_button button_margin" value="Активировать"/>
			</div>
		</td>
	</tr>
</table>
</form>
</div>
{% endblock %}

{% block title %}
    Вход
{% endblock %}


{% block extra_head %}
	<script>	
//hide		
		$(function() {
			function runPassEffect(){
				var options = {};
				$("#pass_body").toggle("blind",options,500);
			};
			
			function runPinEffect(){
				var options = {};
				$("#pin_body").toggle("blind",options,500);
			};
			
			$("#pass_click").click(function() {
				runPinEffect();
				runPassEffect();
				return false;
			});
			
			$("#pin_click").click(function() {
				runPinEffect();
				runPassEffect();
				return false;
			});
			
			$("#pin_body").hide();
		});
//endhide
		
	</script>
{% endblock %}
