{% extends 'base_extended.html' %}
{% load billservice_tags %}
{% load custom_filters %}
{% load i18n %}
{% block content %}
{% if addon_service_transaction %}
<table class="wide statistic_table" cellpadding="0" cellspacing="0">
	<tr>
		<th class="white bold s-11 blue_caption a-left">{% blocktrans %}СПИСАНИЯ ЗА ПОДКЛЮЧАЕМЫЕ УСЛУГИ{% endblocktrans %}</th>
	</tr>
	<tr>
		<td class="">
			<table class="wide extra_table" cellpadding="0" cellspacing="0">
				<tr>
					<th>{% blocktrans %}Услуга{% endblocktrans %}</th>
					<th>{% blocktrans %}Тип услуги{% endblocktrans %}</th>
					<th>{% blocktrans %}Сумма{% endblocktrans %}</th>
					<th>{% blocktrans %}Тип списания{% endblocktrans %}</th>
					<th>{% blocktrans %}Дата{% endblocktrans %}</th>
				</tr>
				{% for transaction in addon_service_transaction %}
					<tr>
						<td class="{{ forloop.counter|coll_bg  }} {% if forloop.last and not is_range %}no_border{% endif %}">{{ transaction.service.name }}&nbsp;</td>
						<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last and not is_range %}no_border{% endif %}">{{ transaction.service_type }}&nbsp;</td>
						<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last and not is_range %}no_border{% endif %}">{{ transaction.summ }}&nbsp;{{ CURRENCY }}</td>
						<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last and not is_range %}no_border{% endif %}">{{ transaction.type_id }}&nbsp;</td>
						<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last and not is_range %}no_border{% endif %}">{{ transaction.created|date:"d.m.Y H:i" }}&nbsp;</td>
					</tr>
				{% endfor %}
				{% if is_range %}
					<tr>
						<td colspan="2" align="right" class="bold {{ rec_count|coll_bg  }} no_border">{% blocktrans %}Всего на странице:{% endblocktrans %}<br>{% blocktrans %}Всего:{% endblocktrans %}</td>
						<td colspan="3" class="left_border {{ rec_count|coll_bg  }} no_border">{{ summ_on_page|floatformat:2}}&nbsp;{{ CURRENCY }}<br>{{ summ|floatformat:2 }}&nbsp;{{ CURRENCY }}</td>
					</tr>
				{% endif %}
			</table>
			{% include 'paginator.html' %}
		</td>
	</tr>
</table>

{% else %}
 <h2 align="center">{% blocktrans %}Данных нет{% endblocktrans %}</h2>
{% endif %}
{% endblock %}


{% block title %}
    {% blocktrans %}Биллинговая информация{% endblocktrans %}
{% endblock %}