{% extends 'base_extended.html' %}
{% load billservice_tags %}
{% load i18n %}
{% block content %}
<script>
function simple_tooltip(target_items, name){
 $(target_items).each(function(i){
		$("body").append("<div class='"+name+"' id='"+name+i+"'><p>"+$(this).attr('title')+"</p></div>");
		var my_tooltip = $("#"+name+i);

		if($(this).attr("title") != "" && $(this).attr("title") != "undefined" ){

		$(this).removeAttr("title").mouseover(function(){
					my_tooltip.css({opacity:0.8, display:"none"}).fadeIn(400);
		}).mousemove(function(kmouse){
				var border_top = $(window).scrollTop();
				var border_right = $(window).width();
				var left_pos;
				var top_pos;
				var offset = 15;
				if(border_right - (offset *2) >= my_tooltip.width() + kmouse.pageX){
					left_pos = kmouse.pageX+offset;
					} else{
					left_pos = border_right-my_tooltip.width()-offset;
					}

				if(border_top + (offset *2)>= kmouse.pageY - my_tooltip.height()){
					top_pos = border_top +offset;
					} else{
					top_pos = kmouse.pageY-my_tooltip.height()-offset;
					}

				my_tooltip.css({left:left_pos, top:top_pos});
		}).mouseout(function(){
				my_tooltip.css({left:"-9999px"});
		});

		}

	});
}

$(document).ready(function(){
	 simple_tooltip("a","tooltip");
});
</script>
{% if service_message %}
	<h2 align="center" id="error_message">{{ service_message }}</h2>
{% endif %}

{% if addon_srvcs or account_services%}
    {% if addon_srvcs %}
	<table class="wide statistic_table" cellpadding="0" cellspacing="0">
		<tr>
			<th class="white bold s-11 blue_caption">
				<div class="f-left">{% blocktrans %}ПОДКЛЮЧАЕМЫЕ УСЛУГИ{% endblocktrans %}</div>
			</th>
		</tr>
		<tr>
			<td class="">
				<table class="wide extra_table" cellpadding="0" cellspacing="0">
					<tr>
						<th>{% blocktrans %}Название{% endblocktrans %}</th>
                        <th>{% blocktrans %}Описание{% endblocktrans %}</th>
                        <th>{% blocktrans %}Период действия (расчётный периода){% endblocktrans %}</th>
						<th>{% blocktrans %}Стоимость{% endblocktrans %}</th>
                        <th>{% blocktrans %}Можно активировать{% endblocktrans %}</th>
						<th>{% blocktrans %}Плата за досрочное отключение{% endblocktrans %}</th>
						<th>{% blocktrans %}Минимальный период{% endblocktrans %}</th>
						<th>{% blocktrans %}Подключить/Отключить{% endblocktrans %}</th>
					</tr>
					{% for service,userservice in addon_srvcs %}
						<tr>
							<td class="{{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ service.service.name }}&nbsp;</td>
                            <td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ service.service.comment }}&nbsp;</td>
                            <td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ service.service.sp_period.name|slice:"1:" }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ service.service.cost|floatformat:2 }}&nbsp;{{ CURRENCY }}</td>
                            <td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ service.service.timeperiod}}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}" align="center">{{ service.service.wyte_cost|floatformat:2  }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ service.service.wyte_period.name|slice:"1:" }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %} tariff_activate" align="center">{% if not userservice %}<a href="/service/set/{{ service.service.id }}/">{% blocktrans %}Подключить{% endblocktrans %}</a>{% else %}{% for usvc in userservice %}{% if not usvc.deactivated%}<a href="/service/del/{{ usvc.id }}/">{% blocktrans %}Отключить{% endblocktrans %}</a>{% endif %}{% endfor %}{% endif %}&nbsp;</td>
						</tr>
					{% endfor %}
				</table>
			</td>
		</tr>
        </table>
		{% endif %}
		
		
		{% if user_services %}
        <table class="wide statistic_table" cellpadding="0" cellspacing="0">
		<tr>
			<th class="white bold s-11 blue_caption">
				<div class="f-left">{% blocktrans %}ПОДКЛЮЧЕННЫЕ УСЛУГИ{% endblocktrans %}</div>
			</th>
		</tr>
		<tr>
			<td class="">
				<table class="wide extra_table" cellpadding="0" cellspacing="0">
					<tr>
						<th>{% blocktrans %}Название{% endblocktrans %}</th>
                        <th>{% blocktrans %}Описание{% endblocktrans %}</th>
						<th>{% blocktrans %}Cтоимость{% endblocktrans %}</th>
						<th>{% blocktrans %}Когда подключена{% endblocktrans %}</th>
						<th>{% blocktrans %}Дополнительно{% endblocktrans %}</th>
						<th>{% blocktrans %}Отключить{% endblocktrans %}</th>
					</tr>
					{% for user_service in user_services %}
						<tr>
							<td class="{{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ user_service.service.name }}&nbsp;</td>
                            <td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ user_service.service.comment}}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ user_service.service.cost|floatformat:2 }}&nbsp;{{ CURRENCY }}</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ user_service.activated|date:"d.m.Y H:i"  }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{% if user_service.wyte %} За отключение услуги {% if user_service.end_wyte_date %}до {{ user_service.end_wyte_date|date:"d.m.Y H:i" }} {% endif %}с вашего лицевого счёта будет дополнительно списано  {{ user_service.service.wyte_cost|floatformat:2  }} {% endif %}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %} tariff_activate" align="center">{% if not usvc.deactivated %}<a href="/service/del/{{ usvc.id }}/">Отключить</a>{% endif %}&nbsp;</td>
						</tr>
					{% endfor %}
				</table>
			</td>
		</tr>
        </table>
		{% endif %}
		
	
{% else %}
	<h2 align="center">{% blocktrans %}На данный момент информации нет{% endblocktrans %}</h2>
{% endif %}
{% endblock %}
