{% load i18n %}
{% if form %}
<script>
	function activate_car() {
		$('#id_button_send').hide();
		var pin=document.getElementById("id_pin");
		var message=document.getElementById("message_in_form");
        var card_id=document.getElementById("id_card_id");
	 	jQuery.ajax({
        	type: "POST",
        	cache: false,
        	url: '/card/activation/',
        	data: {'pin': pin.value, 'card_id': card_id.value},
        	timeout: 15000,
			contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
        	//beforeSend: function(XMLHttpRequest){},
        	success: function(data, status){
				var ret = eval('('+data+')');
				if (typeof ret['redirect'] != 'undefined') {
					window.location.href = ret['redirect'];
				} 
				message.innerHTML = ret['error_message'];
				pin.value='';
                card_id.value='';
				//window.location.reload();	
                $('#id_button_send').show();
			},
        	error: function(data, status){
				var ret = eval('('+data+')'); 
				message.innerHTML = ret['error_message'];
				pin.value='';
				$('#id_button_send').show();
			 },
        	complete: function(data, status){  }
    	});
	}
	
</script>


<div class="cs_tb_header">
	<a href="javascript://" onclick="tb_remove()" class="cs_tb_close"></a>
</div>
<div class="pass_table_margin_top">
<table class="pass_table wide" cellpadding="0" cellspacing="0">
	<tr>
		<th class="blue_caption white s-11 bold main_table_left_border right_border">
			{% blocktrans %}АКТИВАЦИЯ КАРТОЧЕК{% endblocktrans %}
			
		</th>
	</tr>
	<tr>
		<td>
			<form method="post" onsubmit="return false;">
				
				<table class="card_activation enter_table">
				<tr>
				<td colspan="2"><div id="message_in_form"></div></td>
				</tr>
					{{ form }}
					<tr>
						<td colspan="2">
							<div class="f-right">
								<input type="submit" value="Активировать" id='id_button_send' class="pass_button f-right" onclick="activate_car()">
							</div>	
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<div class="card_text f-left">
								<span>{% blocktrans %}Для активации карточек необходимо выполнить следующие действия:{% endblocktrans %}</span>
								<ol type="1">
									<li>{% blocktrans %}Ввести в поля «пин», «серия», «номер карты» пин, серию и номер, которые указаны на Вашей карточке;{% endblocktrans %}</li>
									<li>{% blocktrans %}Если карточка еще не была активирована, то Ваш баланс пополняется автоматически на указанную сумму;{% endblocktrans %}</li>
								</ol>
							</div>
						</td>
					</tr>
				</table>
			</form>
				
		</td>
	</tr>
</table>
</div>
{% endif %}