{% if form %}
<script>
	function activate_car() {
		var pin=document.getElementById("id_pin");
		var series=document.getElementById("id_series");
		var message=document.getElementById("message");
        var card_id=document.getElementById("id_card_id");
	 	jQuery.ajax({
        	type: "POST",
        	cache: false,
        	url: '/card/activation/',
        	data: { 'series': series.value, 'pin': pin.value, 'card_id': card_id.value},
        	timeout: 15000,
			contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
        	//beforeSend: function(XMLHttpRequest){},
        	success: function(data, status){
				var ret = eval('('+data+')');
				if (typeof ret['redirect'] != 'undefined') {
					window.location.href = ret['redirect'];
				} 
				message.innerHTML = ret['error_message'];
				pin.value='';
				series.value='';
                card_id.value='';
				if (ret['error_message'] == 'True') {
					window.location.reload();
				}
			},
        	error: function(data, status){
				var ret = eval('('+data+')'); 
				message.innerHTML = ret['error_message'];
				pin.value='';
				series.value=''; 
			 },
        	complete: function(data, status){  }
    	});
	}
	
</script>


<div class="cs_tb_header">
	<a href="javascript://" onclick="tb_remove()" class="cs_tb_close"></a>
</div>
<div class="pass_table_margin_top">
<table class="pass_table wide" cellpadding="0" cellspacing="0">
	<tr>
		<th class="blue_caption white s-11 bold main_table_left_border right_border">
			АКТИВАЦИЯ КАРТОЧЕК
		</th>
	</tr>
	<tr>
		<td>
			<form method="post" onsubmit="return false;">
				<table class="card_activation f-left">
					{{ form }}
				</table>
				<div id="message" class="s-11"></div>
				<div class="wide f-left">
					<input type="submit" value="Активировать" class="pass_button button_margin f-right" onclick="activate_car()">
				</div>
			</form>
			<div class="card_text f-left">
				<span>Для активации карточек необходимо выполнить следующие действия:</span>
				<ol type="1">
					<li>Ввести в поля «пин», «серия», «номер карты» пин, серию и номер, которые указаны на Вашей карточке;</li>
					<li>Если карточка еще не была активирована, то Ваш баланс пополняется автоматически на указанную сумму;</li>
					<li>Если Администратор заблокировал данную услугу, вам будет выведено сообщение об ошибке.</li>
				</ol>
			</div>	
		</td>
	</tr>
</table>
</div>
{% endif %}