{% load i18n %}
<script>
	function change_password() {
		var old_password=document.getElementById("id_old_password");
		var new_password=document.getElementById("id_new_password");
		var repeat_password=document.getElementById("id_repeat_password");
		var message=document.getElementById("error_message");
	 	jQuery.ajax({
        	type: "POST",
        	cache: false,
        	url: '/password/change/',
        	data: {'old_password':old_password.value, 'new_password':new_password.value, 'repeat_password':repeat_password.value},
        	timeout: 15000,
			contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
        	//beforeSend: function(XMLHttpRequest){},
        	success: function(data, status){
				var ret = eval('('+data+')');
				message.innerHTML = ret['error_message'];
				old_password.value = '';
				new_password.value = '';
				repeat_password.value ='';
				if (typeof ret['ok'] != 'undefined') {
					tb_remove();
				} 
			},
        	error: function(data, status){
				var ret = eval('('+data+')'); 
				message.innerHTML = ret['error_message'];
			 },
        	complete: function(data, status){  }
    	});
	}
	
    function change_email() {
        var new_email=document.getElementById("id_new_email");
        var repeat_email=document.getElementById("id_repeat_email");
        var message=document.getElementById("error_message");
        jQuery.ajax({
            type: "POST",
            cache: false,
            url: '/email/change/',
            data: {'new_email':new_email.value, 'repeat_email':repeat_email.value},
            timeout: 15000,
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            //beforeSend: function(XMLHttpRequest){},
            success: function(data, status){
                var ret = eval('('+data+')');
                message.innerHTML = ret['error_message'];
                new_password.email = '';
                repeat_email.value ='';
                if (typeof ret['ok'] != 'undefined') {
                    tb_remove();
                } 
            },
            error: function(data, status){
                var ret = eval('('+data+')'); 
                message.innerHTML = ret['error_message'];
             },
            complete: function(data, status){  }
        });
    }
</script>

<div class="cs_tb_header">
	<a href="javascript://" onclick="tb_remove()" class="cs_tb_close"></a>
</div>

<div>

	<h2 id="error_message" align="center"></h2>

{% if password_form and email_form %}
<div class="pass_table_margin_top">
<table class="pass_table wide" cellpadding="0" cellspacing="0">
	<tr>
		<th class="blue_caption white s-11 bold main_table_left_border right_border">
			{% blocktrans %}СМЕНА УЧЁТНЫХ ДАННЫХ{% endblocktrans %}
		</th>
	</tr>
	<tr>
		<td>
			<form method="post" onsubmit="return false;">
				<table cellpadding="5px;" class="enter_table">
    					{{ password_form }}
				</table>
				<input type="submit" class="pass_button button_margin f-right" value="OK" onclick="change_password()"/>
			</form>
		</td>
	</tr>
	<tr>
	<td><hr></td>
	</tr>
    <tr>
        <td>
            <form method="post" onsubmit="return false;">
                <table cellpadding="5px;" class="enter_table">
    
                        {{ email_form }}
                </table>
                <input type="submit" class="pass_button button_margin f-right" value="OK" onclick="change_email()"/>
            </form>
        </td>
    </tr>
</table>
</div>
{% endif %}
</div>