{% extends 'base_extended.html' %}
{% load i18n %}
{% load billservice_tags %}
{% load custom_filters %}

{% block content %}
{{error_message}}

<form action="{% url getpaid-select-payment %}" method="POST">
	<table class="wide extra_table promise_table" cellpadding="0" cellspacing="0">
	{% csrf_token %}
	    <tr>
	        <th class="white bold s-11 blue_caption a-left ie" colspan="2">{% blocktrans %}Выберите способ платежа{% endblocktrans %}</th>
	    </tr>
	    <tr>
	   <td class="coll_bg caption">{% blocktrans %}Способ{% endblocktrans %}:</td><td>{{ payment_form.backend }}</td>
	   </tr>
	    <tr>
	    <td colspan="2" class="no_border">
	    <input value="Ok" type="submit" class="pass_button f-right promise_button">
	    </td>
	    </tr>
	</table>
</form>

{% if allow_webmoney %}
<form method="POST" action="/webmoney/">
<table class="wide extra_table promise_table" cellpadding="0" cellspacing="0">
    <tr>
        <th class="white bold s-11 blue_caption a-left ie" colspan="2">{% blocktrans %}Пополнить баланс с помощью WebMoney{% endblocktrans %}</th>
    </tr>
    <tr>
        <td class="coll_bg caption">
        	{% blocktrans %}Сумма{% endblocktrans %}
        </td>
        <td class="left_border ">
        	<input type="text" name='amount' value='0'> {{ CURRENCY }}
        </td>
    </tr>
    <tr>
    <td colspan="2" class="no_border">
    <input value="Ok" type="submit" class="pass_button f-right promise_button">
    </td>
    </tr>
</table>

</form>
{% endif %}

{% endblock %}


{% block title %}
    {% blocktrans %}Оплата услуг{% endblocktrans %}
{% endblock %}