{% extends 'base_extended.html' %}
{% load billservice_tags %}
{% load custom_filters %}

{% block content %}
{{error_message}}

<form action="{% url getpaid-select-payment %}" method="POST">
	<table class="wide extra_table promise_table" cellpadding="0" cellspacing="0">
	{% csrf_token %}
	    <tr>
	        <th class="white bold s-11 blue_caption a-left ie" colspan="2">Выберите способ платежа</th>
	    </tr>
	    <tr>
	   <td class="coll_bg caption">Способ:</td><td>{{ payment_form.backend }}</td>
	   </tr>
	    <tr>
	    <td colspan="2" class="no_border">
	    <input value="Ok" type="submit" class="pass_button f-right promise_button">
	    </td>
	    </tr>
	</table>
</form>

{% if allow_webmoney %}
<form method="POST" action="/webmoney/">
<table class="wide extra_table promise_table" cellpadding="0" cellspacing="0">
    <tr>
        <th class="white bold s-11 blue_caption a-left ie" colspan="2">Пополнить баланс с помощью WebMoney</th>
    </tr>
    <tr>
        <td class="coll_bg caption">
        	Сумма
        </td>
        <td class="left_border ">
        	<input type="text" name='amount' value='0'> {{ CURRENCY }}
        </td>
    </tr>
    <tr>
    <td colspan="2" class="no_border">
    <input value="Ok" type="submit" class="pass_button f-right promise_button">
    </td>
    </tr>
</table>

</form>
{% endif %}

{% endblock %}


{% block title %}
    Оплата услуг
{% endblock %}