<script>
	function user_block() {

		var message=document.getElementById("error_message");
	 	jQuery.ajax({
        	type: "POST",
        	cache: false,
        	url: '/account/block/',
        	data: {},
        	timeout: 15000,
			contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
        	//beforeSend: function(XMLHttpRequest){},
        	success: function(data, status){
				var ret = eval('('+data+')');
				message.innerHTML = ret['error_message'];
				if (typeof ret['ok'] != 'undefined') {
					tb_remove();
				} 
			},
        	error: function(data, status){
				var ret = eval('('+data+')'); 
				message.innerHTML = ret['error_message'];
			 },
        	complete: function(data, status){  }
    	});
	}
</script>

<div class="cs_tb_header">
	<a href="javascript://" onclick="tb_remove()" class="cs_tb_close"></a>
</div>

<div>

	<h2 id="error_message" align="center"></h2>


<div class="pass_table_margin_top">
<table class="pass_table wide" cellpadding="0" cellspacing="0">
	<tr>
		<th class="blue_caption white s-11 bold main_table_left_border right_border">
			Пользовательская блокировка аккаунта
		</th>
	</tr>
	<tr>
		<td>
			Выша учётная запись {% if not activated %}не {% endif %}заблокирована.<br>
			Максимальный срок блокировки составляет {% block_days %} дней.<br>
			{% if block_cost %}Стоимость блокировки {{block_cost}}{% endif %}.
			
			
		</td>
	</tr>

	<tr>
		<td>
			<form method="post" onsubmit="return false;">
				<input type="submit" class="pass_button button_margin f-right" value="Ок" onclick="user_block()"/>
			</form>
		</td>
	</tr>
</table>
</div>

</div>