{% load i18n %}
<script>
	function user_block() {

		var message=document.getElementById("dialog_message");
		var userblock=document.getElementById("userblock_button");
	 	jQuery.ajax({
        	type: "POST",
        	cache: false,
        	url: '/account/block/action/',
        	data: {},
        	timeout: 15000,
			contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
        	//beforeSend: function(XMLHttpRequest){},
        	success: function(data, status){
				var ret = eval('('+data+')');
				message.innerHTML = ret['message'];
				if (ret['result']==true)
					{
					userblock.type='hidden';
					}
				if (typeof ret['ok'] != 'undefined') {
					tb_remove();
				} 
			},
        	error: function(data, status){
				var ret = eval('('+data+')'); 
				message.innerHTML = ret['message'];
			 },
        	complete: function(data, status){  }
    	});
	}
</script>

<div class="cs_tb_header">
	<a href="javascript://" onclick="tb_remove()" class="cs_tb_close"></a>
</div>

<div>

	<font color="red"><h3 id="dialog_message" align="center"></h3></font>

<div class="pass_table_margin_top">
<table class="pass_table wide" cellpadding="0" cellspacing="0">
	<tr>
		<th class="blue_caption white s-11 bold main_table_left_border right_border">
			{% blocktrans %}Пользовательская блокировка аккаунта{% endblocktrans %}
		</th>
	</tr>
	<tr>
		<td>
			{% blocktrans %}Выша учётная запись{% endblocktrans %} {% if account_status == 1 %}<strong>{% blocktrans %}не{% endblocktrans %}</strong> {% endif %}{% blocktrans %}заблокирована{% endblocktrans %}{% if sp %}<br><strong> {{sp.start_date|date:"d.m.Y H:i"}}</strong>{% endif %}.<br>
			{% if tarif.allow_userblock %}
			 {% if tarif.userblock_max_days %}{% blocktrans %}Максимальный срок блокировки составляет{% endblocktrans %} {{ tarif.userblock_max_days }} {% blocktrans %}дней{% endblocktrans %}.<br>{% endif %}
			 {% if tarif.userblock_cost %}{% blocktrans %}Стоимость блокировки составляет {% endblocktrans %}{{tarif.userblock_cost}}{{CURRENCY}}.{% endif %}
			{% endif %}
		</td>
	</tr>

	<tr>
		<td>
		{% if tarif.allow_userblock %}
			<form method="post" onsubmit="return false;">
			
				{% if account_status == 1 %}
				<input type="submit" id='userblock_button' class='pass_button_unsized button_margin f-right' value="{% blocktrans %}Включить блокировку{% endblocktrans %}" onclick="user_block()"/>
				{% else %}
				<input type="submit" id='userblock_button' class='pass_button_unsized button_margin f-right' value="{% blocktrans %}Отключить блокировку{% endblocktrans %}" onclick="user_block()"/>
				{% endif %}
			
			</form>
		{% endif %}
		</td>
	</tr>
</table>
</div>

</div>