{% extends 'base_extended.html' %}
{% load custom_filters %}
{% load billservice_tags %}

{% block content %}
{% if net_flow_stream or transactions or active_session or services %}
	<table class="wide statistic_table" cellpadding="0" cellspacing="0">
		{% if transactions %}
		<tr>
			<th class="white bold s-11 blue_caption">
				<div class="f-right statistics_link white"><a href="/transaction/">Показать всю историю</a></div>
				<div class="f-left">ИНФОРМАЦИЯ ОБ ОПЕРАЦИЯХ С БАЛАНСОМ</div>
			</th>
		</tr>
		<tr>
			<td class="">
				<table class="wide extra_table" cellpadding="0" cellspacing="0">
					<tr>
						<th>Дата</th>
						<th>Сумма</th>
						<th>Обещенный платеж</th>
						<th>Погасить до</th>
						<th>Описание</th>
						<th>Документ</th>
						<th>Комментарий</th>
					</tr>
					{% for transaction in transactions %}
						<tr>
							<td class="{{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ transaction.created|date:"d.m.Y H:i" }}</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ transaction.summ }}</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}" align="center">{% if transaction.promise %}да{% else %}нет{% endif %}</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ transaction.end_promise|date:"d.m.Y"  }}</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ transaction.description }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ transaction.bill }}</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ transaction.comment }}</td>
						</tr>
					{% endfor %}
				</table>
			</td>
		</tr>
		{% endif %}
		{% if net_flow_stream %}
		<tr>
			<th class="white bold s-11 blue_caption">
				<div class="f-right statistics_link white"><a href="/traffic/info/">Показать всю историю</a></div>
				<div class="f-left">СЕТЕВАЯ СТАТИСТИКА</div>
			</th>
		</tr>
		<tr>
			<td class="">
				<table class="wide extra_table" cellpadding="0" cellspacing="0">
					<tr>
						<th>Дата</th>
	   					<th>IP источника</th>
	   					<th>Порт источника</th>
	   					<th>IP получателя</th>
	   					<th>Порт получателя</th>
	   					<th>Протокол</th>
	   					<th>Передано</th>
					</tr>
					{% for stream in net_flow_stream %}
						<tr>
							<td class="{{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ stream.date_start|date:"d.m.Y  H:i" }}</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ stream.src_addr }}</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ stream.src_port }}</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ stream.dst_addr }}</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ stream.dst_port }}</td>
							<td align="center" class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ stream.get_protocol }}</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{% traffic_format stream.octets %}</td>
						</tr>
					{% endfor %}
				</table>
			</td>
		</tr>
		{% endif %}
		{% if active_session %}
		<tr>
			<th class="white bold s-11 blue_caption">
				<div class="f-right statistics_link white"><a href="/session/info/">Показать всю историю</a></div>
				<div class="f-left">ИНФОРМАЦИЯ О ПОДКЛЮЧЕНИЯХ</div>
			</th>
		</tr>
		<tr>
			<td class="">
				<table class="wide extra_table" cellpadding="0" cellspacing="0">
					<tr>
						<th>Начало</th>
						<th>Окончание</th>
						<th>IP-адрес</th>
						<th>Передано / Принято / Всего</th>
						<th>Время</th>
					</tr>
					{% for session in active_session %}
						<tr>
							<td class="{{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ session.date_start|date:"d.m.Y H:i" }}</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ session.date_end|date:"d.m.Y H:i" }}</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ session.nas_id }}</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{% if session.bytes_out or session.bytes_in %}{% traffic_format session.bytes_out %} / {% traffic_format session.bytes_in %} / {% traffic_format session.bytes_in session.bytes_out %}{% endif %}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{% time_format session.session_time %}</td>
						</tr>
					{% endfor %}
				</table>
			</td>
		</tr>
		{% endif %}
		
		
		
		{% if services %}
		<tr>
			<th class="white bold s-11 blue_caption">
				<div class="f-right statistics_link white"><a href="/services/info/">Показать всю историю</a></div>
				<div class="f-left">ИСТОРИЯ ПОДКЛЮЧАЕМЫХ УСЛУГ</div>
			</th>
		</tr>
		<tr>
			<td class="">
				<table class="wide extra_table" cellpadding="0" cellspacing="0">
					<tr>
						<th>Название услуги</th>
						<th>Дата подключения услуги</th>
						<th>Дата отключения услуги</th>
						<th>Списано средств за услугу</th>
					</tr>
					{% for service in services %}
						<tr>
							<td class="{{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ service.service.name }}</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ service.activated|date:"d.m.Y H:i" }}</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ service.deactivated|date:"d.m.Y H:i" }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ service|service_cost|floatformat:2 }}</td>
						</tr>
					{% endfor %}
				</table>
			</td>
		</tr>
		{% endif %}
		
		
		
		
		
	</table>
{% else %}
	<h2 align="center">На данный момент информации нет</h2>
{% endif %}
{% endblock %}