{% extends 'base_extended.html' %}
{% load billservice_tags %}
{% load custom_filters %}

{% block content %}
{% if transactions %}
<table class="wide statistic_table" cellpadding="0" cellspacing="0">
	<tr>
		<th class="white bold s-11 blue_caption a-left">ИНФОРМАЦИЯ О РУЧНЫХ ОПЕРАЦИЯХ С БАЛАНСОМ</th>
	</tr>
	<tr>
		<td class="">
			<table class="wide extra_table" cellpadding="0" cellspacing="0">
    			<tr>
       				<th>Дата</th>
       				<th>Сумма</th>
					<th>Обещенный платеж</th>
					<th>Погасить до</th>
       				<th>Описание</th>
       				<th>Документ</th>
       				<th>Комментарий</th>
    			</tr>
    			{% for transaction in transactions %}
       				<tr>
           				<td width="100px" class="{{ forloop.counter|coll_bg  }} {% if forloop.last and not is_range %}no_border{% endif %}">{{ transaction.created|date:"d.m.Y  H:i"}}&nbsp;</td>
           				<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last and not is_range %}no_border{% endif %}" align="right">{{ transaction.summ}}&nbsp;{{ CURRENCY }}</td>
						<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last and not is_range %}no_border{% endif %}" align="center">{% if transaction.promise %}да{% else %}нет{% endif %}&nbsp;</td>
						<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last and not is_range %}no_border{% endif %}">{{ transaction.end_promise|date:"d.m.Y"  }}&nbsp;</td>
           				<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last and not is_range %}no_border{% endif %}">{% ifequal transaction.description None %}&nbsp;{% else %} {{ transaction.description }} &nbsp;{% endifequal %}&nbsp;</td>
           				<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last and not is_range %}no_border{% endif %}">{{ transaction.bill }}&nbsp;</td>
           				<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last and not is_range %}no_border{% endif %}">{{ transaction.comment }}&nbsp;</td>
       				</tr>
    			{% endfor%}
				{% if is_range %}
					<tr>
						<td align="right" class="bold {{ rec_count|coll_bg  }} no_border">Всего на странице:<br>Всего:</td>
						<td colspan="6" class="left_border {{ rec_count|coll_bg  }} no_border">{{ summ_on_page|floatformat:2 }}&nbsp;{{ CURRENCY }}<br>{{ summ|floatformat:2 }}&nbsp;{{ CURRENCY }}</td>
					</tr>
				{% endif %}
			</table>
			{% include 'paginator.html' %}
		</td>
	</tr>
</table>

{% else %}
 <h2 align="center">Данных нет</h2>
{% endif %}
{% endblock %}


{% block title %}
    Биллинговая информация
{% endblock %}