{% extends "helpdesk_base.html" %}

{% block user_block %}
	<div class="user_block f-right">
		<span class="sustem_user">{{ user }}</span> <span class="exit"><a href="/helpdesk/logout/">Выход</a></span>
	</div>
{% endblock %}

{% block main_menu %}
<div class="menu_block">
	<img src="{{ MEDIA_URL }}helpdesk_img/hp_logo.jpg" id="hd_logo">
	{% block menu_block %} 
	<div class="main_menu_block">
		<ul class="main_menu"> 
			<li>
				<a href="/helpdesk/tickets/new/">
				  	Новые тикеты
				 </a>
			</li> 
			<li>
				<a href="/helpdesk/tickets/">
				  	В работе
				 </a>
			</li>
			<li>
				<a href="">
				  	Отчеты
				 </a>
			</li>
			<li>
				<a href="/helpdesk/user/system/settings/{{ user.id }}/">
				  	Настройки
				 </a>
			</li>
			<li>
				<a href="/helpdesk/tickets/attention/">
				  	Обратить внимание
				 </a>
			</li>
		</ul>
	</div>
	{% endblock %}
</div>
<div class="menu_block_separator"></div>
<div class="addon_menu">
	{% block addon_menu %}
	{% endblock %}
</div>
{% endblock %}