{% extends 'base.html' %}
{% load custom_filters %}
{% load billservice_tags %}

{% block content %}
  {% if account %}
  <!-- остаток предоплаченного трафика -->
{% if prepaidtraffic %}
	<div class="prepaid_table">
		<div style="height:38px;">
			<div class="prepaid_table_top_left"></div>
			<div class="prepaid_table_top_right"></div>
			<div style="clear:both; margin-bottom:5px;"></div>
			Остаток предоплаченного трафика
		</div>
	<table cellspacing="0">
		<tr>
			<th>Тип трафика</th>
			<th>Исходящий</th>
			<th>Входящий</th>
			<th>Количество</th>
		</tr>
	{% for traffic in prepaidtraffic %}
		{% for class in traffic.traffic_class.all %}
			<tr>
				<td class="border_right" {% if forloop.last %}style="padding:24px 24px 0 0;"{% endif %}>{{ class.name }}{% if forloop.last %}<div class="prepaid_table_bottom_left"></div>{% endif %}</td>
				<td class="border_right prepaid_table_td_padding">{% if traffic.in_direction %} <img src="{{ MEDIA_URL }}img/design/yes.gif"> {% endif %}&nbsp;</td>
				<td class="border_right prepaid_table_td_padding">{% if not traffic.in_direction %}<img src="{{ MEDIA_URL }}img/design/yes.gif"> {% endif %}&nbsp;</td>
				<td {% if forloop.last %}style="padding:24px 0 0 0;"{% endif %}>{% traffic_size traffic account_tarif %}{% if forloop.last %}<div class="prepaid_table_bottom_right"></div>{% endif %}</td>
			</tr>
		{% endfor %}
	</table>
	{% endfor %}
	</div>
{% endif %}
<!-- end -->
	<div style="float:left">
    {% if account.balance_blocked %}
	   Ваш баланс превышен 
	{% endif %}
	{% if account.disabled_by_limit %}
       Ваш лимит превышен 
    {% endif %}
    <h1>{% if account.fullname %}{{account.fullname}}{% else %}{{account.username}}{% endif %} {% if not status %}<img src="{{ MEDIA_URL }}img/design/enable.png" />{% else %}<img src="{{ MEDIA_URL }}img/design/disable.png" />{% endif %}</h1>
	{% if account.city or account.postcode or account.region or account.street or account.house or account.house_bulk or account.entrance or account.room %}
	<div><span class="label">Ваш Адрес</span> : <span class="bold">{{ account.postcode }} {%if account.city %}г. {{ account.city }}{% endif %} {% if account.region %}обл. {{ account.region }}{% endif %} {% if account.street %}ул. {{ account.street }}{% endif %} {% if account.house %}д. {{ account.house }}{% endif %} {% if account.house_bulk %}корп. {{ account.house_bulk }}{% endif %} {% if account.room  %}кв. {{ account.room }}{% endif %}</span></div>
	{% endif %}
	{% if account.email %}
		<div><span class="label">E-mail</span> : <span class="bold">{{ account.email }}</span></div>
	{% endif %}
	<div><span class="label">Cетевой IP адрес</span> : <span class="bold">{{ account.ipn_ip_address }}</span></div>
	<div><span class="label">VPN IP адрес</span> : <span class="bold">{{ account.vpn_ip_address }}</span></div>
	<div><span class="label">Тарифный план</span> : <span class="bold">{{ tarif }}</span></div>
	<div><span class="label">Баланс</span><span> : <span class="bold">{{ ballance }}</div>
	<div><span class="label">Размер кредита</span> : <span class="bold">{{ account.credit }}</span></div>
	<div><span class="label">Дата подключения</span> : <span class="bold">{{ account.created|date_with_offset:"%d %b %Y в %m:%H" }}</span></div>
	<div style="margin:15px 0;">
  		<img src="/client/">
  	</div>
	
	{% if tarif_flag %}
	<div style="padding-top:30px;">
	   <span class="label">Предыдущие тарифы пользователя :</span><br>
	   <div>
	       {% for previous_tarif in tarifs %}
		      {% ifnotequal tarif previous_tarif %}
		      <div class="bold">
			     {{ previous_tarif.tarif }}
			  </div>
			  {% endifnotequal %}
		   {% endfor %}
	   </div>
	</div>
	{% endif %}
  </div>
  {% else %}
    <h1>Вход не удался</h1>
  {% endif %}
{% endblock %}

{% block menu_option %}
            <ul style="list-style-type: none">
              <li><a href="/index/">Главная</a></li>
			  <li><a href="/prepaid/">Остаток предоплаченного трафика</a></li>
              <li><a href="/transaction/">Биллинговая информация</a></li>
              <li><a href="/card/activation/">Активация карточек</a></li>
              <li><a href="/traffic/info/">Статистика по трафику</a></li>
              <li><a href="/session/info/">Статистика по сессиям</a></li>
			  <li><a href="/traffic/limit/">Лимиты трафика</a></li>
              <li><a href="/password/change/">Сменить пароль</a></li>
              <li><a href="/accounts/logout/">Выйти</a></li>          
           </ul>
{% endblock%}

{% block title %}
    Главная
{% endblock %}