{% extends 'base.html' %}
{% load billservice_tags %}
{% load custom_filters %}

{% block content %}
{% if net_flow_streams %}
<table class="table_border" cellpadding="0" cellspacing="0">
    <tr>
	   <th class="first_row">Дата</th>
	   <th>IP источника</th>
	   <th>Порт источника</th>
	   <th>IP получателя</th>
	   <th>Порт получателя</th>
	   <th>Протокол</th>
	   <th>Передано</th>
	</tr>
	{% for net_flow_stream in net_flow_streams%}
	   <tr>
	       <td class="first_row">{{ net_flow_stream.date_start|date_with_offset:"%d %b %Y  %m:%H" }}</td>
		   <td>{{ net_flow_stream.src_addr }}</td>
		   <td align="center">{{ net_flow_stream.src_port }}</td>
		   <td>{{ net_flow_stream.dst_addr }}</td>
		   <td align="center">{{ net_flow_stream.dst_port }}</td>
		   <td align="center">{{ net_flow_stream.get_protocol }}</td>
		   <td align="right">{% trafic_format net_flow_stream.octets %}</td>
	   </tr>
	{% endfor%}
</table>
{% include 'paginator.html' %}
{% else %}
 <h1>Данных на данный момент нет</h1>
{% endif %}
{% endblock %}

{% block menu_option %}
    <li><a href="/accounts/logout/">Выйти</a></li>
{% endblock%}

{% block title %}
    Статистика по трафику
{% endblock %}