{% extends 'base.html' %}
{% load custom_filters %}
{% load billservice_tags %}

{% block content %}
{% if trafficlimit %}
<table class="table_border" cellpadding="0" cellspacing="0">
    <tr>
	   <th class="first_row">Название лимита</th>
	   <th>Начался</th>
	   <th>Закончился</th>
	   <th>Скачано</th>
	   <th>Осталось</th>
	</tr>
	{% for traffic_limit in trafficlimit %}
		{% traffic_limit_coll traffic_limit user %}
	{% endfor %}
</table>
{% else %}
	<h1>На данный момент информации нет</h1>
{% endif %}
{% endblock %}

{% block menu_option %}
            <ul style="list-style-type: none">
              <li><a href="/index/">Главная</a></li>
			  <li><a href="/prepaid/">Остаток предоплаченного трафика</a></li>
              <li><a href="/transaction/">Биллинговая информация</a></li>
              <li><a href="/card/activation/">Активация карточек</a></li>
              <li><a href="/traffic/info/">Статистика по трафику</a></li>
              <li><a href="/session/info/">Статистика по сессиям</a></li>
			  <li><a href="/traffic/limit/">Лимиты трафика</a></li>
              <li><a href="/password/change/">Сменить пароль</a></li>
              <li><a href="/accounts/logout/">Выйти</a></li>          
           </ul>
{% endblock%}

{% block title %}
    Биллинговая информация
{% endblock %}