{% extends 'base_private.html' %}
{% load form_tags i18n %}
{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function() {
        $("#ShowFurtherEditOptions").click(function() {
            $("#FurtherEditOptions").fadeIn();
            $("#ShowFurtherOptPara").hide();
            return false;
        });
        
        processAddFileClick();
        $("#ShowFileUpload").click(function() {
            $("#FileUpload").fadeIn();
            $("#ShowFileUploadPara").hide();
            return false;
        });

        $('#id_preset').change(function() {
            preset = $('#id_preset').val();
            if (preset != '') {
                $.get("{% url 'helpdesk_raw' "preset" %}?id=" + preset, function(data) {
                    $("#commentBox").val(data)
                });
            }
        });
    });

    function processAddFileClick() {
        /* Until jQuery includes some 'livequery' functionality in the core 
           distribution, this will have to do. */
        $(".AddAnotherFile>a").click(function() {
            // Check if there already are empty file inputs, and if true, do nothing
            if ($('input[name=attachment]').filter(
                function(){
                    return $('#FileUpload').css('display') != 'none' && $(this).val() == '';
                    }
            ).length > 0) {
                return false;
            }
            $(this).parent().hide();
            $("#FileUpload>dl").append("<dt><label>{% trans "Attach another File" %}</label></dt><dd><input type='file' name='attachment' id='file' /> <span class='AddAnotherFile'>(<a href='#'>{% trans "Add Another File" %}</a>)</span></dd>");
            processAddFileClick();
            return false;
        });

    }
</script>
{% endblock %}

{% block title %}<a href="/helpdesk/">Запросы</a> &rarr; #{{ ticket.id }}. {{ ticket }} [{{ ticket.get_status }}]{% endblock %}

{% block content %}

<div class="blankslate">
   {% blocktrans with ticket.queue as queue %}Queue: {{ queue }}{% endblocktrans %}<br />
   {% trans "Priority" %}:  <span style="color:{{ ticket.get_priority_color }}"> {{ ticket.get_priority_display }}</span><br />
   {% trans "Status" %}:<span style="color:{{ ticket.get_status_color }}"> {{ ticket.get_status_display }}</span>
</div>
<div class="proj-desc">{{ ticket.description|force_escape|linebreaksbr }}</div>

{% if ticket.resolution %}
<strong>{% trans "Resolution" %}</strong>
    <div class="proj-desc">{{ ticket.resolution|force_escape }}</div>
{% endif %}

<a name="comments"></a>
{% with ticket.followup_set.all as fs %}
{% if fs %}
{% load ticket_to_link %}
<div style="margin: 15px 10px 10px 10px;" id="id_messages">
	<div class="commentlist">
		<ul class="info">
		{% for f in fs %}
		{% if f.public and f.user %}
		  {% if f.comment %}
		  <li id="id_message_block_{{ f.id }}" class="tticket clear shaded" style="clear: left;">
      <div class="tleft">
          <img class="avatar" title="" src="{{ MEDIA_URL }}img/icons/comment.png" alt=""</div>
          <div class="tcnt"><h4>
          <a href="#" class="user">{{ f.user }}</a>
          <span class="event-date">{{ f.date|date:"d.m.Y H:i" }}</span>
          </h4>
          {{ f.comment|force_escape|num_to_link|linebreaksbr }}
          {% for attachment in f.attachment_set.all %}{% if forloop.first %}<div class='attachments'><ul>{% endif %}
          <li><a class="file_link" href='{{ attachment.file.url }}'>{{ attachment.filename }}</a> ({{ attachment.mime_type }}, {{ attachment.size|filesizeformat }})</li>
          {% if forloop.last %}</ul></div>{% endif %}
          {% endfor %}
       </div>
       </li>
		  {% endif %}
		{% endif %}
		{% endfor %}
		</ul>
	</div>
</div>
{% endif %}
{% endwith %}
<div style="margin: 35px 10px 50px 75px; width:500px">
<form action="" method="post"  enctype="multipart/form-data">
<div style="clear: both"></div>
<div class="form-field required">
<div class="field-label">
  <h3>{% trans "Add new comment" %}</h3>
 </div>
<div class="field-content">
  <textarea rows="10" style="width:500px" name='comment' id='commentBox'></textarea>
</div>
</div>

<p id="ShowFileUploadPara"><a href="javascript:void(0);" id="ShowFileUpload">{% trans "Attach File(s) &raquo;" %}</a></p>
<div id='FileUpload' style="display: none">
    <dl>
        <dt><label for='id_file'>{% trans "Attach a file" %}</label></dt>
        <dd><input type='file' name='attachment' id='file' /> <span class='AddAnotherFile'>(<a href='#'>{% trans "Add Another File" %}</a>)</span></dd>
    </dl>
</div>
<div class="submit-row">
  <input class="default" type="submit" name="submit" value="Отправить" />
</div>
</form>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
{% endblock %}
