{% extends "helpdesk_base_extended.html" %}

{% block addon_menu %}
	<div class="page_title">
		<span>Обратить внимание</span>
	</div>
{% endblock %}

{% block content %}
	<table cols=10 cellpadding=0 cellspacing=0 width=100% class="tickets">
		<tbody>
		<tr class="title_table">
			<td class="id" width="6%">№</td>
			<td class="subject" width="14%">Тема</td>
			<td class="status" width="7%">Статус</td>
			<td class="account" width="14%">Пользователь</td>
			<td class="assign_date" width="230px">Дата(Открытия) назначения</td>
			<td class="created" onclick="sorted(this,jQuery('#ul_{{object_name}}_{{object.id}}'))">Создан</td>
		</tr>
		{% for ticket in tickets %}
		<tr style="background-color:{% cycle '#e5f1ff' '#d1e5fd' %}" class="ticket_content{% if forloop.last %} border_bottom{% endif %}">
			<td class="id" style="border-left-color:{{ticket.ticket.get_status_color}};"><a href="{{ ticket.ticket.get_edit_url }}" class="ticket_id">{{ticket.ticket.id}}</a></td>
			<td class="subject">{{ticket.ticket.subject}}</td>
			<td class="status" style="color:{{ticket.ticket.get_status_color}};">{{ticket.ticket.get_status}}</td>
			<td class="account"  style="text-align:left; padding-left:10px;">{{ticket.ticket.account}}</td>
			<td class="assign_date"  style="">{{ ticket.ticket.assign_date|date:"d-m-Y" }}</td>
			<td class="created">{{ ticket.ticket.created|date:"d-m-Y" }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>

{% endblock %}