{% extends 'base.html' %}

{% block login %}

{% if error_message %}
    <h1>{{ error_message }}</h1>
{% endif %}

<div class="reg_centr">
<div class="registration">
<form method="post" action="/">
<table cellpadding="5px;">
<tr><td><label for="id_username">{{ form.username.label }}</label></td><td>{{ form.username }}</td></tr>
<tr><td><label for="id_password">{{ form.password.label }}</label></td><td>{{ form.password }}</td></tr>
</table>

<input type="image" src="{{ MEDIA_URL }}img/design/ok_button.gif" class="button"/>
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
</div>
{% endblock %}

{% block title %}
    Вход
{% endblock %}