import os
WEBCAB_LOG = './log/webcab_log'#
MEDIA_ROOT= os.path.abspath('./media')

DATABASES = {
    'default': {
        'NAME': 'ebs',
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'USER': 'ebs',
        'PASSWORD': 'ebspassword',
        'HOST': "127.0.0.1",
        'PORT':5432,
    },

}
                                                        
                                        
GETPAID_BACKENDS = ('payments.easypay',
                    )                
                    
SENDSMS_BACKENDS = (
                    ('sendsms.backends.websms.SmsBackend', 'websms.ru'),
                    ('sendsms.backends.smsru.SmsBackend', 'sms.ru'),
                    )
                    
SENDSMS_BACKENDS_SETTINGS = {
                             'sendsms.backends.websms': {
                                                         'FROM_NAME': '', # http://websms.ru/FromName.asp
                                                         'USERNAME': '',
                                                         'PASSWORD': '',
                                                         },
                             'sendsms.backends.smsru': {
                                                         'FROM_NAME': '', # http://websms.ru/FromName.asp
                                                         'API_ID': '',
                                                         'TRANSLIT': '1',
                                                         'TEST': '0',
                                                         'PARTNER_ID': '',
                                                         }
                             }

SENDSMS_IF_BALLANCE_AMOUNT = 0
SENDSMS_DEFAULT_BACKEND = 'sendsms.backends.websms.SmsBackend'