{% extends 'ebsweb/base.html' %}

{% load i18n %}


{% block content %}
<div class="m-portlet">
	<div class="m-portlet__head">
		<div class="m-portlet__head-caption">
			<div class="m-portlet__head-title">
				<h3 class="m-portlet__head-text">{% trans 'Новый комментарий к запросу #' %}{{ticket.id}}</h3>
			</div>
		</div>
	</div>
	<form class="m-form m-form--fit m-form--label-align-right" action="{% url 'ebsweb:support_followup_create' pk=ticket.pk %}" method="POST" enctype="multipart/form-data">
		<div class="m-portlet__body">
			{% for field in form.visible_fields %}
				{# TODO: replace to custom tag #}
				<div class="form-group m-form__group row{% if field.errors %} has-danger{% endif %}">
					<label class="col-lg-3 col-form-label" for="{{ field.id_for_label }}">
						{{ field.label }}{% if field.field.required %} *{% endif %}
					</label>
					<div class="col-lg-6">
						{{ field }}
						{% for error in field.errors %}
							<div class="form-control-feedback">
								{{ error|escape }}
							</div>
						{% endfor %}
						{% if field.help_text %}
							<span class="m-form__help">
								{{ field.help_text }}
							</span>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="m-portlet__no-border m-portlet__foot--fit">
			<div class="m-form__actions m-form__actions--solid">
				<div class="row">
					<div class="d-none d-lg-block col-lg-3"></div>
					<div class="col-lg-9">
						<button type="submit" class="btn btn-success">{% trans 'Отправить' %}</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock %}
