{% load ebsadmin_tags %}
{% load crispy_forms_tags %}
{% if not status %}
    {% for message in messages %}

<div class="alert fade in {{ message.tags }}">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ message }}
          </div>

      {% endfor %}
{% if form %}
 <script type="text/javascript"> 
 $(document).ready(function() {
 
	 $("#dialog-accept").on("click", SendMessage);
		//new message: raise newMessage event
		function SendMessage(e) {
		  //e.preventDefault();
		  var msg = $("#id_queuetype").val();

		  if (msg) {
		      $.event.trigger({
		          type: 'selectedQueue',
		          message: msg
		      });
		  }

		}
 })
 
 </script>


            <form id="template-select-form" action="#" class="well form-horizontal ajax form-condensed ">
                <fieldset>
                   {{form|crispy}}
                </fieldset>
                
                <div class="form-actions">
                    <a class="btn btn-primary close-dialog" id='dialog-accept'>Выбрать</a>
                    <a class="btn close-dialog" href="#">Закрыть</a>
                </div>
            </form>
{% endif %}
{% else %}
Операция произведена успешно.
 <script type="text/javascript"> 
 $(document).ready(function() {
     location.reload();
 });
 </script>
{% endif %}
