{% extends 'base_extended.html' %}
{% load billservice_tags %}

{% block content %}

{% if service_message %}
	<h2 align="center" id="error_message">{{ service_message }}</h2>
{% endif %}

{% if services or user_services%}
    {% if services %}
	<table class="wide statistic_table" cellpadding="0" cellspacing="0">
		<tr>
			<th class="white bold s-11 blue_caption">
				<div class="f-left">СПИСОК ДОСТУПНЫХ УСЛУГ</div>
			</th>
		</tr>
		<tr>
			<td class="">
				<table class="wide extra_table" cellpadding="0" cellspacing="0">
					<tr>
						<th>Название</th>
                        <th>Описание</th>
                        <th>Период действия (расчётный периода)</th>
						<th>Стоимость</th>
                        <th>Можно активировать</th>
						<th>Плата за досрочное отключение</th>
						<th>Минимальный период</th>
						<th>Подключить/Отключить</th>
					</tr>
					{% for service in services %}
						<tr>
							<td class="{{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ service.service.name }}</td>
                            <td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ service.service.comment }}</td>
                            <td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ service.service.sp_period.name|slice:"1:" }}</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ service.service.cost|floatformat:2 }}</td>
                            <td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ service.service.timeperiod}}</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}" align="center">{{ service.service.wyte_cost|floatformat:2  }}</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ service.service.wyte_period.name|slice:"1:" }}</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %} tariff_activate" align="center"><a href="/service/set/{{ service.service.id }}/">Подключить</a></td>
						</tr>
					{% endfor %}
				</table>
			</td>
		</tr>
        </table>
		{% endif %}
		
		
		{% if user_services %}
        <table class="wide statistic_table" cellpadding="0" cellspacing="0">
		<tr>
			<th class="white bold s-11 blue_caption">
				<div class="f-left">ПОДКЛЮЧЕННЫЕ УСЛУГИ</div>
			</th>
		</tr>
		<tr>
			<td class="">
				<table class="wide extra_table" cellpadding="0" cellspacing="0">
					<tr>
						<th>Название</th>
                        <th>Описание</th>
						<th>Cтоимость</th>
						<th>Когда подключена</th>
						<th>Дополнительно</th>
						<th>Отключить</th>
					</tr>
					{% for user_service in user_services %}
						<tr>
							<td class="{{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ user_service.service.name }}</td>
                            <td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ user_service.service.comment}}</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ user_service.service.cost|floatformat:2 }}</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ user_service.activated|date:"d.m.Y H:i"  }}</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{% if user_service.wyte %} За отключение услуги {% if user_service.end_wyte_date %}до {{ user_service.end_wyte_date|date:"d.m.Y H:i" }} {% endif %}с вашего лицевого счёта будет дополнительно списано  {{ user_service.service.wyte_cost|floatformat:2  }} {% endif %}</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %} tariff_activate" align="center">{% if not user_service.deactivated %}<a href="/service/del/{{ user_service.id }}/">Отключить</a>{% endif %}</td>
						</tr>
					{% endfor %}
				</table>
			</td>
		</tr>
        </table>
		{% endif %}
		
	
{% else %}
	<h2 align="center">На данный момент информации нет</h2>
{% endif %}
{% endblock %}
