{% extends 'base.html' %}

{% block content %}
{% if error_message %}
    <h1>{{ error_message }}</h1>
{% endif %}
{% if form %}
<form method="post">
<table cellpadding="5px;" class="enter_table">
    {{ form }}
</table>
<input type="image" src="{{ MEDIA_URL }}img/design/pass_ok_button.gif" class="enter_ok_button"/>
</form>
{% endif %}
{% endblock %}

{% block menu_option %}
           <ul style="list-style-type: none">
              <li><a href="/index/">Главная</a></li>
			  <li><a href="/prepaid/">Остаток предоплаченного трафика</a></li>
              <li><a href="/transaction/">Биллинговая информация</a></li>
              <li><a href="/card/activation/">Активация карточек</a></li>
              <li><a href="/traffic/info/">Статистика по трафику</a></li>
              <li><a href="/session/info/">Статистика по сессиям</a></li>
              <li><a href="/password/change/">Сменить пароль</a></li>
              <li><a href="/accounts/logout/">Выйти</a></li>          
           </ul>
{% endblock%}

{% block title %}
    Активация карточек
{% endblock %}