{% extends 'base_extended.html' %}
{% load billservice_tags %}
{% load custom_filters %}

{% block content %}
{{error_message}}
{% if not disable_promise %}
<form method = "POST" action="">
<table class="wide extra_table promise_table" cellpadding="0" cellspacing="0">
    <tr>
        <th class="white bold s-11 blue_caption a-left ie" colspan="2">Обещанынй платёж(пополнить баланс в долг)</th>
    </tr>
    <tr>
        <td class="coll_bg caption">
        	Сумма
        </td>
        <td class="left_border ">
        	<input type = "input" name = "sum">(макс {{MAX_PROMISE_SUM}})
        </td>
    </tr>
    <tr>
    <td class="coll_bg  caption">
    Погасить до:
    </td>
    <td class="left_border ">
    <span class="promise-date">{{LEFT_PROMISE_DATE|date:"d.m.Y H:i"}}</span> (в указанное время сумма обещанного платежа будет списана с вашего баланса)
    </td>
    </tr>
    <tr>
    <td colspan="2" class="no_border">
    <input value="Взять" type="submit" class="pass_button f-right promise_button">
    </td>
    </tr>
</table>

</form>
{% endif %}
{% if last_promises %}
<table class="wide statistic_table" cellpadding="0" cellspacing="0">
	<tr>
		<th class="white bold s-11 blue_caption a-left">ИСТОРИЯ ОБЕЩАННЫХ ПЛАТЕЖЕЙ</th>
	</tr>
	<tr>
		<td>
			<table class="wide extra_table" cellpadding="0" cellspacing="0">
				<tr>
					<th>Дата</th>
					<th>Сумма</th>
                    <th>Взята до</th>
                    <th>Комментарий</th>
					<th>Платёж закрыт</th>

				</tr>
				{% for promise in last_promises %}
                
					<tr>
						<td class="{{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ promise.created|date:"d.m.Y H:i" }}&nbsp;</td>
						<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ promise.human_sum|floatformat:2 }}&nbsp;</td>
                        <td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ promise.end_promise|date:"d.m.Y H:i" }}&nbsp;</td>
                        <td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ promise.description }}&nbsp;</td>
						<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %} bold">{% if promise.promise_expired %}Да{% else %} Нет{% endif %}&nbsp;</td>
						
					</tr>
				{% endfor %}
			</table>
			
		</td>
	</tr>
</table>
{% endif %}
{% endblock %}


{% block title %}
    ИСТОРИЯ ПОДКЛЮЧАЕМЫХ УСЛУГ
{% endblock %}