{% extends 'base_extended.html' %}
{% load i18n %}
{% load billservice_tags %}
{% load custom_filters %}

{% block content %}
<center><h2>{{error_message}}</h2></center>
{% if allow_ballance_transfer %}
<form method = "POST" action="">
<table class="wide extra_table promise_table" cellpadding="0" cellspacing="0">
    <tr>
        <th class="white bold s-11 blue_caption a-left ie" colspan="2">Перевести средства другому пользователю.</th>
    </tr>
    <tr>
        <td class="coll_bg caption">
        	{% blocktrans %}Сумма{% endblocktrans %}
        </td>
        <td class="left_border ">
        	<input type = "input" name = "sum">({% blocktrans %}макс {% endblocktrans %}{{allow_transfer_summ}} {{ CURRENCY }})
        </td>
    </tr>
    <tr>
        <td class="coll_bg caption">
        	{% blocktrans %}Логин адресата{% endblocktrans %}
        </td>
        <td class="left_border ">
        	<input type = "input" name = "username">
        </td>
    </tr>
    <tr>
    <td colspan="2" class="no_border">
    <input value="Ок" type="submit" class="pass_button f-right promise_button">
    </td>
    </tr>
</table>
<input type="hidden" name="operation" value='moneytransfer'>
</form>
{% endif %}

{% if not disable_promise %}
<form method = "POST" action="">
<table class="wide extra_table promise_table" cellpadding="0" cellspacing="0">
    <tr>
        <th class="white bold s-11 blue_caption a-left ie" colspan="2">{% blocktrans %}Обещанный платёж(пополнить баланс в долг){% endblocktrans %}</th>
    </tr>
    <tr>
        <td class="coll_bg caption">
        	{% blocktrans %}Сумма{% endblocktrans %}
        </td>
        <td class="left_border ">
        	<input type = "input" name = "sum">({% blocktrans %}макс{% endblocktrans %} {{MAX_PROMISE_SUM}}{{ CURRENCY }})
        </td>
    </tr>
    <tr>
    <td class="coll_bg  caption">
    {% blocktrans %}Погасить до:{% endblocktrans %}
    </td>
    <td class="left_border ">
    <span class="promise-date">{{LEFT_PROMISE_DATE|date:"d.m.Y H:i"}}</span> {% blocktrans %}(в указанное время сумма обещанного платежа будет списана с вашего баланса){% endblocktrans %}
    </td>
    </tr>
    <tr>
    <td colspan="2" class="no_border">
    <input value="{% blocktrans %}Взять{% endblocktrans %}" type="submit" class="pass_button f-right promise_button">
    </td>
    </tr>
</table>
<input type="hidden" name='operation' value="promise">
</form>
{% endif %}
{% if last_promises %}
<table class="wide statistic_table" cellpadding="0" cellspacing="0">
	<tr>
		<th class="white bold s-11 blue_caption a-left">{% blocktrans %}ИСТОРИЯ ОБЕЩАННЫХ ПЛАТЕЖЕЙ{% endblocktrans %}</th>
	</tr>
	<tr>
		<td>
			<table class="wide extra_table" cellpadding="0" cellspacing="0">
				<tr>
					<th>{% blocktrans %}Дата{% endblocktrans %}</th>
					<th>{% blocktrans %}Сумма{% endblocktrans %}</th>
                    <th>{% blocktrans %}Взята до{% endblocktrans %}</th>
                    <th>{% blocktrans %}Комментарий{% endblocktrans %}</th>
					<th>{% blocktrans %}Платёж закрыт{% endblocktrans %}</th>

				</tr>
				{% for promise in last_promises %}
                
					<tr>
						<td class="{{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ promise.created|date:"d.m.Y H:i" }}&nbsp;</td>
						<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ promise.human_sum|floatformat:2 }}&nbsp;{{ CURRENCY }}</td>
                        <td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ promise.end_promise|date:"d.m.Y H:i" }}&nbsp;</td>
                        <td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ promise.description }}&nbsp;</td>
						<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %} bold">{% if promise.promise_expired %}Да{% else %} Нет{% endif %}&nbsp;</td>
						
					</tr>
				{% endfor %}
			</table>
			
		</td>
	</tr>
</table>
{% endif %}
{% endblock %}


{% block title %}
    {% blocktrans %}ИСТОРИЯ ПОДКЛЮЧАЕМЫХ УСЛУГ{% endblocktrans %}
{% endblock %}