{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
  {% if account %}
    <h1>{% if account.fullname %}{{account.fullname}}{% else %}{{account.username}}{% endif %} {% if account.status %}<img src="{{ MEDIA_URL }}img/design/enable.png" />{% else %}<img src="{{ MEDIA_URL }}img/design/disable.png" />{% endif %}</h1>
	<div><span class="label">Тарифный план</span> - <span>{{ tarif }}</span></div>
	<div><span class="label">Баланс</span><span> - </span>{{ account.ballance }}</div>
	<div><span class="label">Размер кредита</span> - <span>{{ account.credit }}</span></div>
	<div><span class="label">Дата подключения</span> - <span>{{ account.created|date_with_offset:"%d %b %Y в %m:%H" }}</span></div>
	<div style="padding-top:30px;">
	   <span class="label">Предыдущие тарифы пользователя :</span><br>
	   <div>
	       {% for tarif in tarifs %}
		      <div>
			     {{ tarif.tarif }}
			  </div>
		   {% endfor %}
	   </div>
	</div>
  {% else %}
    <h1>Вход не удался</h1>
  {% endif %}
{% endblock %}

{% block menu_option %}
    <li><a href="/accounts/logout/">Выйти</a></li>
{% endblock%}