{% extends 'base_extended.html' %}
{% load billservice_tags %}
{% load custom_filters %}

{% block content %}
{{error_message}}

<form action="{% url getpaid-select-payment %}" method="POST">
	<table class="wide extra_table promise_table" cellpadding="0" cellspacing="0">
	{% csrf_token %}
	    <tr>
	        <th class="white bold s-11 blue_caption a-left ie" colspan="2">Выберите способ платежа</th>
	    </tr>
	    <tr>
	   <td class="coll_bg caption">Способ:</td><td>{{ payment_form.backend }}</td>
	   </tr>
	    <tr>
	    <td colspan="2" class="no_border">
	    <input value="Ok" type="submit" class="pass_button f-right promise_button">
	    </td>
	    </tr>
	</table>
</form>

{% if allow_webmoney %}
<form method="POST" action="/webmoney/">
<table class="wide extra_table promise_table" cellpadding="0" cellspacing="0">
    <tr>
        <th class="white bold s-11 blue_caption a-left ie" colspan="2">Пополнить баланс с помощью WebMoney</th>
    </tr>
    <tr>
        <td class="coll_bg caption">
        	Сумма
        </td>
        <td class="left_border ">
        	<input type="text" name='amount' value='0'> {{ CURRENCY }}
        </td>
    </tr>
    <tr>
    <td colspan="2" class="no_border">
    <input value="Ok" type="submit" class="pass_button f-right promise_button">
    </td>
    </tr>
</table>

</form>
{% endif %}
{% if allow_qiwi %}
<script>
    function get_balance() {
        var phone=document.getElementById("id_phone");
        var password=document.getElementById("id_password");
        var qiwi_balance=document.getElementById("qiwi_balance");
        var qiwi_message=document.getElementById("qiwi_message");
        var get_balance_button = document.getElementById("get_balance_button");
         jQuery.ajax({
            type: "POST",
            cache: false,
            url: '/qiwi_payment/balance/',
            data: { 'phone': phone.value, 'password': password.value},
            timeout: 15000,
            dataType: "json",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            beforeSend: function(XMLHttpRequest){get_balance_button.style.visibility = 'hidden';qiwi_message.innerHTML=' Выполняется запрос на сервер.'},
            success: function(data, status){
                var ret = data;
                if (typeof ret['redirect'] != 'undefined') {
                    window.location.href = ret['redirect'];
                } 
                qiwi_balance.innerHTML = ret['balance'];
                qiwi_message.innerHTML = ' Статус запроса: '+ret['status_message'];
                get_balance_button.style.visibility = '';
            },
            error: function(data, status){
                var ret = data; 
                qiwi_message.innerHTML = ret['status_message'];
                //pin.value='';
                //series.value=''; 
                get_balance_button.style.visibility = '';
             },
            complete: function(data, status){  }
        });
    }
    
    function qiwi_payment() {
        var phone=document.getElementById("id_phone");
        var password=document.getElementById("id_password");
        var summ=document.getElementById("id_summ");
        var autoaccept=document.getElementById("id_autoaccept");
        var qiwi_payment_message=document.getElementById("qiwi_payment_message");
        var send_button =document.getElementById("qiwi_pay_button");
        var payment_url =document.getElementById("payment_url");
        var cheque =document.getElementById("cheque");
         jQuery.ajax({
            type: "POST",
            cache: false,
            url: '/qiwi_payment/',
            data: { 'phone': phone.value, 'password': password.value, 'summ':summ.value, 'autoaccept': autoaccept.checked},
            timeout: 15000,
            dataType: "json",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            beforeSend: function(XMLHttpRequest){send_button.style.visibility = 'hidden';qiwi_payment_message.innerHTML='Подождите. Идёт обработка.'},
            success: function(data, status){
                var ret = data;
                if (typeof ret['redirect'] != 'undefined') {
                    window.location.href = ret['redirect'];
                } 
                if (typeof ret['payed'] != 'undefined' && ret['payed'] !=false) {
                    cheque.innerHTML = "Номер чека: "+ret['invoice_id']+'</br>Сумма: '+ret['invoice_summ']+'</br>Дата: '+ret['invoice_date']+"</br><strong>Сохраните информацию об этом чеке.</strong>";
                }else{
                      cheque.innerHTML = '';
                      }
                qiwi_payment_message.innerHTML = 'Статус платежа:'+ret['status_message'];
                if (typeof ret['payment_url'] != 'undefined') {
                    payment_url.innerHTML='<a href="'+ret['payment_url']+'" target="_blank">'+ret['payment_url']+'</a>';
                }else{
                      payment_url.innerHTML='';
                      }                  
                
                send_button.style.visibility = '';
            },
            error: function(data, status){
                var ret = data; 
                qiwi_message.innerHTML = ret['status_message'];
                //pin.value='';
                //series.value=''; 
             },
            complete: function(data, status){  }
        });
    }
</script>
<form method="POST" action=""  onsubmit="return false;">
<table class="wide extra_table promise_table" cellpadding="0" cellspacing="0">
    <tr>
        <th class="white bold s-11 blue_caption a-left ie" colspan="2">Пополнить баланс с помощью QIWI</th>
    </tr>
    <tr>
        <td class="coll_bg caption">
            № телефона в системе
        </td>
        <td class="left_border ">
            {{ qiwi_form.phone }} <span class="promise-date">(без скобок, пробелов и разделителей. Пример 9991234567)</span>
        </td>
    </tr>   
    <tr>
        <td class="coll_bg caption">
            Автозачисление
        </td>
        <td class="left_border ">
            {{ qiwi_form.autoaccept }} <span class="promise-date">*Автоматически подтвердить выставленный счёт.</span>
        </td>
    </tr>   
    <tr>
        <td class="coll_bg caption">
            Пароль Qiwi 
        </td>
        <td class="left_border ">
            {{ qiwi_form.password }} <span class="promise-date">*Только для автоматического зачисления платежа и проверки баланса.</span>
        </td>
    </tr>        
    <tr>
        <td class="coll_bg caption">
            Баланс кошелька 
        </td>
        <td class="left_border ">
         <span id="qiwi_balance" class="promise-date"></span><span id="qiwi_message" class="promise-date"></span><input value="Получить" type="button" id='get_balance_button' class="pass_button f-right promise_button"  onclick="get_balance()">   
        </td>
    </tr>        

    <tr>
        <td class="coll_bg caption">
            Сумма платежа
        </td>
        <td class="left_border ">
            {{ qiwi_form.summ }} {{ CURRENCY }}
        </td>
    </tr>
    <tr>
    <td colspan="2" class="no_border">
    <span id="qiwi_payment_message" class="promise-date"></span><input value="Ok" type="submit" id="qiwi_pay_button" class="pass_button f-right promise_button"   onclick="qiwi_payment()">
    </td>
    </tr>
    <tr>
    <td colspan=2>
    <div class="promise-date" id="payment_url"></div><br />
    <div id="cheque"></div>
    </td>
    </tr>
</table>

</form>

{% endif %}

{% endblock %}


{% block title %}
    Оплата услуг
{% endblock %}