{% extends 'base_extended.html' %}
{% load i18n %}
{% load billservice_tags %}
{% load custom_filters %}

{% block content %}
{% if periodical_service_history %}
<table class="wide statistic_table" cellpadding="0" cellspacing="0">
	<tr>
		<th class="white bold s-11 blue_caption a-left">{% blocktrans %}СПИСАНИЕ ПЕРИОДИЧЕСКИХ УСЛУГ{% endblocktrans %}</th>
	</tr>
	<tr>
		<td class="">
			<table class="wide extra_table" cellpadding="0" cellspacing="0">
				<tr>
					<th>{% blocktrans %}Услуга{% endblocktrans %}</th>
					<th>{% blocktrans %}Дата{% endblocktrans %}</th>
					<th>{% blocktrans %}Сумма{% endblocktrans %}</th>
					<th>{% blocktrans %}Тип услуги{% endblocktrans %}</th>
				</tr>
				{% for service in periodical_service_history %}
					<tr>
						<td class="{{ forloop.counter|coll_bg  }} {% if forloop.last and not is_range %}no_border{% endif %}">{{ service.service.name }}&nbsp;</td>
						<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last and not is_range %}no_border{% endif %}">{{ service.created|date:"d.m.Y H:i" }}&nbsp;</td>
						<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last and not is_range %}no_border{% endif %}">{{ service.summ }}&nbsp;{{ CURRENCY }}</td>
						<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last and not is_range %}no_border{% endif %}">{{ service.type.name }}&nbsp;</td>
					</tr>
				{% endfor %}
				{% if is_range %}
					<tr>
						<td colspan="2" align="right" class="bold {{ rec_count|coll_bg  }} no_border">{% blocktrans %}Всего на странице:{% endblocktrans %}<br>{% blocktrans %}Всего:{% endblocktrans %}</td>
						<td colspan="2" class="left_border {{ rec_count|coll_bg  }} no_border">{{ summ_on_page|floatformat:2 }}&nbsp;{{ CURRENCY }}<br>{{ summ|floatformat:2 }}&nbsp;{{ CURRENCY }}</td>
					</tr>
				{% endif %}
			</table>
			{% include 'paginator.html' %}
		</td>
	</tr>
</table>

{% else %}
 <h2 align="center">{% blocktrans %}Данных нет{% endblocktrans %}</h2>
{% endif %}
{% endblock %}


{% block title %}
    {% blocktrans %}Биллинговая информация{% endblocktrans %}
{% endblock %}