{% extends 'base_extended.html' %}
{% load custom_filters %}
{% load billservice_tags %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ui.datepicker.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ui.core.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ui.theme.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/ui/i18n/ui.datepicker-ru.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		var dtSettings = {
            dayNamesShort: jQuery.datepicker.regional['ru'].dayNamesShort,
            dayNames: jQuery.datepicker.regional['ru'].dayNames,
            monthNamesShort: jQuery.datepicker.regional['ru'].monthNamesShort,
            monthNames: jQuery.datepicker.regional['ru'].monthNames
    	};
	    var dtFormat = 'dd/mm/yy';
	    var dtParamFormat = 'yy-mm-dd';
	    jQuery(' #transactions_date_from').datepicker({
	        dateFormat: dtFormat,
	    }).attr('value', '{{ date_id_dict.transactions_date_from }}');
		jQuery(' #transactions_date_to').datepicker({
	        dateFormat: dtFormat,
	    }).attr('value', '{{ date_id_dict.transactions_date_to }}');
		
		jQuery(' #services_date_from').datepicker({
	        dateFormat: dtFormat,
	    }).attr('value', '{{ date_id_dict.services_date_from }}');
		jQuery(' #services_date_to').datepicker({
	        dateFormat: dtFormat,
	    }).attr('value', '{{ date_id_dict.services_date_to }}');
		
		jQuery(' #periodical_service_history_date_from').datepicker({
	        dateFormat: dtFormat,
	    }).attr('value', '{{ date_id_dict.periodical_service_history_date_from }}');
		jQuery(' #periodical_service_history_date_to').datepicker({
	        dateFormat: dtFormat,
	    }).attr('value', '{{ date_id_dict.periodical_service_history_date_to }}');
		
		jQuery(' #one_time_history_date_from').datepicker({
	        dateFormat: dtFormat,
	    }).attr('value', '{{ date_id_dict.one_time_history_date_from }}');
		jQuery(' #one_time_history_date_to').datepicker({
	        dateFormat: dtFormat,
	    }).attr('value', '{{ date_id_dict.one_time_history_date_to }}');
		
		jQuery(' #addon_service_transaction_date_from').datepicker({
	        dateFormat: dtFormat,
	    }).attr('value', '{{ date_id_dict.addon_service_transaction_date_from }}');
		jQuery(' #addon_service_transaction_date_to').datepicker({
	        dateFormat: dtFormat,
	    }).attr('value', '{{ date_id_dict.addon_service_transaction_date_to }}');
		
		jQuery(' #traffic_transaction_date_from').datepicker({
	        dateFormat: dtFormat,
	    }).attr('value', '{{ date_id_dict.traffic_transaction_date_from }}');
		jQuery(' #traffic_transaction_date_to').datepicker({
	        dateFormat: dtFormat,
	    }).attr('value', '{{ date_id_dict.traffic_transaction_date_to }}');
		
		
		jQuery(' #active_session_date_from').datepicker({
	        dateFormat: dtFormat,
	    }).attr('value', '{{ date_id_dict.active_session_date_from }}');
		jQuery(' #active_session_date_to').datepicker({
	        dateFormat: dtFormat,
	    }).attr('value', '{{ date_id_dict.active_session_date_to }}');
	})
</script>
{% endblock %}

{% block content %}

{% if  transactions or active_session or one_time_history or addon_service_transaction or periodical_service_history or traffic_transaction%}
	<table class="wide statistic_table" cellpadding="0" cellspacing="0">
		{% if transactions %}
		<tr>
			<th class="white bold s-11 blue_caption">
				<div class="f-right statistics_link white">
					<form method="get" action="/transaction/" id="transactions">
						<div class="range">
							<ul>
								<li>
									<label>с даты:</label> <input type="text" name="date_from" id="transactions_date_from" />
								</li>
								<li>
									<label>по дату:</label> <input type="text" name="date_to" id="transactions_date_to" />
								</li>
							</ul>
						</div>
					</form>
					<a href="/transaction/">Показать всю историю</a>
					<a href="#" onclick="document.getElementById('transactions').submit(); return false;">Фильтровать</a>
				</div>
				<div class="f-left statistics_title">ИНФОРМАЦИЯ О РУЧНЫХ ОПЕРАЦИЯХ С БАЛАНСОМ</div>
			</th>
		</tr>
		<tr>
			<td class="">
				<table class="wide extra_table" cellpadding="0" cellspacing="0">
					<tr>
						<th>Дата</th>
						<th>Сумма</th>
						<th>Обещенный платеж</th>
						<th>Погасить до</th>
						<th>Описание</th>
						<th>Документ</th>
						<th>Комментарий</th>
					</tr>
					{% for transaction in transactions %}
						<tr>
							<td class="{{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ transaction.created|date:"d.m.Y H:i" }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ transaction.summ|multiply:"-1" }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}" align="center">{% if transaction.promise %}да{% else %}нет{% endif %}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ transaction.end_promise|date:"d.m.Y"  }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{% ifequal transaction.description None %}&nbsp;{% else %} {{ transaction.description }} &nbsp;{% endifequal %}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ transaction.bill }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ transaction.comment }}&nbsp;</td>
						</tr>
					{% endfor %}
				</table>
			</td>
		</tr>
		{% endif %}
        
		{% if active_session %}
        <tr><td>&nbsp;</td></tr>
		<tr>
			<th class="white bold s-11 blue_caption">
				<div class="f-right statistics_link white">
					<form method="get" action="/session/info/" id="active_session">
						<div class="range">
							<ul>
								<li>
									<label>с даты:</label> <input type="text" name="date_from" id="active_session_date_from" />
								</li>
								<li>
									<label>по дату:</label> <input type="text" name="date_to" id="active_session_date_to" />
								</li>
							</ul>
						</div>
					</form>
					<a href="/session/info/">Показать всю историю</a>
					<a href="#" onclick="document.getElementById('active_session').submit(); return false;">Фильтровать</a>
				</div>
				<div class="f-left statistics_title">ИНФОРМАЦИЯ О СЕССИЯХ</div>
			</th>
		</tr>
		<tr>
			<td class="">
				<table class="wide extra_table" cellpadding="0" cellspacing="0">
					<tr>
						<th>Начало</th>
						<th>Окончание</th>
						<th>IP-адрес</th>
						<th>Передано / Принято / Всего</th>
						<th>Время</th>
					</tr>
					{% for session in active_session %}
						<tr>
							<td class="{{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ session.date_start|date:"d.m.Y H:i" }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ session.date_end|date:"d.m.Y H:i" }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ session.nas_id }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{% if session.bytes_out or session.bytes_in %}{% traffic_format session.bytes_out %} / {% traffic_format session.bytes_in %} / {% traffic_format session.bytes_in session.bytes_out %}{% endif %}&nbsp;&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{% time_format session.session_time %}&nbsp;</td>
						</tr>
					{% endfor %}
				</table>
			</td>
		</tr>
		{% endif %}
		
		
		

		
		{% if periodical_service_history %}
        <tr><td>&nbsp;</td></tr>
		<tr>
			<th class="white bold s-11 blue_caption">
				<div class="f-right statistics_link white">
					<form method="get" action="/service/history/info/" id="periodical_service_history">
						<div class="range">
							<ul>
								<li>
									<label>с даты:</label> <input type="text" name="date_from" id="periodical_service_history_date_from" />
								</li>
								<li>
									<label>по дату:</label> <input type="text" name="date_to" id="periodical_service_history_date_to" />
								</li>
							</ul>
						</div>
					</form>
					<a href="/service/history/info/">Показать всю историю</a>
					<a href="#" onclick="document.getElementById('periodical_service_history').submit(); return false;">Фильтровать</a>
				</div>
				<div class="f-left statistics_title">СПИСАНИЕ ПЕРИОДИЧЕСКИХ УСЛУГ</div>
			</th>
		</tr>
		<tr>
			<td class="">
				<table class="wide extra_table" cellpadding="0" cellspacing="0">
					<tr>
						<th>Услуга</th>
						<th>Дата</th>
						<th>Сумма</th>
						<th>Тип услуги</th>
					</tr>
					{% for service in periodical_service_history %}
						<tr>
							<td class="{{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ service.service.name }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ service.datetime|date:"d.m.Y H:i" }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ service.summ }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ transaction.type_id }}&nbsp;</td>
						</tr>
					{% endfor %}
				</table>
			</td>
		</tr>
		{% endif %}
		

		{% if one_time_history %}
        <tr><td>&nbsp;</td></tr>
		<tr>
			<th class="white bold s-11 blue_caption">
				<div class="f-right statistics_link white">
					<form method="get" action="/one/time/history/info/" id="one_time_history">
						<div class="range">
							<ul>
								<li>
									<label>с даты:</label> <input type="text" name="date_from" id="one_time_history_date_from" />
								</li>
								<li>
									<label>по дату:</label> <input type="text" name="date_to" id="one_time_history_date_to" />
								</li>
							</ul>
						</div>
					</form>
					<a href="/one/time/history/info/">Показать всю историю</a>
					<a href="#" onclick="document.getElementById('one_time_history').submit(); return false;">Фильтровать</a>
				</div>
				<div class="f-left statistics_title">СПИСАНИЯ РАЗОВАХ УСЛУГ</div>
			</th>
		</tr>
		<tr>
			<td class="">
				<table class="wide extra_table" cellpadding="0" cellspacing="0">
					<tr>
						<th>Услуга</th>
						<th>Сумма</th>
						<th>Дата</th>
					</tr>
					{% for one_time in one_time_history %}
						<tr>
							<td class="{{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ one_time.onetimeservice.name }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ one_time.summ }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ one_time.datetime|date:"d.m.Y H:i" }}&nbsp;</td>
						</tr>
					{% endfor %}
				</table>
			</td>
		</tr>
		{% endif %}
		
		{% if addon_service_transaction %}
        <tr><td>&nbsp;</td></tr>
		<tr>
			<th class="white bold s-11 blue_caption">
				<div class="f-right statistics_link white">
					<form method="get" action="/addon/services/transaction/info/" id="addon_service_transaction">
						<div class="range">
							<ul>
								<li>
									<label>с даты:</label> <input type="text" name="date_from" id="addon_service_transaction_date_from" />
								</li>
								<li>
									<label>по дату:</label> <input type="text" name="date_to" id="addon_service_transaction_date_to" />
								</li>
							</ul>
						</div>
					</form>
					<a href="/addon/services/transaction/info/">Показать всю историю</a>
					<a href="#" onclick="document.getElementById('addon_service_transaction').submit(); return false;">Фильтровать</a>
				</div>
				<div class="f-left statistics_title">СПИСАНИЯ ЗА ПОДКЛЮЧАЕМЫЕ УСЛУГИ</div>
			</th>
		</tr>
		<tr>
			<td class="">
				<table class="wide extra_table" cellpadding="0" cellspacing="0">
					<tr>
						<th>Услуга</th>
						<th>Тип услуги</th>
						<th>Сумма</th>
						<th>Тип списания</th>
						<th>Дата</th>
					</tr>
					{% for transaction in addon_service_transaction %}
						<tr>
							<td class="{{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ transaction.service.name }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ transaction.service_type }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ transaction.summ }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ transaction.type_id }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ transaction.created|date:"d.m.Y H:i" }}&nbsp;</td>
						</tr>
					{% endfor %}
				</table>
			</td>
		</tr>
		{% endif %}
		
		{% if traffic_transaction %}
        <tr><td>&nbsp;</td></tr>
		<tr>
			<th class="white bold s-11 blue_caption">
				<div class="f-right statistics_link white">
					<form method="get" action="/traffic/transaction/info/" id="traffic_transaction">
						<div class="range">
							<ul>
								<li>
									<label>с даты:</label> <input type="text" name="date_from" id="traffic_transaction_date_from" />
								</li>
								<li>
									<label>по дату:</label> <input type="text" name="date_to" id="traffic_transaction_date_to" />
								</li>
							</ul>
						</div>
					</form>
					<a href="/traffic/transaction/info/">Показать всю историю</a>
					<a href="#" onclick="document.getElementById('traffic_transaction').submit(); return false;">Фильтровать</a>
				</div>
				<div class="f-left statistics_title">СПИСАНИЯ ЗА ТРАФИК</div>
			</th>
		</tr>
		<tr>
			<td class="">
				<table class="wide extra_table" cellpadding="0" cellspacing="0">
					<tr>
						<th>Дата</th>
						<th>Сумма</th>
					</tr>
					{% for transaction in traffic_transaction %}
						<tr>
							<td class="{{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ transaction.datetime|date:"d.m.Y H:i" }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ transaction.summ }}&nbsp;</td>
						</tr>
					{% endfor %}
				</table>
			</td>
		</tr>
		{% endif %}
		
		
		
		
	</table>
{% else %}
	<h2 align="center">На данный момент информации нет</h2>
{% endif %}
{% endblock %}