{% extends 'base_extended.html' %}
{% load i18n %}
{% load custom_filters %}
{% load billservice_tags %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ui.datepicker.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ui.core.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/ui.theme.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/ui/i18n/ui.datepicker-ru.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		var dtSettings = {
            dayNamesShort: jQuery.datepicker.regional['ru'].dayNamesShort,
            dayNames: jQuery.datepicker.regional['ru'].dayNames,
            monthNamesShort: jQuery.datepicker.regional['ru'].monthNamesShort,
            monthNames: jQuery.datepicker.regional['ru'].monthNames
    	};
	    var dtFormat = 'dd/mm/yy';
	    var dtParamFormat = 'yy-mm-dd';
	    jQuery(' #transactions_date_from').datepicker({
	        dateFormat: dtFormat,
	    }).attr('value', '{{ date_id_dict.transactions_date_from }}');
		jQuery(' #transactions_date_to').datepicker({
	        dateFormat: dtFormat,
	    }).attr('value', '{{ date_id_dict.transactions_date_to }}');
		
		jQuery(' #services_date_from').datepicker({
	        dateFormat: dtFormat,
	    }).attr('value', '{{ date_id_dict.services_date_from }}');
		jQuery(' #services_date_to').datepicker({
	        dateFormat: dtFormat,
	    }).attr('value', '{{ date_id_dict.services_date_to }}');
		
		jQuery(' #periodical_service_history_date_from').datepicker({
	        dateFormat: dtFormat,
	    }).attr('value', '{{ date_id_dict.periodical_service_history_date_from }}');
		jQuery(' #periodical_service_history_date_to').datepicker({
	        dateFormat: dtFormat,
	    }).attr('value', '{{ date_id_dict.periodical_service_history_date_to }}');
		
		jQuery(' #one_time_history_date_from').datepicker({
	        dateFormat: dtFormat,
	    }).attr('value', '{{ date_id_dict.one_time_history_date_from }}');
		jQuery(' #one_time_history_date_to').datepicker({
	        dateFormat: dtFormat,
	    }).attr('value', '{{ date_id_dict.one_time_history_date_to }}');
		
		jQuery(' #addon_service_transaction_date_from').datepicker({
	        dateFormat: dtFormat,
	    }).attr('value', '{{ date_id_dict.addon_service_transaction_date_from }}');
		jQuery(' #addon_service_transaction_date_to').datepicker({
	        dateFormat: dtFormat,
	    }).attr('value', '{{ date_id_dict.addon_service_transaction_date_to }}');
		
		jQuery(' #traffic_transaction_date_from').datepicker({
	        dateFormat: dtFormat,
	    }).attr('value', '{{ date_id_dict.traffic_transaction_date_from }}');
		jQuery(' #traffic_transaction_date_to').datepicker({
	        dateFormat: dtFormat,
	    }).attr('value', '{{ date_id_dict.traffic_transaction_date_to }}');
		
		jQuery(' #traffic_volume_date_from').datepicker({
	        dateFormat: dtFormat,
	    }).attr('value', '{{ date_id_dict.traffic_volume_date_from }}');
		jQuery(' #traffic_volume_date_to').datepicker({
	        dateFormat: dtFormat,
	    }).attr('value', '{{ date_id_dict.traffic_volume_date_to }}');
	    
		jQuery(' #active_session_date_from').datepicker({
	        dateFormat: dtFormat,
	    }).attr('value', '{{ date_id_dict.active_session_date_from }}');
		jQuery(' #active_session_date_to').datepicker({
	        dateFormat: dtFormat,
	    }).attr('value', '{{ date_id_dict.active_session_date_to }}');
	})
</script>

<script>	
//hide		
		
		function runEffect(object_id){
				$("#"+object_id).toggle();
				var date = new Date();
                date.setTime(date.getTime() + (3 * 24 * 60 * 60 * 1000));
				if ($("#"+object_id+"_a").attr('class') == 'close') {
					$("#"+object_id+"_a").attr('class','open');
					$.cookie(object_id, 'hide', { path: '/', expires: date });
				} else {
					$("#"+object_id+"_a").attr('class','close');
					$.cookie(object_id, 'show', { path: '/', expires: date });
				}
			};
		
//endhide
	
</script>

<script type="text/javascript">
		$(document).ready(function() {
			checkCookie('statistics');
		});
</script>

{% endblock %}

{% block content %}

{% if  transactions or active_session or one_time_history or addon_service_transaction or periodical_service_history or traffic_transaction%}
	<table class="wide statistic_table" cellpadding="0" cellspacing="0">
		{% if transactions %}
		<tr>
			<th class="white bold s-11 blue_caption">
				<div class="f-right statistics_link white">
					<form method="get" action="/transaction/" id="transactions">
						<div class="range">
							<ul>
								<li>
									<label>{% blocktrans %}с даты:{% endblocktrans %}</label> <input type="text" name="date_from" id="transactions_date_from" />
								</li>
								<li>
									<label>{% blocktrans %}по дату:{% endblocktrans %}</label> <input type="text" name="date_to" id="transactions_date_to" />
								</li>
							</ul>
						</div>
					</form>
					<a id="transactions_data_a" class="close" href="javascript:return 0;" onclick="runEffect('transactions_data')">&nbsp;</a>
					<a href="#" onclick="document.getElementById('transactions').submit(); return false;">{% blocktrans %}Фильтровать{% endblocktrans %}</a>
					<a href="/transaction/">{% blocktrans %}Архив{% endblocktrans %}</a>
				</div>
				<div class="f-left statistics_title">{% blocktrans %}ИСТОРИЯ ПОПОЛНЕНИЙ{% endblocktrans %}</div>
			</th>
		</tr>
		<tr>
			<td id="transactions_data">
				<table class="wide extra_table" cellpadding="0" cellspacing="0">
					<tr>
						<th>{% blocktrans %}Дата{% endblocktrans %}</th>
						<th>{% blocktrans %}Сумма{% endblocktrans %}</th>
						<th>{% blocktrans %}Обещанный платеж{% endblocktrans %}</th>
						<th>{% blocktrans %}Погасить до{% endblocktrans %}</th>
						<th>{% blocktrans %}Описание{% endblocktrans %}</th>
						<th>{% blocktrans %}Документ{% endblocktrans %}</th>
						<th>{% blocktrans %}Комментарий{% endblocktrans %}</th>
					</tr>
					{% for transaction in transactions %}
						<tr>
							<td class="{{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ transaction.created|date:"d.m.Y H:i" }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ transaction.summ|format_sum }}&nbsp;{{ CURRENCY }}</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}" align="center">{% if transaction.promise %}{% blocktrans %}да{% endblocktrans %}{% else %}{% blocktrans %}нет{% endblocktrans %}{% endif %}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ transaction.end_promise|date:"d.m.Y"  }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{% ifequal transaction.description None %}&nbsp;{% else %} {{ transaction.description }} &nbsp;{% endifequal %}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ transaction.type.name }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ transaction.comment }}&nbsp;</td>
						</tr>
					{% endfor %}
					<tr>
						<td colspan="7" class="no_border">&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
		{% endif %}
        
		{% if active_session %}
		<tr>
			<th class="white bold s-11 blue_caption">
				<div class="f-right statistics_link white">
					<form method="get" action="/session/info/" id="active_session">
						<div class="range">
							<ul>
								<li>
									<label>{% blocktrans %}с даты:{% endblocktrans %}</label> <input type="text" name="date_from" id="active_session_date_from" />
								</li>
								<li>
									<label>{% blocktrans %}по дату:{% endblocktrans %}</label> <input type="text" name="date_to" id="active_session_date_to" />
								</li>
							</ul>
						</div>
					</form>
					<a id="active_session_data_a" class="close" href="javascript:return 0;" onclick="runEffect('active_session_data')">&nbsp;</a>
					<a href="#" onclick="document.getElementById('active_session').submit(); return false;">{% blocktrans %}Фильтровать{% endblocktrans %}</a>
					<a href="/session/info/">{% blocktrans %}Архив{% endblocktrans %}</a>
				</div>
				<div class="f-left statistics_title">{% blocktrans %}СЕССИИ{% endblocktrans %}</div>
			</th>
		</tr>
		<tr>
			<td id="active_session_data">
				<table class="wide extra_table" cellpadding="0" cellspacing="0">
					<tr>
						<th>{% blocktrans %}Начало{% endblocktrans %}</th>
						<th>{% blocktrans %}Окончание{% endblocktrans %}</th>
						<th>{% blocktrans %}IP-адрес{% endblocktrans %}</th>
						<th>{% blocktrans %}Передано / Принято / Всего{% endblocktrans %}</th>
						<th>{% blocktrans %}Время{% endblocktrans %}</th>
					</tr>
					{% for session in active_session %}
						<tr>
							<td class="{{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ session.date_start|date:"d.m.Y H:i" }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ session.date_end|date:"d.m.Y H:i" }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ session.framed_ip_address }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{% if session.bytes_out or session.bytes_in %}{% traffic_format session.bytes_out %} / {% traffic_format session.bytes_in %} / {% traffic_format session.bytes_in session.bytes_out %}{% endif %}&nbsp;&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{% time_format session.session_time %}&nbsp;</td>
						</tr>
					{% endfor %}
					<tr>
						<td colspan="5" class="no_border">&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
		{% endif %}
		
		
		

		
		{% if periodical_service_history %}
		<tr>
			<th class="white bold s-11 blue_caption">
				<div class="f-right statistics_link white">
					<form method="get" action="/service/history/info/" id="periodical_service_history">
						<div class="range">
							<ul>
								<li>
									<label>{% blocktrans %}с даты:{% endblocktrans %}</label> <input type="text" name="date_from" id="periodical_service_history_date_from" />
								</li>
								<li>
									<label>{% blocktrans %}по дату:{% endblocktrans %}</label> <input type="text" name="date_to" id="periodical_service_history_date_to" />
								</li>
							</ul>
						</div>
					</form>
					<a id="periodical_service_history_data_a" class="close" href="javascript:return 0;" onclick="runEffect('periodical_service_history_data')">&nbsp;</a>
					<a href="#" onclick="document.getElementById('periodical_service_history').submit(); return false;">{% blocktrans %}Фильтровать{% endblocktrans %}</a>
					<a href="/service/history/info/">{% blocktrans %}Архив{% endblocktrans %}</a>
				</div>
				<div class="f-left statistics_title">{% blocktrans %}ПЕРИОДИЧЕСКИЕ УСЛУГИ{% endblocktrans %}</div>
			</th>
		</tr>
		<tr>
			<td id="periodical_service_history_data">
				<table class="wide extra_table" cellpadding="0" cellspacing="0">
					<tr>
						<th>{% blocktrans %}Услуга{% endblocktrans %}</th>
						<th>{% blocktrans %}Дата{% endblocktrans %}</th>
						<th>{% blocktrans %}Сумма{% endblocktrans %}</th>
						<th>{% blocktrans %}Тип услуги{% endblocktrans %}</th>
					</tr>
					{% for service in periodical_service_history %}
						<tr>
							<td class="{{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ service.service.name }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ service.created|date:"d.m.Y H:i" }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ service.summ|format_sum|format_sum }}&nbsp;{{ CURRENCY }}</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ transaction.type_id }}&nbsp;</td>
						</tr>
					{% endfor %}
					<tr>
						<td colspan="4" class="no_border">&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
		{% endif %}
		

		{% if one_time_history %}
		<tr>
			<th class="white bold s-11 blue_caption">
				<div class="f-right statistics_link white">
					<form method="get" action="/one/time/history/info/" id="one_time_history">
						<div class="range">
							<ul>
								<li>
									<label>{% blocktrans %}с даты:{% endblocktrans %}</label> <input type="text" name="date_from" id="one_time_history_date_from" />
								</li>
								<li>
									<label>{% blocktrans %}по дату:{% endblocktrans %}</label> <input type="text" name="date_to" id="one_time_history_date_to" />
								</li>
							</ul>
						</div>
					</form>
					<a id="one_time_history_data_a" class="close" href="javascript:return 0;" onclick="runEffect('one_time_history_data')">&nbsp;</a>
					<a href="#" onclick="document.getElementById('one_time_history').submit(); return false;">{% blocktrans %}Фильтровать{% endblocktrans %}</a>
					<a href="/one/time/history/info/">{% blocktrans %}Архив{% endblocktrans %}</a>
				</div>
				<div class="f-left statistics_title">{% blocktrans %}РАЗОВЫЕ УСЛУГИ{% endblocktrans %}</div>
			</th>
		</tr>
		<tr>
			<td id="one_time_history_data">
				<table class="wide extra_table" cellpadding="0" cellspacing="0">
					<tr>
						<th>{% blocktrans %}Услуга{% endblocktrans %}</th>
						<th>{% blocktrans %}Сумма{% endblocktrans %}</th>
						<th>{% blocktrans %}Дата{% endblocktrans %}</th>
					</tr>
					{% for one_time in one_time_history %}
						<tr>
							<td class="{{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ one_time.onetimeservice.name }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ one_time.summ|format_sum }}&nbsp;{{ CURRENCY }}</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ one_time.created|date:"d.m.Y H:i" }}&nbsp;</td>
						</tr>
					{% endfor %}
					<tr>
						<td colspan="3" class="no_border">&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
		{% endif %}
		
		{% if addon_service_transaction %}
		<tr>
			<th class="white bold s-11 blue_caption">
				<div class="f-right statistics_link white">
					<form method="get" action="/addon/services/transaction/info/" id="addon_service_transaction">
						<div class="range">
							<ul>
								<li>
									<label>{% blocktrans %}с даты:{% endblocktrans %}</label> <input type="text" name="date_from" id="addon_service_transaction_date_from" />
								</li>
								<li>
									<label>{% blocktrans %}по дату:{% endblocktrans %}</label> <input type="text" name="date_to" id="addon_service_transaction_date_to" />
								</li>
							</ul>
						</div>
					</form>
					<a id="addon_service_transaction_data_a" class="close" href="javascript:return 0;" onclick="runEffect('addon_service_transaction_data')">&nbsp;</a>
					<a href="#" onclick="document.getElementById('addon_service_transaction').submit(); return false;">{% blocktrans %}Фильтровать{% endblocktrans %}</a>
					<a href="/addon/services/transaction/info/">{% blocktrans %}Архив{% endblocktrans %}</a>
				</div>
				<div class="f-left statistics_title">{% blocktrans %}ПОДКЛЮЧАЕМЫЕ УСЛУГИ{% endblocktrans %}</div>
			</th>
		</tr>
		<tr>
			<td id="addon_service_transaction_data">
				<table class="wide extra_table" cellpadding="0" cellspacing="0">
					<tr>
						<th>{% blocktrans %}Услуга{% endblocktrans %}</th>
						<th>{% blocktrans %}Тип услуги{% endblocktrans %}</th>
						<th>{% blocktrans %}Сумма{% endblocktrans %}</th>
						<th>{% blocktrans %}Дата{% endblocktrans %}</th>
					</tr>
					{% for transaction in addon_service_transaction %}
						<tr>
							<td class="{{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ transaction.service.name }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ transaction.service_type }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ transaction.summ|format_sum }}&nbsp;{{ CURRENCY }}</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ transaction.created|date:"d.m.Y H:i" }}&nbsp;</td>
						</tr>
					{% endfor %}
					<tr>
						<td colspan="5" class="no_border">&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
		{% endif %}
		
		{% if traffic_transaction %}
		<tr>
			<th class="white bold s-11 blue_caption">
				<div class="f-right statistics_link white">
					<form method="get" action="/traffic/transaction/info/" id="traffic_transaction">
						<div class="range">
							<ul>
								<li>
									<label>{% blocktrans %}с даты:{% endblocktrans %}</label> <input type="text" name="date_from" id="traffic_transaction_date_from" />
								</li>
								<li>
									<label>{% blocktrans %}по дату:{% endblocktrans %}</label> <input type="text" name="date_to" id="traffic_transaction_date_to" />
								</li>
							</ul>
						</div>
					</form>
					<a id="traffic_transaction_data_a" class="close" href="javascript:return 0;" onclick="runEffect('traffic_transaction_data')">&nbsp;</a>
					<a href="#" onclick="document.getElementById('traffic_transaction').submit(); return false;">{% blocktrans %}Фильтровать{% endblocktrans %}</a>
					<a href="/traffic/transaction/info/">{% blocktrans %}Архив{% endblocktrans %}</a>
				</div>
				<div class="f-left statistics_title">{% blocktrans %}СПИСАНИЯ ЗА ТРАФИК{% endblocktrans %}</div>
			</th>
		</tr>
		<tr>
			<td id="traffic_transaction_data">
				<table class="wide extra_table" cellpadding="0" cellspacing="0">
					<tr>
						<th>{% blocktrans %}Дата{% endblocktrans %}</th>
						<th>{% blocktrans %}Сумма{% endblocktrans %}</th>
					</tr>
					{% for transaction in traffic_transaction %}
						<tr>
							<td class="{{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ transaction.created|date:"d.m.Y H:i" }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ transaction.summ|format_sum }}&nbsp;{{ CURRENCY }}</td>
						</tr>
					{% endfor %}
					<tr>
						<td colspan="2" class="no_border">&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
		{% endif %}
		{% if group_stat %}
		<tr>
			<th class="white bold s-11 blue_caption">
				<div class="f-right statistics_link white">
					<form method="get" action="/traffic/volume/info/" id="traffic_volume">
						<div class="range">
							<ul>
								<li>
									<label>{% blocktrans %}с даты:{% endblocktrans %}</label> <input type="text" name="date_from" id="traffic_volume_date_from" />
								</li>
								<li>
									<label>{% blocktrans %}по дату:{% endblocktrans %}</label> <input type="text" name="date_to" id="traffic_volume_date_to" />
								</li>
							</ul>
						</div>
					</form>
					<a id="traffic_volume_data_a" class="close" href="javascript:return 0;" onclick="runEffect('traffic_volume_data')">&nbsp;</a>
					<a href="#" onclick="document.getElementById('traffic_volume').submit(); return false;">{% blocktrans %}Фильтровать{% endblocktrans %}</a>
					<a href="/traffic/volume/info/">{% blocktrans %}Архив{% endblocktrans %}</a>
				</div>
				<div class="f-left statistics_title">{% blocktrans %}Объём трафика{% endblocktrans %}</div>
			</th>
		</tr>
		<tr>
			<td id="traffic_volume_data">
				<table class="wide extra_table" cellpadding="0" cellspacing="0">
					<tr>
						<th>{% blocktrans %}Направление{% endblocktrans %}</th>
						<th>{% blocktrans %}Год{% endblocktrans %}</th>
						<th>{% blocktrans %}Месяц{% endblocktrans %}</th>
						<th>{% blocktrans %}День{% endblocktrans %}</th>
						<th>{% blocktrans %}Объём{% endblocktrans %}</th>
					</tr>
					{% for gpst in group_stat %}
						<tr>
							<td class="{{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ gpst.group_name }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ gpst.year }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ gpst.month }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ gpst.day }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{% traffic_format gpst.bytes %}&nbsp;</td>
						</tr>
					{% endfor %}
					<tr>
						<td colspan="2" class="no_border">&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
		{% endif %}
		
		
		
	</table>
{% else %}
	<h2 align="center">{% blocktrans %}Информации нет{% endblocktrans %}</h2>
{% endif %}
{% endblock %}
