{% extends 'base_private.html' %}

{% block extra_head %}
        <script type="text/javascript"> 
        $(document).ready(function() {
            $("#modal-queue-dialog").click(function(event) {
                $('<div />').dialog2({
                    title: "Выберите тип заявки", 
                    content: "{% url queueselect %}", 
                    id: "queueselect-modal",
                });

                event.preventDefault(event);
            });
            $(document).on("selectedQueue", helpdeskQueueHandler);
            // newMessage event handler
            
            function helpdeskQueueHandler(e) {

                var data = {queue:e.message};

                var $form = $('<form method="GET" action="{% url helpdesk_submit %}">');
                $.each(data, function(k,v){
                    $form.append('<input type="hidden" name="' + k + '" value="' + v + '">');
                });
                $form.append('</form>');
                $form.submit();

            }
        });
        </script>
{% endblock %}
{% load i18n account_menu %}
{% block meta_title %}
    {% block helpdesk_title %}Helpdesk{% endblock %}
{% endblock %}



{% block title %}
{% trans "Helpdesk" %}&nbsp;{% trans 'Welcome to your Helpdesk Dashboard! From here you can quickly see your own tickets, and those tickets that have no owner. Why not pick up an orphan ticket and sort it out for a customer?' %}&nbsp;</span>
{% endblock %}

{% block content %}

    {% block helpdesk_menu %}{% endblock %}
    {% block helpdesk_body %}{% endblock %}
    {% include "helpdesk/debug.html" %}
{% endblock %}
