{% extends "helpdesk/base.html" %}{% load i18n %}
{% load django_select2_tags %}
{% load crispy_forms_tags %}
{% block extra_head %}
<link href="/media/select2/css/select2.css" type="text/css" media="screen" rel="stylesheet">
<link href="/media/select2/css/extra.css" type="text/css" media="screen" rel="stylesheet">
<script type="text/javascript" src="/media/select2/js/select2.js"></script>
<script type="text/javascript" src="/media/select2/js/heavy_data.js"></script>

    {{ block.super }}
    <style>
        #id_title, #id_tags, textarea {
            width: 100%;
        }
    </style>
{% endblock %}
{% block helpdesk_title %}{% trans "Create Ticket" %}{% endblock %}

{% block helpdesk_body %}
{% blocktrans %}<h2>Submit a Ticket</h2>

<p>Unless otherwise stated, all fields are required. Please provide as descriptive a title and description as possible.</p>{% endblocktrans %}
<div class="navbar navbar-googlenav">
  <div class="navbar-inner">
    <div class="btn-toolbar">
      <div class="btn-group">
        <a href="#" class="btn btn-danger" id='id_account-toolbar-save'>Сохранить</a>
      </div>

      </div>


  </div>
</div>
</div>
<form method='post' action='./' enctype='multipart/form-data' class="well form-horizontal  form-condensed">
{{form|crispy}}
<fieldset>
    <div class='buttons'>
        <input type='submit' value='{% trans "Submit Ticket" %}' />
    </div>
</fieldset>

</form>
{% endblock %}
