{% extends "helpdesk/base.html" %}{% load i18n %}


{% load crispy_forms_tags %}
{% block extra_head %}
<link href="/media/select2/css/select2.css" type="text/css" media="screen" rel="stylesheet">
<link href="/media/select2/css/extra.css" type="text/css" media="screen" rel="stylesheet">
<script type="text/javascript" src="/media/select2/js/select2.js"></script>
<script type="text/javascript" src="/media/select2/js/heavy_data.js"></script>

    {{ block.super }}
<script type="text/javascript"> 
$(document).ready(function() {
	        $("#id_ticket-toolbar-save").click(function(event) {
	            $('#id_form').submit();
	            event.preventDefault(event);
	        });
});
</script>
    <style>
        #id_title, #id_tags {
            width: 100%;
        }
    </style>
{% endblock %}
{% block helpdesk_title %}{% trans "Create Ticket" %}{% endblock %}

{% block helpdesk_body %}


<div class="navbar navbar-googlenav">
  <div class="navbar-inner">
    <div class="btn-toolbar">
      <div class="btn-group">
        <a href="#" class="btn btn-danger" id='id_ticket-toolbar-save'>Сохранить</a>
      </div>

      </div>


  </div>
</div>

<form method='post' id='id_form' action='{% url helpdesk_submit %}' enctype='multipart/form-data' class="well form-horizontal  form-condensed">

{% crispy form %}


<fieldset>
    <div class='buttons'>
        <input type='submit' value='{% trans "Submit Ticket" %}' />
    </div>
</fieldset>
</form>
{% endblock %}
