{% extends "helpdesk_base.html" %}
{% load helpdesk_tags %}

{% block extra_head %}
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/jquery-ui-1.7.2.custom.css" />
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/auroramenu.css" />

<script type="text/javascript" src = "{{MEDIA_URL}}js/jquery.js"></script>
<script language="JavaScript" type="text/javascript" src="{{MEDIA_URL}}js/jquery-ui-1.7.2.custom.min.js"></script>
<script language="JavaScript" type="text/javascript" src="{{MEDIA_URL}}js/jquery-cookie.js"></script>
<script language="JavaScript" type="text/javascript" src="{{MEDIA_URL}}js/auroramenu.js"></script>
<script language="JavaScript" type="text/javascript" src="{{MEDIA_URL}}js/json2.js"></script>
<script language="JavaScript" type="text/javascript" src="{{MEDIA_URL}}js/jquery.timers.js"></script>
<script language="JavaScript" type="text/javascript" src="{{MEDIA_URL}}js/ajax_load_block.js"></script>
<script language="JavaScript" type="text/javascript" src="{{MEDIA_URL}}js/tickets.js"></script>

{% endblock %}

{% block content %}
	
{% for departament in departaments %}
<div id="menu" class="auroramenu">
	<div class="name_object">
	<a href="#" class="link"  onclick="show_table(this);">
		<img src="{{MEDIA_URL}}img/close.gif"><b>{{departament.name}}</b></a>
	</div>
<div id="ul_departament_{{departament.id}}" name="departament_{{departament.id}}" class="tickets content">
	{% pannel_ticket_table 'departament' departament.id %}
</div>
</div>

{% for user in departament.get_users %}
<div id="menu2" class="auroramenu">
	<div class="name_object">
		<a href="#" class="link" onclick="show_table(this);">
			<img src="{{MEDIA_URL}}img/close.gif">
			{{user.username}}
		</a>
	</div>
<div id="ul_user_{{user.id}}" name="user_{{user.id}}"  class="tickets content">
		{% pannel_ticket_table 'user' user.id %}
</div>
</div>
{% endfor %}

{% endfor %}

{% endblock %}