{% extends 'base_extended.html' %}
{% load billservice_tags %}
{% load i18n %}
{% block helpdesk_title %}{% trans "View a Ticket" %}{% endblock %}
{% block extra_head %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/action_links.css' %}">
	<link rel="stylesheet" href="{% static 'css/forms.css' %}" type="text/css">
	<link rel='stylesheet' href='{% static "css/helpdesk.css" %}' type='text/css' />
<script type="text/javascript">
    $(document).ready(function() {
        $("#ShowFurtherEditOptions").click(function() {
            $("#FurtherEditOptions").fadeIn();
            $("#ShowFurtherOptPara").hide();
            return false;
        });

        processAddFileClick();
        $("#ShowFileUpload").click(function() {
            $("#FileUpload").fadeIn();
            $("#ShowFileUploadPara").hide();
            return false;
        });


    });

    function processAddFileClick() {
        /* Until jQuery includes some 'livequery' functionality in the core
           distribution, this will have to do. */
        $(".AddAnotherFile>a").click(function() {
            // Check if there already are empty file inputs, and if true, do nothing
            if ($('input[name=attachment]').filter(
                function(){
                    return $('#FileUpload').css('display') != 'none' && $(this).val() == '';
                    }
            ).length > 0) {
                return false;
            }
            $(this).parent().hide();
            $("#FileUpload>dl").append("<dt><label>{% trans "Attach another File" %}</label></dt><dd><input type='file' name='attachment' id='file' /> <span class='AddAnotherFile'>(<a href='#'>{% trans "Add Another File" %}</a>)</span></dd>");
            processAddFileClick();
            return false;
        });

    }
</script>
{% endblock %}
{% block content %}

<table class="wide statistic_table extra_table">
<tr class="white bold s-11 blue_caption"><td colspan='2'><div class="f-left statistics_title">{{ ticket.id }}. {{ ticket.title }} [{{ ticket.get_status }}]</div></td></tr>
<tr class='row_odd'>
<td><strong>{% trans "Queue" %}</strong></td>
<td class="left_border {{ 1|coll_bg  }} ">{% blocktrans with ticket.queue as queue_name %}{{ queue_name }}{% endblocktrans %}</td>
</tr>

<tr class='row_even'>
    <td><strong>{% trans "Submitted On" %}</strong></td>
    <td class="left_border {{ 2|coll_bg  }} ">{{ ticket.created|date:"r" }} ({{ ticket.created|timesince }} ago)</td>
</tr>

<tr class='row_odd'>
    <td><strong>{% trans "Submitter E-Mail" %}</strong></td>
    <td class="left_border {{ 3|coll_bg  }} ">{{ ticket.submitter_email }}</td>
</tr>

<tr class='row_even'>
    <td><strong>{% trans "Priority" %}</strong></td>
    <td class="left_border {{ 4|coll_bg  }} ">{{ ticket.get_priority_display }}</td>
</tr>

{% if tags_enabled %}
<tr class='row_even'>
    <td><strong>{% trans "Tags" %}</strong></td>
    <td class="left_border {{ 5|coll_bg  }} ">{{ ticket.tags }}</td>
</tr>
{% endif %}

<tr class='row_{% if tags_enabled %}odd{% else %}even{% endif %}'>
    <th colspan='2'><strong>{% trans "Description" %}</strong></th>
</tr>
<tr class='row_{% if tags_enabled %}odd{% else %}even{% endif %}'>
    <td colspan='2'>{{ ticket.description|linebreaksbr }}</td>
</tr>

{% if ticket.resolution %}<tr class='row_{% if tags_enabled %}even{% else %}odd{% endif %}'>
    <th colspan='2'><strong>{% trans "Resolution" %}</strong>{% ifequal ticket.get_status_display "Resolved" %} <a href='{{ request.get_full_path }}&close'><img src="{% static 'helpdesk/buttons/accept.png' %}" alt='{% trans "Accept" %}' title='{% trans "Accept and Close" %}' width='60' height='15' /></a>{% endifequal %}</th>
</tr>
<tr class='row_{% if tags_enabled %}even{% else %}odd{% endif %}'>
    <td colspan='2'>{{ ticket.resolution }}</td>
</tr>{% endif %}

</table>

{% if ticket.followup_set.public_followups %}
<h4>{% trans "Follow-Ups" %}</h4>
{% load ticket_to_link %}
{% for followup in ticket.followup_set.public_followups %}
<div class='followup'>
	<ul>
	<div class='title'>{{ followup.title }} <span class='byline'>{% if followup.user %}by {{ followup.user }}{% endif %} <span title='{{ followup.date|date:"r" }}'>{{ followup.date|timesince }} ago</span></span></div>
	{% if followup.comment %}
		{{ followup.comment|force_escape|num_to_link|linebreaksbr }}
	{% endif %}
	{% if followup.ticketchange_set.all %}<div class='changes'><ul>
		{% for change in followup.ticketchange_set.all %}
			<li>{% blocktrans with change.field as field and change.old_value as old_value and change.new_value as new_value %}Changed {{ field }} from {{ old_value }} to {{ new_value }}.{% endblocktrans %}</li>
		{% endfor %}
	{% endif %}
	{% for attachment in followup.attachment_set.all %}{% if forloop.first %}<div class='attachments'><ul>{% endif %}
		<li><a class="attachment" href='{{ attachment.file.url }}'>{{ attachment.filename }}</a> ({{ attachment.mime_type }}, {{ attachment.size|filesizeformat }})</li>
		{% if forloop.last %}</ul></div>{% endif %}
	{% endfor %}
</div>
</div>
{% endfor %}
{% endif %}
<hr />
<br/>
<h4>{% trans "Respond to this ticket" %}</h4>

<form method='post' action='{% url 'helpdesk_updatepublicticket' ticket.id %}' enctype='multipart/form-data'>

<fieldset>
    <dl>
        <dt><label for='commentBox'>{% trans "Comment / Resolution" %}</label></dt>
        <dd><textarea rows='8' cols='70' name='comment' id='commentBox'></textarea></dd>
        <dt><label>{% trans "New Status" %}</label></dt>
        {% ifequal ticket.status 1 %}
        <dd><input type='radio' name='new_status' value='1' id='st_open' checked='checked'><label for='st_open' class='active'>{% trans "Open" %}</label> &raquo;
        <input type='radio' name='new_status' value='3' id='st_resolved'><label for='st_resolved'>{% trans "Resolved" %}</label> &raquo;
        <input type='radio' name='new_status' value='4' id='st_closed'><label for='st_closed'>{% trans "Closed" %}</label></dd>
        {% endifequal %}
        {% ifequal ticket.status 2 %}
        <dd><input type='radio' name='new_status' value='2' id='st_reopened' checked='checked'><label for='st_reopened' class='active'>{% trans "Reopened" %}</label> &raquo;
        <input type='radio' name='new_status' value='3' id='st_resolved'><label for='st_resolved'>{% trans "Resolved" %}</label> &raquo;
        <input type='radio' name='new_status' value='4' id='st_closed'><label for='st_closed'>{% trans "Closed" %}</label> </dd>
        {% endifequal %}
        {% ifequal ticket.status 3 %}
        <dd><input type='radio' name='new_status' value='2' id='st_reopened'><label for='st_reopened'>{% trans "Reopened" %}</label> &laquo;
        <input type='radio' name='new_status' value='3' id='st_resolved' checked='checked'><label for='st_resolved' class='active'>{% trans "Resolved" %}</label> &raquo;
        <input type='radio' name='new_status' value='4' id='st_closed'><label for='st_closed'>{% trans "Closed" %}</label></dd>
        {% endifequal %}
        {% ifequal ticket.status 4 %}
        <dd><input type='radio' name='new_status' value='2' id='st_reopened'><label for='st_reopened'>{% trans "Reopened" %}</label> &laquo;
        <input type='radio' name='new_status' value='4' id='st_closed' checked='checked'><label for='st_closed'>{% trans "Closed" %}</label></dd>
        {% endifequal %}
		<input type="hidden" name="public" value="1" checked="checked">
    </dl>


<p id='ShowFileUploadPara'><a class="attachment" href='#' id='ShowFileUpload'>{% trans "Attach File(s) &raquo;" %}</a></p>
<div id='FileUpload' style='display: none;'>
    <dl>
        <dt><label for='id_file'>{% trans "Attach a File" %}</label></dt>
        <dd><input type='file' name='attachment' id='file' /> <span class='AddAnotherFile'>(<a class="attachment" href='#'>{% trans "Add Another File" %}</a>)</span></dd>
    </dl>
</div>
</fieldset>
<div class="submit-row">
<input class="default" type='submit' value="Сохранить" />
</div>
</form>
{% endblock %}
