{% extends 'base_extended.html' %}{% load i18n %}
{% load billservice_tags %}
{% block extra_head %}

	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/action_links.css">
	<link rel="stylesheet" href="{{ MEDIA_URL }}css/forms.css" type="text/css">
    <link rel='stylesheet' href='{{ MEDIA_URL }}css/helpdesk.css' type='text/css' />
<script type="text/javascript">
    $(document).ready(function() {
        $("#ShowFurtherEditOptions").click(function() {
            $("#FurtherEditOptions").fadeIn();
            $("#ShowFurtherOptPara").hide();
            return false;
        });

        processAddFileClick();
        $("#ShowFileUpload").click(function() {
            $("#FileUpload").fadeIn();
            $("#ShowFileUploadPara").hide();
            return false;
        });

     
    });

    function processAddFileClick() {
        /* Until jQuery includes some 'livequery' functionality in the core
           distribution, this will have to do. */
        $(".AddAnotherFile>a").click(function() {
            // Check if there already are empty file inputs, and if true, do nothing
            if ($('input[name=attachment]').filter(
                function(){
                    return $('#FileUpload').css('display') != 'none' && $(this).val() == '';
                    }
            ).length > 0) {
                return false;
            }
            $(this).parent().hide();
            $("#FileUpload>dl").append("<dt><label>{% trans "Attach another File" %}</label></dt><dd><input type='file' name='attachment' id='file' /> <span class='AddAnotherFile'>(<a href='#'>{% trans "Add Another File" %}</a>)</span></dd>");
            processAddFileClick();
            return false;
        });

    }
</script>
{% endblock %}
{% block content %}

<p>{% trans "All fields are required. Please provide as descriptive a title and description as possible." %}</p>

<form method='post' action='./#submit' enctype='multipart/form-data'>
<fieldset>
    <dl>
        {% for field in form %}
            {% if field.is_hidden %}
                {{ field }}
            {% else %}
                <dt><label for='id_{{ field.name }}'>{{ field.label }}</label>{% if not field.field.required %} <span class='form_optional'>{% trans "(Optional)" %}</span>{% endif %}</dt>
                <dd>{{ field }}</dd>
                {% if field.errors %}<dd class='error'>{{ field.errors }}</dd>{% endif %}
                {% if field.help_text %}<dd class='form_help_text'>{{ field.help_text }}</dd>{% endif %}</label>
            {% endif %}
        {% endfor %}
    </dl>
    
    <div class='buttons'>
        <input type='submit' value='{% trans "Submit Ticket" %}' />
    </div>
</fieldset>

</form>
{% endblock %}
