{% extends 'helpdesk_base_extended.html' %}

{% load form_tags %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/jquery-autocomplete/jquery.autocomplete.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-autocomplete/lib/jquery.bgiframe.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-autocomplete/lib/jquery.dimensions.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-autocomplete/jquery.autocomplete.js"></script>

<script language="JavaScript" type="text/javascript" src="{{MEDIA_URL}}js/ajax_load_block.js"></script>
<script language="JavaScript" type="text/javascript" src="{{MEDIA_URL}}js/tickets.js"></script>
<style type="text/css">
	.content_users table tr.user:Hover {
		background:#aaa;
		cursor:crosshair;
	}
</style>
<script>
	function user_filter() {
		wind = window.open('/helpdesk/filter/form/','Поиск','width=1000,height=500,left=200,top=200,resizable');
		wind.focus();
		return false;	
	} 
	
	function SetName(user_name) {
		$("#id_user").attr("value", user_name);
	}
	
</script>
{% endblock %}

{% block content %}

<div class="name_object">
	<span style="margin-left:9px;">
		Параметры
	</span>
</div>
<form method="post">
	<div class="ticket_save_form">
		<table class="info_table" cellpadding="0" cellspacing="0">
			{% for field in form %}
				{% if field.is_hidden %}
					{% form_field field tr  'hidden' %}
				{% else %}
					{% form_field field tr  %}
				{% endif %}
			{% endfor %}
		</table>
		<input type="image" src="{{ MEDIA_URL }}helpdesk_img/save_go_t.png"  name="save_ticket" class="buttons">
		<input type="image" src="{{ MEDIA_URL }}helpdesk_img/save_go_ts.png" name="save_tickets" class="buttons">
	</div>
</form>

<script type="text/javascript">	 
	var select_user=document.getElementById("id_assigned_to");
	
	
	for (var i=0; i<select_user.options.length; i++) {
		if (select_user.options[i].value.substr(0,12)=='systemgroup_') {
			select_user.options[i].setAttribute('class','select_group');
		} else {
			select_user.options[i].setAttribute('class','select_user');
		}
	}
</script>

{% endblock %}