	<table id="table_{{object_name}}_{{object.id}}" cols=10 cellpadding=0 cellspacing=0 width=100%>
		<tr>
			<th>№</th>
			<th>Статус</th>
			<th>Пользователь</th>
			<th>Тема</th>
			<th>Скрытый комментарий</th>
			<th>Кто назначил</th>
			<th>Назначен</th>
			<th>Создан</th>
			<th>В архив</th>
			<th>Удалить</th>
		</tr>
		{% for ticket in object.get_tickets %}
		<tr>
		<td>{{ticket.id}}</td>
		<td>{{ticket.status}}</td>
		<td>{{ticket.created_by}}</td>
		<td>{{ticket.tittle}}</td>
		<td>--</td>
		<td>--</td>
		<td>--</td>
		<td>--</td>
		<td><input type='checkbox'/ name="is_archive"></td>
		<td><input type='checkbox'/  name="is_deleted"></td>
		</tr>
		{% endfor %}
	</table>