{% extends 'base.html' %}

{% if user %}

{% block account_control %}
	{% include 'menu/account_menu.html' %}
{% endblock %}

{% block main_menu %}
<div class="main_menu_bg">
	<div class="content_align">
		{% include 'menu/main_menu.html' %}
	</div>
</div>
{% endblock %}

{% block name %}
	<div class="user">
		<div class="f-right status">{% if status %}<div class="user_is_blocked bold s-11">Вы заблокированы</div>{% endif %}</div>
		<div class="f-left user_name bold">{% if user.fullname %}{{user.fullname}}{% else %}{{user.username}}{% endif %} </div>
	</div>
	<div style="clear:both"></div>
{% endblock %}

{% endif %}


{% block footer %}
{% if operator %}
<div style="clear:both"></div>
<div class="footer_bg">
	<div class="content_align s-11">
		<div class="footer_ebs_site f-right bold"><a href="http://www.expertbilling.ru/">www.expertbilling.ru</a></div>
		<div class="footer operator s-11 bold f-left">
			{% for oper in operator %}
				<div><span class="bold">Информация о провайдере:</span> {{ oper.organization }}, {{ oper.postaddress }}, тел. {{ oper.phone }}, факс {{ oper.fax }}</div>
				<div><span class="bold">E-mail:</span> {{ oper.email }}</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endif %}
{% endblock %}