{% extends 'base.html' %}
{% load i18n %}
{% block logo %}{% endblock %}

{% block base %}
	<table width="100%" class="main-table">
		<tr>
			<td valign="top" width="100px"><a href="http://www.expertbilling.ru/"><img src="{{ MEDIA_URL }}img/logo.gif"></a></td>
			<td class="horizontal-menu">
				<div>
					<a href="/" class="text user-img">{% blocktrans %} Моя учетная запись{% endblocktrans %}</a>
				</div>
				<div>
					<a href="/password/form/?height=400&width=400&modal=true" class="thickbox text password-img">{% blocktrans %}Смена пароля{% endblocktrans %}</a>
				</div>
				<div>
					<a href="/tariff/form/?height=600&width=800&modal=true" class="thickbox text tariff-img">{% blocktrans %}Смена тарифного плана{% endblocktrans %}</a>
				</div>
				<div>
					<a href="/card/form/?height=400&width=400&modal=true" class="thickbox text card-img">{% blocktrans %}Активация карточки{% endblocktrans %}</a>
				</div>
				<div>
					<a href="/accounts/logout/" class="text exit-img">{% blocktrans %}Выход из системы{% endblocktrans %}</a>
				</div>
			</td>
		</tr>
		<tr>
			<td class="vertical-menu for-content" valign="top" rowspan="2">
				<div>
					<a href="/promise/" class="text promise-img">{% blocktrans %}Операции с балансом{% endblocktrans %}</a>
				</div>
				<div>
					<a href="/payment/" class="text payment-img">{% blocktrans %}Пополнить счёт{% endblocktrans %}</a>
				</div>

				<div>
					<a href="/services/" class="text services-img">{% blocktrans %}Подключаемые услуги{% endblocktrans %}</a>
				</div>
				<div>
					<a href="/statistics/" class="text statistic-img">{% blocktrans %}Статистика{% endblocktrans %}</a>
               </div>
                <div>
					<a href="/helpdesk/" class="text helpdesk-img">{% blocktrans %}Служба поддержки{% endblocktrans %}</a>
				</div>
			</td>
			<td valign="top" class="for-content">
				{% block content%}{% endblock %}
			</td>
		</tr>
		<tr>
			<td valign="bottom">
				{% block footer %}
					{% if operator %}
						<div class="footer_bg">
							<div class="s-11">
								<div class="footer operator s-11 bold">
									{% for oper in operator %}
										<div><span class="bold">{% blocktrans %}Информация о провайдере{% endblocktrans %}:</span> {{ oper.organization }}, {{ oper.postaddress }}, тел. {{ oper.phone }}, факс {{ oper.fax }}</div>
										<div><span class="bold">E-mail:</span> {{ oper.email }}</div>
									{% endfor %}
								</div>
								<div class="footer_ebs_site bold"><a href="http://www.expertbilling.ru/">www.expertbilling.ru</a></div>
							</div>
						</div>
					{% endif %}
				{% endblock %}
			</td>
		</tr>
	</table>
{% endblock %}

