<head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <!-- code to include the highcharts and jQuery libraries goes here -->
    <!-- load_charts filter takes a comma-separated list of id's where -->
    <!-- the charts need to be rendered to                             -->
<script  type="text/javascript" >
var chart;
$(document).ready(function() {
    chart = new Highcharts.Chart({
        chart: {
            renderTo: 'container',
            type: 'area'
        },
        title: {
            text: '{{report_name}}'
        },

        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            }
        },
        yAxis: {
            title: {
                text: 'Snow depth (m)'
            },
            min: 0
        },
        tooltip: {
            formatter: function() {
                    return '<b>'+ this.series.name +'</b><br/>'+
                    Highcharts.dateFormat('%e. %b', this.x) +': '+ this.y +' m';
            }
        },
        
        series: [
                 {
                	    name: 'Количество начатых сессий',
                   data: [
                   {% for datetime, count in started_sessions %}
                   [Date.UTC({{datetime.year}},  {{datetime.month}}, {{datetime.day}},{{datetime.hour}},{{datetime.minute}}),  {{count}}   ],
                {% endfor %}
                   ]
                 },
                 {
                     name: 'Количество завершённых сессий',
                data: [
                {% for datetime, count in ended_sessions %}
                [Date.UTC({{datetime.year}},  {{datetime.month}}, {{datetime.day}},{{datetime.hour}},{{datetime.minute}}),  {{count}}   ],
             {% endfor %}
                ]
              },
                 ]
    });
});
</script>    

<script type="text/javascript" src="/media/highcharts/js/highcharts.src.js"></script>    
</head>
<body>

    <div id='container'> Chart will be rendered here </div>
</body>
