{% extends 'base_private.html' %}

{% block extra_head %}
        <script type="text/javascript"> 
        $(document).ready(function() {


        });
        </script>
{% endblock %}
{% load i18n account_menu %}
{% block meta_title %}
    {% block helpdesk_title %}Helpdesk{% endblock %}
{% endblock %}



{% block title %}

{% endblock %}

{% block content %}

    {% block helpdesk_menu %}{% endblock %}
    {% block helpdesk_body %}{% endblock %}
    {% include "helpdesk/debug.html" %}
{% endblock %}
