{% extends "helpdesk_base.html" %}
{% load helpdesk_tags %}

{% block extra_head %}
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/jquery-ui-1.7.2.custom.css" />
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/auroramenu.css" />

<script type="text/javascript" src = "{{MEDIA_URL}}js/jquery.js"></script>
<script language="JavaScript" type="text/javascript" src="{{MEDIA_URL}}js/jquery-cookie.js"></script>
<script language="JavaScript" type="text/javascript" src="{{MEDIA_URL}}js/auroramenu.js"></script>
<script language="JavaScript" type="text/javascript" src="{{MEDIA_URL}}js/json2.js"></script>
<script language="JavaScript" type="text/javascript" src="{{MEDIA_URL}}js/jquery.timers.js"></script>
<script language="JavaScript" type="text/javascript" src="{{MEDIA_URL}}js/ajax_load_block.js"></script>
<script>

	
function show_tickets(sender, table_id)
{
	var val = jQuery(sender).find('option:selected').val()
	var table = jQuery(table_id)
	table.find('tr').hide().slice(0,parseInt(val)+1).show()
	
}

function load_data(sender)
{
			var obj_list = jQuery(sender).attr('name').split("_")
			var object = obj_list[0]
			var object_id = obj_list[1]
			var content = jQuery(sender).children("div.content_tickets")
			ajax_load_block(content,"/helpdesk/ajax/load/table/tickets/",
								  {"object":object, 'object_id':object_id},
								  {"is_loader":true}, 
								  {"success":function(data){
								  	content.html(data)
									update_table(sender)
									show_tickets( jQuery(sender).find("select[name=count_in_page]"),  jQuery(sender).find(".content_tickets table"))
								  }})
}
function show_table(sender, is_hide)
{
	if (is_hide){
		load_data(sender)
	}
	else{		
		sender.stopTime(jQuery(sender).attr('name'))
	}
}
function update_table(sender){
	var sender = jQuery(sender)
	var name = sender.attr('name')
	var minuts =parseInt(sender.children('div').children('select[name="time"]').val())*60
	sender.oneTime(minuts+"s",name,function(){
				load_data(sender)

			})
}
jQuery(document).ready(function(){
		jQuery(".auroramenu a").bind('click',function(){
			
			var sender = jQuery(this)
			var is_hide = sender.next().is(":visible")
			console.info(is_hide)
			show_table(sender.next(), is_hide)
		})
		
		jQuery(".auroramenu div.tickets:visible").each(function(){
				load_data(this)
			})
			
	})


</script>
{% endblock %}

{% block content %}
	
{% for departament in departaments %}
<div id="menu" class="auroramenu">
<a href="#" onclick="show_table(this);">{{departament.name}}</a>
<div id="ul_departament_{{departament.id}}" name="departament_{{departament.id}}" class="tickets">
	{% pannel_ticket_table 'SystemGroup' departament.id %}
</div>
</div>

{% for user in departament.get_users %}
<div id="menu2" class="auroramenu">
<a href="#" onclick="show_table(this);">{{user.username}}</a>
<div id="ul_user_{{user.id}}" name="user_{{user.id}}"  class="tickets">
		{% pannel_ticket_table 'SystemUser' departament.id %}
</div>
</div>
{% endfor %}

{% endfor %}

{% endblock %}