{% extends "helpdesk_base_extended.html" %}

{% block extra_head %}

<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}css/jquery-ui-1.7.2.custom.css" />
<script language="JavaScript" type="text/javascript" src="{{MEDIA_URL}}js/jquery-ui-1.7.2.custom.min.js"></script>
<script language="JavaScript" type="text/javascript" src="{{MEDIA_URL}}js/json2.js"></script>
<script>
	
	jQuery(document).ready(function(){
		var res = []
		var change_ticket = {}
		jQuery("ul[name='departament'], ul[name='user'], ul[name='no_assigned']").sortable({
			connectWith: '.board',
			items: 'li:not(.ui-state-disabled)',
			receive:function(e, ui){
				change_ticket = {id:jQuery(ui.item).attr('id'),
									   					  object:jQuery(this).attr('name'),
									   					  object_id:jQuery(this).attr('id')}	
		/*
				var is_update =false
						for (i=0; i<res.length; i++)
						{
							if (res[i].id==change_ticket.id)
							{
								is_update=true
								res[i]=change_ticket
							}
						}
						if (!is_update)
						{
							is_update =false
							res = jQuery.merge(res,[change_ticket])
						}		   
				
				jQuery('input[name="tickets"]').attr('value',JSON.stringify(res))
*/
				jQuery(ui.item).css('border-color','red')
				jQuery.ajax({
					url:"/helpdesk/ajax/update/owner/tickets/",
					data:change_ticket,
					success:function(data){
						
					}
					
				})
			}
		})
	})
	
</script>
{% endblock %}

{% block content %}
<form method="post">
{% for departament in departaments %}

<div id="{{departament.id}}">
	<div class="departament">{{departament.name}}</div>
	<ul class="tickets board content ui-sortable ui-widget-content" id="{{departament.id}}" name="departament">
		<li class="ui-state-disabled">
		</li>
		{% for ticket in departament.get_tickets %}
		<li id="{{ticket.id}}">
			<a href="">{{ ticket.subject }}</a>
		</li>
		{% endfor %}
	</ul>
	{% for user in departament.get_users %}
		<div class="user"> {{ user }}</div>
		<ul  class="tickets board content ui-sortable ui-widget-content" id="{{user.id}}" name="user">
			<li class="ui-state-disabled">
			</li>
			{% for ticket in user.get_tickets %}
			<li id="{{ticket.id}}">
				<a href ="">{{ticket.subject}}</a>
			</li>
			{% endfor %}
		</ul>
	{% endfor %}
	
</div>
{% endfor %}
<div>Неназначенные тикеты</div>
<ul  class="tickets board content ui-sortable ui-widget-content" id="{{user.id}}" name="no_assigned">
	<li class="ui-state-disabled">
	</li>
{% for ticket in tickets %}
			<li id="{{ticket.id}}">
				<a href ="">{{ticket.subject}}</a>
			</li>

{% endfor %}
</ul>
<input type="hidden" name="tickets" value="">
</form>

{% endblock %}