{% extends "helpdesk/base.html" %}{% load i18n %}
{% load billservice_tags %}
{% load crispy_forms_tags %}
{% block helpdesk_title %}{% trans "View Ticket Details" %}{% endblock %}
{% block extra_head %}
{{block.super}}
<script type="text/javascript">
    $(document).ready(function() {
  

    $(".btn_followup_add").click(function(event) {
        $('<div/>').dialog2({
            title: "{% blocktrans %}Добавить комментарий{% endblocktrans %}", 
            content: this.href, 
            id: "server-notice"
        });
        
        event.preventDefault(event);
    });
    
    $(".reassign_dialog").click(function(event) {
        $('<div/>').dialog2({
            title: "{% blocktrans %}Перевести задачу{% endblocktrans %}", 
            content: this.href, 
            id: "server-notice"
        });
        
        event.preventDefault(event);
    });
    
    
    function processAddFileClick() {
        /* Until jQuery includes some 'livequery' functionality in the core
           distribution, this will have to do. */
        $(".AddAnotherFile>a").click(function() {
            // Check if there already are empty file inputs, and if true, do nothing
            if ($('input[name=attachment]').filter(
                function(){
                    return $('#FileUpload').css('display') != 'none' && $(this).val() == '';
                    }
            ).length > 0) {
                return false;
            }
            $(this).parent().hide();
            $("#FileUpload>dl").append("<dt><label>{% trans "Attach another File" %}</label></dt><dd><input type='file' name='attachment' id='file' /> <span class='AddAnotherFile'>(<a href='#'>{% trans "Add Another File" %}</a>)</span></dd>");
            processAddFileClick();
            return false;
        });

    }
    });
</script>
{% endblock %}

{% block helpdesk_body %}
<h2>[{{ticket.queue.slug}}] {{ ticket.id }}. {{ ticket.title }} [{{ ticket.get_status }}]</h2>
<div class="navbar navbar-googlenav">
  <div class="navbar-inner">
    <div class="btn-toolbar">
    
    {% if request.user.username != ticket.assigned_to.username %}
        <div class="btn-group">
        
        <a href='{% url 'ticket_assign' %}?ticket_id={{ticket.id}}&systemuser_id={{request.user.account.id}}' class='btn reassign_dialog' ><i class='cus-accept'></i>&nbsp;{% trans "Take" %}</a>
        
      </div>
      {% endif %}
        <div class="btn-group">

        <a href='{% url 'ticket_assign' %}?ticket_id={{ticket.id}}' class='btn reassign_dialog' ><i class=' cus-arrow-right'></i>&nbsp;{% trans "Перевести" %}</a>

      </div>
      <div class="btn-group">
        <a  href='{% url 'helpdesk_submit' %}?id={{ticket.id}}' class='btn'><i class='icon-edit'></i>&nbsp;Изменить</a>
      </div>

 
      <div class="btn-group">
    {% if ticket.on_hold %}
        <a href='unhold/' class='btn btn-warning'><i class='cus-lock-delete'></i>&nbsp;{% trans "Unhold" %}</a>
    {% else %}
        <a  href='hold/'  class='btn btn-warning'><i class='cus-lock-open'></i>&nbsp;{% trans "Hold" %}</a>
    {% endif %}
      </div>
 
    <div class="btn-group">
    <a href='{% url 'followup_edit' %}?ticket_id={{ticket.id}}&followup_type=comment' class="btn btn_followup_add"><i class='cus-comments-add'></i>&nbsp;{% blocktrans %}Комментарий{% endblocktrans %}</a>
    </div>
    
      <div class="btn-group">
        <a  href='{% url 'followup_edit' %}?ticket_id={{ticket.id}}&followup_type=files' class='btn btn_followup_add'><i class='cus-attach'></i>&nbsp;Прикрепить файл</a>
      </div>
      {% if ticket.status == 1 or ticket.status == 2 %}
      <div class="btn-group">
        <a  href='{% url 'followup_edit' %}?ticket_id={{ticket.id}}&followup_type=new_status' class='btn btn_followup_add'><i class='cus-cross'></i>&nbsp;Закрыть заявку</a>
      </div>
       {% endif %}
       {% if ticket.status == 3 or ticket.status == 4 %}
      <div class="btn-group">
        <a  href='{% url 'followup_edit' %}?ticket_id={{ticket.id}}&followup_type=new_status&new_status=2' class='btn btn_followup_add'><i class='cus-arrow-redo'></i>&nbsp;Переоткрыть заявку</a>
      </div>
      {% endif %}
      <div class="btn-group pull-right">
        <a  href='{% url 'helpdesk_delete' ticket.id %}' class='btn btn-danger'>Удалить</a>
      </div>
 
  </div>
</div>
</div>
<table   class="table">

<tr>
	<td><strong>{% trans "Queue" %}</strong></td>
	<td>{% blocktrans with ticket.queue as queue %}{{ queue }}{% endblocktrans %}</td>
</tr>

<tr>
    <td><strong>{% trans "Submitted On" %}</strong></td>
    <td>{{ ticket.created|date:"r" }} ({{ ticket.created|timesince }} {% trans 'ago' %})</td>
</tr>

<tr class='row_even'>
    <td><strong>{% trans "Owner" %}</strong></td>
    <td>
      {{ ticket.owner|default:'' }}
    </td>
</tr>
<tr class='row_even'>
    <td><strong>{% trans "Аккаунт" %}</strong></td>
    <td>
       {% if ticket.account %}
      <a href='{{ticket.account.get_absolute_url}}'>{{ ticket.account|default:'' }}</a>
      {% else %}
      Не указан
      {% endif %}
    </td>
</tr>
<tr>
    <td><strong>{% trans "Assigned To" %}</strong></td>
    <td class="left_border {{ 3|coll_bg  }} ">
      {{ticket.assigned_to|default:''}}
 

      {% comment%}{% endifequal %}{% endcomment%}
    </td>
</tr>

<tr>
    <td><strong>{% trans "Priority" %}</strong></td>
    <td>{{ ticket.render_priority }}</td>
</tr>
<tr>
    <td><strong>{% trans "Status" %}</strong></td>
    <td>{{ ticket.get_status_display }}</td>
</tr>
<tr class='row_odd'>
    <td><strong>Отправлять копии</strong></td>
    <td>{% for ticketcc in ticket.ticketcc_set.all %}
        {{ ticketcc.display }}{% if not forloop.last %}, {% endif %}
         {% endfor %}
         <strong><a class="change_link" href='{% url 'helpdesk_ticket_cc' ticket.id %}'>Настроить</a></strong>
    </td>
</tr>

{% if tags_enabled %}
<tr class='row_even'>
    <td><strong>{% trans "Tags" %}</strong></td>
    <td>{{ ticket.tags }}</td>
</tr>
{% endif %}

<tr class='row_even'>
<tr class='row_{% if tags_enabled %}odd{% else %}even{% endif %}'>
    <th colspan='2'><strong>{% trans "Description" %}</strong></th>
</tr>
<tr class='row_{% if tags_enabled %}even{% else %}odd{% endif %}'>
    <td colspan='2'>{{ ticket.description|force_escape|linebreaksbr }}</td>
</tr>

{% if ticket.resolution %}<tr class='row_{% if tags_enabled %}odd{% else %}even{% endif %}'>
    <th colspan='2'>{% trans "Resolution" %}{% ifequal ticket.get_status_display "Resolved" %} <a href='?close'><img src='{{ MEDIA_URL }}helpdesk/buttons/accept.png' alt='{% trans "Accept" %}' title='{% trans "Accept and Close" %}' width='60' height='15' /></a>{% endifequal %}</th>
</tr>
<tr class='row_{% if tags_enabled %}even{% else %}odd{% endif %}'>
    <td colspan='2'>{{ ticket.resolution|force_escape }}</td>
</tr>{% endif %}

</table>

{% if ticket.followup_set.all %}
<h2>{% blocktrans %}История{% endblocktrans %}</h2>
{% load ticket_to_link %}



<div class="media">

 
    

  

{% for followup in ticket.followup_set.all %}
<div class="media-body ">
  <h4 class="media-heading"><strong>{{ followup.title }}</strong>, {% if followup.new_status %}{{ followup.get_new_status_display }}{% endif %}</h4>


<div class='well'>
  <span class="event-date">{{ followup.date|date:"d.m.Y H:i" }}</span>
	
	{% if not followup.public %}
	    <span class='private'>({% trans "Private" %})</span>
	    {% endif %}

	 {% if followup.comment %}{{ followup.comment|force_escape|num_to_link|linebreaksbr }}{% endif %}
  {% for change in followup.ticketchange_set.all %}
  
  <div class='changes'>
  <div>{% blocktrans with change.field as field and change.old_value as old_value and change.new_value as new_value %}Changed {{ field }} from {{ old_value }} to {{ new_value }}.{% endblocktrans %}</div>
  </div>
  {% endfor %}

  
  {% for attachment in followup.attachment_set.all %}

  <div class='attachments'>

  <a href='{{ attachment.file.url }}'>{{ attachment.filename }}</a> ({{ attachment.mime_type }}, {{ attachment.size|filesizeformat }})
  </div>
  
  
  {% endfor %}

</div>
</div>
{% endfor %}


{% endif %}
</div>
<a href='{% url 'followup_edit' %}?ticket_id={{ticket.id}}&followup_type=comment' class="btn btn_followup_add"><i class='cus-comments-add'></i>&nbsp;{% blocktrans %}Комментарий{% endblocktrans %}</a>



{% endblock %}
