{% load custom_filters %}
{% load billservice_tags %}
<tr>
	<td class="{{ iter_nom|coll_bg  }} {% if last %}no_border{% endif %}">{{ trafficlimit.name }}</td>
   	<td class="left_border {{ iter_nom|coll_bg  }} {% if last %}no_border{% endif %}">{{ settlement_period_start|date_with_offset:"%d.%m.%Y  %m:%H"  }}</td>
   	<td class="left_border {{ iter_nom|coll_bg  }} {% if last %}no_border{% endif %}">{{ settlement_period_end|date_with_offset:"%d.%m.%Y  %m:%H"  }}</td>
   	<td class="left_border {{ iter_nom|coll_bg  }} {% if last %}no_border{% endif %}" align="right">{{ summ }} мБ</td>
   	<td class="left_border {{ iter_nom|coll_bg  }} {% if last %}no_border{% endif %}" align="right">{{ stay }} мБ</td>
</tr>