{% extends "ebsadmin/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load ebsadmin_tags %}

{% block base %}
  <div class="span12">
    <div class="row-fluid">
      <ul class="breadcrumb">
        <li>
          <a href="{{ list_url }}">
            {{ list_label }}
          </a> <span class="divider">/</span>
        </li>
        <li class="active">{{ form.name.value }}</li>
      </ul>

      <form method="POST" action="{{ form_action_url }}?id={{item.id}}"class="well form-horizontal form-condensed ">
        <legend>
          {{ form_legend }}
          {% objectlog item %}
        </legend>
        <fieldset>
          {{form|crispy}}
        </fieldset>
        <fieldset>
          <div class="form-actions form-actions-center">
            <button class="btn btn-primary" type="submit">
              {% blocktrans %}Сохранить{% endblocktrans %}
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}