{% load i18n %}
{% load ebsadmin_tags %}
{% load crispy_forms_tags %}

{% block base %}
  {% if not status %}
    {% include "ebsadmin/common/error_messages.html" %}
    
    {% if form %}
      <form action='{% url 'comment_edit' %}?id={{item.id}}' method="POST" class="well form-horizontal ajax form-condensed ">
        <fieldset>
          {{form|crispy}}             
        </fieldset>
        <div class="form-actions">
          <input type='submit' class="btn btn-primary" value="{% blocktrans %}Сохранить{% endblocktrans %}">
          <a class="btn close-dialog" href="#">{% blocktrans %}Close{% endblocktrans %}</a>
        </div>
      </form>
    {% endif %}
  {% else %}
    {% include "ebsadmin/common/succ_operation.html" %}
  {% endif %}
{% endblock %}