{% extends "ebsadmin/base.html" %}

{% load i18n %}
{% load ebsadmin_tags %}
{% load crispy_forms_tags %}

{% block extra_head %}
  {% include "ebsadmin/common/show_def_tab.html" %}
{% endblock %}

{% block base %}
  <ul class="nav nav-tabs" id="tab-control">
    <li ><a href="#filter">{% blocktrans %}Фильтр{% endblocktrans %}</a></li>
    <li><a href="#result">{% blocktrans %}Отчёт{% endblocktrans %}</a></li>  
  </ul>

  {% load render_table from django_tables2 %}
  <div class="tab-content">
    <div class="tab-pane" id="filter">
      <div class="row-fluid">
        <div class="span12">
          <form action="{{form.action}}" method="GET" class="well form-horizontal form-condensed ">
            {{ form.non_field_errors }}
            <fieldset>
              <legend>{% blocktrans %}Занятые IP адреса из пулов{% endblocktrans %}</legend>
              {{form|crispy}}
            </fieldset>
            <fieldset>
              <div class="form-actions form-actions-center">
                <button class="btn btn-primary" type="submit">{% blocktrans %}Подобрать результаты{% endblocktrans %}</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="result">{% if table %}{% render_table table %}{% endif %}</div>
  </div>
{% endblock %}