{% extends "ebsadmin/tariff_edit.html" %}

{% load i18n %}
{% load ebsadmin_tags %}
{% load render_table from django_tables2 %}

{% block extra_head %}
  {{block.super}}
{% endblock %}

{% block tariff_content %}
  <legend>{% blocktrans %}Подключаемые услуги{% endblocktrans %}</legend>

  <div class="alert alert-info">
    {% blocktrans %}Здесь перечислены подключаемые услуги, доступные для самостоятельной активации аккаунтами через личный кабинет.{% endblocktrans %}
  </div>
  <fieldset>
    {% if table %}{% render_table table %}{% endif %}
    <div class="btn-toolbar">
      <a href="{% url 'tariff_addonservicetariff_edit' %}?tariff_id={{tariff.id}}" 
          class="btn btn-success general-modal-dialog"
          data-dlgtitle="{% blocktrans %}Добавить правило активации подключаемой услуги{% endblocktrans %}"
          data-dlgid="ps-modal">
        {% blocktrans %}Добавить{% endblocktrans %}
      </a>
    </div>
  </fieldset>
{% endblock %}