{% extends "ebsadmin/base.html" %}

{% load ebsadmin_tags %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load static %}


{% block extra_head %}
  <script type="text/javascript" src="{% static 'jquery/js/jquery.inplacerowedit.js' %}"></script>

  <script type="text/javascript">
    $(document).ready(function() {

      $("#id_btn_add").click(function(event) {
        $('<div />').dialog2({
          title: "{% blocktrans %}Добавить направление{% endblocktrans %}",
          content: "{% url 'trafficnode' %}?traffic_class={{item.id}}",
          id: "accountaddonservicer-modal"
        });

        event.preventDefault(event);
      });

      $(".open-custom-dialog").click(function(event) {
        $('<div />').dialog2({
          title: "{% blocktrans %}Изменить направление{% endblocktrans %}",
          content: this.href,
          id: "accountaddonservicer-modal"
        });

        event.preventDefault(event);
      });

      $("#id_main_table th input[type=checkbox]").click(function(event) {
        $("#id_main_table td input[type=checkbox]").attr("checked", this.checked);
      });

      $("#id_btn_delete").click(function(event) {
        a=$(this);
        $.fn.dialog2.helpers.confirm("{% blocktrans %}Вы действительно хотите удалить?{% endblocktrans %}", {
          confirm: function() {
            values = jQuery("#id_main_table input[type=checkbox]").serializeArray();

            $.getJSON('{% url 'trafficnode_delete' %}',values,function(data,status){
              if( status=='success' ){
                if(data.status==true)
                {
                  location.reload();
                }else{
                  alert(data.message)
                }
              }else{
                alert('{% blocktrans %}Произошла непредвиденная ошибка{% endblocktrans %}')
              }
            })
          },
          decline: function() {  }
        });

        event.preventDefault(event);
      });
    });
  </script>
{% endblock %}

{% block base %}
  <div class="row-fluid">
    <div>
      <ul class="breadcrumb">
        <li>
          <a href="{% url 'trafficclass' %}">
            {% blocktrans %}Классы трафика{% endblocktrans %}
          </a> <span class="divider">/</span>
          <a href="{% url 'trafficnode_list' %}?id={{item.id}}">{{item.name}}</a>
        </li>
      </ul>
    </div>

    <div class="btn-toolbar pull-right">
      <a href="{% url 'trafficclass_upload' %}?traffic_class={{item.id}}" class="btn btn-info">
        {% blocktrans %}Загрузить из файла{% endblocktrans %}
      </a>&nbsp;
      <a href="#" class="btn btn-success" id='id_btn_add'>
        {% blocktrans %}Добавить{% endblocktrans %}
      </a>&nbsp;
      <a href="#" id="id_btn_delete" class="btn btn-danger">
        {% blocktrans %}Удалить{% endblocktrans %}
      </a>
    </div>

    <div>
      {% if table %}
      {% render_table table %}
      {% endif %}
    </div>
  </div>
{% endblock %}
