{% extends 'ebsadmin/base.html' %}
{% load account_menu %}



{% block base %}
{% block login %}
    {% if request.user.is_staff %}
        {% staff_menu %}
    {% else %}
        {% account_menu %}
    {% endif %}
{% endblock %}
{{ block.super }}
    <div id="main">

     {% block notifications %}
        {% if request.notifications %}
        <ul>
        {% for message in request.notifications %}
        <li class="{% if message.tags %}{{ message.tags }}{% else %}information{% endif %}">
        {{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
      {% endblock %}
        <div id="main-content" class="clear">
            <h1>{% block title %}{% endblock %}</h1>
            {% block content %}{% endblock %}
        </div> <!-- /main content -->
    </div> <!-- /main -->
    <div id="sbar">
        <!-- EXTRA TASKS -->
        {% block side_bar %}{% endblock %}
    </div>
{% endblock %}s
