{% extends "helpdesk_base.html" %}

{% block main_menu %}
<ul class="main_menu"> 
<li>
	<a href="">
		<img src="{{MEDIA_URL}}img/all_tickets.gif" /><br/>
	  	Все тикеты
	 </a>
</li> 
<li>
	<a href="/helpdesk/tickets/">
		<img src="{{MEDIA_URL}}img/users_and_groups.gif" /><br/>
	  	Пользователи и группы
	 </a>
</li>
<li>
	<a href="">
		<img src="{{MEDIA_URL}}img/reports.gif" /><br/>
	  	Отчеты
	 </a>
</li>
<li>
	<a href="/helpdesk/user/system/settings/{{ user.id }}/">
		<img src="{{MEDIA_URL}}img/settings.gif" /><br/>
	  	Настройки
	 </a>
</li>
<li>
	<a href="">
		<img src="{{MEDIA_URL}}img/warning.gif" /><br/>
	  	Обратить внимание
	 </a>
</li>
<li>
	<a href="">
		<img src="{{MEDIA_URL}}img/exit2.gif" /><br/>
	  	Обратить внимание
	 </a>
</li>
<li>
	<a href="/helpdesk/logout/">Выход</a>
</li>
<li>
	<a href="/helpdesk/ticket/add/">Добавить тикет</a>
</li>
</ul>
{% endblock %}