@charset "utf-8";
/* CSS Document */

ul.auroramenu li{
position:relative;
}

.aurorahide{
position:absolute;
right:12px;
top:6px;
display:none;
width:17px;
height:17px;
background-image:url('icons/aurora_minus_icon.gif');
}
.aurorashow{
position:absolute;
right:12px;
top:6px;
display:none;
width:17px;
height:17px;
background-image:url('icons/aurora_plus_icon.gif');
}