<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>EBS::Кабинет пользователя::{% block title %}{% endblock %}</title>
{% block context_extra %}
<meta http-equiv="content-type" content="text/html; charset=utf-8">
{% endblock %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
<link rel="stylesheet" href="{{ MEDIA_URL }}css/opera.css" type="opera.css" media="screen" />

{% block extra_head %}
{% endblock %}

</head>

<body>

<div class="content_align wrapper">
	{% block login %}
	{% endblock %}
	 <div id="content-clear"></div>
</div>
{% block content %}
{% endblock %}
</body>
</html>