<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>EBS::Кабинет пользователя::{% block title %}{% endblock %}</title>

<meta http-equiv="content-type" content="text/html; charset=utf-8">
<script language="javascript" type="text/javascript" src="/media/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="/media/js/jquery-ui-1.7.2.custom.min.js"></script>
<link type="text/css" href="/media/css/helpdesk.css" rel="stylesheet">
<link type="text/css" href="/media/css/jquery-ui-1.7.2.custom.css" rel="stylesheet">
<link type="text/css" href="/media/css/action_links.css" rel="stylesheet">
<link type="text/css" href="/media/css/new_design.css" rel="stylesheet">
<link type="text/css" href="/media/css/layout.css" rel="stylesheet">
<link type="text/css" href="/media/css/forms.css" rel="stylesheet">
<link type="text/css" href="/media/css/private_area_layout.css" rel="stylesheet">
<link title="My Open Tickets" type="application/rss+xml" href="/rss/user/demo/" rel="alternate">
<link title="All Recent Activity" type="application/rss+xml" href="/rss/recent_activity/" rel="alternate">
<link title="Unassigned Tickets" type="application/rss+xml" href="/rss/unassigned/" rel="alternate">


{% block helpdesk_head %}
{%endblock%}
</head>

<body>

<div class="helpdesk_content_align wrapper">
	{% block logo %}
		<div class="logo"><img src="{{ MEDIA_URL }}img/logo.gif"></div><br><br>
	{% endblock %}
	{% block login %}
	{% endblock %}
	{% block base %}
	{% endblock%}
	 <div id="content-clear"></div>
</div>
</body>
</html>
