<fieldset style="border:none;">
  {% if empty %}
    Nothing here.
{% else %}
  <label for="{{select_all_id}}">
    <input id="{{select_all_id}}" name="{{select_all_name}}" {% if all_selected %}checked="on"{% endif %} type="checkbox" class="checkall"> Выбрать все
  </label>
{% endif %}
{{original_widget}}

</fieldset>
<script type="text/javascript">
$(document).ready(function() {
    if (typeof(document.__check_all_ready)=="undefined") {
        $('.checkall').click(function () {
            $(this).parents('fieldset:eq(0)').find(':checkbox').attr('checked', this.checked);
        });
        document.__check_all_ready = 1;   
    }
});
</script>
