BeautifulSoup==3.2.1
DateUtils==0.5.2
Django==1.4.3
IPy==0.75
Mako==0.7.3
MarkupSafe==0.15
Twisted==12.2.0
amqplib==1.0.2
anyjson==0.3.3
argparse==1.2.1
billiard==2.7.3.18
celery==3.0.12
distribute==0.6.24
django-crispy-forms==1.2.0
ipaddr==2.1.10
kombu==2.4.10
paramiko==1.9.0
psycopg2==2.4.5
pyExcelerator==0.6.4.1
pycrypto==2.6
pyrad==2.0
python-dateutil==1.5
pytils==0.2.3
pytz
simplejson==2.6.2
six==1.2.0
wsgiref==0.1.2
zope.interface==4.0.2
django-tables2-reports==0.0.3
SQLAlchemy
django-jsonfield==0.8.12
cdecimal