{% extends "cassa/base.html" %}
 {% load render_table from django_tables2 %}
{% block extra_head %}
          <script type="text/javascript"> 
        $(document).ready(function() {
            $(".show-confirm").click(function() {
                a=$(this);
                $.fn.dialog2.helpers.confirm("Удалить?", {
                    confirm: function() {
                        $.getJSON(a.attr('href'),{},function(data,status){
                            if( status=='success' ){
                                if(data.status==true)
                                    {
                                    location.reload();
                                    }else{
                                        alert(data.message)
                                    }
                                
                            }else{
                                alert('Произошла непредвиденная ошибка')
                            }

                        })                      
                        }, 
                    decline: function() {  }
                });

                event.preventDefault();
            });
            //$("#id_main_table").selectable({filter:'tbody tr'});
            $("#id_main_table tbody").css('cursor', 'pointer');
            $("#id_main_table tbody tr").click(function(){
            	
                $(this).find('input').attr('checked', true);
                $("#id_main_table tbody tr").attr('class', '');
                $(this).closest('tr').attr('class', 'ui-selected');
                //$(this).find('input').cl4ck();
                //$(this).closest('tr').attr('class', 'ui-selected');
            })
            $("#id_main_table tbody input[type=radio]").click(function(){
            	$("#id_main_table tbody tr").attr('class', '');
            	$(this).closest('tr').attr('class', 'ui-selected');
            })
        });
        </script>
<style type="text/css">
.ui-selecting, .ui-selected { background: #88BCFF }  
.plate { background-color:#505050; height:100px;width:200px;color:white; }

</style>

{% endblock %}
{% block body %}
  <div class="row-fluid">
  
<div class="btn-toolbar">
  <div class="btn-group">
    <button class="btn btn-primary">Пополнить баланс</button>
  </div>
  <div class="btn-group">
    <button class="btn btn-success">Сменить тарифный план</button>
  </div>
  <div class="btn-group">
    <button class="btn btn-info">Остаток предоплаченного трафика</button>
  </div>
  <div class="btn-group">
    <button class="btn btn-info">Операции с балансом</button>
  </div>
  
</div>

<div>
  {% if table %}{% render_table table %}{% endif %}
</div>
    </div>
  

 {% endblock %}

