{% load static %}


<html>
<body>
<center><img src="{% static 'img/header.png' %}"></center>
<div>Графики утилизации {{ nas.name }} </div>
<table>
<tr>
<td>Утилизация канала</td><td>Сессии</td>
</tr>
{% for interval, bytes_graph, packets_graph, sessions_graph in filenames %}
<tr>
<td><img src="/media/statistics/nasses/{{ bytes_graph }}"></td><td rowspan=2 valign=top><img src="/media/statistics/nasses/{{ sessions_graph }}"></td>
</tr>
<tr>
<td><img src="/media/statistics/nasses/{{ packets_graph }}"></td>
</tr>
{% endfor %}
</table>
</body>
</html>
