{% if item %}
{% load render_table from django_tables2 %}
{% load i18n %}
 <script type="text/javascript"> 
 $(document).ready(function() {
     $("#modal-{{item.id}}-{{content_type_id}}").click(function(event) {
    	 a=$(this);
         $('<div/>').dialog2({
             title: "{% blocktrans %}Редактировать комментарий{% endblocktrans %}", 
             content: a.attr('href'), 
         });

         event.preventDefault(event);
     });
     
     $(".open-log-custom-dialog").click(function(event) {
         $('<div />').dialog2({
             title: "{% blocktrans %}Изменить запись{% endblocktrans %}", 
             content: this.href, 
         });

         event.preventDefault(event);
     });
 });
 </script>

             
<div>
<div>
{% render_table table %}
</div>
<div>
<a href="{% url comment_edit %}?object_id={{item.id}}&content_type={{content_type_id}}" class="btn btn-success align-right" id='modal-{{item.id}}-{{content_type_id}}'>Добавить</a>
</div>
{% endif %}