body {
    font: normal 12px helvetica,arial,verdana,tahoma,sans-serif;
}
html, body {
    margin:0;
    padding:0;
    border:0 none;
    overflow:hidden;
    height:100%;
    width:100%;
}
#class .loading-indicator{
	font-size:12px;
	height:18px;
}


#loading-mask{
	position:absolute;
	left:0;
	top:0;
    width:100%;
    height:100%;
    z-index:20000;
    background-color:white;
}
#loading{
	position:absolute;
	left:45%;
	top:40%;
	padding:2px;
	z-index:20001;
    height:auto;
}
#loading img {
    margin-bottom:5px;
}
#loading .loading-indicator{
	background:white;
	color:#555;
	font:bold 13px helvetica,arial,tahoma,sans-serif;
	padding:10px;
	margin:0;
    text-align:center;
    height:auto;
}


.add16{

    background: url(../../icons/16/new/bug.png) no-repeat;
}
.add{

    background: url(/media/img/reports.gif) no-repeat;
}
.icon-user {
    background-image: url(/media/icons/16/new/user.png) !important;
}

.icon-user-add {
    background-image: url(/media/icons/16/new/user_add.png) !important;
}

.icon-user-edit {
    background-image: url(/media/icons/16/new/user_edit.png) !important;
}
.icon-save {
    background-image: url(/media/icons/16/new/save.png) !important;
}

.icon-reset {
    background-image: url(/media/icons/16/new/stop.png) !important;
}

.icon-grid {
    background-image: url(/media/icons/16/new/grid.png) !important;
}

.icon-add {
    background-image: url(/media/icons/16/new/add.png) no-repeat center !important;
}

.icon-delete {
    background-image: url(/media/icons/16/new/delete.png) no-repeat center !important;
}
.icon-user-delete {
    background-image: url(/media/icons/16/new/delete.png) !important;
}

.icon-user-close {
    background-image: url(/media/icons/16/cancel.png) !important;
}
.icon-user-radauths {
    background-image: url(/media/icons/16/new/key.png) !important;
}
.icon-user-monitor {
    background-image: url(/media/icons/16/new/monitor.png) !important;
}
.icon-user-money {
    background-image: url(/media/icons/16/new/money.png) !important;
}
.icon-user-trafinfo {
    background-image: url(/media/icons/16/new/folder_explore.png) !important;
}
.icon-moneyadd {
    background-image: url(/media/icons/16/new/money_add.png) !important;
}
.icon-user-active {
    background: url(/media/icons/16/new/user_green.png) no-repeat;
    text-indent: 13px;   
}
.icon-user-inactive {
    background: url(/media/icons/16/new/user_gray.png) no-repeat;
    text-indent: 13px;    
}
.icon-user {
    background: url(/media/icons/16/new/user.png) no-repeat;
    text-indent: 13px;  
}
.icon-user-red {
    background: url(/media/icons/16/new/user_red.png) no-repeat;
    text-indent: 13px;    
}
.x-action-col-cell img.enable-col {
            height: 16px;
            width: 16px;
            background-image: url(/media/icons/16/new/add.png);
        }


.x-action-col-cell img.disable-col {
    height: 16px;
    width: 16px;
    background-image: url(/media/icons/16/new/delete.png);
}

/*
    These are examples of styles for the button icons
*/
.x-edit-wordpaste {background: url(../images/document-word-text.png) 0 0 no-repeat !important;}
.x-edit-table {background: url(../images/table.png) 0 0 no-repeat !important;}
.x-edit-hr {background: url(../images/edit-rule.png) 0 0 no-repeat !important;}
.x-edit-indent {background: url(../images/edit-indent.png) 0 0 no-repeat !important;}
.x-edit-char {background: url(../images/edit-char.png) 0 0 no-repeat !important;}
.x-edit-outdent {background: url(../images/edit-outdent.png) 0 0 no-repeat !important;}
.x-edit-subscript {background: url(../images/text_sub.png) 0 0 no-repeat !important;}
.x-edit-superscript {background: url(../images/text_super.png) 0 0 no-repeat !important;}
.x-edit-removeFormat {background: url(../images/exclamation.png) 0 0 no-repeat !important;}

/*
    These styles are used for the character map
*/
.char-item {
    float: left; 
    border: 1px solid #99BBE8; 
    margin: 3px; 
    text-align: center; 
    vertical-align: middle; 
    width: 20px; 
    height: 20px; 
    font-size: 14px;
    color: #15428B;
    cursor: pointer;
}

.char-item.x-view-selected {
    background-color: #777;
}

.char-over {
    border: 1px solid #15428B;
    background-color:#d0def0;
}

.ux-lovcombo-list-item-all
{
    border-bottom:1px solid silver;   
}

.redGridCell {

    background-color:red;
    color:#ffffff;
    text-align:right;
    font-weight:bold;    
}
.greenGridCell {

    background-color:green;
    color:#ffffff;
    text-align:right;
    font-weight:bold;    
}
.yellowGridCell {

    background-color:lightyellow;
    color:black;
    text-align:right;
    font-weight:bold;    
}

.greenSessionGridCell {

background-color:green;
color:#ffdc51;
text-align:center;
}
.lightyellowSessionGridCell {

background-color:lightyellow;
text-align:center;
}

.lightblueSessionGridCell {

background-color:lightblue;
color:#00;
text-align:center;
}