<head>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <!-- code to include the highcharts and jQuery libraries goes here -->
    <!-- load_charts filter takes a comma-separated list of id's where -->
    <!-- the charts need to be rendered to                             -->
<script  type="text/javascript" >
var chart;
$(document).ready(function() {
    chart = new Highcharts.Chart({
        chart: {
            renderTo: 'container',
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: '{{report_name}}'
        },
        tooltip: {
            formatter: function() {
                return '<b>'+ this.point.name +'</b>: '+ this.y.toFixed(2) +' МБ';
            }
        },

        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                showInLegend: true,
                dataLabels: {
                    enabled: true,
                    color: '#000000',
                    connectorColor: '#000000',
                    formatter: function() {
                        return '<b>'+ this.point.name +'</b>: '+ this.y.toFixed(2) +' МБ';
                    }
                }
            }
        },
        series: [{
            type: '{{reporttype}}',
            name: '{{report_name}}',
            data: [
                {% for username, bytes in res %}
                ['{{username}}', {{bytes}}],
                {% endfor %}
            ]
        }]
    });
});
</script>    

<script type="text/javascript" src="/media/highcharts/js/highcharts.src.js"></script>    
</head>
<body>

    <div id='container'> Chart will be rendered here </div>
</body>
