<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>{% load compressed i18n %}
<head>
<title>EBS::{% block title %}{% endblock %}</title>
{% block context_extra %}
<meta http-equiv="content-type" content="text/html; charset=utf-8">
{% endblock %}
<link rel="shortcut icon" href="../resources/favicon.ico" />
<link rel="icon" href="../resources/favicon.ico" />
<script type="text/javascript">
var media="{{ MEDIA_URL }}";var username = "{% trans 'User:' %} {{request.user.username}}"
</script>

<link href="/media/ext/resources/css/ext-all.css" rel="stylesheet" type="text/css" media="screen,projection" />
<link href="/media/ext/resources/css/xtheme-blue.css" rel="stylesheet" type="text/css" media="screen,projection" />
<link href="/media/ext/ebs/styles.css" rel="stylesheet" type="text/css" media="screen,projection" />
<link href="/media/css/style.css" rel="stylesheet" type="text/css" media="screen,projection" />
<link href="/media/css/MultiSelect.css" rel="stylesheet" type="text/css" media="screen,projection" />
<link href="/media/css/gridsearch.css" rel="stylesheet" type="text/css" media="screen,projection" />

{% compressed_js 'scripts_js_ext' %}

<script type="text/javascript" src="/ext/remoting/provider_js"></script>
<script type="text/javascript" src="/ext/remoting/api/"></script>
{% compressed_js 'scripts_js_ux' %}
{% compressed_js 'scripts_js_direct' %}
{% compressed_js 'scripts_js_ebs_user_group_0' %}

{% comment %}
<!--[if IE]>{% compressed_css 'screen_css_ie7' %}
<![endif]-->
{% endcomment %}

{% block extra_head %}{% endblock %}
</head>
<body scroll="no" id="docs">
  <div id="loading-mask" style=""></div>
  <div id="loading">
    <div class="loading-indicator"><img src="{{ MEDIA_URL }}/ext/resources/extanim32.gif" width="32" height="32" style="margin-right:8px;" align="absmiddle"/><a href="http://expertbilling.ru">Expertbilling</a><br/><span id="stand-by-text">Loading...</span></div>
  </div>
</body>
</html>