{% extends "ebsadmin/base.html" %}
{% load i18n %}
{% load ebsadmin_tags %}
{% load crispy_forms_tags %}
{% block extra_head %}



        <script type="text/javascript"> 
        $(document).ready(function() {
            $("#id_main_table tr th input[type=checkbox]").click(function(event) {
                $("#id_main_table td input[type=checkbox]").attr("checked", this.checked);


            });
            $('#id_house').autocomplete({
                source: function( request, response )
                {                      
                    $.ajax(
                    { 
                        url: "{% url house %}",
                        data: {
                                term: request.term, 
                                street_name: $('#id_street').val(),    //Pass the selected country to php
                                city_id: $('#id_city').val()
                              },        
                        type: "POST",  // a jQuery ajax POST transmits in querystring format in utf-8
                        dataType: "json",   //return data in json format                                                                                                                                       
                        success: function( data ) 
                        {
                            response( $.map( data.records, function( item ) 
                            {
                                return item.name
                            }));
                        }
                    });                
                },
                minChars: 0, // Минимальная длина запроса для срабатывания автозаполнения
                maxHeight: 400, // Максимальная высота списка подсказок, в пикселях
                width: 300, // Ширина списка
                zIndex: 9999, // z-index списка
                deferRequestBy: 300, // Задержка запроса (мсек), на случай, если мы не хотим слать миллион запросов, пока пользователь печатает. Я обычно ставлю 300.
                onSelect: function(data, value){ }, // Callback функция, срабатывающая на выбор одного из предложенных вариантов,
            });
            $('#id_street').autocomplete({
                source: function( request, response )
                {                      
                    $.ajax(
                    { 
                        url: "{% url street %}",
                        data: {
                                term: request.term, 
                                city_id: $('#id_city').val()
                              },        
                        type: "POST",  // a jQuery ajax POST transmits in querystring format in utf-8
                        dataType: "json",   //return data in json format                                                                                                                                       
                        success: function( data ) 
                        {
                            response( $.map( data.records, function( item ) 
                            {
                                return item.name
                            }));
                        }
                    });                
                },
                minChars: 0, // Минимальная длина запроса для срабатывания автозаполнения
                maxHeight: 400, // Максимальная высота списка подсказок, в пикселях
                width: 300, // Ширина списка
                zIndex: 9999, // z-index списка
                deferRequestBy: 300, // Задержка запроса (мсек), на случай, если мы не хотим слать миллион запросов, пока пользователь печатает. Я обычно ставлю 300.
                onSelect: function(data, value){ }, // Callback функция, срабатывающая на выбор одного из предложенных вариантов,
            });
            
            $('.management').live('click', function(event){
            	var arr = new Array();

            	$.map( $("#id_main_table tbody input[type=checkbox]:checked").serializeArray(), function(data, item) {
            		data.name='accounts';
            		arr.push(data); 
            	  
            	});

                $.ajax(
                        {
                            url: this.href,
                            data: $.param(arr)
                                  ,        
                            type: "POST",  // a jQuery ajax POST transmits in querystring format in utf-8
                            dataType: "json",   //return data in json format                                                                                                                                       
                            success: function( data ) 
                            {
                               if(data.status==true)
                                   {
                                   location.reload();
                                   }else{
                                       alert(data.message)
                                   }
                            },
                            failure: function(data)
                            {
                                alert('{% blocktrans %}Произошла ошибка в обработке запросов сервером{% endblocktrans %}');
                            }
                        });
                event.preventDefault(event);
                        
                }
                
            );
            
            $("#modal-accounttariff-dialog-table").click(function(event) {
                var arr = new Array();

                $.map( $("#id_main_table tbody input[type=checkbox]:checked").serializeArray(), function(data, item) {
                    data.name='accounts';
                    arr.push(data); 
                  
                });

                $('<div/>').dialog2({
                    title: "Изменение тарифного плана", 
                    content: this.href+'?'+$.param(arr), 
                    id: "server-notice"
                });

                event.preventDefault(event);
            });
            
            $("#modal-suspendedperiod-dialog-table").click(function(event) {
                var arr = new Array();

                $.map( $("#id_main_table tbody input[type=checkbox]:checked").serializeArray(), function(data, item) {
                    data.name='accounts';
                    arr.push(data); 
                  
                });

                $('<div/>').dialog2({
                    title: "{% blocktrans %}Добавление периода без списаний периодических услуг{% endblocktrans %}", 
                    content: this.href+'?'+$.param(arr), 
                    id: "server-notice"
                });

                event.preventDefault(event);
            });
            
            $("#modal-sendsms-dialog-table").click(function(event) {
                var arr = new Array();

                $.map( $("#id_main_table tbody input[type=checkbox]:checked").serializeArray(), function(data, item) {
                    data.name='accounts';
                    arr.push(data); 
                  
                });
                //alert($("#id_main_table tbody input[type=checkbox]:checked").serialize());
                $('<div/>').dialog2({
                    title: "{% blocktrans %}Отправить SMS{% endblocktrans %}", 
                    content: this.href+'?'+$.param(arr), 
                    id: "server-notice"
                });

                event.preventDefault(event);
            });
            
            $(".show-confirm").live('click', function(event) {
            	
            	
                a=$(this);
                var arr = new Array();

                $.map( $("#id_main_table tbody input[type=checkbox]:checked").serializeArray(), function(data, item) {
                    data.name='accounts';
                    arr.push(data); 
                  
                });
                
                $.fn.dialog2.helpers.confirm("{% blocktrans %}Требуется подтверждение. Выполнить действие?{% endblocktrans %}", {
                    confirm: function() {
                        $.getJSON(a.attr('href'),arr,function(data,status){
                            if( status=='success' ){
                                if(data.status==true)
                                    {
                                    location.reload();
                                    }else{
                                        alert(data.message)
                                    }
                                
                            }else{
                                alert('{% blocktrans %}Произошла непредвиденная ошибка{% endblocktrans %}')
                            }

                        })                      
                        }, 
                    decline: function() {  },
                    id: 'confirm-dialog'
                    
                });

                //event.preventDefault();
                event.preventDefault(event);
            });
            
            $('#id-modal-add-news').click(function(event){
            	
                var arr = new Array();

                $.map( $("#id_main_table tbody input[type=checkbox]:checked").serializeArray(), function(data, item) {
                    data.name='accounts';
                    arr.push(data); 
                  
                });
                window.location='{% url news_edit %}?'+$.param(arr);
            	event.preventDefault(event);
            	
            }
            )
            $('#tab-control a[href="#filter"]').tab('show');
            {% if table %}
            $('#tab-control a[href="#result"]').tab('show');
            {% endif %}
            
            //$("#accordion2").collapse();
                var last=$.cookie('activeAccordionGroup');
                //alert(last);
                if (last!=null) {
                    //remove default collapse settings
                    //$("#accordion2 .collapse").removeClass('in');
                    //show the last visible group
                    //alert($("#"+last));
                    $("#"+last).addClass('in');
                }


            //when a group is shown, save it as the active accordion group
            $("#accordion2").bind('shown', function() {
                var active=$("#accordion2 .in").attr('id');
                $.cookie('activeAccordionGroup', active);
            });
        });
        </script>

{% endblock %}
{% block base %}

<ul class="nav nav-tabs" id="tab-control">
  <li ><a href="#filter">{% blocktrans %}Фильтр{% endblocktrans %}</a></li>
  <li><a {% if table %}class="active" {% endif %} href="#result">{% blocktrans %}Отчёт{% endblocktrans %}</a></li>  
</ul>

 {% load render_table from django_tables2 %}
<div class="tab-content">
  <div class="tab-pane" id="filter">
  
  <div class="row-fluid">
        <div class="span12">
<form action="{{form.action}}" method="GET" class="form-horizontal form-condensed">

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Главное
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
            
            
            {{ form.non_field_errors }}
                <fieldset class='well'>
                    
                    
                    <div class="control-group">
                        <div class="control-row">
                            <label class="control-label" for="input-agreement-no">{{form.contract.label}}</label>
                            <div class="controls">
                            {{ form.contract }}
                            {% if form.contract.errors %}
                                <span class="help-inline">{% for error in form.contract.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.contract.help_text%}
                                <p class="help-block">
                                    {{ form.contract.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>

                    <div class="control-row">
                        <label class="control-label" for="input-username">{{form.username.label}}</label>
                        <div class="controls">
                             {{ form.username }}
                            {% if form.username.errors %}
                                <span class="help-inline">{% for error in form.username.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.username.help_text%}
                                <p class="help-block">
                                    {{ form.username.help_text|safe }}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    </div>

                    <div class="control-group">
                        <div class="control-row">
                            <label class="control-label" for="input-agreement-no">{{form.ballance.label}}</label>
                            <div class="controls">
                             {{ form.ballance }}
                            {% if form.ballance.errors %}
                                <span class="help-inline">{% for error in form.ballance.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.ballance.help_text%}
                                <p class="help-block">
                                    {{ form.ballance.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="control-row">
                                    <label class="control-label" for="input-agreement-no">{{form.deleted.label}}</label>
                                    <div class="controls">
                                   {{ form.deleted }} 
                                   {% if form.deleted.errors %}
                                       <span class="help-inline">{% for error in form.deleted.errors %}{{ error }}<br/> {% endfor %}</span>
                                   {% endif %}
                                   {% if form.deleted.help_text%}
                                       <p class="help-block">
                                           {{ form.deleted.help_text|safe }}
                                       </p>
                                   {% endif %}
                                    </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="control-row">
                            <label class="control-label" for="input-agreement-no">{{form.credit.label}}</label>
                            <div class="controls">
                             {{ form.credit }}
                            {% if form.credit.errors %}
                                <span class="help-inline">{% for error in form.credit.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.credit.help_text%}
                                <p class="help-block">
                                    {{ form.credit.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="control-row">
                            <label class="control-label" for="input-agreement-no">{{form.systemuser.label}}</label>
                            <div class="controls">
                             {{ form.systemuser }}
                            {% if form.systemuser.errors %}
                                <span class="help-inline">{% for error in form.systemuser.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.systemuser.help_text%}
                                <p class="help-block">
                                    {{ form.systemuser.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="control-row">
                            <label class="control-label" for="input-entrance">{{form.created.label}}</label>
                            <div class="controls">
                              
                            {{ form.created }}
                            {% if form.created.errors %}
                                <span class="help-inline">{% for error in form.created.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.created.help_text%}
                                <p class="help-block">
                                    {{ form.created.help_text|safe }}
                                </p>
                            {% endif %}
                              
                            </div>
                            
                        </div>
                                            <div class="control-row">
                        <label class="control-label">{{form.status.label}}</label>
                        <div class="controls">
                             {{ form.status }}
                            {% if form.status.errors %}
                                <span class="help-inline">{% for error in form.status.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.status.help_text%}
                                <p class="help-block">
                                    {{ form.status.help_text|safe }}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    </div>
                    <div class="control-group">
                    <div class="control-row">
                        <label class="control-label" for="input-server-access">{{form.tariff.label}}</label>
                        <div class="controls">
                             {{ form.tariff }}
                            {% if form.tariff.errors %}
                                <span class="help-inline">{% for error in form.tariff.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.tariff.help_text%}
                                <p class="help-block">
                                    {{ form.tariff.help_text|safe }}
                                </p>
                            {% endif %}
                        </div>
                        </div>
                    <div class="control-row">
                        <label class="control-label" for="input-server-access">{{form.suppagreement.label}}</label>
                        <div class="controls">
                             {{ form.suppagreement }}
                            {% if form.suppagreement.errors %}
                                <span class="help-inline">{% for error in form.suppagreement.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.suppagreement.help_text%}
                                <p class="help-block">
                                    {{ form.suppagreement.help_text|safe }}
                                </p>
                            {% endif %}
                        </div>
                        </div>
                    </div>
                    <div class="control-group">
                    <div class="control-row">
                        <label class="control-label" for="input-server-access">{{form.addonservice.label}}</label>
                        <div class="controls">
                             {{ form.addonservice }}
                            {% if form.addonservice.errors %}
                                <span class="help-inline">{% for error in form.addonservice.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.addonservice.help_text%}
                                <p class="help-block">
                                    {{ form.addonservice.help_text|safe }}
                                </p>
                            {% endif %}
                        </div>
                        </div>
                    </div>
           </fieldset>

      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Адрес
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
            
            
            {{ form.non_field_errors }}
            

                <fieldset class='well'>
                    

                    <div class="control-group">
                        <div class="control-row">
                            <label class="control-label" for="input-city">{{form.city.label}}</label>
                            <div class="controls">
                             {{ form.city }}
                            {% if form.city.errors %}
                                <span class="help-inline">{% for error in form.city.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.city.help_text%}
                                <p class="help-block">
                                    {{ form.city.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>

                        <div class="control-row">
                            <label class="control-label" for="input-street">{{form.street.label}}</label>
                            <div class="controls">
                             {{ form.street }}
                            {% if form.street.errors %}
                                <span class="help-inline">{% for error in form.street.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.street.help_text%}
                                <p class="help-block">
                                    {{ form.street.help_text|safe }}
                                </p>
                            {% endif %}

                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                    <div class="control-row">
                        <label class="control-label" for="input-entrance">{{form.house_bulk.label}}</label>
                        <div class="controls">
                            {{ form.house_bulk }}
                            {% if form.house_bulk.errors %}
                                <span class="help-inline">{% for error in form.house_bulk.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.house_bulk.help_text%}
                                <p class="help-block">
                                    {{ form.house_bulk.help_text|safe }}
                                </p>
                            {% endif %}
                        </div>
                        </div>
                        <div class="control-row">
                        <label class="control-label" for="input-entrance">{{form.house.label}}</label>
                        <div class="controls">
                            {{ form.house }}
                            {% if form.house.errors %}
                                <span class="help-inline">{% for error in form.house.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.house.help_text%}
                                <p class="help-block">
                                    {{ form.house.help_text|safe }}
                                </p>
                            {% endif %}
                        </div>
                        </div>
                    </div>






                    <div class="control-group">
                    <div class="control-row">
                        <label class="control-label" for="input-floor">{{form.row.label}}</label>
                        <div class="controls">
                            {{ form.row }}
                            {% if form.row.errors %}
                                <span class="help-inline">{% for error in form.row.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.row.help_text%}
                                <p class="help-block">
                                    {{ form.row.help_text|safe }}
                                </p>
                            {% endif %}
                        </div>
                        </div>
                        <div class="control-row">
                        <label class="control-label" for="input-entrance">{{form.room.label}}</label>
                        <div class="controls">
                            {{ form.room }}
                            {% if form.room.errors %}
                                <span class="help-inline">{% for error in form.room.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.room.help_text%}
                                <p class="help-block">
                                    {{ form.room.help_text|safe }}
                                </p>
                            {% endif %}
                        </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="input-floor">{{form.elevator_direction.label}}</label>
                        <div class="controls">
                            {{ form.elevator_direction }}
                            {% if form.elevator_direction.errors %}
                                <span class="help-inline">{% for error in form.elevator_direction.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.elevator_direction.help_text%}
                                <p class="help-block">
                                    {{ form.elevator_direction.help_text|safe }}
                                </p>
                            {% endif %}
                        </div>
                    </div>

                </fieldset>

      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        Персональные данные
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
            
            
            {{ form.non_field_errors }}
            



                <fieldset class='well'>
                    

                    <div class="control-group">

                        <div class="control-row">
                            <label class="control-label" for="input-uid">{{form.id.label}}</label>
                            <div class="controls">
                            {{ form.id }}
                            {% if form.id.errors %}
                                <span class="help-inline">{% for error in form.id.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.id.help_text%}
                                <p class="help-block">
                                    {{ form.id.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>
                        <div class="control-row">
                            <label class="control-label" for="input-phone">{{form.phone.label}}</label>
                            <div class="controls">
                             {{ form.phone }}
                            {% if form.phone.errors %}
                                <span class="help-inline">{% for error in form.phone.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.phone.help_text%}
                                <p class="help-block">
                                    {{ form.phone.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                            </div>
                   </div>
                    <div class="control-group">
                        <div class="control-row">
                            <label class="control-label" for="input-name">{{form.fullname.label}}</label>
                            <div class="controls">
                             {{ form.fullname }}
                            {% if form.fullname.errors %}
                                <span class="help-inline">{% for error in form.fullname.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.fullname.help_text%}
                                <p class="help-block">
                                    {{ form.fullname.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>

                        <div class="control-row">
                            <label class="control-label" for="input-cperson">{{form.contactperson.label}}</label>
                            <div class="controls">
                             {{ form.contactperson }}
                            {% if form.contactperson.errors %}
                                <span class="help-inline">{% for error in form.contactperson.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.contactperson.help_text%}
                                <p class="help-block">
                                    {{ form.contactperson.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                            </div>
                        </div>
                    

                        <div class="control-row">
                            <label class="control-label" for="input-passport">{{form.passport.label}}</label>
                            <div class="controls">
                             {{ form.passport }}
                            {% if form.passport.errors %}
                                <span class="help-inline">{% for error in form.passport.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.passport.help_text%}
                                <p class="help-block">
                                    {{ form.passport.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>

                </fieldset>

      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
        Сетевые параметры
      </a>
    </div>
    <div id="collapseFour" class="accordion-body collapse">
      <div class="accordion-inner">
            
            
            {{ form.non_field_errors }}
           <fieldset class='well'>
                    
                    <div class="control-group">
                        <div class="control-row">
                            <label class="control-label" for="input-vpn-ip">{{form.vpn_ip_address.label}}</label>
                            <div class="controls">
                             {{ form.vpn_ip_address }}
                            {% if form.vpn_ip_address.errors %}
                                <span class="help-inline">{% for error in form.vpn_ip_address.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.vpn_ip_address.help_text%}
                                <p class="help-block">
                                    {{ form.vpn_ip_address.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>

                        <div class="control-row">
                            <label class="control-label" for="input-ipn-ip">{{form.ipn_ip_address.label}}</label>
                            <div class="controls">
                             {{ form.ipn_ip_address }}
                            {% if form.ipn_ip_address.errors %}
                                <span class="help-inline">{% for error in form.ipn_ip_address.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.ipn_ip_address.help_text%}
                                <p class="help-block">
                                    {{ form.ipn_ip_address.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="control-row">
                        <label class="control-label" for="input-server-access">{{form.nas.label}}</label>
                        <div class="controls">
                             {{ form.nas }}
                            {% if form.nas.errors %}
                                <span class="help-inline">{% for error in form.nas.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.nas.help_text%}
                                <p class="help-block">
                                    {{ form.nas.help_text|safe }}
                                </p>
                            {% endif %}
                        </div>
                        </div>

                        <div class="control-row">
                            <label class="control-label" for="input-mac-address">{{form.ipn_mac_address.label}}</label>
                            <div class="controls">
                             {{ form.ipn_mac_address }}
                            {% if form.ipn_mac_address.errors %}
                                <span class="help-inline">{% for error in form.ipn_mac_address.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.ipn_mac_address.help_text%}
                                <p class="help-block">
                                    {{ form.ipn_mac_address.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    
                    <div class="control-group">
                    <div class="control-row">
                        
                        <div class="controls">
                             &nbsp;
                        </div>
                    </div>
                    <div class="control-row">
                        <label class="control-label">{% blocktrans %}IPN статус{% endblocktrans %}</label>
                        <div class="controls">
                             {{ form.ipn_status }}
                            {% if form.ipn_status.errors %}
                                <span class="help-inline">{% for error in form.ipn_status.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.ipn_status.help_text%}
                                <p class="help-block">
                                    {{ form.ipn_status.help_text|safe }}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    </div>

                </fieldset>




      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
        Параметры блокировки
      </a>
    </div>
    <div id="collapseFive" class="accordion-body collapse">
      <div class="accordion-inner">
            
            
            {{ form.non_field_errors }}

                <fieldset class='well'>
                    

                    <div class="control-group">
                        <div class="control-row">
                            <label class="control-label">{{form.ballance_blocked.label}}</label>
                            <div class="controls">
                             {{ form.ballance_blocked }}
                            {% if form.ballance_blocked.errors %}
                                <span class="help-inline">{% for error in form.ballance_blocked.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.ballance_blocked.help_text%}
                                <p class="help-block">
                                    {{ form.ballance_blocked.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>

                        <div class="control-row">
                            <label class="control-label">{{form.limit_blocked.label}}</label>
                            <div class="controls">
                             {{ form.limit_blocked }}
                            {% if form.limit_blocked.errors %}
                                <span class="help-inline">{% for error in form.limit_blocked.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.limit_blocked.help_text%}
                                <p class="help-block">
                                    {{ form.limit_blocked.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>
                    </div>


                </fieldset>



      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
        Юридические лица
      </a>
    </div>
    <div id="collapseSix" class="accordion-body collapse">
      <div class="accordion-inner">
            
            
            {{ form.non_field_errors }}



                <fieldset class='well'>
                    

                    <div class="control-group">
                        <label class="control-label">{% blocktrans %}Юрлицо{% endblocktrans %}</label>
                        <div class="controls">
                            <label class="radio inline">
                                <input type="radio" checked="" value="option1" id="" name="radios-block-jp"> {% blocktrans %}Да{% endblocktrans %}
                            </label>
                            <label class="radio inline">
                                <input type="radio" checked="" value="option2" id="" name="radios-block-jp"> {% blocktrans %}Нет{% endblocktrans %}
                            </label>
                            <label class="radio inline">
                                <input type="radio" checked="" value="option3" id="" name="radios-block-jp"> {% blocktrans %}Не важно{% endblocktrans %}
                            </label>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="control-row">
                            <label class="control-label" for="input-company">{% blocktrans %}Наименование{% endblocktrans %}</label>
                            <div class="controls">
                             {{ form.organization }}
                            {% if form.organization.errors %}
                                <span class="help-inline">{% for error in form.organization.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.organization.help_text%}
                                <p class="help-block">
                                    {{ form.organization.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>

                        <div class="control-row">
                            <label class="control-label" for="input-settlement-account">{% blocktrans %}Расчетный счет{% endblocktrans %}</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="input-settlement-account">
                            </div>
                        </div>
                    </div>

                </fieldset>


                
      </div>
    </div>
  </div>
</div>
                    <div class="form-actions form-actions-center">
                        <button class="btn btn-primary" type="submit"><i class="icon-filter icon-white"></i> {% blocktrans %}Подобрать результаты{% endblocktrans %}</button>
                        <button class="btn btn-danger" type="reset"><i class="icon-trash icon-white"></i> {% blocktrans %}Очистить форму{% endblocktrans %}</button>
                    </div>
</form>

        </div>
    </div>
  
  </div>
  <div class="tab-pane {% if table %}active{% endif %}" id="result">
          <div class="navbar navbar-googlenav">
                <div class="navbar-inner">
                <div class="btn-group">
                <a href="{% url account_edit %}" class="btn btn-success"><i class="cus-user-add"></i>&nbsp;{% blocktrans %}Новый аккаунт{% endblocktrans %}</a>
                </div>
                <div class="btn-group">
                <a class="btn dropdown-toggle btn-info " data-toggle="dropdown" href="#">
				    <i class="icon-pause icon-white"></i> {% blocktrans %}Изменить статус{% endblocktrans %}
				    <span class="caret"></span>
				  </a>
				  <ul class="dropdown-menu">
				    <li><a href="{% url account_management_status %}?status=1" class='management'>{% blocktrans %}Активен{% endblocktrans %}</a></li>
				    <li><a href="{% url account_management_status %}?status=3" class='management'>{% blocktrans %}Не активен{% endblocktrans %}</a></li>
				  </ul>
				  </div>
				<div class="btn-group">
                    <a href="{% url account_management_accounttariff %}" id="modal-accounttariff-dialog-table" class=" btn btn-success"><i class=' icon-share icon-white'></i> {% blocktrans %}Изменить ТП{% endblocktrans %}</a>
                </div>
                
                {% if form.deleted.value %}
                <div class="btn-group">
                    <a class=" btn btn-danger show-confirm" href="{% url account_management_delete %}"><i class=' icon-trash icon-white'></i> {% blocktrans %}Удалить из системы{% endblocktrans %}</a>
                </div>
                <div class="btn-group">
                    <a class=" btn btn-success show-confirm" href="{% url account_management_restore %}"><i class='icon-share-alt icon-white'></i> {% blocktrans %}Восстановить из архива{% endblocktrans %}</a>
                </div>
                {% else %}
                <div class="btn-group">
                    <a class="btn btn-danger show-confirm" href="{% url account_management_delete %}"><i class=' icon-trash icon-white'></i> {% blocktrans %}В архив{% endblocktrans %}</a>
                </div>
                {% endif %}
                
                
                <div class="btn-group">
                <a href="{% url account_management_suspendedperiod %}"  id="modal-suspendedperiod-dialog-table" class="btn btn-danger"><i class=' icon-calendar icon-white'></i> {% blocktrans %}Период без ПУ{% endblocktrans %}</a>
                </div>
                <div class="btn-group">
                <a href="#"  id="id-modal-add-news" class="btn"><i class='cus-newspaper'></i> {% blocktrans %}Сообщение{% endblocktrans %}</a>
                </div>
                <div class="btn-group">
                <a href="{% url sendsms %}"  id="modal-sendsms-dialog-table" class="btn">{% blocktrans %}SMS{% endblocktrans %}</a>
                </div>
                {% comment %}
                <div class="btn-group">

                <a class="btn dropdown-toggle btn-info " data-toggle="dropdown" href="#">
                    <i class="icon-fire icon-white"></i> {% blocktrans %}IPN{% endblocktrans %}
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">{% blocktrans %}Добавить на NAS{% endblocktrans %}</a></li>
                    <li><a href="#">{% blocktrans %}Удалить с NAS{% endblocktrans %}</a></li>
                    <li><a href="#">{% blocktrans %}Активировать на NAS{% endblocktrans %}</a></li>
                    <li><a href="#">{% blocktrans %}Отключить на NAS{% endblocktrans %}</a></li>
                  </ul>
                  </div>
                  {% endcomment %}
                  

                
                

        </div>
        </div>
  {% if table %}{% render_table table %}{% endif %}
  <br />
  <br />
  <br />
  <br />
  <br />
  </div>

</div>
 {% endblock %}

