{% load ebsadmin_tags %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block extra_head %}
  <script type="text/javascript" src="/static/selectable/js/jquery.dj.selectable.js"></script>
  <link href="/static/selectable/css/dj.selectable.css" type="text/css" media="all" rel="stylesheet">
{% endblock %}

{% block base %}
  {% if not status %}
    {% include "ebsadmin/common/error_messages.html" %}
    
    {% if form %}
      <form action='{% url 'accounthardware' %}?id={{item.id}}&account_id={{account.id}}' method="POST" class="well form-horizontal ajax form-condensed ">
        {{form|crispy}}
        <div class="form-actions">
          <input type='submit' class="btn btn-primary" value="{% blocktrans %}Save Changes{% endblocktrans %}">
          <a class="btn close-dialog" href="#">{% blocktrans %}Close{% endblocktrans %}</a>
        </div>
      </form>
    {% endif %}
  {% else %}
    {% include "ebsadmin/common/succ_operation.html" %}
  {% endif %}
{% endblock %}