{% if not status %}
{% load ebsadmin_tags %}
{{message}}
 <script type="text/javascript"> 
 $(document).ready(function() {
     $('.datepicker').datepicker({
         months: ["Январь","Февраль","Март","Апрель","Май","Июнь","Июль","Август","Сентябрь","Октябрь","Ноябрь","Декабрь"],
         weekStart: 0,
         noDefault: true,
         format: 'yyyy-mm-dd hh:ii:ss',
         days: ["пн","вт","ср","чт","пт","сб","вс"],});
     $(".timepicker").mask("99:99:99");
 });
 </script>
     {% for message in messages %}

<div class="alert fade in {{ message.tags }}">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ message }}
          </div>

      {% endfor %}
{% if form %}

            <form method="POST" action="{% url accountaddonservice %}?id={{accountaddonservice.id}}" class="well form-horizontal  form-condensed  ajax">
            {{ form.account }}
            {{ form.subaccount }}
                <fieldset>
                  <div class="control-group">
                      <label class="control-label">Подключаемая услуга</label>
                      <div class="controls">
                      {{ form.service }}
                      {% if form.service.errors %}
                          <span class="help-inline">{% for error in form.service.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.service.help_text%}
                          <p class="help-block">
                              {{ form.service.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  <div class="control-group">

                      <label class="control-label">{{form.activated.label}}:</label>
                      <div class="controls">
                      {{ form.activated }}
                      {% if form.datetime.errors %}
                          <span class="help-inline">{% for error in form.activated.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.activated.help_text%}
                          <p class="help-block">
                              {{ form.activated.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>

                  </div>
                  <div class="control-group">

                      <label class="control-label">{{form.deactivated.label}}:</label>
                      <div class="controls">
                      {{ form.deactivated }}
                      {% if form.deactivated.errors %}
                          <span class="help-inline">{% for error in form.deactivated.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.deactivated.help_text%}
                          <p class="help-block">
                              {{ form.deactivated.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>


                  </div>
                  <div class="control-group">
                  

                      <label class="control-label">{{form.temporary_blocked.label}}:</label>
                      <div class="controls">
                      {{ form.temporary_blocked }}
                      {% if form.temporary_blocked.errors %}
                          <span class="help-inline">{% for error in form.temporary_blocked.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.temporary_blocked.help_text%}
                          <p class="help-block">
                              {{ form.temporary_blocked.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>

                  </div>
                </fieldset>
                
                <div class="form-actions">
                    <input type='submit' class="btn btn-primary" value="Сохранить">
                    <a class="btn close-dialog" href="#">Закрыть</a>
                </div>
            </form>
{% endif %}
{% else %}
Операция произведена успешно.
 <script type="text/javascript"> 
 $(document).ready(function() {
     location.reload();
 });
 </script>
{% endif %}
