{% extends "ebsadmin/base.html" %}
{% load i18n %}
{% load ebsadmin_tags %}
{% load crispy_forms_tags %}
{% block extra_head %}
<script type="text/javascript" src="/media/dynatree/jquery.dynatree.js"></script>
<link href="/media/dynatree/skin/ui.dynatree.css" rel="stylesheet" type="text/css" id="skinSheet">
        <script type="text/javascript"> 
        $(document).ready(function() {
        	
        	$("#id_button_city").click(function(){
                $.fn.dialog2.helpers.prompt("{% blocktrans %}Название{% endblocktrans %}", {
                    ok: function(event, value) {
                        $.getJSON('{% url city_edit %}',{value:value},function(data,status){
                            if( status=='success' ){
                                if(data.status==true)
                                   $("#tree").dynatree("getRoot").addChild({
                                	    title: value,
                                	    key: "CITY___"+data.id,
                                        isFolder: true
                                	});
                                else
                                    alert(data.generated)
                                    return
                            }else{
                                alert('{% blocktrans %}В процессе отправки произошла ошибка{% endblocktrans %}')
                            }
                            return
                        })
                    }, 
                    cancel: function() {}
                });
        	});

            $("#id_button_street").click(function(){
            	var node = $("#tree").dynatree("getActiveNode");
            	if (node.data.key.indexOf("CITY___")!=0){
            		$.fn.dialog2.helpers.alert("{% blocktrans %}Выберите город{% endblocktrans %}", {
                    });
            		return
            	}
                $.fn.dialog2.helpers.prompt("Название", {
                    ok: function(event, value) {
                        $.getJSON('{% url street_edit %}',{parent:node.data.key, value:value},function(data,status){
                            if( status=='success' ){
                                if(data.status==true)
                                	$("#tree").dynatree("getActiveNode").addChild({
                                        title: value,
                                        key: "STREET___"+data.id,
                                        isFolder: true
                                    });
                                else
                                    alert(data.generated)
                                    return
                            }else{
                                alert('{% blocktrans %}В процессе отправки произошла ошибка{% endblocktrans %}')
                            }
                            return
                        })
                    }, 
                    cancel: function() {}
                });
            });

            $("#id_button_house").click(function(){
                var node = $("#tree").dynatree("getActiveNode");
                if (node.data.key.indexOf("STREET___")==0)
                	var parent = node;
                else if (node.data.key.indexOf("HOUSE___")==0)
                	var parent = node.getParent();
                else{
                    $.fn.dialog2.helpers.alert("{% blocktrans %}Выберите улицу{% endblocktrans %}", {
                    });

                    return 
                }


                    
                
                $.fn.dialog2.helpers.prompt("{% blocktrans %}Название{% endblocktrans %}", {
                    ok: function(event, value) {
                        $.getJSON('{% url house_edit %}',{parent:parent.data.key, value:value},function(data,status){
                            if( status=='success' ){
                                if(data.status==true)
                                    parent.addChild({
                                        title: value,
                                        key: "HOUSE___"+data.id,
                                        isFolder: false
                                    });
                                else
                                    alert(data.generated)
                                    return
                            }else{
                                alert('{% blocktrans %}В процессе отправки произошла ошибка{% endblocktrans %}')
                            }
                            return
                        })
                    }, 
                    cancel: function() {}
                });
            });


             $("#id_button_delete").click(function(event) {
             	var node = $("#tree").dynatree("getActiveNode");
                 $.fn.dialog2.helpers.confirm("{% blocktrans %}Вы уверены, что хотите удалить запись?{% endblocktrans %}", {
                     confirm: function() { 
                         $.getJSON('{% url address_delete %}',{key:node.data.key},function(data,status){
                             if( status=='success' ){
                                 if(data.status==true)
                                 	node.remove()
                                 else
                                     alert(data.message)
                                     return
                             }else{
                                 alert('{% blocktrans %}В процессе отправки произошла ошибка{% endblocktrans %}')
                             }
                             return
                         })
                     }, 
                 });

                 event.preventDefault(event);
             });

                
        	function editNode(node){
                var prevTitle = node.data.title,
                        tree = node.tree;
                
                // Disable dynatree mouse- and key handling
                //tree.$widget.unbind();
                // Replace node with <input>
                //$(".dynatree-title", node.span).html("<input id='editNode' value='" + prevTitle + "'>");
                //$("#id_text_edit").val(prevTitle);

                    $.fn.dialog2.helpers.prompt("{% blocktrans %}Название{% endblocktrans %}", {
                    	defaultValue: prevTitle,
                        ok: function(event, value) {
                        	
                        	if (node.data.key.indexOf("CITY__")==0){
                            $.getJSON('{% url city_edit %}',{key:node.data.key, value:value},function(data,status){
                                if( status=='success' ){
                                    if(data.status==true)
                                    	node.setTitle(value)
                                    else
                                        alert(data.message)
                                        return
                                }else{
                                    alert('{% blocktrans %}В процессе отправки произошла ошибка{% endblocktrans %}')
                                }
                                return
                            })};
                            if (node.data.key.indexOf("STREET__")==0){
                                $.getJSON('{% url street_edit %}',{key:node.data.key, value:value},function(data,status){
                                    if( status=='success' ){
                                        if(data.status==true)
                                        	node.setTitle(value)
                                        else
                                            alert(data.message)
                                            return
                                    }else{
                                        alert('{% blocktrans %}В процессе отправки произошла ошибка{% endblocktrans %}')
                                    }
                                    return
                                })};
                            if (node.data.key.indexOf("HOUSE__")==0){
                                $.getJSON('{% url house_edit %}',{key:node.data.key, value:value},function(data,status){
                                    if( status=='success' ){
                                        if(data.status==true)
                                           node.setTitle(value)
                                        else
                                            alert(data.message)
                                            return
                                    }else{
                                        alert('{% blocktrans %}В процессе отправки произошла ошибка{% endblocktrans %}')
                                    }
                                    return
                                })}
                            
                        }, 
                        cancel: function() {}
                    });



                // Focus <input> and bind keyboard handler
                $("input#editNode")
                        .focus()
                        .keydown(function(event){
                                switch( event.which ) {
                                case 27: // [esc]
                                        // discard changes on [esc]
                                        $("input#editNode").val(prevTitle);
                                        $(this).blur();
                                        break;
                                case 13: // [enter]
                                        // simulate blur to accept new value
                                        $(this).blur();
                                        break;
                                }
                        }).blur(function(event){
                                // Accept new value, when user leaves <input>
                                var title = $("input#editNode").val();
                                node.setTitle(title);
                                // Re-enable mouse and keyboard handlling
                                tree.$widget.bind();
                                node.focus();
                        });
        }
            $(function(){
            	var isMac = /Mac/.test(navigator.platform);
                // Attach the dynatree widget to an existing <div id="tree"> element
                // and pass the tree options as an argument to the dynatree() function:
                $("#tree").dynatree({
                    selectMode: 3,
                    minExpandLevel: 1,
                    clickFolderMode:1,
                    children: {{ojax|safe}},
            onClick: function(node, event) {
                    if( event.shiftKey ){
                            editNode(node);
                            return false;
                    }
            },
            onDblClick: function(node, event) {
                    editNode(node);
                    return false;
            },
            onKeydown: function(node, event) {
                    switch( event.which ) {
                    case 113: // [F2]
                            editNode(node);
                            return false;
                    case 13: // [enter]
                            if( isMac ){
                                    editNode(node);
                                    return false;
                            }
                    }
            }
                });
              });
        });
        </script>

{% endblock %}
{% block base %}
<div class="row-fluid">
<p class="help-block">{% blocktrans %}Двойной клик по элементу - редактировать{% endblocktrans %}</p>
<div class="span5" id="tree"></div>
<div class="span5">
<form method="POST" action="{% url ippool %}?id={{item.id}}"class="well form-horizontal form-condensed ">


                    <div class="form-actions form-actions-center">
                        <button id="id_button_city" class="btn btn-primary" type="button">{% blocktrans %}Добавить город{% endblocktrans %}</button>
                        <button id="id_button_street" class="btn btn-primary" type="button">{% blocktrans %}Добавить улицу{% endblocktrans %}</button>
                        <button id="id_button_house" class="btn btn-primary" type="button">{% blocktrans %}Добавить дом{% endblocktrans %}</button>
                    </div>
                <fieldset>
                    <div class="form-actions form-actions-center">
                        <button id="id_button_delete" class="btn btn-danger" type="button">{% blocktrans %}Удалить элемент{% endblocktrans %}</button>
                    </div>
                </fieldset>
            </form>
</div>
</div>
 {% endblock %}

