{% extends "ebsadmin/base.html" %}
{% load i18n %}
{% load ebsadmin_tags %}
{% load render_table from django_tables2 %}
{% block extra_head %}
 <script type="text/javascript"> 
 $(document).ready(function() {
     $("#modal-{{item.id}}-{{content_type_id}}").click(function(event) {
         a=$(this);
         $('<div/>').dialog2({
             title: "{% blocktrans %}Редактировать комментарий{% endblocktrans %}", 
             content: a.attr('href'), 
         });

         event.preventDefault(event);
     });
     
     $(".open-log-custom-dialog").click(function(event) {
         $('<div />').dialog2({
             title: "{% blocktrans %}Изменить запись{% endblocktrans %}", 
             content: this.href, 
         });

         event.preventDefault(event);
     });
     $(".comment-done").click(function(event) {
         $('<div />').dialog2({
             title: "{% blocktrans %}Изменить запись{% endblocktrans %}", 
             content: this.href, 
         });

         event.preventDefault(event);
     });
     $(".show-confirm").click(function(event) {
         a=$(this);
         $.fn.dialog2.helpers.confirm("{% blocktrans %}Вы действительно хотите удалить?{% endblocktrans %}", {
             confirm: function() {
                 $.getJSON(a.attr('href'),{},function(data,status){
                     if( status=='success' ){
                         if(data.status==true)
                             {
                             location.reload();
                             }else{
                                 alert(data.message)
                             }
                         
                     }else{
                         alert('{% blocktrans %}Произошла непредвиденная ошибка{% endblocktrans %}')
                     }

                 })                      
                 }, 
             decline: function() {  }
         });

         event.preventDefault(event);
     });
 });
 </script>
{% endblock %}
{% block base %}




  <div class="row-fluid">

  <div class="span4">



  <div>{% blocktrans %}Количество аккаунтов:{% endblocktrans %} {{accounts_count}}</div>
  </div>
  <div class='span8'>
  {% render_table comment_table %}
  </div>
    </div>
  

 {% endblock %}

