{% extends "ebsadmin/base.html" %}
{% load bootstrap_toolkit %}
{% block extra_head %}
        <script type="text/javascript"> 
        $(document).ready(function() {
        $("#id_btn_fill").click(function() {
        	
        	var input = $("<input>").attr("type", "hidden").attr("name", "fill").val("true");
        	$('#id_form').append($(input));
        	$('#id_form').submit();
            });
        $("#id_btn_test").click(function() {
        	$("#id_btn_test").text('Подождите');
        	setTimeout(function() {
        	$.ajax({
        		   type: "POST",
        		   url: "{% url nas_test_credentials %}",
        		   data: {login: $("#id_login").val(),password: $("#id_password").val(), host: $("#id_ipaddress").val()},
        		   dataType: 'ajax',
        		   async: false,
        		   success: function(msg){
        			   if (msg.status){
        				   alert( "Тест прошёл успешно");
        			   }
        			   else{
        				   alert( "Ошибка: " + msg.message );
        			   }
        			   $("#id_btn_test").text('Проверить');
        		   },
        		   error: function(msg){
        		          alert("Ошибка соединения");
        		          $("#id_btn_test").text('Проверить');
        		       }
        		 });}, 500);
            });

        
        $('#id_btn_fill').popover({title:'Заполнить значениями?', content: 'Заполнить значениями по-умолчанию для выбранного типа сервера доступа? Текущие настройки будут возвращены в первоначальное состояние'});
        //activate latest tab, if it exists:
        var lastTab = $.cookie('last_tab');
        if (lastTab) {
            $('ul.nav-tabs').children().removeClass('active');
            $('a[href='+ lastTab +']').parents('li:first').addClass('active');
            $('div.tab-content').children().removeClass('active');
            $(lastTab).addClass('active');
        }else
        	$('#tab-panel a[href="#general"]').tab('show');
        
        $(function() {
            $('a[data-toggle="tab"]').on('shown', function(e){
              //save the latest tab using a cookie:
              $.cookie('last_tab', $(e.target).attr('href'));
            });


          });
        
        });
        </script>

{% endblock %}
 {% load render_table from django_tables2 %}
{% block body %}

<div class="span12">
<div class="row-fluid">
<ul class="breadcrumb">
  <li>
    <a href="{% url dealer %}">Дилеры</a> <span class="divider">/</span>{{item.name}}
  </li>
</ul>

<form id="id_form" method="POST" action="{% url dealer_edit %}?id={{item.id}}" class="well form-horizontal">

            <legend>Профиль дилера</legend>
             <fieldset>
                   <div class="control-group">
                    <div class="control-row">
                      <label class="control-label"><strong>{{form.organization.label}}: </strong></label>
                      <div class="controls">
                      {{ form.organization }}
                      {% if form.organization.errors %}
                          <span class="help-inline">{% for error in form.organization.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.organization.help_text%}
                          <p class="help-block">
                              {{ form.organization.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                    </div>
                    <div class="control-row">
                      <label class="control-label">{{form.prepayment.label}}: </label>
                      <div class="controls">
                      {{ form.prepayment }}
                      {% if form.prepayment.errors %}
                          <span class="help-inline">{% for error in form.prepayment.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.prepayment.help_text%}
                          <p class="help-block">
                              {{ form.prepayment.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                    </div>
                  </div>  
                   <div class="control-group">
                    <div class="control-row">
                      <label class="control-label">{{form.director.label}}:</label>
                      <div class="controls">
                      {{ form.director }}
                      {% if form.director.errors %}
                          <span class="help-inline">{% for error in form.director.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.director.help_text%}
                          <p class="help-block">
                              {{ form.director.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                    </div>
                    <div class="control-row">
                      <label class="control-label">{{form.paydeffer.label}}: </label>
                      <div class="controls">
                      {{ form.paydeffer }}
                      {% if form.paydeffer.errors %}
                          <span class="help-inline">{% for error in form.paydeffer.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.paydeffer.help_text%}
                          <p class="help-block">
                              {{ form.paydeffer.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                    </div>
                  </div>  
                   <div class="control-group">
                    <div class="control-row">
                      <label class="control-label">{{form.contactperson.label}}:</label>
                      <div class="controls">
                      {{ form.contactperson }}
                      {% if form.contactperson.errors %}
                          <span class="help-inline">{% for error in form.contactperson.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.contactperson.help_text%}
                          <p class="help-block">
                              {{ form.contactperson.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                    </div>
                    <div class="control-row">
                      <label class="control-label">{{form.discount.label}}: </label>
                      <div class="controls">
                      {{ form.discount }}
                      {% if form.discount.errors %}
                          <span class="help-inline">{% for error in form.discount.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.discount.help_text%}
                          <p class="help-block">
                              {{ form.discount.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                    </div>
                  </div> 
                   <div class="control-group">
                    <div class="control-row">
                      <label class="control-label">{{form.postaddress.label}}: </label>
                      <div class="controls">
                      {{ form.postaddress }}
                      {% if form.postaddress.errors %}
                          <span class="help-inline">{% for error in form.postaddress.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.postaddress.help_text%}
                          <p class="help-block">
                              {{ form.postaddress.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                    </div>
                  </div> 
                   <div class="control-group">
                    <div class="control-row">
                      <label class="control-label">{{form.uraddress.label}}:</label>
                      <div class="controls">
                      {{ form.uraddress }}
                      {% if form.uraddress.errors %}
                          <span class="help-inline">{% for error in form.uraddress.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.uraddress.help_text%}
                          <p class="help-block">
                              {{ form.uraddress.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                    </div>
                  </div> 
                   <div class="control-group">
                    <div class="control-row">
                      <label class="control-label">{{form.phone.label}}:</label>
                      <div class="controls">
                      {{ form.phone }}
                      {% if form.phone.errors %}
                          <span class="help-inline">{% for error in form.phone.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.phone.help_text%}
                          <p class="help-block">
                              {{ form.phone.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                    </div>
                  </div> 
                   <div class="control-group">
                    <div class="control-row">
                      <label class="control-label">{{form.fax.label}}:</label>
                      <div class="controls">
                      {{ form.fax }}
                      {% if form.fax.errors %}
                          <span class="help-inline">{% for error in form.fax.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.fax.help_text%}
                          <p class="help-block">
                              {{ form.fax.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                    </div>
                  </div> 
                   <div class="control-group">
                    <div class="control-row">
                      <label class="control-label">{{form.email.label}}:</label>
                      <div class="controls">
                      {{ form.email }}
                      {% if form.email.errors %}
                          <span class="help-inline">{% for error in form.email.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.email.help_text%}
                          <p class="help-block">
                              {{ form.email.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                    </div>
                  </div> 
                   <div class="control-group">
                    <div class="control-row">
                      <label class="control-label">{{form.unp.label}}:</label>
                      <div class="controls">
                      {{ form.unp }}
                      {% if form.unp.errors %}
                          <span class="help-inline">{% for error in form.unp.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.unp.help_text%}
                          <p class="help-block">
                              {{ form.unp.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                    </div>
                  </div> 
                   <div class="control-group">
                    <div class="control-row">
                      <label class="control-label">{{form.okpo.label}}:</label>
                      <div class="controls">
                      {{ form.okpo }}
                      {% if form.okpo.errors %}
                          <span class="help-inline">{% for error in form.okpo.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.okpo.help_text%}
                          <p class="help-block">
                              {{ form.okpo.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                    </div>
                  </div> 
             </fieldset>
            <legend>Банк</legend>
             <fieldset>
                           <div class="control-group">
                                <div class="control-row">
                                    <label class="control-label" for="input-company-bank">{{bank_form.bank.label}}</label>
                                    <div class="controls">
                                   {{ bank_form.bank }}
                                   {% if bank_form.bank.errors %}
                                       <span class="help-inline">{% for error in bank_form.bank.errors %}{{ error }}<br/> {% endfor %}</span>
                                   {% endif %}
                                   {% if bank_form.bank.help_text%}
                                       <p class="help-block">
                                           {{ bank_form.bank.help_text|safe }}
                                       </p>
                                   {% endif %}
                                    </div>
                                </div>

                                <div class="control-row">
                                    <label class="control-label" for="input-company-swift">{{bank_form.bankcode.label}}</label>
                                    <div class="controls">
                                   {{ bank_form.bankcode }}
                                   {% if bank_form.bankcode.errors %}
                                       <span class="help-inline">{% for error in bank_form.bankcode.errors %}{{ error }}<br/> {% endfor %}</span>
                                   {% endif %}
                                   {% if bank_form.bankcode.help_text%}
                                       <p class="help-block">
                                           {{ bank_form.bankcode.help_text|safe }}
                                       </p>
                                   {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="control-row">
                                    <label class="control-label" for="input-settlement-account">{{bank_form.rs.label}}</label>
                                    <div class="controls">
                                   {{ bank_form.rs }}
                                   {% if bank_form.rs.errors %}
                                       <span class="help-inline">{% for error in bank_form.rs.errors %}{{ error }}<br/> {% endfor %}</span>
                                   {% endif %}
                                   {% if bank_form.rs.help_text%}
                                       <p class="help-block">
                                           {{ bank_form.rs.help_text|safe }}
                                       </p>
                                   {% endif %}
                                    </div>
                                </div>
                                <div class="control-row">
                                    <label class="control-label" for="input-settlement-account">{{bank_form.currency.label}}</label>
                                    <div class="controls">
                                   {{ bank_form.currency }}
                                   {% if bank_form.currency.errors %}
                                       <span class="help-inline">{% for error in bank_form.currency.errors %}{{ error }}<br/> {% endfor %}</span>
                                   {% endif %}
                                   {% if bank_form.currency.help_text%}
                                       <p class="help-block">
                                           {{ bank_form.currency.help_text|safe }}
                                       </p>
                                   {% endif %}
                                    </div>
                                </div>
                            </div>
             </fieldset>


                <fieldset>
                    <div class="form-actions form-actions-center">
                        <button class="btn btn-primary" type="submit">Сохранить</button>
                    </div>
                </fieldset>
            </form>

        </div>

    </div>

 {% endblock %}

