{% extends "ebsadmin/base.html" %}
{% block extra_head %}


        <script type="text/javascript"> 
        $(document).ready(function() {
   
        });
        </script>

{% endblock %}
{% load crispy_forms_tags %}
{% block body %}
<div class="span12">
<div class="row-fluid">
<ul class="breadcrumb">
  <li>
    <a href="{% url permissiongroup %}">Группы доступа</a> <span class="divider">/</span>
  </li>

  <li class="active">{{form.name.value}}</li>
</ul>
<form method="POST" action="{% url permissiongroup_edit %}?id={{item.id}}"class="well form-horizontal form-condensed ">
            <legend>Параметры группы доступа</legend>
             <fieldset>
                {{form|crispy}}
                </fieldset>
                <fieldset>
                    <div class="form-actions form-actions-center">
                        <button class="btn btn-primary" type="submit">Сохранить</button>
                    </div>
                </fieldset>
            </form>

            </form>
        </div>

    </div>

 {% endblock %}

