{% extends "ebsadmin/base.html" %}
{% load ebsadmin_tags %}
{% load render_table from django_tables2 %}
{% block extra_head %}

        <script type="text/javascript"> 
        $(document).ready(function() {
        });
        </script>

{% endblock %}
{% block base %}

  <div class="row-fluid">
<div>
<ul class="breadcrumb">
  <li>
    <a href="{% url salecard_edit %}">Накладные на карты</a> <span class="divider">/</span>
  </li>
</ul>
</div>

<div>
  {% render_table table %}
</div>
    </div>
 {% endblock %}

