{% extends "ebsadmin/base.html" %}
{% load i18n %}
{% load ebsadmin_tags %}
{% block extra_head %}


        <script type="text/javascript"> 
        $(document).ready(function() {
        $("#id_length_in").change(function () {
        	if ($("#id_length_in").val()=='' || $("#id_length_in").val()=='DONT_REPEAT')
        		$("#id_length").attr("disabled", false)
        	else{
        		$("#id_length").attr("disabled", true);
        		$("#id_length").val(0);
        	}
    
        });
        $("#id_autostart").click(function () {
            if ($("#id_autostart").prop('checked')){
                $("#time_start_id").hide();

            }
            else{
                $("#time_start_id").show();

                //$("#id_time_start_1").show();
                
            }
    
        })
        $('.datepicker').datepicker({
            months: ["{% blocktrans %}Январь{% endblocktrans %}","{% blocktrans %}Февраль{% endblocktrans %}","{% blocktrans %}Март{% endblocktrans %}","{% blocktrans %}Апрель{% endblocktrans %}","{% blocktrans %}Май{% endblocktrans %}","{% blocktrans %}Июнь{% endblocktrans %}","{% blocktrans %}Июль{% endblocktrans %}","{% blocktrans %}Август{% endblocktrans %}","{% blocktrans %}Сентябрь{% endblocktrans %}","{% blocktrans %}Октябрь{% endblocktrans %}","{% blocktrans %}Ноябрь{% endblocktrans %}","{% blocktrans %}Декабрь{% endblocktrans %}"],
            weekStart: 1,
            noDefault: true,
            format: 'yyyy-mm-dd hh:ii:ss',
            days: ["{% blocktrans %}вс{% endblocktrans %}", "{% blocktrans %}пн{% endblocktrans %}","{% blocktrans %}вт{% endblocktrans %}","{% blocktrans %}ср{% endblocktrans %}","{% blocktrans %}чт{% endblocktrans %}","{% blocktrans %}пт{% endblocktrans %}","{% blocktrans %}сб{% endblocktrans %}"],});

        
            if ($("#id_length_in").val()=='' || $("#id_length_in").val()=='DONT_REPEAT')
                $("#id_length").attr("disabled", false)
            else
                $("#id_length").attr("disabled", true)

            if ($("#id_autostart").prop('checked')){
                $("#time_start_id").hide();
                //$("#id_time_start_1").hide();
            }
            else{
                $("#time_start_id").show();
                //$("#id_time_start_1").show();
                
            }
        });
        </script>

{% endblock %}
 {% load render_table from django_tables2 %}
{% block base %}
<div class="span12">
<div class="row-fluid">
<ul class="breadcrumb">
  <li>
    <a href="{% url 'settlementperiod' %}">{% blocktrans %}Расчётные периоды{% endblocktrans %}</a> <span class="divider">/</span>
  </li>

  <li class="active">{{form.name.value}}</li>
</ul>
<form method="POST" action="{% url 'settlementperiod_edit' %}?id={{item.id}}"class="well form-horizontal form-condensed ">
            <legend>{% blocktrans %}Параметры расчётного периода{% endblocktrans %}</legend>
             <fieldset>
                            <div class="control-group {% if form.name.errors %}error{% endif %}">
                                <div class="control-row">
                                    <label class="control-label" for="input-floor">{{form.name.label}}</label>
                                    <div class="controls">
                                            {{ form.name }}
                                            {% if form.name.errors %}
                                                <span class="help-inline error">{% for error in form.name.errors %}{{ error }}<br/> {% endfor %}</span>
                                            {% endif %}
                                            {% if form.name.help_text%}
                                                <p class="help-block">
                                                    {{ form.name.help_text|safe }}
                                                </p>
                                            {% endif %}
                                    </div>
                                </div>
                                </div>
                            <div class="control-group  {% if form.autostart.errors %}error{% endif %}">
                                <div class="control-row">
                                    
                                    <div class="controls">
                                            <label class="checkbox">{{ form.autostart }}{{form.autostart.label}}</label>
                                            {% if form.autostart.errors %}
                                                <span class="help-inline">{% for error in form.autostart.errors %}{{ error }}<br/> {% endfor %}</span>
                                            {% endif %}
                                            {% if form.autostart.help_text%}
                                                <p class="help-block">
                                                    {{ form.autostart.help_text|safe }}
                                                </p>
                                            {% endif %}
                                    </div>
                                </div>
                                </div>
                            <div id="time_start_id" class="control-group  {% if form.time_start.errors %}error{% endif %}">
                                <div class="control-row">
                                    <label class="control-label" for="input-floor">{{form.time_start.label}}</label>
                                    <div class="controls">
                                            {{ form.time_start }}
                                            {% if form.time_start.errors %}
                                                <span class="help-inline">{% for error in form.time_start.errors %}{{ error }}<br/> {% endfor %}</span>
                                            {% endif %}
                                            {% if form.time_start.help_text%}
                                                <p class="help-block">
                                                    {{ form.time_start.help_text|safe }}
                                                </p>
                                            {% endif %}
                                    </div>
                                </div>
                                </div>

                            <div class="control-group  {% if form.length_in.errors %}error{% endif %}">

                                    <label class="control-label" for="input-floor">{{form.length_in.label}}</label>
                                    <div class="controls">
                                    <span class='inline'>
                                            {{ form.length_in }}
                                            {% if form.length_in.errors %}
                                                <span class="help-inline">{% for error in form.length_in.errors %}{{ error }}<br/> {% endfor %}</span>
                                            {% endif %}
                                            {% if form.length_in.help_text%}
                                                <p class="help-block">
                                                    {{ form.length_in.help_text|safe }}
                                                </p>
                                            {% endif %}
                                            </span>
                                    <span class='inline'>
                                            {{ form.length }}
                                            {% if form.length.errors %}
                                                <span class="help-inline">{% for error in form.length.errors %}{{ error }}<br/> {% endfor %}</span>
                                            {% endif %}
                                            {% if form.length.help_text%}
                                                <p class="help-block">
                                                    {{ form.length.help_text|safe }}
                                                </p>
                                            {% endif %}
                                            </span>
                                        cекунд
                                    </div>
                                </div>
                </fieldset>
                <fieldset>
                    <div class="form-actions form-actions-center">
                        <button class="btn btn-primary" type="submit">{% blocktrans %}Сохранить{% endblocktrans %}</button>
                    </div>
                </fieldset>
            </form>

            </form>
        </div>

    </div>

 {% endblock %}

