{% extends "ebsadmin/base.html" %}
{% load i18n %}
{% load ebsadmin_tags %}
{% block extra_head %}

        <script type="text/javascript"> 
        $(document).ready(function() {
            $(".show-confirm").click(function(event) {
                a=$(this);
                $.fn.dialog2.helpers.confirm("Удалить?", {
                    confirm: function() {
                        $.getJSON(a.attr('href'),{},function(data,status){
                            if( status=='success' ){
                                if(data.status==true)
                                    {
                                    location.reload();
                                    }else{
                                        alert(data.message)
                                    }
                                
                            }else{
                                alert('Произошла непредвиденная ошибка')
                            }

                        })                      
                        }, 
                    decline: function() {  }
                });

                event.preventDefault(event);
            });
        });
        </script>

{% endblock %}
 {% load render_table from django_tables2 %}
{% block base %}
<div class="span12">
<div class="row-fluid">
<ul class="breadcrumb">
  <li>
    <a href="{% url systemuser %}">Системные пользователи</a> <span class="divider">/</span>
  </li>

  <li class="active">{{form.username.value}}</li>
</ul>
<form method="POST" action="{% url systemuser_edit %}?id={{item.id}}"class="well form-horizontal form-condensed ">
            <legend>Параметры учётной записи{% objectlog item %}</legend>
             <fieldset>
                 <div class="control-group ">
                     <div class="control-row {% if form.username.errors %}error{% endif %}">
                         <label class="control-label" for="input-floor">{{form.username.label}}</label>
                         <div class="controls">
                                 {{ form.username }}
                                 {% if form.username.errors %}
                                     <span class="help-inline error">{% for error in form.username.errors %}{{ error }}<br/> {% endfor %}</span>
                                 {% endif %}
                                 {% if form.username.help_text%}
                                     <p class="help-block">
                                         {{ form.username.help_text|safe }}
                                     </p>
                                 {% endif %}
                         </div>
                     </div>
                     <div class="control-row {% if form.created.errors %}error{% endif %}">
                         <label class="control-label" for="input-floor">{{form.created.label}}</label>
                         <div class="controls">
                                 {{ form.created }}
                                 {% if form.created.errors %}
                                     <span class="help-inline error">{% for error in form.created.errors %}{{ error }}<br/> {% endfor %}</span>
                                 {% endif %}
                                 {% if form.created.help_text%}
                                     <p class="help-block">
                                         {{ form.created.help_text|safe }}
                                     </p>
                                 {% endif %}
                         </div>
                     </div>
                     </div>

                 <div class="control-group ">
                     <div class="control-row {% if form.text_password.errors %}error{% endif %}">
                         <label class="control-label" for="input-floor">{{form.text_password.label}}</label>
                         <div class="controls">
                                 {{ form.text_password }}
                                 {% if form.text_password.errors %}
                                     <span class="help-inline error">{% for error in form.text_password.errors %}{{ error }}<br/> {% endfor %}</span>
                                 {% endif %}
                                 {% if form.text_password.help_text%}
                                     <p class="help-block">
                                         {{ form.text_password.help_text|safe }}
                                     </p>
                                 {% endif %}
                         </div>
                     </div>
                     <div class="control-row {% if form.last_ip.errors %}error{% endif %}">
                         <label class="control-label" for="input-floor">{{form.last_ip.label}}</label>
                         <div class="controls">
                                 {{ form.last_ip }}
                                 {% if form.last_ip.errors %}
                                     <span class="help-inline error">{% for error in form.last_ip.errors %}{{ error }}<br/> {% endfor %}</span>
                                 {% endif %}
                                 {% if form.last_ip.help_text%}
                                     <p class="help-block">
                                         {{ form.last_ip.help_text|safe }}
                                     </p>
                                 {% endif %}
                         </div>
                     </div>
                     </div>
                 <div class="control-group ">
                     <div class="control-row">
                         <label class="control-label" for="input-floor">{{form.status.label}}</label>
                         <div class="controls">
                                 {{ form.status }}
                                 {% if form.status.errors %}
                                     <span class="help-inline error">{% for error in form.status.errors %}{{ error }}<br/> {% endfor %}</span>
                                 {% endif %}
                                 {% if form.status.help_text%}
                                     <p class="help-block">
                                         {{ form.status.help_text|safe }}
                                     </p>
                                 {% endif %}
                         </div>
                     </div>
                     <div class="control-row {% if form.last_login.errors %}error{% endif %}">
                         <label class="control-label" for="input-floor">{{form.last_login.label}}</label>
                         <div class="controls">
                                 {{ form.last_login }}
                                 {% if form.last_login.errors %}
                                     <span class="help-inline error">{% for error in form.last_login.errors %}{{ error }}<br/> {% endfor %}</span>
                                 {% endif %}
                                 {% if form.last_login.help_text%}
                                     <p class="help-block">
                                         {{ form.last_login.help_text|safe }}
                                     </p>
                                 {% endif %}
                         </div>
                     </div>
                     </div>
                 <div class="control-group ">
                     <div class="control-row {% if form.host.errors %}error{% endif %}">
                         <label class="control-label" for="input-floor">{{form.host.label}}</label>
                         <div class="controls">
                                 {{ form.host }}
                                 {% if form.host.errors %}
                                     <span class="help-inline error">{% for error in form.host.errors %}{{ error }}<br/> {% endfor %}</span>
                                 {% endif %}
                                 {% if form.host.help_text%}
                                     <p class="help-block">
                                         {{ form.host.help_text|safe }}
                                     </p>
                                 {% endif %}
                         </div>
                     </div>
                     <div class="control-row {% if form.last_login.errors %}error{% endif %}">
                         <label class="control-label" for="input-floor"></label>
                         <div class="controls">
                                &nbsp;
                         </div>
                     </div>
                     </div>
                 <div class="control-group ">
                     <div class="control-row {% if form.permissiongroup.errors %}error{% endif %}">
                         <label class="control-label" for="input-floor">{{form.permissiongroup.label}}</label>
                         <div class="controls">
                                 {{ form.permissiongroup }}
                                 {% if form.permissiongroup.errors %}
                                     <span class="help-inline error">{% for error in form.permissiongroup.errors %}{{ error }}<br/> {% endfor %}</span>
                                 {% endif %}
                                 {% if form.permissiongroup.help_text%}
                                     <p class="help-block">
                                         {{ form.permissiongroup.help_text|safe }}
                                     </p>
                                 {% endif %}
                         </div>
                     </div>
                     <div class="control-row {% if form.last_login.errors %}error{% endif %}">
                         <label class="control-label" for="input-floor"></label>
                         <div class="controls">
                                &nbsp;
                         </div>
                     </div>
                     </div>
                 <div class="control-group ">
                     <div class="control-row {% if form.is_superuser.errors %}error{% endif %}">
                         <label class="control-label" for="input-floor">{{form.is_superuser.label}}</label>
                         <div class="controls">
                                 {{ form.is_superuser }}
                                 {% if form.is_superuser.errors %}
                                     <span class="help-inline error">{% for error in form.is_superuser.errors %}{{ error }}<br/> {% endfor %}</span>
                                 {% endif %}
                                 {% if form.is_superuser.help_text%}
                                     <p class="help-block">
                                         {{ form.is_superuser.help_text|safe }}
                                     </p>
                                 {% endif %}
                         </div>
                     </div>
                     <div class="control-row {% if form.last_login.errors %}error{% endif %}">
                         <label class="control-label" for="input-floor"></label>
                         <div class="controls">
                                &nbsp;
                         </div>
                     </div>
                     </div>
                </fieldset>
            <legend>Профиль</legend>
             <fieldset>
                 <div class="control-group ">
                     <div class="control-row {% if form.fullname.errors %}error{% endif %}">
                         <label class="control-label" for="input-floor">{{form.fullname.label}}</label>
                         <div class="controls">
                                 {{ form.fullname }}
                                 {% if form.fullname.errors %}
                                     <span class="help-inline error">{% for error in form.fullname.errors %}{{ error }}<br/> {% endfor %}</span>
                                 {% endif %}
                                 {% if form.fullname.help_text%}
                                     <p class="help-block">
                                         {{ form.fullname.help_text|safe }}
                                     </p>
                                 {% endif %}
                         </div>
                     </div>
                     <div class="control-row {% if form.address.errors %}error{% endif %}">
                         <label class="control-label" for="input-floor">{{form.address.label}}</label>
                         <div class="controls">
                                 {{ form.address }}
                                 {% if form.address.errors %}
                                     <span class="help-inline error">{% for error in form.address.errors %}{{ error }}<br/> {% endfor %}</span>
                                 {% endif %}
                                 {% if form.address.help_text%}
                                     <p class="help-block">
                                         {{ form.address.help_text|safe }}
                                     </p>
                                 {% endif %}
                         </div>
                     </div>
                 </div>
                 <div class="control-group ">
                     <div class="control-row {% if form.job.errors %}error{% endif %}">
                         <label class="control-label" for="input-floor">{{form.job.label}}</label>
                         <div class="controls">
                                 {{ form.job }}
                                 {% if form.job.errors %}
                                     <span class="help-inline error">{% for error in form.job.errors %}{{ error }}<br/> {% endfor %}</span>
                                 {% endif %}
                                 {% if form.job.help_text%}
                                     <p class="help-block">
                                         {{ form.job.help_text|safe }}
                                     </p>
                                 {% endif %}
                         </div>
                     </div>
                     <div class="control-row">
                         &nbsp;
                     </div>
                 </div>
                 <div class="control-group ">
                     <div class="control-row {% if form.home_phone.errors %}error{% endif %}">
                         <label class="control-label" for="input-floor">{{form.home_phone.label}}</label>
                         <div class="controls">
                                 {{ form.home_phone }}
                                 {% if form.home_phone.errors %}
                                     <span class="help-inline error">{% for error in form.home_phone.errors %}{{ error }}<br/> {% endfor %}</span>
                                 {% endif %}
                                 {% if form.home_phone.help_text%}
                                     <p class="help-block">
                                         {{ form.home_phone.help_text|safe }}
                                     </p>
                                 {% endif %}
                         </div>
                     </div>
                     <div class="control-row ">
                         <label class="control-label" for="input-floor"></label>
                         <div class="controls">
                                 &nbsp;
                         </div>
                     </div>
                     </div>
                 <div class="control-group ">
                     <div class="control-row {% if form.mobile_phone.errors %}error{% endif %}">
                         <label class="control-label" for="input-floor">{{form.mobile_phone.label}}</label>
                         <div class="controls">
                                 {{ form.mobile_phone }}
                                 {% if form.mobile_phone.errors %}
                                     <span class="help-inline error">{% for error in form.mobile_phone.errors %}{{ error }}<br/> {% endfor %}</span>
                                 {% endif %}
                                 {% if form.mobile_phone.help_text%}
                                     <p class="help-block">
                                         {{ form.mobile_phone.help_text|safe }}
                                     </p>
                                 {% endif %}
                         </div>
                     </div>
                     <div class="control-row ">
                         <label class="control-label" for="input-floor"></label>
                         <div class="controls">
                                 &nbsp;
                         </div>
                     </div>
                     </div>
                 <div class="control-group ">
                     <div class="control-row {% if form.im.errors %}error{% endif %}">
                         <label class="control-label" for="input-floor">{{form.im.label}}</label>
                         <div class="controls">
                                 {{ form.im }}
                                 {% if form.im.errors %}
                                     <span class="help-inline error">{% for error in form.im.errors %}{{ error }}<br/> {% endfor %}</span>
                                 {% endif %}
                                 {% if form.im.help_text%}
                                     <p class="help-block">
                                         {{ form.im.help_text|safe }}
                                     </p>
                                 {% endif %}
                         </div>
                     </div>
                     <div class="control-row {% if form.email.errors %}error{% endif %}">
                         <label class="control-label" for="input-floor">{{form.email.label}}</label>
                         <div class="controls">
                                 {{ form.email }}
                                 {% if form.email.errors %}
                                     <span class="help-inline error">{% for error in form.email.errors %}{{ error }}<br/> {% endfor %}</span>
                                 {% endif %}
                                 {% if form.email.help_text%}
                                     <p class="help-block">
                                         {{ form.email.help_text|safe }}
                                     </p>
                                 {% endif %}
                         </div>
                     </div>
                 </div>
                </fieldset>
            <legend>Приватная информация</legend>
             <fieldset>
                 <div class="control-group ">
                     <div class="control-row {% if form.passport.errors %}error{% endif %}">
                         <label class="control-label" for="input-floor">{{form.passport.label}}</label>
                         <div class="controls">
                                 {{ form.passport }}
                                 {% if form.passport.errors %}
                                     <span class="help-inline error">{% for error in form.passport.errors %}{{ error }}<br/> {% endfor %}</span>
                                 {% endif %}
                                 {% if form.passport.help_text%}
                                     <p class="help-block">
                                         {{ form.passport.help_text|safe }}
                                     </p>
                                 {% endif %}
                         </div>
                     </div>
                     <div class="control-row {% if form.passport_details.errors %}error{% endif %}">
                         <label class="control-label" for="input-floor">{{form.passport_details.label}}</label>
                         <div class="controls">
                                 {{ form.passport_details }}
                                 {% if form.passport_details.errors %}
                                     <span class="help-inline error">{% for error in form.passport_details.errors %}{{ error }}<br/> {% endfor %}</span>
                                 {% endif %}
                                 {% if form.passport_details.help_text%}
                                     <p class="help-block">
                                         {{ form.passport_details.help_text|safe }}
                                     </p>
                                 {% endif %}
                         </div>
                     </div>
                     </div>
                 <div class="control-group ">
                     <div class="control-row {% if form.passport_number.errors %}error{% endif %}">
                         <label class="control-label" for="input-floor">{{form.passport_number.label}}</label>
                         <div class="controls">
                                 {{ form.passport_number }}
                                 {% if form.passport_number.errors %}
                                     <span class="help-inline error">{% for error in form.passport_number.errors %}{{ error }}<br/> {% endfor %}</span>
                                 {% endif %}
                                 {% if form.passport_number.help_text%}
                                     <p class="help-block">
                                         {{ form.passport_number.help_text|safe }}
                                     </p>
                                 {% endif %}
                         </div>
                     </div>
                     <div class="control-row ">
                         <label class="control-label" for="input-floor"></label>
                         <div class="controls">
                                 &nbsp;
                         </div>
                     </div>
                     </div>
                 <div class="control-group ">
                     <div class="control-row {% if form.unp.errors %}error{% endif %}">
                         <label class="control-label" for="input-floor">{{form.unp.label}}</label>
                         <div class="controls">
                                 {{ form.unp }}
                                 {% if form.unp.errors %}
                                     <span class="help-inline error">{% for error in form.unp.errors %}{{ error }}<br/> {% endfor %}</span>
                                 {% endif %}
                                 {% if form.unp.help_text%}
                                     <p class="help-block">
                                         {{ form.unp.help_text|safe }}
                                     </p>
                                 {% endif %}
                         </div>
                     </div>
                     <div class="control-row ">
                         <label class="control-label" for="input-floor"></label>
                         <div class="controls">
                                 &nbsp;
                         </div>
                     </div>
                     </div>
                </fieldset>
            <legend>Прочее</legend>
             <fieldset>
                 <div class="control-group ">
                     <div class="control-row {% if form.description.errors %}error{% endif %}">
                         <label class="control-label" for="input-floor">{{form.description.label}}</label>
                         <div class="controls">
                                 {{ form.description }}
                                 {% if form.description.errors %}
                                     <span class="help-inline error">{% for error in form.description.errors %}{{ error }}<br/> {% endfor %}</span>
                                 {% endif %}
                                 {% if form.description.help_text%}
                                     <p class="help-block">
                                         {{ form.description.help_text|safe }}
                                     </p>
                                 {% endif %}
                         </div>
                     </div>
                     </div>

                </fieldset>
                <fieldset>
                    <div class="form-actions form-actions-center">
                        <button class="btn btn-primary" type="submit">Сохранить</button>
                    </div>
                </fieldset>
            </form>

            </form>
        </div>

    </div>

 {% endblock %}

