{% load ebsadmin_tags %}
{% load i18n %}
{% if not status %}
    {% for message in messages %}

<div class="alert fade in {{ message.tags }}">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ message }}
          </div>

      {% endfor %}
 <script type="text/javascript"> 
 $(document).ready(function() {

 });

 </script>

{% if form %}
            <form method="POST" action="{% url 'tariff_addonservicetariff_edit' %}" class="well form-horizontal ajax form-condensed ">
            {{form.id}}
            {{form.tarif}}
                <fieldset>
                  <div class="control-group">
                      <label class="control-label">{{form.service.label}}: </label>
                      <div class="controls">
                      {{ form.service }}
                      {% if form.service.errors %}
                          <span class="help-inline">{% for error in form.service.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.service.help_text%}
                          <p class="help-block">
                              {{ form.service.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>   
                  <div class="control-group">
                  <div class="control-row">
                      <label class="control-label">{{form.activation_count_period.label}}: </label>
                      <div class="controls">
                      {{ form.activation_count_period }}
                      {% if form.activation_count_period.errors %}
                          <span class="help-inline">{% for error in form.activation_count_period.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.activation_count_period.help_text%}
                          <p class="help-block">
                              {{ form.activation_count_period.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  </div>
                  <div class="control-group">
                  <div class="control-row">
                      <label class="control-label">{{form.activation_count.label}}: </label>
                      <div class="controls">
                      {{ form.activation_count }}
                      {% if form.activation_count.errors %}
                          <span class="help-inline">{% for error in form.activation_count.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.activation_count.help_text%}
                          <p class="help-block">
                              {{ form.activation_count.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  </div>
                  <div class="control-group">
                  <div class="control-row">
                      <label class="control-label">{{form.type.label}}: </label>
                      <div class="controls">
                      {{ form.type }}
                      {% if form.type.errors %}
                          <span class="help-inline">{% for error in form.type.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.type.help_text%}
                          <p class="help-block">
                              {{ form.type.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  </div>
                </fieldset>
                
                <div class="form-actions">
                    <input type='submit' class="btn btn-primary" value="{% blocktrans %}Сохранить{% endblocktrans %}">
                    <a class="btn close-dialog" href="#">{% blocktrans %}Close{% endblocktrans %}</a>
                </div>
            </form>
{% endif %}
{% else %}
{% blocktrans %}Операция произведена успешно.{% endblocktrans %}
 <script type="text/javascript"> 
 $(document).ready(function() {
     location.reload();
 });
 </script>
{% endif %}
