{% extends "ebsadmin/tariff_edit.html" %}
 {% load render_table from django_tables2 %}
 
 

                
{% block extra_head %}
{{block.super}}

 <script type="text/javascript"> 
 $(document).ready(function() {
     $(".open-custom-dialog").click(function(event) {
         $('<div />').dialog2({
             title: "Правило начисления предоплаченного трафика", 
             content: this.href, 
             id: "periodicalservice-modal"
         });

         event.preventDefault();
     });
     $(".show-confirm").click(function() {
         a=$(this);
         $.fn.dialog2.helpers.confirm("Удалить? Вы уверены, что хотите удалить услугу тарификации трафика?", {
             confirm: function() {
                 $.getJSON(a.attr('href'),{},function(data,status){
                     if( status=='success' ){
                         if(data.status==true)
                             {
                             location.reload();
                             }else{
                                 alert(data.message)
                             }
                         
                     }else{
                         alert('Произошла непредвиденная ошибка')
                     }

                 })                      
                 }, 
             decline: function() {  }
         });

         event.preventDefault();
     });
     $("#modal-traffictransmitnode-dialog").click(function(event) {
         $('<div />').dialog2({
             title: "Добавить параметры тарификации", 
             content: "{% url tariff_traffictransmitnode_edit %}?tariff_id={{tariff.id}}", 
             id: "traffictransmitnode-modal"
         });

         event.preventDefault();
     });
     $("#modal-prepaidtraffic-dialog").click(function(event) {
         $('<div />').dialog2({
             title: "Предоплаченный трафик", 
             content: "{% url tariff_prepaidtraffic_edit %}?tariff_id={{tariff.id}}", 
             id: "traffictransmitnode-modal"
         });

         event.preventDefault();
     });
     
 });
 </script>
{% endblock %}
{% block tariff_content %}

<form method="POST" action="{% url tariff_traffictransmitservice %}?id={{item.id}}&tariff_id={{tariff.id}}"class="well form-horizontal form-condensed ">
{{form.id}}
{% if item %}
<div class="btn-toolbar"><a href="{{item.get_remove_url}}" class="btn btn-danger align-right show-confirm">Удалить услугу</a></div>
{% endif %}
            <legend>Тарификация трафика по NetFlow</legend>
            {% if item %}
             <fieldset>
  {% render_table table %}
  <div class="btn-toolbar"><a href="#" id="modal-traffictransmitnode-dialog" class="btn btn-success">Добавить</a></div>
                </fieldset>
                <legend>Предоплаченный трафик</legend>
             <fieldset>
  {% if prepaidtraffic_table %}{% render_table prepaidtraffic_table %}{% endif %}
  <div class="btn-toolbar"><a href="#"  id="modal-prepaidtraffic-dialog" class="btn btn-success">Добавить</a></div>
  {{form.reset_traffic}} Сбрасывать предоплаченный трафик в конце расчётного периода (указан в общих настройках тарифного плана)
                </fieldset>
                <fieldset>
                    <div class="form-actions form-actions-center">
                        <button class="btn btn-primary" type="submit">Сохранить</button>
                    </div>
                </fieldset>
                {% else %}
                <fieldset>
                    <div class="form-actions form-actions-center">
                        <button class="btn btn-primary" type="submit">Добавить услугу тарификации трафика</button>
                    </div>
                </fieldset>
                {% endif %}
            </form>
{% endblock %}