{% extends "ebsadmin/tariff_edit.html" %}
{% load i18n %}
{% load ebsadmin_tags %}
{% load render_table from django_tables2 %}
 
 

                
{% block extra_head %}
{{block.super}}

 <script type="text/javascript"> 
 $(document).ready(function() {
     $(".open-custom-dialog").click(function(event) {
         $('<div />').dialog2({
             title: "{% blocktrans %}Правило начисления предоплаченного трафика{% endblocktrans %}", 
             content: this.href, 
             id: "periodicalservice-modal"
         });

         event.preventDefault(event);
     });
     $(".show-confirm").click(function(event) {
         a=$(this);
         $.fn.dialog2.helpers.confirm("{% blocktrans %}Удалить? Вы уверены, что хотите удалить запись?{% endblocktrans %}", {
             confirm: function() {
                 $.getJSON(a.attr('href'),{},function(data,status){
                     if( status=='success' ){
                         if(data.status==true)
                             {
                             location.reload();
                             }else{
                                 alert(data.message)
                             }
                         
                     }else{
                         alert('{% blocktrans %}Произошла непредвиденная ошибка{% endblocktrans %}')
                     }

                 })                      
                 }, 
             decline: function() {  }
         });

         event.preventDefault(event);
     });
     $("#modal-traffictransmitnode-dialog").click(function(event) {
         $('<div />').dialog2({
             title: "{% blocktrans %}Добавить параметры тарификации{% endblocktrans %}", 
             content: "{% url tariff_traffictransmitnode_edit %}?tariff_id={{tariff.id}}", 
             id: "traffictransmitnode-modal"
         });

         event.preventDefault(event);
     });
     $("#modal-prepaidtraffic-dialog").click(function(event) {
         $('<div />').dialog2({
             title: "{% blocktrans %}Предоплаченный трафик{% endblocktrans %}", 
             content: "{% url tariff_prepaidtraffic_edit %}?tariff_id={{tariff.id}}", 
             id: "traffictransmitnode-modal"
         });

         event.preventDefault(event);
     });
     
 });
 </script>
{% endblock %}
{% block tariff_content %}

<form method="POST" action="{% url tariff_traffictransmitservice %}?id={{item.id}}&tariff_id={{tariff.id}}"class="well form-horizontal form-condensed ">
{{form.id}}
{% if item %}
<div class="btn-toolbar"><a href="{{item.get_remove_url}}" class="btn btn-danger align-right show-confirm">{% blocktrans %}Удалить услугу{% endblocktrans %}</a></div>
{% endif %}
            <legend>{% blocktrans %}Тарификация трафика по NetFlow{% endblocktrans %}</legend>
            {% if item %}
             <fieldset>
  {% render_table table %}
  <div class="btn-toolbar"><a href="#" id="modal-traffictransmitnode-dialog" class="btn btn-success">{% blocktrans %}Добавить{% endblocktrans %}</a></div>
                </fieldset>
                <legend>{% blocktrans %}Предоплаченный трафик{% endblocktrans %}</legend>
             <fieldset>
  {% if prepaidtraffic_table %}{% render_table prepaidtraffic_table %}{% endif %}
  <div class="btn-toolbar"><a href="#"  id="modal-prepaidtraffic-dialog" class="btn btn-success">{% blocktrans %}Добавить{% endblocktrans %}</a></div>
  {{form.reset_traffic}} {% blocktrans %}Сбрасывать предоплаченный трафик в конце расчётного периода (указан в общих настройках тарифного плана){% endblocktrans %}
                </fieldset>
                <fieldset>
                    <div class="form-actions form-actions-center">
                        <button class="btn btn-primary" type="submit">{% blocktrans %}Сохранить{% endblocktrans %}</button>
                    </div>
                </fieldset>
                {% else %}
                <fieldset>
                    <div class="form-actions form-actions-center">
                        <button class="btn btn-primary" type="submit">{% blocktrans %}Добавить услугу тарификации трафика{% endblocktrans %}</button>
                    </div>
                </fieldset>
                {% endif %}
            </form>
{% endblock %}