{% extends "ebsadmin/tariff_edit.html" %}
{% load i18n %}
{% load ebsadmin_tags %}
 {% load render_table from django_tables2 %}
{% block extra_head %}
{{block.super}}

 <script type="text/javascript"> 
 $(document).ready(function() {
     $(".open-custom-dialog").click(function(event) {
         $('<div />').dialog2({
             title: "Периодическая услуга", 
             content: this.href, 
             id: "periodicalservice-modal"
         });

         event.preventDefault(event);
     });
     $(".show-confirm").click(function(event) {
         a=$(this);
         $.fn.dialog2.helpers.confirm("Удалить? Удаление периодической услуги вызовет обнуление информации о списаниях по ней. Вместо этого рекомемендуется воспользоваться отключением услуги.", {
             confirm: function() {
                 $.getJSON(a.attr('href'),{},function(data,status){
                     if( status=='success' ){
                         if(data.status==true)
                             {
                             location.reload();
                             }else{
                                 alert(data.message)
                             }
                         
                     }else{
                         alert('Произошла непредвиденная ошибка')
                     }

                 })                      
                 }, 
             decline: function() {  }
         });

         event.preventDefault(event);
     });
     $("#modal-periodicalservice-dialog").click(function(event) {
         $('<div />').dialog2({
             title: "Добавить периодическую услугу", 
             content: "{% url tariff_periodicalservice_edit %}?tariff_id={{tariff.id}}", 
             id: "ps-modal"
         });

         event.preventDefault(event);
     });
 });
 </script>
{% endblock %}

{% block tariff_content %}

            <legend>Периодические услуги</legend>
<div class="alert alert-info">
Периодические услуги позволяют производить списания с указанным интервалом и способом.
</div>
             <fieldset>
{{ formset.non_form_errors.as_ul }}
  {% if table %}{% render_table table %}{% endif %}
  <div class="btn-toolbar"><a href="#" id="modal-periodicalservice-dialog" class="btn btn-success">Добавить</a></div>
                </fieldset>
{% endblock %}