    {% for message in messages %}

<div class="alert fade in {{ message.tags }}">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ message }}
          </div>

      {% endfor %}
{% load ebsadmin_tags %}
{% load crispy_forms_tags %}

        <script type="text/javascript"> 
        $(document).ready(function() {


            $("#id_time_start_1").mask("99:99:99");

            $("#id_time_end_1").mask("99:99:99");
            $('#id_time_start_0').datepicker({'format': 'yyyy-mm-dd'});
            $('#id_time_end_0').datepicker({'format': 'yyyy-mm-dd'});
        });
        </script>

{{form|crispy}}





