{% extends "ebsadmin/base.html" %}

{% load i18n %}
{% load ebsadmin_tags %}
{% load render_table from django_tables2 %}

{% block extra_head %}
<script src="/static/general.js"></script>
{% endblock %}

{% block base %}
    <div class="row-fluid">
        <div>
            <ul class="breadcrumb">
                <li>
                    <a href="{% url 'transactiontype' %}">{% blocktrans %}Типы проводок{% endblocktrans %}</a>
                    <span class="divider">/</span>
                </li>
            </ul>
        </div>
        
        <div class="btn-toolbar pull-right">
            <a href="{% url 'transactiontype_edit' %}" class="btn btn-success align-right">
                {% blocktrans %}Добавить{% endblocktrans %}
            </a>
        </div>
        
        <div>
            {% render_table table %}
        </div>
    </div>
{% endblock %}
