{% load ebsadmin_tags %}
{% if not status %}
<script  type="text/javascript" >
$(document).ready(function() {

    
	function a(e) {
        if ($("#id_type").val()=='{{promise_type.id}}'){
            $("#id_promise_section").show()
            $(".timepicker").val("00:00:00");
        }else{
            $("#id_promise_section").hide()
        }
    }
    $('#id_type').change(a);
    a();
    });

</script>


    {% for message in messages %}

<div class="alert fade in {{ message.tags }}">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ message }}
          </div>

      {% endfor %}
           
{% if form %}
                <form action='{% url transaction_edit %}?account_id={{account.id}}' method="POST" class="well form-horizontal ajax form-condensed ">
                <fieldset>
                {{ form.account }}
                  <div class="control-group">
                      <label class="control-label">{{form.type.label}}</label>
                      <div class="controls">
                      {{ form.type }}
                      {% if form.type.errors %}
                          <span class="help-inline">{% for error in form.type.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.type.help_text%}
                          <p class="help-block">
                              {{ form.type.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label">{{form.bill.label}}</label>
                      <div class="controls">
                      {{ form.bill }}
                      {% if form.bill.errors %}
                          <span class="help-inline">{% for error in form.bill.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.bill.help_text%}
                          <p class="help-block">
                              {{ form.bill.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label">{{form.description.label}}</label>
                      <div class="controls">
                      {{ form.description }}
                      {% if form.description.errors %}
                          <span class="help-inline">{% for error in form.description.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.description.help_text%}
                          <p class="help-block">
                              {{ form.description.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label">{{form.summ.label}}</label>
                      <div class="controls">
                      {{ form.summ }}
                      {% if form.summ.errors %}
                          <span class="help-inline">{% for error in form.summ.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.summ.help_text%}
                          <p class="help-block">
                              {{ form.summ.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label">{{form.created.label}}</label>
                      <div class="controls">
                      {{ form.created }}
                      {% if form.created.errors %}
                          <span class="help-inline">{% for error in form.created.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.created.help_text%}
                          <p class="help-block">
                              {{ form.created.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>

                  <div class="control-group" id='id_promise_section'>
                      <label class="control-label">{{form.end_promise.label}}</label>
                      <div class="controls">
                      <span class="add-on">{{ form.end_promise }}</span> {{form.promise_never_expire}} <span class="help-inline">Никогда</span>
                      {% if form.end_promise.errors %}
                          <span class="help-inline">{% for error in form.end_promise.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.end_promise.help_text%}
                          <p class="help-block">
                              {{ form.end_promise.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                </fieldset>
                <div class="form-actions">
				    <input type='submit' class="btn btn-primary" value="Оплатить">
				    <a class="btn close-dialog" href="#">Закрыть</a>
				</div>
                </form>
 <script type="text/javascript"> 
 $(document).ready(function() {

     $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
     $(".timepicker").mask("99:99:99");
     
 });
 </script>
 {% endif %}
{% else %}
 <script type="text/javascript"> 
 $(document).ready(function() {
    $("#id_btn_print").click( function() {

        var data = {transaction:{{transaction.id}}, template:7};

        var $form = $('<form target="_blank" method="POST" action="{% url documentrender %}">');
        $.each(data, function(k,v){
            $form.append('<input type="hidden" name="' + k + '" value="' + v + '">');
        });
        $form.append('</form>');
        $form.submit();
    })
 });
 </script>
 
{% for message in messages %}

<div class="alert fade in {{ message.tags }}">
<button type="button" class="close" data-dismiss="alert">×</button>
{{ message }}
</div>
{% endfor %}


                <div class="form-actions">
                    <input id="id_btn_print" type='button' class="btn btn-info" value="Печать чека">
                    <a class="btn close-dialog" href="#">Закрыть</a>
                </div>
{% endif %}