{% extends "ebsadmin/base.html" %}
{% load crispy_forms_tags %}
{% block extra_head %}
<script type="text/javascript" src="/media/dynatree/jquery.dynatree.js"></script>
<link href="/media/dynatree/skin/ui.dynatree.css" rel="stylesheet" type="text/css" id="skinSheet">
        <script type="text/javascript" src="/media/daterangepicker/daterangepicker.jQuery.js"></script>

        <link rel="stylesheet" href="/media/daterangepicker/ui.daterangepicker.css" type="text/css" />

        <script type="text/javascript"> 
        $(document).ready(function() {
            $('#id_start_date').datepicker({
                showSecond: true,
                timeFormat: 'hh:mm:ss',
                stepHour: 1,
                stepMinute: 1,
                stepSecond: 1,
                numberOfMonths: 1,
                dateFormat: 'yy-mm-dd'
            });
            $('#id_end_date').datepicker({
                showSecond: true,
                timeFormat: 'hh:mm:ss',
                stepHour: 1,
                stepMinute: 1,
                stepSecond: 1,
                numberOfMonths: 1,
                dateFormat: 'yy-mm-dd'
            });
            $(function(){
                // Attach the dynatree widget to an existing <div id="tree"> element
                // and pass the tree options as an argument to the dynatree() function:
                $("#tree").dynatree({
                	checkbox: true,
                	selectMode: 3,
                	minExpandLevel: 2,
                    children: {{ojax|safe}}
                  
                });
              });
            $("#form").submit(function() {
                // Serialize standard form fields:
                var formData = $(this).serializeArray();

                // then append Dynatree selected 'checkboxes':
                var tree = $("#tree").dynatree("getTree");
                formData = formData.concat(tree.serializeArray());
                
                



                //alert("POSTing this:\n" + jQuery.param(formData));
                window.location.href = $("#form").attr("action")+'?'+jQuery.param(formData);

                return false;
        });
            {% if table %}
            $('#tab-control a[href="#result"]').tab('show');
            {% else %}
            $('#tab-control a[href="#filter"]').tab('show');
            {% endif %}
        });
  
        </script>

{% endblock %}
{% block body %}

<ul class="nav nav-tabs" id="tab-control">
  <li ><a href="#filter">Фильтр</a></li>
  <li><a  href="#result">Отчёт</a></li>  
</ul>

 {% load render_table from django_tables2 %}

<div class="tab-content">
  <div class="tab-pane" id="filter">
  
  <div class="row-fluid">
        <form id="form" action="{{form.action}}" method="GET" class="well form-horizontal">
        <fieldset>
        <div class="span12">
             <legend>Отчёт по платежам и списаниям</legend>
        </div>
        <div class="span5">
            
            {{ form.non_field_errors }}
                    <div class="control-group">
                            <label class="control-label" for="input-agreement-no">{{form.account.label}}</label>
                            <div class="controls">
                             {{ form.account }}
                            {% if form.account.errors %}
                                <span class="help-inline">{% for error in form.account.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.account.help_text%}
                                <p class="help-block">
                                    {{ form.account.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>
                    <div class="control-group">
                        <div class="control-row">
                            <label class="control-label" for="input-agreement-no">{{form.start_date.label}}</label>
                            <div class="controls">
                             {{ form.start_date }}
                            {% if form.start_date.errors %}
                                <span class="help-inline">{% for error in form.start_date.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.start_date.help_text%}
                                <p class="help-block">
                                    {{ form.start_date.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>
                        </div>
                    <div class="control-group">
                        <div class="control-row">
                            <label class="control-label" for="input-agreement-no">{{form.end_date.label}}</label>
                            <div class="controls">
                             {{ form.end_date }}
                            {% if form.end_date.errors %}
                                <span class="help-inline">{% for error in form.end_date.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.end_date.help_text%}
                                <p class="help-block">
                                    {{ form.end_date.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>
                        </div>
                    <div class="control-group">
                        <div class="control-row">
                            <label class="control-label" for="input-agreement-no">{{form.systemuser.label}}</label>
                            <div class="controls">
                             {{ form.systemuser }}
                            {% if form.systemuser.errors %}
                                <span class="help-inline">{% for error in form.systemuser.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.systemuser.help_text%}
                                <p class="help-block">
                                    {{ form.systemuser.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>
                        </div>
           
        </div>
        <div class="span5">
            <div id="tree"></div>
        </div>
        <div class="span12">
                
                    <div class="form-actions form-actions-center">
                        <button class="btn btn-primary" type="submit">Подобрать результаты</button>
                        <button class="btn btn-primary" type="submit">Результаты на одной странице</button>
                    </div>
        </div>
       </fieldset>
       
         </form>
    </div>
  
  </div>
  <div class="tab-pane" id="result">{% if table %}{% render_table table %}{% endif %}</div>

</div>
 {% endblock %}

