{% extends 'admin/change_list.html' %}
{% load i18n %}
{% block content_title %}
{{ block.super }}
<p class="help" style="width: 500px">
{% blocktrans %}
    We can allow the admin to define a number of pre-set replies, used to
    simplify the sending of updates and resolutions. These are basically Django
    templates with a limited context - however if you wanted to get crafy it would
    be easy to write a reply that displays ALL updates in hierarchical order etc
    with use of for loops over &#123;&#123; ticket.followup_set.all &#125;&#125; and friends.

    When replying to a ticket, the user can select any reply set for the current
    queue, and the body text is fetched via AJAX.
{% endblocktrans %}
</p>
{% endblock %}