{% load i18n %}

<script type="text/javascript">
  $(document).ready(function() {

    $("#generate_username").click(function() {
      $.getJSON('{% url 'generate_credentials' %}',{action:'login'},function(data,status){
        if( status=='success' ){
          if(data.success==true)
            $("#id_username").val(data.generated);
          else
            alert(data.generated)
        }else{
          alert(gettext('В процессе отправки произошла ошибка.'))
        }
      })
    });


    $("#generate_password").click(function() {
      $.getJSON('{% url 'generate_credentials' %}',{action:'password'},function(data,status){
        if( status=='success' ){
          if(data.success==true)
            $("#{{form.password.auto_id}}").val(data.generated);
          else
            alert(data.generated)
        } else {
          alert('{% blocktrans %}В процессе отправки произошла ошибка :({% endblocktrans %}')
        }
      })
    });


    $('#id_house').autocomplete({
      source: function( request, response )
      {                      
        $.ajax(
        { 
          url: "{% url 'house' %}",
          data: {
            term: request.term, 
            street_name: $('#id_street').val(),
            city_id: $('#id_city').val()
          },        
          type: "POST",
          dataType: "json",

          success: function( data ) {
            response( $.map( data.records, function( item ) {
              return item.name
            }));
          }
        });                
      },
      minChars: 0,
      maxHeight: 400,
      width: 300,
      zIndex: 9999,
      deferRequestBy: 300,
      onSelect: function(data, value){ },
    });


    $('#id_street').autocomplete({
      source: function( request, response )
      {                      
        $.ajax(
        { 
          url: "{% url 'street' %}",
          data: {
            term: request.term, 
            city_id: $('#id_city').val()
          },        
          type: "POST",
          dataType: "json",
          success: function( data ) 
          {
            response( $.map( data.records, function( item ) 
            {
              return item.name
            }));
          }
        });                
      },
      minChars: 0,
      maxHeight: 400,
      width: 300,
      zIndex: 9999,
      deferRequestBy: 300,
      onSelect: function(data, value){ },
    });

    //activate latest tab, if it exists:
    var lastTab = $.cookie('account_last_tab');
    if (lastTab) {
      $('ul.nav-tabs').children().removeClass('active');
      $('a[href='+ lastTab +']').parents('li:first').addClass('active');
      $('div.tab-content').children().removeClass('active');
      $(lastTab).addClass('active');
    } else
      $('#tab-control a[href="#tab-first"]').tab('show');


    $('a[data-toggle="tab"]').on('shown', function(e){
      //save the latest tab using a cookie:
      $.cookie('account_last_tab', $(e.target).attr('href'));
    });

    $("#id_account-toolbar-save").click(function(event) {
      $('#id_form').submit();
      event.preventDefault(event);
    });

    /* subacc */
    $('#id_assign_vpn_ip_address').popover({title:'{% blocktrans %}Подбор IP адреса{% endblocktrans %}', content: '{% blocktrans %}Выдать следующий IP из пула или показать доcтупные{% endblocktrans %}', trigger: 'hover'});
    
    $('#id_subacc-vpn_ip_address').autocomplete({
      source: function( request, response )
      {                      
        $.ajax(
        { 
          url: "{% url 'getipfrompool' %}",
          data: {
            term: request.term, 
            pool_id: $('#id_subacc-ipv4_vpn_pool').val(),
          },        
          type: "POST",
          dataType: "json",
          success: function( data ) 
          {
            response( $.map( data.records, function( item ) 
            {
              return item
            }));
          }
        });                
      },
      minChars: 0,
      maxHeight: 400,
      width: 300,
      zIndex: 9999,
      deferRequestBy: 300,
      onSelect: function(data, value){ },
    });

    $('#id_subacc-vpn_ip_address').click(function(){$('#id_subacc-vpn_ip_address').autocomplete('search')});

    $('#id_assign_vpn_ip_address').click(function(){
      if ($('#id_subacc-vpn_ip_address').val()=='' || $('#id_subacc-vpn_ip_address').val()=='0.0.0.0'){
        $('#id_subacc-vpn_ip_address').val('')
      }
      if ($('#id_subacc-vpn_ip_address').val()){
        $('#id_subacc-vpn_ip_address').autocomplete('search')
        return
      }
      $.ajax(
      { 
        url: "{% url 'getipfrompool' %}",
        data: {
          term: $('#id_subacc-vpn_ip_address').val(), 
          pool_id: $('#id_subacc-ipv4_vpn_pool').val(),
          limit:1
        },        
        type: "POST",
        dataType: "json",
        success: function( data ) 
        {
          $('#id_subacc-vpn_ip_address').val(data.records);
        }
      });   
    });

    $('#id_assign_ipn_ip_address').popover({title:'{% blocktrans %}Подбор IP адреса{% endblocktrans %}', content: '{% blocktrans %}Выдать следующий IP из пула или показать дсотупные{% endblocktrans %}', trigger: 'hover'});

    $('#id_subacc-ipn_ip_address').autocomplete({
      source: function( request, response )
      {                      
        $.ajax(
        { 
          url: "{% url 'getipfrompool' %}",
          data: {
            term: request.term, 
            pool_id: $('#id_subacc-ipv4_ipn_pool').val(),
          },        
          type: "POST",
          dataType: "json",
          success: function( data ) 
          {
            response( $.map( data.records, function( item ) 
            {
              return item
            }));
          }
        });                
      },
      minChars: 0,
      maxHeight: 400,
      width: 300,
      zIndex: 9999,
      deferRequestBy: 300,
      onSelect: function(data, value){ },
    });

    $("#modal-ipn-ping-dialog").click(function(event) {
      $('<div />').dialog2({
        title: "Ping", 
        content: "{% url 'tools_ping' %}?ip="+ $('#id_subacc-ipn_ip_address').val()
      });

      event.preventDefault(event);
    });

    $("#modal-vpn-ping-dialog").click(function(event) {
      $('<div />').dialog2({
        title: "Ping", 
        content: "{% url 'tools_ping' %}?ip="+ $('#id_subacc-vpn_ip_address').val()
      });

      event.preventDefault(event);
    });

    $('#id_subacc-ipn_ip_address').click(function(){$('#id_subacc-ipn_ip_address').autocomplete('search')});
    $('#id_subacc-ipv6_vpn_ip_address').click(function(){$('#id_subacc-ipv6_vpn_ip_address').autocomplete('search')});

    $('#id_subacc-vpn_ipv6_ip_address').autocomplete({
      source: function( request, response )
      {                      
        $.ajax(
        { 
          url: "{% url 'getipfrompool' %}",
          data: {
            term: request.term, 
            pool_id: $('#id_subacc-ipv6_vpn_pool').val(),
          },        
          type: "POST",
          dataType: "json",                                                                                                                                       
          success: function( data ) 
          {
            response( $.map( data.records, function( item ) 
            {
              return item
            }));
          }
        });                
      },
      minChars: 0,
      maxHeight: 400,
      width: 300,
      zIndex: 9999,
      deferRequestBy: 300,
      onSelect: function(data, value){ },
    });

    $('#id_subacc-assign_ipv6_vpn_ip_address').click(function(){
      if ($('#id_subacc-vpn_ipv6_ip_address').val()=='' || $('#id_subacc-vpn_ipv6_ip_address').val()==':::'){
        $('#id_subacc-vpn_ipv6_ip_address').val('')
      }
      if ($('#id_subacc-vpn_ipv6_ip_address').val()){
        $('#id_subacc-vpn_ipv6_ip_address').autocomplete('search')
        return
      }
      $.ajax(
      { 
        url: "{% url 'getipfrompool' %}",
        data: {
          term: $('#id_subacc-vpn_ipv6_ip_address').val(), 
          pool_id: $('#id_subacc-ipv6_vpn_pool').val(),
          limit:1
        },        
        type: "POST",
        dataType: "json",                                                                                                                                       
        success: function( data ) 
        {

          $('#id_subacc-vpn_ipv6_ip_address').val(data.records);
        }
      });   
    });


    $('#id_assign_ipn_ip_address').click(function(){
      if ($('#id_subacc-ipn_ip_address').val()=='' || $('#id_subacc-ipn_ip_address').val()=='0.0.0.0'){
        $('#id_subacc-ipn_ip_address').val('')
      }
      if ($('#id_subacc-ipn_ip_address').val()){
        $('#id_subacc-ipn_ip_address').autocomplete('search')
        return
      }
      $.ajax(
      { 
        url: "{% url 'getipfrompool' %}",
        data: {
          term: $('#id_subacc-ipn_ip_address').val(), 
          pool_id: $('#id_subacc-ipv4_ipn_pool').val(),
          limit:1
        },        
        type: "POST",
        dataType: "json",                                                                                                                                       
        success: function( data ) 
        {
          $('#id_subacc-ipn_ip_address').val(data.records);
        }
      });   
    });

    $('#id_get_mac_address').popover({title:'{% blocktrans %}Внимание{% endblocktrans %}', content: '{% blocktrans %}Этот функционал поддерживается только при использовании RouterOS MikroTik{% endblocktrans %}', trigger: 'hover'});

    $('#id_get_mac_address').click(function(){
      if (!$('#id_subacc-nas').val()==null){
        $.fn.dialog2.helpers.alert("{% blocktrans %}Вы не выбрали сервер доступа.{% endblocktrans %}", { 

        });
        return
      };
      if ($('#id_subacc-ipn_ip_address').val()==''){
        $.fn.dialog2.helpers.alert("{% blocktrans %}Вы не указали IPN IP адрес.{% endblocktrans %}", { 

        });
        return
      };
      $.ajax(
      { 
        url: "{% url 'get_mac_for_ip' %}",
        data: {
          nas_id: $('#id_subacc-nas').val(), 
          ipn_ip_address: $('#id_subacc-ipn_ip_address').val(),
        },        
        type: "POST",
        dataType: "json",                                                                                                                                       
        success: function( data ) 
        {   
          if(data.success==true){
            $('#id_subacc-ipn_mac_address').val(data.mac);
          }else{
            $.fn.dialog2.helpers.alert("{% blocktrans %}Не удалось получить MAC адрес по причине {% endblocktrans %}"+ data.message, { 

            });
          }
        }
      });   
    });

    $("#subacc_generate_username").click(function() {
      $.getJSON('{% url 'generate_credentials' %}',{action:'login'},function(data,status){
        if( status=='success' ){
          if(data.success==true)
            $("#id_subacc-username").val(data.generated);
          else
            alert(data.generated)
        }else{
          alert(gettext('В процессе отправки произошла ошибка'))
        }
      })
    });

    $("#subacc_generate_password").click(function() {
      $.getJSON('{% url 'generate_credentials' %}',{action:'password'},function(data,status){
        if( status=='success' ){
          if(data.success==true)
            $("#id_subacc-password").val(data.generated);
          else
            alert(data.generated)
        }else{
          alert(gettext('В процессе отправки произошла ошибка'))
        }
      })
    });
    /* subacc */

  });
</script>