{% extends 'base.html' %}

{% block logo %}{% endblock %}

{% block base %}
	<table width="100%" class="main-table">
		<tr>
			<td valign="top" width="150px"><img src="{{ MEDIA_URL }}ebs_img/logo.gif"></td>
			<td class="horizontal-menu">
				<div>
					<a href="/" class="text user-img">Моя учетная запись</a>
				</div>
				<div>
					<a href="/password/form/?height=200&width=350&modal=true" class="thickbox text password-img">Смена пароля</a>
				</div>
				<div>
					<a href="/tariff/form/?height=300&width=350&modal=true" class="thickbox text tariff-img">Смена тарифного плана</a>
				</div>
				<div>
					<a href="/card/form/?height=350&width=350&modal=true" class="thickbox text card-img">Активация карточки</a>
				</div>
				<div>
					<a href="/accounts/logout/" class="text exit-img">Выход из системы</a>
				</div>
			</td>
		</tr>
		<tr>
			<td class="vertical-menu for-content" valign="top">
				<div>
					<a href="/promise/" class="text promise-img">Обещанные платежи</a>
				</div>
				<div>
					<a href="/services/" class="text services-img">Подключаемые услуги</a>
				</div>
				<div>
					<a href="/statistics/" class="text statistic-img">Статистика</a>
				</div>
			</td>
			<td valign="top" class="for-content">{% block content%}{% endblock %}</td>
		</tr>
	</table>
{% endblock %}

{% block footer %}
{% if operator %}
<div style="clear:both"></div>
<div class="footer_bg">
	<div class="content_align s-11">
		<div class="footer_ebs_site f-right bold"><a href="http://www.expertbilling.ru/">www.expertbilling.ru</a></div>
		<div class="footer operator s-11 bold f-left">
			{% for oper in operator %}
				<div><span class="bold">Информация о провайдере:</span> {{ oper.organization }}, {{ oper.postaddress }}, тел. {{ oper.phone }}, факс {{ oper.fax }}</div>
				<div><span class="bold">E-mail:</span> {{ oper.email }}</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endif %}
{% endblock %}