ul.tickets{
	margin: 5px 0 5px 20px;
	background-color:#dcd9d9;
}

ul.tickets li{
	border-width: 1px;
	border-style:solid;
	background-color:white;
	border-color:#bfbfbf;

}

.user{
	margin: 5px 0 5px 10px;
}

#content_tickets table{
	border-width:1px;
	border-color:#bfbfbf;
	border-style:solid;
	
}
#content_tickets table td, #content_tickets table th{
	border-width:1px;
	border-color:#bfbfbf;
	border-style:solid;
	margin:0;
	padding:0;
}

