{% extends 'base_extended.html' %}

{% load billservice_tags %}
{% load i18n %}
{% load static %}


{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/action_links.css' %}">
	<link rel="stylesheet" href="{% static 'css/forms.css' %}" type="text/css">
	<link rel='stylesheet' href='{% static 'css/helpdesk.css' %}' type='text/css' />
{% endblock %}
{% block content %}

{% if service_message %}
	<h2 align="center" id="error_message">{{ service_message }}</h2>
{% endif %}
<h4><a href='/helpdesk/add/'><div style='vertical-align:middle'><img src="{% static 'img/icons/create-ticket-icon.png' %}">Создать запрос в службу поддержки</div></a></h4>
<p></p>
<table  class="wide statistic_table" cellpadding="0" cellspacing="0">
		<tr>
			<th class="white bold s-11 blue_caption">
<div class="f-left statistics_title">{% blocktrans %}ТЕХПОДДЕРЖКА{% endblocktrans %}</div>
			</th>
			<tr>
			<td>
<table class="wide extra_table" cellpadding="0" cellspacing="0">
					<tr>
						<th>#</th>
						<th>{% blocktrans %}Заголовок{% endblocktrans %}</th>
						<th>{% blocktrans %}Дата{% endblocktrans %}</th>
						<th>{% blocktrans %}Исполнитель{% endblocktrans %}</th>
						<th>{% blocktrans %}Приоритет{% endblocktrans %}</th>
					</tr>
					{% for ticket in tickets %}
						<tr>
							<td class="{{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ ticket.id }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}"><a {% if ticket.notify_owner %} class="new_ticket" {% endif %} href='{% url 'helpdesk_public_view' %}?ticket={{ticket.queue.slug}}-{{ticket.id}}'>{{ ticket.title }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ ticket.created|date:"d.m.Y H:i:s" }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ ticket.assigned_to.username }}&nbsp;</td>
							<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ ticket.get_priority_display }}&nbsp;</td>
						</tr>
					{% endfor %}
					<tr>
						<td colspan="5" class="no_border">&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
</table>
{% endblock %}
