{% extends 'base.html' %}

{% load billservice_tags %}
{% load custom_filters %}
{% load i18n %}
{% load static %}


{% block content %}

  <!-- остаток предоплаченного трафика -->
{% if prepaidtraffic %}
	<table cellspacing="0" class="table_border" cellpadding="0" cellspacing="0">
		<tr>
			<th>{% blocktrans %}Тип трафика{% endblocktrans %}</th>
			<th>{% blocktrans %}Исходящий{% endblocktrans %}</th>
			<th>{% blocktrans %}Входящий{% endblocktrans %}</th>
			<th>{% blocktrans %}Количество{% endblocktrans %}</th>
		</tr>
	{% for traffic in prepaidtraffic %}
		{% for class in traffic.traffic_class.all %}
			<tr>
				<td class="first_row">{{ class.name }}</td>
				<td align="center">{% if traffic.in_direction %} <img src="{% static 'img/design/yes.gif' %}"> {% endif %}&nbsp;</td>
				<td align="center">{% if not traffic.in_direction %}<img src="{% static 'img/design/yes.gif' %}"> {% endif %}&nbsp;</td>
				<td>{% traffic_size traffic account_tariff %}</td>
			</tr>
		{% endfor %}
	{% endfor %}
	</table>
{% endif %}
<!-- end -->

{% endblock %}


{% block title %}
    Главная
{% endblock %}
