{% load custom_filters %}
{% load i18n %}
{% load billservice_tags %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>

<script>
	var obj_arr = new Array();
	var tariff = {{ tariff.id }};
	 obj_arr[{{ tariff.tarif.id }}] = new Array();
	{% for tariff_object in tariff_objects  %}
		obj_arr[{{ tariff_object.from_tariff.id }}][{{ tariff_object.id }}] = new Array({{ tariff_object.ballance_min }}, {{ tariff_object.cost }});
	{% endfor %}
	
	
	function change_tariff() {
		var new_tariff = $('input[name=rule]:checked', '#myForm').val();
		var message=document.getElementById("error_message");
	 	jQuery.ajax({
        	type: "POST",
        	cache: false,
        	url: '/tariff/change/',
        	data: {'id_tariff_id':new_tariff},
        	timeout: 15000,
			contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
        	success: function(data, status){
				var ret = eval('('+data+')');
				if (typeof ret['ok_message'] != 'undefined') {
					tb_remove();
					location.reload();
				} else {
					message.innerHTML = ret['error_message'];
				}
			},
        	error: function(data, status){
				message.innerHTML = 'Возникла ошибка, попробуйте позже.';
			 },
        	complete: function(data, status){  }
    	});
	}
	
</script>

<div class="cs_tb_header">
	<a href="javascript://" onclick="tb_remove()" class="cs_tb_close"></a>
</div>

<div>

{% if form %}
<div class="tariff-info">
{% blocktrans %}<span>Внимание!</span> При смене тарифного плана активированные подключаемые услуги, работа которых не предусмотрена на выбранном тарифном плане, будут отключены!<br />
Обратите внимание на условия досрочного отключения подключенных услуг и свяжитесь с провайдером.{% endblocktrans %}
</div>
<h3><div id="error_message" class="a-center"></div></h3>
<div class="pass_table_margin_top">
	<form method="post" onsubmit="return false;" id='myForm'>
		<table class="wide static_table" cellpadding="0" cellspacing="0">
			<tr>
				<th class="blue_caption white s-11 bold main_table_left_border right_border">
					{% blocktrans %}СМЕНА ТАРИФА{% endblocktrans %}
				</th>
			</tr>
			<tr>
				<td>
					<table class="wide extra_table" cellpadding="0" cellspacing="0">
					<tr>
					   <th></th><th>{% blocktrans %}Название тарифа{% endblocktrans %}</th><th>{% blocktrans %}Описание{% endblocktrans %}</th><th>{% blocktrans %}Стоимость перехода{% endblocktrans %}</th><th>{% blocktrans %}Минимальный баланс{% endblocktrans %}</th><th>{% blocktrans %}Время перехода{% endblocktrans %}</th>
					</tr>
                    {% for rule in tariff_objects %}
                        <tr>
                            <td class="{{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}"><input type='radio' name="rule" value="{{rule.id}}"></td>
                            <td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ rule.to_tariff.name}}&nbsp;</td>
                            <td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ rule.to_tariff.description}}&nbsp;</td>
                            <td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ rule.cost }}&nbsp;</td>
                            <td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{rule.ballance_min}}</td>
                            <td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{% if rule.date_start %}{{rule.date_start|date:"d.m.Y H:m:s"}}{% else %}Сейчас{% endif %}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="6" class="no_border"><input type="button"  onclick="change_tariff()"  class='pass_button button_margin f-right' value='Перейти'></td>
                    </tr>
					</table>
				</td>
			</tr>
		</table>
		
		<!--<div id="ok_message" class="a-center"></div>-->
		<div class="clear"></div>
	</form>
</div>
{% endif %}
</div>