{% extends 'base_extended.html' %}
{% load i18n %}
{% load billservice_tags %}
{% load custom_filters %}

{% block content %}
{% if net_flow_streams %}
<table class="wide statistic_table" cellpadding="0" cellspacing="0">
	<tr>
		<th class="white bold s-11 blue_caption a-left">{% blocktrans %}СЕТЕВАЯ СТАТИСТИКА{% endblocktrans %}</th>
	</tr>
	<tr>
		<td>
			<table class="wide extra_table" cellpadding="0" cellspacing="0">
    			<tr>
	   				<th>{% blocktrans %}Дата{% endblocktrans %}</th>
	   				<th>{% blocktrans %}IP источника{% endblocktrans %}</th>
	   				<th>{% blocktrans %}Порт источника{% endblocktrans %}</th>
	   				<th>{% blocktrans %}IP получателя{% endblocktrans %}</th>
	   				<th>{% blocktrans %}Порт получателя{% endblocktrans %}</th>
	   				<th>{% blocktrans %}Протокол{% endblocktrans %}</th>
	   				<th>{% blocktrans %}Передано{% endblocktrans %}</th>
				</tr>
				{% for net_flow_stream in net_flow_streams%}
	   				<tr>
	       				<td class="{{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ net_flow_stream.date_start|date:"d.m.Y  H:i" }}&nbsp;</td>
		   				<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ net_flow_stream.src_addr }}&nbsp;</td>
		   				<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}" align="center">{{ net_flow_stream.src_port }}&nbsp;</td>
		   				<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}">{{ net_flow_stream.dst_addr }}&nbsp;</td>
		   				<td class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}" align="center">{{ net_flow_stream.dst_port }}&nbsp;</td>
		   				<td align="center" class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}" align="center">{{ net_flow_stream.get_protocol }}&nbsp;</td>
		   				<td  class="left_border {{ forloop.counter|coll_bg  }} {% if forloop.last %}no_border{% endif %}" align="right">{% traffic_format net_flow_stream.octets %}&nbsp;</td>
	   				</tr>
				{% endfor%}
			</table>
			{% include 'paginator.html' %}
		</td>
	</tr>
</table>

{% else %}
 <h2 align="center">{% blocktrans %}Данных нет!{% endblocktrans %}</h2>
{% endif %}
{% endblock %}


{% block title %}
    {% blocktrans %}Статистика по трафику{% endblocktrans %}
{% endblock %}