{% extends "ebsadmin/base.html" %}

{% load i18n %}
{% load ebsadmin_tags %}
{% load render_table from django_tables2 %}

{% if status != False %}
  {% block base %}
    <div>
      <ul class="breadcrumb">
        <li>
          <a href="{% url 'accountgroup' %}">
            {% blocktrans %}Группы абонентов{% endblocktrans %}
          </a> <span class="divider">/</span>
        </li>
      </ul>
    </div>

    <div class="btn-toolbar pull-right">
      <a href="{% url 'accountgroup_edit' %}" 
          id="id_btn_add" 
          class="btn btn-success general-modal-dialog"
          data-dlgid="server-notice"
          data-dlgtitle="{% trans 'Добавление группы абонентов' %}">
        {% blocktrans %}Добавить{% endblocktrans %}
      </a>
    </div>
    
    <div>
      {% render_table table %}
    </div>
  {% endblock %}
{% endif %}
