[belpost]
active=1
folderin=belpost/IN/
folderout=belpost/OUT/
foldererr=belpost/ERR/
mask=*.alt
rmask=r*.alt
separator=;
payment_type=BELPOST_PAYMENT_IMPORT
fieldnames=DATETIME;ACC;FIO;SUM;EMPTY;PID;EMPTY
fielddefault=;;;;;;
datetime_fmt=%d/%m/%Y %H:%M:%S
reversal_payments=False


[Belarusbank]
active=1
folder_in=Belarusbank/IN/
folder_out=Belarusbank/OUT/
folder_err=Belarusbank/ERR/
file_mask=*.asb
exclude_mask=lan.*
separator=;
payment_type=BELARUSBANK_PAYMENT_IMPORT
encoding=cp855
fieldnames=ACC;FIO;DATETIME;TIME;SUM;EMPTY;EMPTY;EMPTY;PID
datetime_fmt=%d/%m/%Y
time_fmt=%H:%M
reversal_payments=False

[Webmoney]
active=1
folder_in=WebMoney/IN/
folder_out=WebMoney/OUT/
folder_err=WebMoney/ERR/
file_mask=*.*
exclude_mask=r*.*
separator=;
payment_type=WEBMONEY_PAYMENT_IMPORT
fieldnames=DATETIME;ACC;SUM;EMPTY;EMPTY;PID;EMPTY;EMPTY;EMPTY;EMPTY
datetime_fmt=%d/%m/%Y %H:%M:%S
time_fmt=
encoding=utf-8
reversal_payments=False

[EasyPay]
active=1
folder_in=EasyPay/IN/
folder_out=EasyPay/OUT/
folder_err=EasyPay/ERR/
file_mask=*.txt
exclude_mask=r*.txt
separator=;
payment_type=EASYPAY_PAYMENT_IMPORT
fieldnames=DATETIME;ACC;PID;FIO;SUM
datetime_fmt=%d/%m/%Y %H:%M:%S
encoding=utf-8
time_fmt=
reversal_payments=False

[PriorBank]
active=1
folder_in=Priorbank/IN/
folder_out=PriorBank/OUT/
folder_err=Priorbank/ERR/
file_mask=*.prb
exclude_mask=r*.prb
separator=;
payment_type=PRIORBANK_PAYMENT_IMPORT
fieldnames=SUM;EMPTY;ACC;EMPTY;PID;EMPTY;EMPTY;EMPTY;DATETIME;EMPTY
datetime_fmt=%d%m%y
encoding=utf-8
time_fmt=
reversal_payments=False

[ERIP]
active=1
folder_in=erip/in/
folder_out=erip/out/
folder_err=erip/err/
file_mask=*.206
exclude_mask=r*.*
separator=^
payment_type=ERIP_PAYMENT_IMPORT
fieldnames=EMPTY^EMPTY^ACC^FIO^EMPTY^EMPTY^SUM^EMPTY^DATETIME^EMPTY^EMPTY^PAYMENT_ID^EMPTY^EMPTY^EMPTY^EMPTY^EMPTY^COMMENT
datetime_fmt=%Y%m%d%H%M%S
time_fmt=
encoding=cp1251
skip_firstline = True
reversal_payments = False


[ERIP_REVERS]
active=1
folder_in=erip/in/
folder_out=erip/out/
folder_err=erip/err/
file_mask=*.216
exclude_mask=r*.*
separator=^
payment_type=ERIP_PAYMENT_IMPORT
fieldnames=EMPTY^EMPTY^ACC^FIO^EMPTY^EMPTY^SUM^EMPTY^DATETIME^EMPTY^EMPTY^EMPTY^PAYMENT_ID^EMPTY^EMPTY^EMPTY^EMPTY^EMPTY^COMMENT
datetime_fmt=%Y%m%d%H%M%S
time_fmt=
encoding=cp1251
skip_firstline = True
reversal_payments = True


