.f-right {
	float:right;
}

.f-left {
	float:left;
}

.hidden {
	display:none;
}

.title_table td{
	cursor:pointer;
}

.name_object{
	background:#c4c4c4;
	padding:8px 22px;
	height:18px;
	border-style:none;
	line-height:18px;
}

.name_object a.link{
	text-decoration:none;
	color:#000000;
	vertical-align: middle;
	}

.settings_table {
	background:#9e9e9e; 
	text-align:right;
	font-size:12px;
	font-weight:bold;
	padding:15px 16px 15px 16px;
}
.time_update{
}
tr.title_table{
	background:#e2e2e2;
	font-size:10px;
	font-weight:bold;
}
tr.title_table td{
	padding:12px 18px;
	border-style:none;
	border-bottom:1px solid #fff;
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	font-size:12px;
}
tr.ticket_content {
	border:solid;
}

tr.ticket_content td {
	
}

tr.ticket_content td{
	border-style:none;
	vertical-align:top;
	padding:8px 10px;
	border-left:1px solid #fff;
	border-bottom:1px solid #fff;
}

tr.ticket_content td.id {
	border-left:5px solid #e2e2e2;
}

tr.ticket_content td, tr.ticket_content td a {
	font-size:12px;
}

tr.border_bottom td{
	border-bottom-style:solid;
}

.border_left {
	border-left:1px solid
}

.border_right {
	border-right:1px solid
}

.ticket_id{
	text-decoration:none;
	color:#000000;
}


.main_menu li{
	background:#397097;
	float:left;
	margin-right:10px;
	padding:10px 20px;
	text-align:center;
}

.main_menu li.selected {
	background:#ebebeb;
}

.main_menu a{
	text-decoration:none;
	color:#000000;
	font-weight:bold;
	font-size:12px;
}

.clear {
	clear:both;
}

.select_group {
	font-weight:bold;
}

.select_user {
	padding-left:20px;
}

.header-line {
	background:#11253e;
	height:30px;
	width:100%;
}

.main_menu_block {
	height:34px;
	width:100%;
}

.menu_block {
	background:#20476e;
	padding:14px 20px 0;
}

.menu_block_separator {
	width:100%;
	background:#ebebeb;
	height:11px;
}

img#hd_logo {
	margin-bottom:13px;
}

.addon_menu {
	background:#d1e5fd;
	width:100%;
	height:41px;
}

.user_block {
	font-size:12px;
	font-weight:bold;
	color:#fff;
	margin:10px 22px 7px 0;
}

.user_block a {
	color:#fff;
}

.user_block span.exit {
	margin-left:78px;
}

.departament {
	background:#303030;
	padding:11px 20px;
	font-size:12px;
	color:#fff;
}

.settings_table label {
	margin-right:10px;
}

label.update {
	margin-left:40px;
}

.ticket_menu ul li{
	float:left;
	margin:12px 24px;
}

.ticket_menu {
	
}

.ticket_menu ul li a {
	color:#000;
	font-size:12px;
}

table.info_table {
	width:100%;
}

table.info_table th, table.info_table td{
	border:none;
	padding:8px 22px;
	text-align:left;
	font-weight:normal;
	font-size:12px;
	border-bottom:1px solid #fff;
}

table.info_table th {
	width:190px;
	background:#d1e5fd;
}

table.info_table td {
	background:#e9f2ff;
}

.comment {
	padding:9px 24px;
}

.comment span.user a {
	color:#000;
	font-weight:bold;
}

.comment span.date {
	font-size:10px;
}

.comment .body {
	margin-top:10px;
}

.comment_form {
	background:#d1e5fd;
	padding:9px 24px;
}

.comment_form th, .comment_form td {
	border:none;
}

.comment_form textarea, textarea#id_hide_comment, .select_simple, textarea#id_text {
	border:1px solid #979797; 
	width:80%;
	height:54px;
	font-size:12px;
	padding:7px 10px;
	color:#979797;
}

.comment_form textarea, .comment_form input {
	margin-top:20px;
}

.select_simple {
	background:#fff;
	color:#000;
}

.select_simple ul li input, .select_simple ul li div  {
	display:block;
	float:left;
	margin-right:10px;
}

.select_simple ul li {
	clear:both;
	height:20px;
}

.left_block {
}

td.right_block {
	width:200px;
	border:1px solid #b7b7b7;
	background:#ebebeb;
	border-right:none;
	padding:7px 13px;
}

.addon_info {
	margin-bottom:40px;
}

.addon_info .title {
	background:#777777;
	font-size:11px;
	color:#fff;
	padding:5px 7px;
	border-bottom:4px solid #b0b0b0;
}

.addon_info div.item {
	line-height:20px;
	font-size:11px;
}

.addon_info div.item span {
	margin:0 8px 0 5px;
	font-weight:bold;
}

.addon_info .history_item {
	margin:8px 8px 0;
	font-size:11px;
	color:#000;
}

.addon_info .history_item span {
	font-weight:bold;
}

.addon_info .history_item span.date {
	color:#909090;
}

tr.filter:hover {
	background:#b7b7b7;
}

.first_tr {
	background:#e5f1ff;
}

.second_tr {
	background:#d1e5fd;
}

.page_title {
	padding:8px 22px;
}

.page_title span {
	font-size:14px;
	font-weight:bold;
}

.ticket_save_form, .search_button_form {
	background:#D1E5FD;
}

.ticket_save_form input.buttons, .search_button_form input.button{
	margin:15px;
}

.filter_button {
	margin:5px 0;
}

.filter_field input {
	width:175px;
}

#pagination table th, #pagination table td {
	border:none;
}

#pagination .pages {
	display:none;
}

#pagination {
	color:#2f4d70;
	margin-top:10px;
}

#pagination a, #pagination a:visited {
	text-decoration:none;
	color:#2f4d70;
}

.pagination_current {
	padding:3px;
	border:1px solid #CACACA;
}

tr.title_table td.sort {background:url('../img/up_down.gif') no-repeat right center;}
tr.title_table td.esc {background:url('../img/down.gif') no-repeat right center; }
tr.title_table td.desc {background:url('../img/up.gif') no-repeat right center;}

a.selector-search { padding:2px 0 0 5px;}

.file {
	margin-top:15px;
}

.file img.paper_clip {
	margin-left:5px;
}


.file a {
	color:#000;
	text-decoration:none;
}

.file a:Hover {
	text-decoration:underline;
}

.reg_margin {
	width:500px;
	margin:30px auto;
}


.archived img{
	margin-left:10px;	
}

