body {
	padding:0;
	margin: 0; 
}

#header {
	background: #fff url(../img/user_foto.gif) no-repeat top left;
	height: 100px;
	width: 100%;
	display: block;
	margin: 10px 10px 10px 10px;
}

#header h1 {
	padding-left: 100px;
	padding-top: 15px;
}