/* Styles for notification area */
.notifications, .notifications li {
  list-style: none;
  list-style-type: none;
  margin-left: 0;
}
.information, .error, .success, .warning {
  margin-top: 0.4em;
  border: 1px solid #9bb8d9;
  padding: 6px 6px 6px 30px;
}
.information {
  background: #dedfff url('../img/icons/information.png') 6px 50% no-repeat;
  color: #406299;
}
.error {
  background: #ffe1da url('../img/icons/exclamation.png') 6px 50% no-repeat;
  border-color: #f34f4f;
  color: #be0b0b;
}
.success {
  background: #e2f9e3 url('../img/icons/accept.png') 6px 50% no-repeat;
  border-color: #9c9;
  color: #080;
}
.warning {
  background:#fff8bf url('../img/icons/error.png') 6px 50% no-repeat;
  border-color: #ffd324;
  color:#eb830c;
}
