
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        </head>
        <body>
        	<table background="img/card_3.gif" style=" width:255px; height:143px; ">
		<tr>
			<td style="	font-size:36px; padding-left:10px; padding-top:50px; height:75px; *height:65px; ">
				150000			
			</td>
		</tr>
		<tr style="font-size:10px; color:#FFFFFF; ">
			<td width="171" height="17px" style="text-align:left; ">PIN</td>
			<td style="text-align:left; ">asas</td>
		</tr>
		<tr>
			<td colspan="2" style="font-size:8px;">a;sdas</td>
		</tr>
	</table></body></html>