
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        </head>
        <body>
        <div style="position:relative; display:block; width:255px; height:143px; font-face:Arial;">
<img src="img/card_blue.gif" style="border:none;">
	<div style="position:absolute; display:block; top:60px; left:16px; font-size:32px;">0</div>
	<div style="position:absolute; display:block; top:96px; left:3px; font-size:10px;">PIN: gK9b4kPhHH</div>
	<div style="position:absolute; display:block; top:96px; left:175px; font-size:10px;">Серия: 2</div>
	<div style="position:absolute; display:block; top:96px; left:175px; font-size:10px;">ID: ['__class__', '__cmp__', '__contains__', '__delattr__', '__delitem__', '__dict__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__iter__', '__le__', '__len__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'clear', 'copy', 'fromkeys', 'get', 'has_key', 'items', 'iteritems', 'iterkeys', 'itervalues', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values', 'viewitems', 'viewkeys', 'viewvalues']</div>
	<div style="position:absolute; display:block; top:118px; left:3px; font-size:6px;">Активировать c 2011-01-01 00:00:00 по 2012-01-01 00:00:00 </div>
	<div style="position:absolute; display:block; top:128px; left:3px; font-size:6px;">ЗАО "АлтоЛан". Тел. 275-28-82</div>
</div>
</body></html>