
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        </head>
        <body>
        <div style="position:relative; display:block; width:255px; height:143px; font-face:Arial;">
<img src="img/card_blue.gif" style="border:none;">
	<div style="position:absolute; display:block; top:60px; left:16px; font-size:32px;">15000.0</div>
	<div style="position:absolute; display:block; top:96px; left:3px; font-size:10px;">PIN: XgbbrHGQOuDnI0G</div>
	<div style="position:absolute; display:block; top:96px; left:175px; font-size:10px;">Серия: 0</div>
	<div style="position:absolute; display:block; top:118px; left:3px; font-size:6px;">Активировать c 2008-11-11 00:00:00 по 2009-01-31 00:00:00 </div>
	<div style="position:absolute; display:block; top:128px; left:3px; font-size:6px;">Интернет оператор "Рога и копыта". IP адрес для активации 10.10.1.1</div>
</div>
<div style="position:relative; display:block; width:255px; height:143px; font-face:Arial;">
<img src="img/card_blue.gif" style="border:none;">
	<div style="position:absolute; display:block; top:60px; left:16px; font-size:32px;">15000.0</div>
	<div style="position:absolute; display:block; top:96px; left:3px; font-size:10px;">PIN: kLYKZ4Cl6DwFVG4</div>
	<div style="position:absolute; display:block; top:96px; left:175px; font-size:10px;">Серия: 0</div>
	<div style="position:absolute; display:block; top:118px; left:3px; font-size:6px;">Активировать c 2008-11-11 00:00:00 по 2009-01-31 00:00:00 </div>
	<div style="position:absolute; display:block; top:128px; left:3px; font-size:6px;">Интернет оператор "Рога и копыта". IP адрес для активации 10.10.1.1</div>
</div>
<div style="position:relative; display:block; width:255px; height:143px; font-face:Arial;">
<img src="img/card_blue.gif" style="border:none;">
	<div style="position:absolute; display:block; top:60px; left:16px; font-size:32px;">15000.0</div>
	<div style="position:absolute; display:block; top:96px; left:3px; font-size:10px;">PIN: EwdvqM7uk4E2ZGP</div>
	<div style="position:absolute; display:block; top:96px; left:175px; font-size:10px;">Серия: 0</div>
	<div style="position:absolute; display:block; top:118px; left:3px; font-size:6px;">Активировать c 2008-11-11 00:00:00 по 2009-01-31 00:00:00 </div>
	<div style="position:absolute; display:block; top:128px; left:3px; font-size:6px;">Интернет оператор "Рога и копыта". IP адрес для активации 10.10.1.1</div>
</div>
<div style="position:relative; display:block; width:255px; height:143px; font-face:Arial;">
<img src="img/card_blue.gif" style="border:none;">
	<div style="position:absolute; display:block; top:60px; left:16px; font-size:32px;">15000.0</div>
	<div style="position:absolute; display:block; top:96px; left:3px; font-size:10px;">PIN: 71or7EKP1rToPsD</div>
	<div style="position:absolute; display:block; top:96px; left:175px; font-size:10px;">Серия: 0</div>
	<div style="position:absolute; display:block; top:118px; left:3px; font-size:6px;">Активировать c 2008-11-11 00:00:00 по 2009-01-31 00:00:00 </div>
	<div style="position:absolute; display:block; top:128px; left:3px; font-size:6px;">Интернет оператор "Рога и копыта". IP адрес для активации 10.10.1.1</div>
</div>
<div style="position:relative; display:block; width:255px; height:143px; font-face:Arial;">
<img src="img/card_blue.gif" style="border:none;">
	<div style="position:absolute; display:block; top:60px; left:16px; font-size:32px;">15000.0</div>
	<div style="position:absolute; display:block; top:96px; left:3px; font-size:10px;">PIN: yIe6GgVkNOy0iwJ</div>
	<div style="position:absolute; display:block; top:96px; left:175px; font-size:10px;">Серия: 0</div>
	<div style="position:absolute; display:block; top:118px; left:3px; font-size:6px;">Активировать c 2008-11-11 00:00:00 по 2009-01-31 00:00:00 </div>
	<div style="position:absolute; display:block; top:128px; left:3px; font-size:6px;">Интернет оператор "Рога и копыта". IP адрес для активации 10.10.1.1</div>
</div>
<div style="position:relative; display:block; width:255px; height:143px; font-face:Arial;">
<img src="img/card_blue.gif" style="border:none;">
	<div style="position:absolute; display:block; top:60px; left:16px; font-size:32px;">15000.0</div>
	<div style="position:absolute; display:block; top:96px; left:3px; font-size:10px;">PIN: w1Jfad9nnr7HBXK</div>
	<div style="position:absolute; display:block; top:96px; left:175px; font-size:10px;">Серия: 0</div>
	<div style="position:absolute; display:block; top:118px; left:3px; font-size:6px;">Активировать c 2008-11-11 00:00:00 по 2009-01-31 00:00:00 </div>
	<div style="position:absolute; display:block; top:128px; left:3px; font-size:6px;">Интернет оператор "Рога и копыта". IP адрес для активации 10.10.1.1</div>
</div>
<div style="position:relative; display:block; width:255px; height:143px; font-face:Arial;">
<img src="img/card_blue.gif" style="border:none;">
	<div style="position:absolute; display:block; top:60px; left:16px; font-size:32px;">15000.0</div>
	<div style="position:absolute; display:block; top:96px; left:3px; font-size:10px;">PIN: bQObBPqrzJkmNUI</div>
	<div style="position:absolute; display:block; top:96px; left:175px; font-size:10px;">Серия: 0</div>
	<div style="position:absolute; display:block; top:118px; left:3px; font-size:6px;">Активировать c 2008-11-11 00:00:00 по 2009-01-31 00:00:00 </div>
	<div style="position:absolute; display:block; top:128px; left:3px; font-size:6px;">Интернет оператор "Рога и копыта". IP адрес для активации 10.10.1.1</div>
</div>
<div style="position:relative; display:block; width:255px; height:143px; font-face:Arial;">
<img src="img/card_blue.gif" style="border:none;">
	<div style="position:absolute; display:block; top:60px; left:16px; font-size:32px;">15000.0</div>
	<div style="position:absolute; display:block; top:96px; left:3px; font-size:10px;">PIN: fDPOPPXvJOrjNoU</div>
	<div style="position:absolute; display:block; top:96px; left:175px; font-size:10px;">Серия: 0</div>
	<div style="position:absolute; display:block; top:118px; left:3px; font-size:6px;">Активировать c 2008-11-11 00:00:00 по 2009-01-31 00:00:00 </div>
	<div style="position:absolute; display:block; top:128px; left:3px; font-size:6px;">Интернет оператор "Рога и копыта". IP адрес для активации 10.10.1.1</div>
</div>
<div style="position:relative; display:block; width:255px; height:143px; font-face:Arial;">
<img src="img/card_blue.gif" style="border:none;">
	<div style="position:absolute; display:block; top:60px; left:16px; font-size:32px;">15000.0</div>
	<div style="position:absolute; display:block; top:96px; left:3px; font-size:10px;">PIN: r5bHMrAnmLmvOOb</div>
	<div style="position:absolute; display:block; top:96px; left:175px; font-size:10px;">Серия: 0</div>
	<div style="position:absolute; display:block; top:118px; left:3px; font-size:6px;">Активировать c 2008-11-11 00:00:00 по 2009-01-31 00:00:00 </div>
	<div style="position:absolute; display:block; top:128px; left:3px; font-size:6px;">Интернет оператор "Рога и копыта". IP адрес для активации 10.10.1.1</div>
</div>
</body></html>