{% extends 'admin/change_list.html' %}
{% load i18n %}
{% block content_title %}
{{ block.super }}
<p class="help" style="width: 500px">
{% blocktrans %}
An 'EscalationExclusion' lets us define a date on which escalation should
not happen, for example a weekend or public holiday.

You may also have a queue that is only used on one day per week.
To create these on a regular basis, check out the README file for an
example cronjob that runs 'create_escalation_exclusions.py'.
{% endblocktrans %}
</p>
{% endblock %}