{% extends "ebsadmin/base.html" %}
{% load crispy_forms_tags %}
{% block extra_head %}

        <script type="text/javascript"> 
        $(document).ready(function() {
        	$("#id_daterange").daterangepicker({format:'yyyy-MM-dd'});
            $(".open-custom-dialog").click(function(event) {
                $('<div />').dialog2({
                    title: "Изменить значения", 
                    content: this.href
                });

                event.preventDefault();
            });
            $(".show-confirm").click(function() {
                a=$(this);
                $.fn.dialog2.helpers.confirm("Удалить предоплаченный трафик? Вместо удаления рекомендуем воспользоваться редактированием. Удаление процедура не безопасная и мы не советуем к ней прибегать, если вы точно не уверены в том, что делаете.", {
                    confirm: function() {
                        $.getJSON(a.attr('href'),{},function(data,status){
                            if( status=='success' ){
                                if(data.status==true)
                                    {
                                    location.reload();
                                    }else{
                                        alert(data.message)
                                    }
                                
                            }else{
                                alert('Произошла непредвиденная ошибка')
                            }

                        })                      
                        }, 
                    decline: function() {  }
                });

                event.preventDefault();
            });
            {% if table %}
            $('#tab-control a[href="#result"]').tab('show');
            {% else %}
            $('#tab-control a[href="#filter"]').tab('show');
            {% endif %}
        });
        </script>

{% endblock %}
{% block body %}
<legend>Остатки предоплаченного трафика(NetFlow тарификация)</legend>
<ul class="nav nav-tabs" id="tab-control">
  <li ><a href="#filter">Фильтр</a></li>
  <li><a href="#result">Отчёт</a></li>  
</ul>

 {% load render_table from django_tables2 %}
<div class="tab-content">
  <div class="tab-pane" id="filter">
  
  <div class="row-fluid">
        <div class="span12">
            <form action="{{form.action}}" method="GET" class="well form-horizontal form-condensed ">
            {{ form.non_field_errors }}
                <fieldset>
                    <legend>Поиск по остаткам трафика</legend>
                    {{form|crispy}}
                </fieldset>
                <fieldset>
                    <div class="form-actions form-actions-center">
                        <button class="btn btn-primary" type="submit">Подобрать результаты</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
  
  </div>
  <div class="tab-pane" id="result">{% if table %}{% render_table table %}{% endif %}</div>

</div>
 {% endblock %}

