{% load ebsadmin_tags %}
{% load crispy_forms_tags %}
{% block extra_head %}
 <script type="text/javascript"> 
 $(document).ready(function() {
 });
 </script>
 
<script src="/media/jquery/js/jquery-1.8.2.js"></script>
<script type="text/javascript" src="/media/jquery/js/jquery-ui-1.9.1.custom.min.js"></script>
{% endblock %}
{% block base %}
{% if not status %}
    {% for message in messages %}

<div class="alert fade in {{ message.tags }}">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ message }}
          </div>

      {% endfor %}
{% if form %}
                <form action='{% url accounthardware %}?id={{item.id}}&account_id={{account.id}}'' method="POST" class="well form-horizontal ajax form-condensed ">
                {{form|crispy}}
                <div class="form-actions">
                    <input type='submit' class="btn btn-primary" value="Save Changes">
                    <a class="btn close-dialog" href="#">Close</a>
                </div>
                </form>
{% endif %}
{% else %}
Операция произведена успешно.
 <script type="text/javascript"> 
 $(document).ready(function() {
     location.reload();
 });
 </script>
{% endif %}
{% endblock %}