{% if not status %}
{{message}}
 <script type="text/javascript"> 
 $(document).ready(function() {
     $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
     $(".timepicker").mask("99:99:99");
 });
 </script>
           
            
                <form action='{% url accounttariff_edit %}?account_id={{account.id}}' method="POST" class="well form-horizontal  form-condensed ajax">
                <fieldset>
                  <div class="control-group">

                      <label class="control-label">Аккаунт: </label>
                      <div class="controls">
                      {{ form.account }}
                      {% if form.account.errors %}
                          <span class="help-inline">{% for error in form.account.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.account.help_text%}
                          <p class="help-block">
                              {{ form.account.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>

                  </div>
                  <div class="control-group">
                      <label class="control-label">Тарифный план</label>
                      <div class="controls">
                      {{ form.tarif }}
                      {% if form.tarif.errors %}
                          <span class="help-inline">{% for error in form.tarif.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.tarif.help_text%}
                          <p class="help-block">
                              {{ form.tarif.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  <div class="control-group">

                      <label class="control-label">{{form.datetime.label}}:</label>
                      <div class="controls">
                      {{ form.datetime }}
                      {% if form.datetime.errors %}
                          <span class="help-inline">{% for error in form.datetime.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.datetime.help_text%}
                          <p class="help-block">
                              {{ form.datetime.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>

                  </div>
                </fieldset>
                <div class="form-actions">
				    <input type='submit' class="btn btn-primary" value="Сохранить">
				    <a class="btn close-dialog" href="#">Закрыть</a>
				</div>
                </form>
{% else %}
Операция произведена успешно.
 <script type="text/javascript"> 
 $(document).ready(function() {
     location.reload();
 });
 </script>
{% endif %}