{% load i18n %}
{% load ebsadmin_tags %}
{% if not status %}
    {% for message in messages %}

<div class="alert fade in {{ message.tags }}">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ message }}
          </div>

      {% endfor %}
 <script type="text/javascript"> 
 $(document).ready(function() {
     $('.datepicker').datepicker({
         months: ["Январь","Февраль","Март","Апрель","Май","Июнь","Июль","Август","Сентябрь","Октябрь","Ноябрь","Декабрь"],
         weekStart: 0,
         noDefault: true,
         format: 'yyyy-mm-dd hh:ii:ss',
         days: ["пн","вт","ср","чт","пт","сб","вс"],});
     $(".timepicker").mask("99:99:99");
 });
 </script>
           
{% if form %}
                <form action='{% url 'account_management_accounttariff' %}' method="POST" class="well form-horizontal  form-condensed ajax">
                <fieldset>
                {{ form.accounts }}
                  <div class="control-group">
                      <label class="control-label">{{ form.tariff.label }}: </label>
                      <div class="controls">
                      {{ form.tariff }}
                      {% if form.tariff.errors %}
                          <span class="help-inline">{% for error in form.tariff.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.tariff.help_text%}
                          <p class="help-block">
                              {{ form.tariff.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  <div class="control-group">

                      <label class="control-label">{{form.datetime.label}}:</label>
                      <div class="controls">
                      {{ form.datetime }}
                      {% if form.datetime.errors %}
                          <span class="help-inline">{% for error in form.datetime.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.datetime.help_text%}
                          <p class="help-block">
                              {{ form.datetime.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>

                  </div>
                </fieldset>
                <div class="form-actions">
				    <input type='submit' class="btn btn-primary" value="{% blocktrans %}Сохранить{% endblocktrans %}">
				    <a class="btn close-dialog" href="#">{% blocktrans %}Закрыть{% endblocktrans %}</a>
				</div>
                </form>
{% endif %}
{% else %}
{% blocktrans %}Операция произведена успешно.{% endblocktrans %}
 <script type="text/javascript"> 
 $(document).ready(function() {
     location.reload();
 });
 </script>
{% endif %}