{% extends "ebsadmin/base.html" %}
{% load crispy_forms_tags %}
{% block extra_head %}
        <script type="text/javascript" src="/media/daterangepicker/daterangepicker.jQuery.js"></script>

        <link rel="stylesheet" href="/media/daterangepicker/ui.daterangepicker.css" type="text/css" />

        <script type="text/javascript"> 
        $(document).ready(function() {
            $("#id_created").focus(function() {
            $(function(){

                 $('#id_created').daterangepicker({
                	  presetRanges: [
                	                 {text: 'Сейчас', dateStart: 'Now', dateEnd: 'Now' }
                	               ],
                	  presets: {specificDate: 'Указанная дата',
                		  'allDatesBefore': 'До даты', 
                		  'allDatesAfter': 'После даты', 
                		  'dateRange': 'Диапазон дат'},
                      rangeStartTitle: 'С',
                      rangeEndTitle: 'По',
                      doneButtonText: 'Выбрать',
                      prevLinkText:'Назад',
                      nextLinkText: 'Вперёд',
                	  dateFormat: 'yy-mm-dd',

                 }); 
    
             });
              });
            $('#tab-control a[href="#filter"]').tab('show');
            {% if table %}
            $('#tab-control a[href="#result"]').tab('show');
            {% endif %}
        });
        </script>

{% endblock %}
{% block body %}

<ul class="nav nav-tabs" id="tab-control">
  <li ><a href="#filter">Фильтр</a></li>
  <li><a {% if table %}class="active" {% endif %} href="#result">Отчёт</a></li>  
</ul>

 {% load render_table from django_tables2 %}
<div class="tab-content">
  <div class="tab-pane" id="filter">
  
  <div class="row-fluid">
        <div class="span12">
            <form action="{{form.action}}" method="GET" class="well form-horizontal">
            {{ form.non_field_errors }}
                <fieldset>
                    <legend>Данные аккаунта</legend>

                    <div class="control-group">
                        <div class="control-row">
                            <label class="control-label" for="input-agreement-no">{{form.contract.label}}</label>
                            <div class="controls">
					        {{ form.contract }}
					        {% if form.contract.errors %}
					            <span class="help-inline">{% for error in form.contract.errors %}{{ error }}<br/> {% endfor %}</span>
					        {% endif %}
					        {% if form.contract.help_text%}
					            <p class="help-block">
					                {{ form.contract.help_text|safe }}
					            </p>
					        {% endif %}
                            </div>
                        </div>

                        <div class="control-row">
                            <label class="control-label" for="input-uid">{{form.id.label}}</label>
                            <div class="controls">
                            {{ form.id }}
                            {% if form.id.errors %}
                                <span class="help-inline">{% for error in form.id.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.id.help_text%}
                                <p class="help-block">
                                    {{ form.id.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="control-row">
                            <label class="control-label" for="input-agreement-no">{{form.ballance.label}}</label>
                            <div class="controls">
                             {{ form.ballance_exp }}
                            {% if form.ballance_exp.errors %}
                                <span class="help-inline">{% for error in form.ballance_exp.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.ballance_exp.help_text%}
                                <p class="help-block">
                                    {{ form.ballance_exp.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>

                        <div class="control-row">
                            <label class="control-label" for="input-balance-sum">Сумма на балансе</label>
                            <div class="controls">
                             {{ form.ballance }}
                            {% if form.ballance.errors %}
                                <span class="help-inline">{% for error in form.ballance.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.ballance.help_text%}
                                <p class="help-block">
                                    {{ form.ballance.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="control-row">
                            <label class="control-label" for="input-agreement-no">{{form.credit.label}}</label>
                            <div class="controls">
                             {{ form.credit_exp }}
                            {% if form.credit_exp.errors %}
                                <span class="help-inline">{% for error in form.credit_exp.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.credit_exp.help_text%}
                                <p class="help-block">
                                    {{ form.credit_exp.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>

                        <div class="control-row">
                            <label class="control-label" for="input-credit-sum">Сумма кредита</label>
                            <div class="controls">
                             {{ form.credit }}
                            {% if form.credit.errors %}
                                <span class="help-inline">{% for error in form.credit.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.credit.help_text%}
                                <p class="help-block">
                                    {{ form.credit.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>
                        
                    </div>
                    <div class="control-group">
                        <div class="control-row">
                            <label class="control-label" for="input-entrance">Дата создания</label>
                            <div class="controls">
                              
                            {{ form.created }}
                            {% if form.created.errors %}
                                <span class="help-inline">{% for error in form.created.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.created.help_text%}
                                <p class="help-block">
                                    {{ form.created.help_text|safe }}
                                </p>
                            {% endif %}
                              
                            </div>
                            
                        </div>
                                            <div class="control-row">
                        <label class="control-label">Статус аккаунта</label>
                        <div class="controls">
                             {{ form.status }}
                            {% if form.status.errors %}
                                <span class="help-inline">{% for error in form.status.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.status.help_text%}
                                <p class="help-block">
                                    {{ form.status.help_text|safe }}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="input-server-access">{{form.tariff.label}}</label>
                        <div class="controls">
                             {{ form.tariff }}
                            {% if form.tariff.errors %}
                                <span class="help-inline">{% for error in form.tariff.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.tariff.help_text%}
                                <p class="help-block">
                                    {{ form.tariff.help_text|safe }}
                                </p>
                            {% endif %}
                        </div>
                    </div>
           </fieldset>
                           <fieldset>
                    <legend>Сетевая идентификация</legend>
                    <div class="control-group">
                        <div class="control-row">
                            <label class="control-label" for="input-vpn-ip">{{form.vpn_ip_address.label}}</label>
                            <div class="controls">
                             {{ form.vpn_ip_address }}
                            {% if form.vpn_ip_address.errors %}
                                <span class="help-inline">{% for error in form.vpn_ip_address.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.vpn_ip_address.help_text%}
                                <p class="help-block">
                                    {{ form.vpn_ip_address.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>

                        <div class="control-row">
                            <label class="control-label" for="input-ipn-ip">{{form.ipn_ip_address.label}}</label>
                            <div class="controls">
                             {{ form.ipn_ip_address }}
                            {% if form.ipn_ip_address.errors %}
                                <span class="help-inline">{% for error in form.ipn_ip_address.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.ipn_ip_address.help_text%}
                                <p class="help-block">
                                    {{ form.ipn_ip_address.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="control-row">
                        <label class="control-label" for="input-server-access">{{form.nas.label}}</label>
                        <div class="controls">
                             {{ form.nas }}
                            {% if form.nas.errors %}
                                <span class="help-inline">{% for error in form.nas.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.nas.help_text%}
                                <p class="help-block">
                                    {{ form.nas.help_text|safe }}
                                </p>
                            {% endif %}
                        </div>
                        </div>

                        <div class="control-row">
                            <label class="control-label" for="input-mac-address">{{form.ipn_mac_address.label}}</label>
                            <div class="controls">
                             {{ form.ipn_mac_address }}
                            {% if form.ipn_mac_address.errors %}
                                <span class="help-inline">{% for error in form.ipn_mac_address.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.ipn_mac_address.help_text%}
                                <p class="help-block">
                                    {{ form.ipn_mac_address.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    
                    <div class="control-group">
                    <div class="control-row">
                        
                        <div class="controls">
                             &nbsp;
                        </div>
                    </div>
                    <div class="control-row">
                        <label class="control-label">IPN статус</label>
                        <div class="controls">
                             {{ form.ipn_status }}
                            {% if form.ipn_status.errors %}
                                <span class="help-inline">{% for error in form.ipn_status.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.ipn_status.help_text%}
                                <p class="help-block">
                                    {{ form.ipn_status.help_text|safe }}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    </div>








                </fieldset>

                <fieldset>
                    <legend>Персональные данные</legend>

                    <div class="control-group">
                    <div class="control-row">
                        <label class="control-label" for="input-username">{{form.username.label}}</label>
                        <div class="controls">
                             {{ form.username }}
                            {% if form.username.errors %}
                                <span class="help-inline">{% for error in form.username.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.username.help_text%}
                                <p class="help-block">
                                    {{ form.username.help_text|safe }}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                        <div class="control-row">
                            <label class="control-label" for="input-phone">{{form.phone.label}}</label>
                            <div class="controls">
                             {{ form.phone }}
                            {% if form.phone.errors %}
                                <span class="help-inline">{% for error in form.phone.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.phone.help_text%}
                                <p class="help-block">
                                    {{ form.phone.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                            </div>
                   </div>
                    <div class="control-group">
                        <div class="control-row">
                            <label class="control-label" for="input-name">{{form.fullname.label}}</label>
                            <div class="controls">
                             {{ form.fullname }}
                            {% if form.fullname.errors %}
                                <span class="help-inline">{% for error in form.fullname.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.fullname.help_text%}
                                <p class="help-block">
                                    {{ form.fullname.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>

                        <div class="control-row">
                            <label class="control-label" for="input-cperson">{{form.contactperson.label}}</label>
                            <div class="controls">
                             {{ form.contactperson }}
                            {% if form.contactperson.errors %}
                                <span class="help-inline">{% for error in form.contactperson.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.contactperson.help_text%}
                                <p class="help-block">
                                    {{ form.contactperson.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                            </div>
                        </div>
                    

                        <div class="control-row">
                            <label class="control-label" for="input-passport">{{form.passport.label}}</label>
                            <div class="controls">
                             {{ form.passport }}
                            {% if form.passport.errors %}
                                <span class="help-inline">{% for error in form.passport.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.passport.help_text%}
                                <p class="help-block">
                                    {{ form.passport.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>
            
                </fieldset>
                
                <fieldset>
                    <legend>Адрес</legend>

                    <div class="control-group">
                        <div class="control-row">
                            <label class="control-label" for="input-city">{{form.city.label}}</label>
                            <div class="controls">
                             {{ form.city }}
                            {% if form.city.errors %}
                                <span class="help-inline">{% for error in form.city.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.city.help_text%}
                                <p class="help-block">
                                    {{ form.city.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>

                        <div class="control-row">
                            <label class="control-label" for="input-street">{{form.street.label}}</label>
                            <div class="controls">
                             {{ form.street }}
                            {% if form.street.errors %}
                                <span class="help-inline">{% for error in form.street.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.street.help_text%}
                                <p class="help-block">
                                    {{ form.street.help_text|safe }}
                                </p>
                            {% endif %}
                            {{ form.house }}
                            {% if form.house.errors %}
                                <span class="help-inline">{% for error in form.house.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.house.help_text%}
                                <p class="help-block">
                                    {{ form.house.help_text|safe }}
                                </p>
                            {% endif %}
                            {{ form.room }}
                            {% if form.room.errors %}
                                <span class="help-inline">{% for error in form.room.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.room.help_text%}
                                <p class="help-block">
                                    {{ form.room.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="input-entrance">{{form.house_bulk.label}}</label>
                        <div class="controls">
                            {{ form.house_bulk }}
                            {% if form.house_bulk.errors %}
                                <span class="help-inline">{% for error in form.house_bulk.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.house_bulk.help_text%}
                                <p class="help-block">
                                    {{ form.house_bulk.help_text|safe }}
                                </p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="input-floor">{{form.row.label}}</label>
                        <div class="controls">
                            {{ form.row }}
                            {% if form.row.errors %}
                                <span class="help-inline">{% for error in form.row.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.row.help_text%}
                                <p class="help-block">
                                    {{ form.row.help_text|safe }}
                                </p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="input-floor">От лифта</label>
                        <div class="controls">
                            <select id="" class="span3">
                                <option>Слева</option>
                                <option>Справа</option>
                                <option>Прямо</option>
                            </select>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Блокировка</legend>

                    <div class="control-group">
                        <div class="control-row">
                            <label class="control-label">{{form.ballance_blocked.label}}</label>
                            <div class="controls">
                             {{ form.ballance_blocked }}
                            {% if form.ballance_blocked.errors %}
                                <span class="help-inline">{% for error in form.ballance_blocked.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.ballance_blocked.help_text%}
                                <p class="help-block">
                                    {{ form.ballance_blocked.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>

                        <div class="control-row">
                            <label class="control-label">{{form.limit_blocked.label}}</label>
                            <div class="controls">
                             {{ form.limit_blocked }}
                            {% if form.limit_blocked.errors %}
                                <span class="help-inline">{% for error in form.limit_blocked.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.limit_blocked.help_text%}
                                <p class="help-block">
                                    {{ form.limit_blocked.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Юридическое лицо</legend>

                    <div class="control-group">
                        <label class="control-label">Юрлицо</label>
                        <div class="controls">
                            <label class="radio inline">
                                <input type="radio" checked="" value="option1" id="" name="radios-block-jp"> Да
                            </label>
                            <label class="radio inline">
                                <input type="radio" checked="" value="option2" id="" name="radios-block-jp"> Нет
                            </label>
                            <label class="radio inline">
                                <input type="radio" checked="" value="option3" id="" name="radios-block-jp"> Не важно
                            </label>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="control-row">
                            <label class="control-label" for="input-company">Наименование</label>
                            <div class="controls">
                             {{ form.organization }}
                            {% if form.organization.errors %}
                                <span class="help-inline">{% for error in form.organization.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.organization.help_text%}
                                <p class="help-block">
                                    {{ form.organization.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>

                        <div class="control-row">
                            <label class="control-label" for="input-settlement-account">Расчетный счет</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="input-settlement-account">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                <legend>Прочее</legend>
                    <div class="control-group">
                        <div class="control-row">
                                    
                                    <div class="controls">
                                   {{ form.deleted }}{{form.deleted.label}}
                                   {% if form.deleted.errors %}
                                       <span class="help-inline">{% for error in form.deleted.errors %}{{ error }}<br/> {% endfor %}</span>
                                   {% endif %}
                                   {% if form.deleted.help_text%}
                                       <p class="help-block">
                                           {{ form.deleted.help_text|safe }}
                                       </p>
                                   {% endif %}
                                    </div>
                        </div>


                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-actions form-actions-center">
                        <button class="btn btn-primary" type="submit">Подобрать результаты</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
  
  </div>
  <div class="tab-pane {% if table %}active{% endif %}" id="result">{% if table %}{% render_table table %}{% endif %}</div>

</div>
 {% endblock %}

