{% extends "ebsadmin/base.html" %}

{% block extra_head %}

 <script type="text/javascript"> 
 $(document).ready(function() {
     $('#id_datetime').datetimepicker({
         showSecond: true,
         timeFormat: 'hh:mm:ss',
         stepHour: 1,
         stepMinute: 1,
         stepSecond: 1,
         numberOfMonths: 1
     });
     $('#id_returned').datetimepicker({
         showSecond: true,
         timeFormat: 'hh:mm:ss',
         stepHour: 1,
         stepMinute: 1,
         stepSecond: 1,
         numberOfMonths: 1
     });
 });
 </script>
{% endblock %}
{% block body %}
{% if not status %}
{{message}}
                <form action='{% url accounthardware %}?_id={{item.id}}' method="POST" class="well form-horizontal  form-condensed  ajax">
                {{ form.account }}
                <fieldset>
                  <div class="control-group">
                      <label class="control-label">{{form.hardware.label}}: </label>
                      <div class="controls">
                      {{ form.hardware }}
                      {% if form.hardware.errors %}
                          <span class="help-inline">{% for error in form.hardware.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.hardware.help_text%}
                          <p class="help-block">
                              {{ form.hardware.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  <div class="control-group">

                      <label class="control-label">{{form.datetime.label}}:</label>
                      <div class="controls">
                      {{ form.datetime }}
                      {% if form.datetime.errors %}
                          <span class="help-inline">{% for error in form.datetime.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.datetime.help_text%}
                          <p class="help-block">
                              {{ form.datetime.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label">{{form.returned.label}}:</label>
                      <div class="controls">
                      {{ form.returned }}
                      {% if form.returned.errors %}
                          <span class="help-inline">{% for error in form.returned.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.returned.help_text%}
                          <p class="help-block">
                              {{ form.returned.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>

                  <div class="control-group">
                      <label class="control-label">{{form.comment.label}}: </label>
                      <div class="controls">
                      {{ form.comment }}
                      {% if form.comment.errors %}
                          <span class="help-inline">{% for error in form.comment.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.comment.help_text%}
                          <p class="help-block">
                              {{ form.comment.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                </fieldset>
                <div class="form-actions">
				    <input type='submit' class="btn btn-primary" value="Save Changes">
				    <a class="btn close-dialog" href="#">Close</a>
				</div>
                </form>
{% else %}
Операция произведена успешно.
 <script type="text/javascript"> 
 $(document).ready(function() {
     location.reload();
 });
 </script>
{% endif %}
{% endblock %}