{% extends "ebsadmin/base.html" %}
{% load crispy_forms_tags %}
{% block extra_head %}

        <script type="text/javascript"> 
        $(document).ready(function() {



            {% if table %}
            $('#tab-control a[href="#result"]').tab('show');
            {% else %}
            $('#tab-control a[href="#filter"]').tab('show');
            {% endif %}
        });
        </script>

{% endblock %}
{% block body %}

<ul class="nav nav-tabs" id="tab-control">
  <li ><a href="#filter">Фильтр</a></li>
  <li><a  href="#result">Отчёт</a></li>  
</ul>

 {% load render_table from django_tables2 %}
<div class="tab-content">
  <div class="tab-pane" id="filter">
  
  <div class="row-fluid">
        <div class="span12">
            <form action="{{form.action}}" method="GET" class="well form-horizontal">
            {{ form.non_field_errors }}
                <fieldset>
                    <legend>Фильтр по сессиям</legend>
                    <div class="control-group">
                        <div class="control-row">
                            <label class="control-label" for="input-agreement-no">{{form.date_start.label}}</label>
                            <div class="controls">
                             {{ form.date_start }}
                            {% if form.date_start.errors %}
                                <span class="help-inline">{% for error in form.date_start.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.date_start.help_text%}
                                <p class="help-block">
                                    {{ form.date_start.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>
                        </div>
                        <div class="control-group">
                        <div class="control-row">
                            <label class="control-label" for="input-balance-sum">{{form.date_end.label}}</label>
                            <div class="controls">
                             {{ form.date_end }}
                            {% if form.date_end.errors %}
                                <span class="help-inline">{% for error in form.date_end.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.date_end.help_text%}
                                <p class="help-block">
                                    {{ form.date_end.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="control-row">
                            <label class="control-label" for="input-agreement-no">{{form.account.label}}</label>
                            <div class="controls">
					        {{ form.account }}
					        {% if form.account.errors %}
					            <span class="help-inline">{% for error in form.account.errors %}{{ error }}<br/> {% endfor %}</span>
					        {% endif %}
					        {% if form.account.help_text%}
					            <p class="help-block">
					                {{ form.account.help_text|safe }}
					            </p>
					        {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="control-row">
                            <label class="control-label" for="input-agreement-no">{{form.nas.label}}</label>
                            <div class="controls">
                            {{ form.nas }}
                            {% if form.nas.errors %}
                                <span class="help-inline">{% for error in form.nas.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.nas.help_text%}
                                <p class="help-block">
                                    {{ form.nas.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="control-row">
                            <label class="control-label" for="input-agreement-no">{{form.only_active.label}}</label>
                            <div class="controls">
                             {{ form.only_active }}
                            {% if form.only_active.errors %}
                                <span class="help-inline">{% for error in form.only_active.errors %}{{ error }}<br/> {% endfor %}</span>
                            {% endif %}
                            {% if form.only_active.help_text%}
                                <p class="help-block">
                                    {{ form.only_active.help_text|safe }}
                                </p>
                            {% endif %}
                            </div>
                        </div>

                    </div>

                
                <fieldset>
                    <div class="form-actions form-actions-center">
                        <button class="btn btn-primary" type="submit">Подобрать результаты</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
  
  </div>
  <div class="tab-pane" id="result">{% if table %}{% render_table table "django_tables2/sessions_table.html" %}{% endif %}</div>

</div>
 {% endblock %}

