{% extends "ebsadmin/base.html" %}
{% load crispy_forms_tags %}
{% load ebsadmin_tags %}
{% block extra_head %}
        <script type="text/javascript"> 
        $(document).ready(function() {
        $("#generate_username").click(function() {
            $.getJSON('{% url generate_credentials %}',{action:'login'},function(data,status){
                if( status=='success' ){
                    if(data.success==true)
                        $("#id_username").val(data.generated);
                    else
                        alert(data.generated)
                }else{
                    alert('В процессе отправки произошла ошибка :(')
                }
            })
            });
        $("#generate_password").click(function() {
            $.getJSON('{% url generate_credentials %}',{action:'password'},function(data,status){
                if( status=='success' ){
                    if(data.success==true)
                        $("#id_password").val(data.generated);
                    else
                        alert(data.generated)
                }else{
                    alert('В процессе отправки произошла ошибка :(')
                }
            })
            });
        $('[data-toggle="modal"]').click(function(e) {
            e.preventDefault();
            var href = $(this).attr('href');
            if (href.indexOf('#') == 0) {
                $(href).modal('open');
            } else {
                $.get(href, function(data) {
                    $('<div class="modal" >' + data + '</div>').modal();
                }).success(function() { $('input:text:visible:first').focus(); });
            }
        });
        });
        </script>

{% endblock %}
 {% load render_table from django_tables2 %}
{% block body %}
<div class="span12">
<div class="row-fluid">
<ul class="breadcrumb">
  <li>
    <a href="{% url addonservice %}">Подключаемые услуги</a> <span class="divider">/</span>
  </li>

  <li class="active">{{form.name.value}}</li>
</ul>
<form method="POST" action="{% url addonservice_edit %}?id={{item.id}}"class="well form-horizontal form-condensed ">
            <legend>Параметры подключаемой услуги{% objectlog item %}</legend>
             <fieldset>
                  <div class="control-group {% if form.name.errors %}error{% endif %}">
                      <label class="control-label">{{form.name.label}}</label>
                      <div class="controls">
                      {{ form.name }}
                      {% if form.name.errors %}
                          <span class="help-inline">{% for error in form.name.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.name.help_text%}
                          <p class="help-block">
                              {{ form.name.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  <div class="control-group {% if form.comment.errors %}error{% endif %}">
                      <label class="control-label">{{form.comment.label}}</label>
                      <div class="controls">
                      {{ form.comment }}
                      {% if form.comment.errors %}
                          <span class="help-inline">{% for error in form.comment.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.comment.help_text%}
                          <p class="help-block">
                              {{ form.comment.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                </fieldset>
                
                <legend>Правила активации</legend>
                <fieldset>
                  <div class="control-group {% if form.allow_activation.errors %}error{% endif %}">
                      <label class="control-label">{{form.allow_activation.label}}</label>
                      <div class="controls">
                      {{ form.allow_activation }}
                      {% if form.allow_activation.errors %}
                          <span class="help-inline">{% for error in form.allow_activation.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.allow_activation.help_text%}
                          <p class="help-block">
                              {{ form.allow_activation.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  <div class="control-group {% if form.timeperiod.errors %}error{% endif %}">
                      <label class="control-label">{{form.timeperiod.label}}</label>
                      <div class="controls">
                      {{ form.timeperiod }}
                      {% if form.timeperiod.errors %}
                          <span class="help-inline">{% for error in form.timeperiod.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.timeperiod.help_text%}
                          <p class="help-block">
                              {{ form.timeperiod.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                </fieldset>
                <legend>Правила тарификации</legend>
                <fieldset>
                  <div class="control-group {% if form.service_type.errors %}error{% endif %}">
                      <label class="control-label">{{form.service_type.label}}</label>
                      <div class="controls">
                      {{ form.service_type }}
                      {% if form.service_type.errors %}
                          <span class="help-inline">{% for error in form.service_type.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.service_type.help_text%}
                          <p class="help-block">
                              {{ form.service_type.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  <div class="control-group {% if form.sp_type.errors %}error{% endif %}">
                      <label class="control-label">{{form.sp_type.label}}</label>
                      <div class="controls">
                      {{ form.sp_type }}
                      {% if form.sp_type.errors %}
                          <span class="help-inline">{% for error in form.sp_type.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.sp_type.help_text%}
                          <p class="help-block">
                              {{ form.sp_type.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  <div class="control-group {% if form.sp_period.errors %}error{% endif %}">
                      <label class="control-label">{{form.sp_period.label}}</label>
                      <div class="controls">
                      {{ form.sp_period }}
                      {% if form.sp_period.errors %}
                          <span class="help-inline">{% for error in form.sp_period.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.sp_period.help_text%}
                          <p class="help-block">
                              {{ form.sp_period.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  <div class="control-group {% if form.cost.errors %}error{% endif %}">
                      <label class="control-label">{{form.cost.label}}</label>
                      <div class="controls">
                      {{ form.cost }}
                      {% if form.cost.errors %}
                          <span class="help-inline">{% for error in form.cost.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.cost.help_text%}
                          <p class="help-block">
                              {{ form.cost.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                </fieldset>
                <legend>Досрочное отключение</legend>
                <fieldset>
                  <div class="control-group {% if form.cancel_subscription.errors %}error{% endif %}">
                      <label class="control-label">{{form.cancel_subscription.label}}</label>
                      <div class="controls">
                      {{ form.cancel_subscription }}
                      {% if form.cancel_subscription.errors %}
                          <span class="help-inline">{% for error in form.cancel_subscription.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.cancel_subscription.help_text%}
                          <p class="help-block">
                              {{ form.cancel_subscription.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  <div class="control-group {% if form.wyte_period.errors %}error{% endif %}">
                      <label class="control-label">{{form.wyte_period.label}}</label>
                      <div class="controls">
                      {{ form.wyte_period }}
                      {% if form.wyte_period.errors %}
                          <span class="help-inline">{% for error in form.wyte_period.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.wyte_period.help_text%}
                          <p class="help-block">
                              {{ form.wyte_period.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  <div class="control-group {% if form.wyte_cost.errors %}error{% endif %}">
                      <label class="control-label">{{form.wyte_cost.label}}</label>
                      <div class="controls">
                      {{ form.wyte_cost }}
                      {% if form.wyte_cost.errors %}
                          <span class="help-inline">{% for error in form.wyte_cost.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.wyte_cost.help_text%}
                          <p class="help-block">
                              {{ form.wyte_cost.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                </fieldset>
                <legend>Выполнить действие</legend>
                <fieldset>
                  <div class="control-group {% if form.action.errors %}error{% endif %}">
                      <label class="control-label">{{form.action.label}}</label>
                      <div class="controls">
                      {{ form.action }}
                      {% if form.action.errors %}
                          <span class="help-inline">{% for error in form.action.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.action.help_text%}
                          <p class="help-block">
                              {{ form.action.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  <div class="control-group {% if form.nas.errors %}error{% endif %}">
                      <label class="control-label">{{form.nas.label}}</label>
                      <div class="controls">
                      {{ form.nas }}
                      {% if form.nas.errors %}
                          <span class="help-inline">{% for error in form.nas.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.nas.help_text%}
                          <p class="help-block">
                              {{ form.nas.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  <div class="control-group {% if form.service_activation_action.errors %}error{% endif %}">
                      <label class="control-label">{{form.service_activation_action.label}}</label>
                      <div class="controls">
                      {{ form.service_activation_action }}
                      {% if form.service_activation_action.errors %}
                          <span class="help-inline">{% for error in form.service_activation_action.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.service_activation_action.help_text%}
                          <p class="help-block">
                              {{ form.service_activation_action.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  <div class="control-group {% if form.service_deactivation_action.errors %}error{% endif %}">
                      <label class="control-label">{{form.service_deactivation_action.label}}</label>
                      <div class="controls">
                      {{ form.service_deactivation_action }}
                      {% if form.service_deactivation_action.errors %}
                          <span class="help-inline">{% for error in form.service_deactivation_action.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.service_deactivation_action.help_text%}
                          <p class="help-block">
                              {{ form.service_deactivation_action.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  <div class="control-group {% if form.deactivate_service_for_blocked_account.errors %}error{% endif %}">
                      <label class="control-label">{{form.deactivate_service_for_blocked_account.label}}</label>
                      <div class="controls">
                      {{ form.deactivate_service_for_blocked_account }}
                      {% if form.deactivate_service_for_blocked_account.errors %}
                          <span class="help-inline">{% for error in form.deactivate_service_for_blocked_account.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.deactivate_service_for_blocked_account.help_text%}
                          <p class="help-block">
                              {{ form.deactivate_service_for_blocked_account.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  
                </fieldset>
                <legend>Изменить настройки скорости</legend>
                <fieldset>
                  <div class="control-group {% if form.change_speed.errors %}error{% endif %}">
                      <label class="control-label">{{form.change_speed.label}}</label>
                      <div class="controls">
                      {{ form.change_speed }}
                      {% if form.change_speed.errors %}
                          <span class="help-inline">{% for error in form.change_speed.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.change_speed.help_text%}
                          <p class="help-block">
                              {{ form.change_speed.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  <div class="control-group {% if form.change_speed_type.errors %}error{% endif %}">
                      <label class="control-label">{{form.change_speed_type.label}}</label>
                      <div class="controls">
                      {{ form.change_speed_type }}
                      {% if form.change_speed_type.errors %}
                          <span class="help-inline">{% for error in form.change_speed_type.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.change_speed_type.help_text%}
                          <p class="help-block">
                              {{ form.change_speed_type.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  <div class="control-group {% if form.speed_units.errors %}error{% endif %}">
                      <label class="control-label">{{form.speed_units.label}}</label>
                      <div class="controls">
                      {{ form.speed_units }}
                      {% if form.speed_units.errors %}
                          <span class="help-inline">{% for error in form.speed_units.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.speed_units.help_text%}
                          <p class="help-block">
                              {{ form.speed_units.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  <div class="control-group">
	                  <div class="control-row {% if form.max_tx.errors %}error{% endif %}">
	                      <label class="control-label">{{form.max_tx.label}}</label>
	                      <div class="controls">
	                      {{ form.max_tx }}
	                      {% if form.max_tx.errors %}
	                          <span class="help-inline">{% for error in form.max_tx.errors %}{{ error }}<br/> {% endfor %}</span>
	                      {% endif %}
	                      {% if form.max_tx.help_text%}
	                          <p class="help-block">
	                              {{ form.max_tx.help_text|safe }}
	                          </p>
	                      {% endif %}
	                      </div>
                      </div>
                      <div class="control-row {% if form.max_rx.errors %}error{% endif %}">
                          <label class="control-label">{{form.max_rx.label}}</label>
                          <div class="controls">
                          {{ form.max_rx }}
                          {% if form.max_rx.errors %}
                              <span class="help-inline">{% for error in form.max_rx.errors %}{{ error }}<br/> {% endfor %}</span>
                          {% endif %}
                          {% if form.max_rx.help_text%}
                              <p class="help-block">
                                  {{ form.max_rx.help_text|safe }}
                              </p>
                          {% endif %}
                          </div>
                      </div>
                  </div>
                  <div class="control-group">
                      <div class="control-row {% if form.burst_tx.errors %}error{% endif %}">
                          <label class="control-label">{{form.burst_tx.label}}</label>
                          <div class="controls">
                          {{ form.burst_tx }}
                          {% if form.burst_tx.errors %}
                              <span class="help-inline">{% for error in form.burst_tx.errors %}{{ error }}<br/> {% endfor %}</span>
                          {% endif %}
                          {% if form.burst_tx.help_text%}
                              <p class="help-block">
                                  {{ form.burst_tx.help_text|safe }}
                              </p>
                          {% endif %}
                          </div>
                      </div>
                      <div class="control-row {% if form.burst_rx.errors %}error{% endif %}">
                          <label class="control-label">{{form.burst_rx.label}}</label>
                          <div class="controls">
                          {{ form.burst_rx }}
                          {% if form.burst_rx.errors %}
                              <span class="help-inline">{% for error in form.burst_rx.errors %}{{ error }}<br/> {% endfor %}</span>
                          {% endif %}
                          {% if form.burst_rx.help_text%}
                              <p class="help-block">
                                  {{ form.burst_rx.help_text|safe }}
                              </p>
                          {% endif %}
                          </div>
                      </div>
                  </div>
                  <div class="control-group">
                      <div class="control-row {% if form.burst_treshold_tx.errors %}error{% endif %}">
                          <label class="control-label">{{form.burst_treshold_tx.label}}</label>
                          <div class="controls">
                          {{ form.burst_treshold_tx }}
                          {% if form.burst_treshold_tx.errors %}
                              <span class="help-inline">{% for error in form.burst_treshold_tx.errors %}{{ error }}<br/> {% endfor %}</span>
                          {% endif %}
                          {% if form.burst_treshold_tx.help_text%}
                              <p class="help-block">
                                  {{ form.burst_treshold_tx.help_text|safe }}
                              </p>
                          {% endif %}
                          </div>
                      </div>
                      <div class="control-row {% if form.burst_treshold_rx.errors %}error{% endif %}">
                          <label class="control-label">{{form.burst_treshold_rx.label}}</label>
                          <div class="controls">
                          {{ form.burst_treshold_rx }}
                          {% if form.burst_treshold_tx.errors %}
                              <span class="help-inline">{% for error in form.burst_treshold_rx.errors %}{{ error }}<br/> {% endfor %}</span>
                          {% endif %}
                          {% if form.burst_treshold_rx.help_text%}
                              <p class="help-block">
                                  {{ form.burst_treshold_rx.help_text|safe }}
                              </p>
                          {% endif %}
                          </div>
                      </div>
                  </div>
                  <div class="control-group">
                      <div class="control-row {% if form.burst_time_tx.errors %}error{% endif %}">
                          <label class="control-label">{{form.burst_time_tx.label}}</label>
                          <div class="controls">
                          {{ form.burst_time_tx }}
                          {% if form.burst_time_tx.errors %}
                              <span class="help-inline">{% for error in form.burst_time_tx.errors %}{{ error }}<br/> {% endfor %}</span>
                          {% endif %}
                          {% if form.burst_time_tx.help_text%}
                              <p class="help-block">
                                  {{ form.burst_time_tx.help_text|safe }}
                              </p>
                          {% endif %}
                          </div>
                      </div>
                      <div class="control-row {% if form.burst_time_rx.errors %}error{% endif %}">
                          <label class="control-label">{{form.burst_time_rx.label}}</label>
                          <div class="controls">
                          {{ form.burst_time_rx }}
                          {% if form.burst_time_rx.errors %}
                              <span class="help-inline">{% for error in form.burst_time_rx.errors %}{{ error }}<br/> {% endfor %}</span>
                          {% endif %}
                          {% if form.burst_time_rx.help_text%}
                              <p class="help-block">
                                  {{ form.burst_time_rx.help_text|safe }}
                              </p>
                          {% endif %}
                          </div>
                      </div>
                  </div>
                  <div class="control-group">
                      <div class="control-row {% if form.min_tx.errors %}error{% endif %}">
                          <label class="control-label">{{form.min_tx.label}}</label>
                          <div class="controls">
                          {{ form.min_tx }}
                          {% if form.min_tx.errors %}
                              <span class="help-inline">{% for error in form.min_tx.errors %}{{ error }}<br/> {% endfor %}</span>
                          {% endif %}
                          {% if form.min_tx.help_text%}
                              <p class="help-block">
                                  {{ form.min_tx.help_text|safe }}
                              </p>
                          {% endif %}
                          </div>
                      </div>
                      <div class="control-row {% if form.min_rx.errors %}error{% endif %}">
                          <label class="control-label">{{form.min_rx.label}}</label>
                          <div class="controls">
                          {{ form.min_rx }}
                          {% if form.min_rx.errors %}
                              <span class="help-inline">{% for error in form.min_rx.errors %}{{ error }}<br/> {% endfor %}</span>
                          {% endif %}
                          {% if form.min_rx.help_text%}
                              <p class="help-block">
                                  {{ form.min_rx.help_text|safe }}
                              </p>
                          {% endif %}
                          </div>
                      </div>
                  </div>
                  <div class="control-group {% if form.priority.errors %}error{% endif %}">
                      
                          <label class="control-label">{{form.priority.label}}</label>
                          <div class="controls">
                          {{ form.priority }}
                          {% if form.priority.errors %}
                              <span class="help-inline">{% for error in form.priority.errors %}{{ error }}<br/> {% endfor %}</span>
                          {% endif %}
                          {% if form.priority.help_text%}
                              <p class="help-block">
                                  {{ form.priority.help_text|safe }}
                              </p>
                          {% endif %}
                      </div>
                  </div>
                </fieldset>
                <fieldset>
                    <div class="form-actions form-actions-center">
                        <button class="btn btn-primary" type="submit">Сохранить</button>
                    </div>
                </fieldset>
            </form>

            </form>
        </div>

    </div>

 {% endblock %}

