{% extends "ebsadmin/base.html" %}
{% load ebsadmin_tags %}
{% load render_table from django_tables2 %}
{% block extra_head %}

{% endblock %}
{% block body %}




  <div class="row-fluid">
  <div>
  <div class="hero-unit">
            <h1>Expert Billing 1.5alpha</h1>
            <p>Добро пожаловать!</p> 
            <p>Вы попали в интерфейс администратора биллинг-системы ExpertBilling 1.5alpha. 
            Обращаем ваше внимание, на то, что это technology preview версия, которая была выложена в целях ознакомления с будущим функционалом. 
            Она содержит баги и проблемы, о которых мы можем не знать. Пожалуйста, отнеситесь к этому с пониманием и сообщайте о всех найденных проблемах на нашем форуме http://forum.expertbilling.ru/.
            
            </p>
            <p><a href="{% url account_list %}" class="btn btn-primary btn-large">Приступить »</a></p>
          </div>
          
   <div class="alert alert-danger">В текущей версии не работает печать документов, сброс сессий на сервере доступа, загрузка IP адресов и сетей из файла, не тестировался механизм разграничения доступа, отсутствует интерфейс кассира.</div>
  <div>Количество аккаунтов: {{accounts_count}}</div>
  </div>
    </div>
  

 {% endblock %}

