{% extends "ebsadmin/base.html" %}
 {% load render_table from django_tables2 %}
{% block extra_head %}

{% endblock %}
{% block body %}




  <div class="row-fluid">
  <div>
  <div class="hero-unit">
            <h1>Expert Billing 1.5 comming soon</h1>
            <p>Добро пожаловать. Вы попали в интерфейс администратора биллинг-системы ExpertBilling 1.5. 
            Обращаем ваше внимание, что это technology preview версия, которая была выложена в целях ознакомления с будущим функционалам. Она содержит баги и проблемы, о которых мы можем не знать.
            
            </p>
            <p><a href="{% url account_list %}" class="btn btn-primary btn-large">Приступить »</a></p>
          </div>
  Количество аккаунтов: {{accounts_count}}
  </div>
    </div>
  

 {% endblock %}

