{% load ebsadmin_tags %}
{% load i18n %}
<!DOCTYPE html>
<html lang='ru'>
<head>
<link href="/media/bootstrap/css/style.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/media/bootstrap/css/bootstrap.css" rel="stylesheet">


<link href="/media/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<link href="/media/bootstrap/css/cus-icons.css" rel="stylesheet">
<link href="/media/bootstrap/css/todc-bootstrap.css" rel="stylesheet">
<link href="/media/datetimepicker/datepicker.css" rel="stylesheet">




<script src="/media/jquery/js/jquery-1.8.2.js"></script>
<script src="/media/jquery/js/jquery.history.js"></script>
<script src="/media/jquery/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/media/jquery/js/jquery-ui-1.9.1.custom.min.js"></script>
<script type="text/javascript" src="/media/daterangepicker/date.js"></script>
<script type="text/javascript" src="/media/daterangepicker/daterangepicker.js"></script>

<script type="text/javascript" src="/media/jdialogs/lib/jquery.dialog2.js"></script>

<script type="text/javascript" src="/media/jdialogs/lib/jquery.dialog2.helpers.js"></script>
<script type="text/javascript" src="/media/jquery/js/jquery.controls.js"></script>
<script type="text/javascript" src="/media/jquery/js/jquery.form.js"></script>
<script src="/media/datetimepicker/datepicker.js"></script>
<script src="/media/jquery/js/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>

       
<script src="/media/js/smartspinner/smartspinner.js" type="text/javascript"></script>
<link rel="stylesheet" href="/media/js/smartspinner/smartspinner.css" type="text/css" />
<link type="text/css" rel="stylesheet" href="/media/jdialogs/css/jquery-dialog2/jquery.dialog2.css">
<link rel="stylesheet" href="/media/jquery/css/jquery-ui-1.9.1.custom.min.css" type="text/css" title="ui-theme" />
<script  type="text/javascript" >
$(document).ready(function() {
    $('#tab-control a').click(function (e) {
          e.preventDefault(e);
          $(this).tab('show');
        });
            $(document).on("selectedTemplate", documentPrintHandler);
            // newMessage event handler
            
            function documentPrintHandler(e) {
                {% if account %}
                var data = {template:e.message, account:{{account.id}}};

                var $form = $('<form target="_blank" method="POST" action="{% url documentrender %}">');
                $.each(data, function(k,v){
                    $form.append('<input type="hidden" name="' + k + '" value="' + v + '">');
                });
                $form.append('</form>');
                $form.submit();
                {% endif %}
            }
            
            $(".hide-alert").fadeOut(3000 );
    });

</script>
<script src="/media/bootstrap/js/bootstrap.min.js"></script>
<script src="/media/bootstrap/js/bootstrap-multiselect.js"></script>
<script src="/media/bootstrap/js/bootstrap-tab-history.js"></script>


  <style type="text/css">
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 600px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.table td {
    padding-top: 1px;
    padding-bottom: 1px;
    /*padding-left: 2px; */ 
    padding-right: 2px;
    
}

html,body
{
height:100%;
}

#wrap
{
min-height: 100%;
}

#main
{
overflow:auto;
padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer
{
position: relative;
margin-top: -150px; /* negative value of footer height */
height: 150px;
clear:both;
padding-top:20px;
}
  </style>
<meta name="robots" content="NONE,NOARCHIVE">
<script type="text/javascript"> 
    $(function(){
        $('.dropdown-toggle').dropdown()
    });
    $(document).ready(function() {
        $('.datepicker').datepicker({
        	months: ["{% blocktrans %}Январь{% endblocktrans %}","{% blocktrans %}Февраль{% endblocktrans %}","{% blocktrans %}Март{% endblocktrans %}","{% blocktrans %}Апрель{% endblocktrans %}","{% blocktrans %}Май{% endblocktrans %}","{% blocktrans %}Июнь{% endblocktrans %}","{% blocktrans %}Июль{% endblocktrans %}","{% blocktrans %}Август{% endblocktrans %}","{% blocktrans %}Сентябрь{% endblocktrans %}","{% blocktrans %}Октябрь{% endblocktrans %}","{% blocktrans %}Ноябрь{% endblocktrans %}","{% blocktrans %}Декабрь{% endblocktrans %}"],
        	weekStart: 1,
        	noDefault: true,
        	format: 'yyyy-mm-dd hh:ii:ss',
            days: ["{% blocktrans %}вс{% endblocktrans %}", "{% blocktrans %}пн{% endblocktrans %}","{% blocktrans %}вт{% endblocktrans %}","{% blocktrans %}ср{% endblocktrans %}","{% blocktrans %}чт{% endblocktrans %}","{% blocktrans %}пт{% endblocktrans %}","{% blocktrans %}сб{% endblocktrans %}"],});
        $('.dateinput').datepicker({
            months: ["{% blocktrans %}Январь{% endblocktrans %}","{% blocktrans %}Февраль{% endblocktrans %}","{% blocktrans %}Март{% endblocktrans %}","{% blocktrans %}Апрель{% endblocktrans %}","{% blocktrans %}Май{% endblocktrans %}","{% blocktrans %}Июнь{% endblocktrans %}","{% blocktrans %}Июль{% endblocktrans %}","{% blocktrans %}Август{% endblocktrans %}","{% blocktrans %}Сентябрь{% endblocktrans %}","{% blocktrans %}Октябрь{% endblocktrans %}","{% blocktrans %}Ноябрь{% endblocktrans %}","{% blocktrans %}Декабрь{% endblocktrans %}"],
            weekStart: 1,
            noDefault: true,
            format: 'yyyy-mm-dd hh:ii:ss',
            days: ["{% blocktrans %}вс{% endblocktrans %}", "{% blocktrans %}пн{% endblocktrans %}","{% blocktrans %}вт{% endblocktrans %}","{% blocktrans %}ср{% endblocktrans %}","{% blocktrans %}чт{% endblocktrans %}","{% blocktrans %}пт{% endblocktrans %}","{% blocktrans %}сб{% endblocktrans %}"],});
        $(".timepicker").mask("99:99:99");
        
        $(".daterange").daterangepicker({format:'yyyy-MM-dd'});
    });
</script>
<style type="text/css">
.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: transparent;
}


.modal {
  position: fixed;
  top: 5%;
  left: 50%;
  z-index: 1050;
  width: 800px;
  margin: 0 0 0 -400px; /* -1 * (width / 2) */ 
  overflow: auto;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}
.form-condensed .control-group {
    margin-top: 4px;
    margin-bottom: 4px;
}
</style>
{% block extra_head %}
{% endblock %}
</head>
<body style="padding-top: 60px;" >
{% load render_table from django_tables2 %}
{% load charts_menu from ebsadmin_tags %}

<div class="navbar  navbar-googlenav navbar-fixed-top">
  <div class="navbar-inner">
  <div class="container">
<a class="brand" href="{% url admin_dashboard %}">
  ExpertBiling Admin
</a>  
    
  
<ul class="nav">
   <ul class="nav">
     <li class="dropdown">
       <a href="#"
             class="dropdown-toggle"
             data-toggle="dropdown">
             {% blocktrans %}Аккаунты{% endblocktrans %}
             <b class="caret"></b>
       </a>
       <ul class="dropdown-menu">
         <li><a href="{% url account_edit %}"><i class="cus-user-add"></i>&nbsp;{% blocktrans %}Новый аккаунт{% endblocktrans %}</a></li>
         <li><a href="{% url account_list %}"><i class="cus-find"></i>&nbsp;{% blocktrans %}Поиск{% endblocktrans %}</a></li>
         <li><a href="{% url account_list %}?data=data"><i class="cus-folder-user"></i>&nbsp;{% blocktrans %}Все аккаунты{% endblocktrans %}</a></li>
       </ul>
     </li>
   </ul>
  <li><a href="{% url tariff %}">{% blocktrans %}Тарифные планы{% endblocktrans %}</a></li>
   <ul class="nav">
     <li class="dropdown">
       <a href="#"
             class="dropdown-toggle"
             data-toggle="dropdown">
             {% blocktrans %}Карты{% endblocktrans %}
             <b class="caret"></b>
       </a>
       <ul class="dropdown-menu">
                         
                
         <li><a href="{% url card %}"><i class="cus-layers"></i>&nbsp;{% blocktrans %}Пул карт{% endblocktrans %}</a></li>
         <li><a href="{% url dealer %}"><i class="cus-group"></i>&nbsp;{% blocktrans %}Дилеры{% endblocktrans %}</a></li>
         <li><a href="{% url salecard %}"><i class="cus-book-open"></i>&nbsp;{% blocktrans %}Накладные{% endblocktrans %}</a></li>

         
         
       </ul>
     </li>
   </ul>
  
   <ul class="nav">
     <li class="dropdown">
       <a href="#"
             class="dropdown-toggle"
             data-toggle="dropdown">
             {% blocktrans %}Отчёты{% endblocktrans %}
             <b class="caret"></b>
       </a>
       <ul class="dropdown-menu">
           <li class="dropdown-submenu">
		    <a tabindex="-1" href="#"><i class="cus-chart-line"></i> {% blocktrans %}Отчёты{% endblocktrans %}</a>
		    <ul class="dropdown-menu">
		      {% charts_menu %}
		    </ul>
		  </li>
         <li class="divider"></li>
         <li><a href="{% url transactionreport2 %}"><i class="cus-folder-table"></i> {% blocktrans %}Операции с л/c{% endblocktrans %}</a></li>
         <li><a href="{% url payment %}"><i class="cus-folder-table"></i> {% blocktrans %}Платежи через платёжные системы{% endblocktrans %}</a></li>
         <li><a href="{% url ballancehistoryreport %}"><i class="cus-report"></i>&nbsp;{% blocktrans %}История изменения баланса{% endblocktrans %}</a></li>
         <li class="divider"></li>
         <li><a href="{% url sms %}"><i class="cus-report"></i>&nbsp;{% blocktrans %}SMS сообщения{% endblocktrans %}</a></li>
         <li><a href="{% url ipinuse_list %}"><i class="cus-report"></i>&nbsp;{% blocktrans %}Занятые IP адреса{% endblocktrans %}</a></li>
         <li><a href="{% url authlog_list %}"><i class="cus-report"></i>&nbsp;{% blocktrans %}История RADIUS авторизаций{% endblocktrans %}</a></li>
         <li class="divider"></li>
         <li><a href="{% url groupstat %}"><i class="cus-report"></i>&nbsp;{% blocktrans %}Тарифицированный трафик{% endblocktrans %}</a></li>
         <li class="dropdown-submenu">
            <a tabindex="-1" href="#"><i class="cus-report-go"></i>&nbsp;{% blocktrans %}Предоплаченные единицы{% endblocktrans %}</a>
            <ul class="dropdown-menu">
              <li><a href="{% url accountprepaystraffic %}"><i class="cus-report"></i>&nbsp;{% blocktrans %}Предоплаченный трафик (NetFlow){% endblocktrans %}</a></li>
              <li><a href="{% url accountprepaysradiustraffic %}"><i class="cus-report"></i>&nbsp;{% blocktrans %}Предоплаченный трафик (RADIUS){% endblocktrans %}</a></li>
              <li><a href="{% url accountprepaystime %}"><i class="cus-report"></i>&nbsp;{% blocktrans %}Предоплаченное время (RADIUS){% endblocktrans %}</a></li>
            </ul>
          </li>
       </ul>
     </li>
   </ul>
   <ul class="nav">
     <li class="dropdown">
       <a href="#"
             class="dropdown-toggle"
             data-toggle="dropdown">
             {% blocktrans %}Монитор{% endblocktrans %}
             <b class="caret"></b>
       </a>
       <ul class="dropdown-menu">
         <li><a href="{% url activesessionreport %}"><i class="cus-connect"></i>&nbsp;{% blocktrans %}Монитор сессий{% endblocktrans %}</a></li>
         <li><a href="{% url globalstat %}"><i class="cus-eye"></i>&nbsp;{% blocktrans %}Монитор трафика{% endblocktrans %}</a></li>
       </ul>
     </li>
   </ul>
   <ul class="nav">
     <li class="dropdown">
       <a href="#"
             class="dropdown-toggle"
             data-toggle="dropdown">
             {% blocktrans %}Справочники{% endblocktrans %}
             <b class="caret"></b>
       </a>
       <ul class="dropdown-menu">
                         
         
         <li><a href="{% url nas %}"><i class="cus-disconnect"></i> {% blocktrans %}Серверы доступа{% endblocktrans %}</a></li>
         <li><a href="{% url switch %}"><i class="cus-cog-edit"></i>&nbsp;{% blocktrans %}Коммутаторы{% endblocktrans %}</a></li>
         <li><a href="{% url ippool %}"><i class="cus-page-white-dvd"></i>&nbsp;{% blocktrans %}IP пулы{% endblocktrans %}</a></li>
         
         <li><a href="{% url trafficclass %}"><i class="cus-table-refresh"></i>&nbsp;{% blocktrans %}Классы трафика{% endblocktrans %}</a></li>
         <li><a href="{% url group %}"><i class="cus-link-go"></i> {% blocktrans %}Группы трафика{% endblocktrans %}</a></li>
         <li class="divider"></li>

         <li><a href="{% url settlementperiod %}"><i class="icon-calendar"></i>&nbsp;{% blocktrans %}Расчётные периоды{% endblocktrans %}</a></li>
         <li><a href="{% url timeperiod %}"><i class="cus-date-next"></i>&nbsp;{% blocktrans %}Периоды тарификации{% endblocktrans %}</a></li>
         <li><a href="{% url addonservice %}"><i class=" cus-cart-add"></i>&nbsp;{% blocktrans %}Подключаемые услуги{% endblocktrans %}</a></li>
         <li><a href="{% url transactiontype %}"><i class="cus-book-key"></i> {% blocktrans %}Типы платежей{% endblocktrans %}</a></li>
         <li><a href="{% url tpchangerule %}"><i class="cus-arrow-refresh"></i>&nbsp;{% blocktrans %}Правила смены тарифных планов{% endblocktrans %}</a></li> 
         <li><a href="{% url template %}"><i class="cus-report-edit"></i>&nbsp;{% blocktrans %}Шаблоны документов{% endblocktrans %}</a></li> 
         <li class="divider"></li>
         <li><a href="{% url address %}"><i class="cus-house-go"></i>&nbsp;{% blocktrans %}Адреса{% endblocktrans %}</a></li> 
         <li><a href="{% url news %}"><i class="cus-newspaper"></i>&nbsp;{% blocktrans %}Модуль новостей{% endblocktrans %}</a></li>

         
		  <li class="dropdown-submenu">
		    <a tabindex="-1" href="#"><i class="cus-wrench-orange"></i> {% blocktrans %}Оборудование{% endblocktrans %}</a>
		    <ul class="dropdown-menu">
		     <li><a href="{% url hardware %}"><i class="cus-table-add"></i>&nbsp;{% blocktrans %}Устройства{% endblocktrans %}</a></li>
	         <li><a href="{% url manufacturer %}">{% blocktrans %}Производители оборудования{% endblocktrans %}</a></li>
	         <li><a href="{% url hardwaretype %}">{% blocktrans %}Типы оборудования{% endblocktrans %}</a></li>
	         <li><a href="{% url model %}">{% blocktrans %}Модели оборудования{% endblocktrans %}</a></li>
		    </ul>
		  </li>
         <li class="divider"></li>
         <li><a href="{% url systemuser %}"><i class="icon-user"></i>&nbsp;{% blocktrans %}Системные пользователи{% endblocktrans %}</a></li>
         <li><a href="{% url permissiongroup %}"><i class="cus-lock-edit"></i>&nbsp;{% blocktrans %}Группы доступа{% endblocktrans %}</a></li>
         <li><a href="{% url accountgroup %}"><i class="cus-group-gear"></i>&nbsp;{% blocktrans %}Группы абонентов{% endblocktrans %}</a></li>
         <li><a href="{% url dynamicschemafield %}"><i class="cus-cog-edit"></i>&nbsp;{% blocktrans %}Дополнительные атрибуты аккаунта{% endblocktrans %}</a></li>
         
         
       </ul>
     </li>
   </ul>
   <ul class="nav">
     <li class="dropdown">
       <a href="#"
             class="dropdown-toggle"
             data-toggle="dropdown">
             {% blocktrans %}Сервис{% endblocktrans %}
             <b class="caret"></b>
       </a>
       <ul class="dropdown-menu">
         
         <li><a href="{% url logview %}"><i class="icon-tasks"></i>&nbsp;{% blocktrans %}Просмотр логов{% endblocktrans %}</a></li>
         <li><a href="{% url actionlog %}"><i class="icon-list-alt"></i>&nbsp;{% blocktrans %}История действий пользователей{% endblocktrans %}</a></li>
         <li><a href="{% url periodicalservicelog %}"><i class="cus-table-row-insert"></i>&nbsp;{% blocktrans %}Последние списания период. услуг{% endblocktrans %}</a></li>
         <li><a href="{% url shedulelog %}"><i class="cus-table-row-insert"></i>&nbsp;{% blocktrans %}Последние сервисные процедуры{% endblocktrans %}</a></li>
         <li><a href="{% url operator_edit %}"><i class="cus-information"></i>&nbsp;{% blocktrans %}Информация о провайдере{% endblocktrans %}</a></li>
         <li><a href="{% url cashier_index %}"><i class="cus-world-go"></i>&nbsp;{% blocktrans %}Интерфейс кассира{% endblocktrans %}</a></li>
         <li><a href="{% url helpdesk_dashboard %}"><i class="cus-world-go"></i>&nbsp;{% blocktrans %}Хелпдеск{% endblocktrans %}</a></li>
         <li><a href="/accounts/logout/"><i class="icon-off"></i>&nbsp;{% blocktrans %}Выйти{% endblocktrans %} ({{request.user.account}})</a></li>
         
         
       </ul>
     </li>
   </ul>

   

</ul>

    </div>
  </div>
</div>
{% load crispy_forms_tags %}

<div class="container">

{% if messages %}
<div>
    {% for message in messages %}

<div class="alert hide-alert fade in {{ message.tags }}">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ message }}
          </div>

      {% endfor %}
</div>
{% endif %}

{% block base %} {% endblock %}

</div>


</body>
</html>
