<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/media/django_tables2/themes/paleblue/css/screen.css" />
<link href="/media/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="/media/bootstrap/css/style.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/media/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<link href="/media/bootstrap/css/cus-icons.css" rel="stylesheet">

<link href="/media/datepicker/css/datepicker.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="all" href="/media/daterangepicker/daterangepicker.css" />

<script src="/media/jquery/js/jquery-1.8.2.js"></script>
<script src="/media/jquery/js/jquery.history.js"></script>
<script src="/media/jquery/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/media/jquery/js/jquery-ui-1.9.1.custom.min.js"></script>
<script type="text/javascript" src="/media/daterangepicker/date.js"></script>
<script type="text/javascript" src="/media/daterangepicker/daterangepicker.js"></script>

<script type="text/javascript" src="/media/jdialogs/lib/jquery.dialog2.js"></script>

<script type="text/javascript" src="/media/jdialogs/lib/jquery.dialog2.helpers.js"></script>
<script type="text/javascript" src="/media/jquery/js/jquery.controls.js"></script>
<script type="text/javascript" src="/media/jquery/js/jquery.form.js"></script>
<script src="/media/datepicker/js/bootstrap-datepicker.js"></script>
<script src="/media/jquery/js/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>
<link type="text/css" rel="stylesheet" href="/media/jdialogs/css/jquery-dialog2/jquery.dialog2.css">
<link rel="stylesheet" href="/media/jquery/css/jquery-ui-1.9.1.custom.min.css" type="text/css" title="ui-theme" />
<script  type="text/javascript" >
$(document).ready(function() {
    $('#tab-control a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
        })

    });

</script>
<script src="/media/bootstrap/js/bootstrap.min.js"></script>
<script src="/media/bootstrap/js/bootstrap-tab-history.js"></script>


  <style type="text/css">
html {
    overflow-y: scroll;
}
  </style>
<meta name="robots" content="NONE,NOARCHIVE">
<script type="text/javascript"> 
    $(function(){
        $('.dropdown-toggle').dropdown()
    });
    $(document).ready(function() {
        $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
        $(".timepicker").mask("99:99:99");
    });
</script>

{% block extra_head %}
{% endblock %}
</head>
<body style="padding-top: 60px;" >
{% load render_table from django_tables2 %}
{% load charts_menu from ebsadmin_tags %}

<div class="navbar  navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
<a class="brand" href="#">
  ExpertBiling Admin
</a>  
    <div class="container">
  
<ul class="nav">
  <li>
    <a href="{% url admin_dashboard %}">Dashboard</a>
  </li>
   <ul class="nav">
     <li class="dropdown">
       <a href="#"
             class="dropdown-toggle"
             data-toggle="dropdown">
             Аккаунты
             <b class="caret"></b>
       </a>
       <ul class="dropdown-menu">
         <li><a href="{% url account_edit %}"><i class="cus-user-add"></i>&nbsp;Новый аккаунт</a></li>
         <li><a href="{% url account_list %}"><i class="cus-find"></i>&nbsp;Поиск</a></li>
       </ul>
     </li>
   </ul>
  <li><a href="{% url tariff %}">Тарифные планы</a></li>
   <ul class="nav">
     <li class="dropdown">
       <a href="#"
             class="dropdown-toggle"
             data-toggle="dropdown">
             Карты
             <b class="caret"></b>
       </a>
       <ul class="dropdown-menu">
                         
                
         <li><a href="{% url card %}"><i class="cus-layers"></i>&nbsp;Пул карт</a></li>
         <li><a href="{% url dealer %}"><i class="cus-group"></i>&nbsp;Дилеры</a></li>
         <li><a href="{% url salecard %}"><i class="cus-book-open"></i>&nbsp;Накладные</a></li>

         
         
       </ul>
     </li>
   </ul>
  
   <ul class="nav">
     <li class="dropdown">
       <a href="#"
             class="dropdown-toggle"
             data-toggle="dropdown">
             Отчёты
             <b class="caret"></b>
       </a>
       <ul class="dropdown-menu">
           <li class="dropdown-submenu">
		    <a tabindex="-1" href="#">Отчёты</a>
		    <ul class="dropdown-menu">
		      {% charts_menu %}
		    </ul>
		  </li>
         
         <li><a href="{% url transactionreport2 %}">Операции с л/c</a></li>
         <li><a href="{% url ipinuse_list %}">Занятые IP адреса</a></li>
         <li><a href="{% url authlog_list %}">История авторизаций</a></li>
         <li><a href="{% url ballancehistoryreport %}">История изменения баланса</a></li>
         <li><a href="{% url groupstat %}">Тарифицированный трафик</a></li>
         <li><a href="{% url groupstat %}">Тарифицированный трафик</a></li>
         <li class="dropdown-submenu">
            <a tabindex="-1" href="#">Предоплаченные единицы</a>
            <ul class="dropdown-menu">
              <li><a href="{% url accountprepaystraffic %}">Предоплаченный трафик (NetFlow)</a></li>
              <li><a href="{% url accountprepaysradiustraffic %}">Предоплаченный трафик (RADIUS)</a></li>
              <li><a href="{% url accountprepaystime %}">Предоплаченное время (RADIUS)</a></li>
            </ul>
          </li>
       </ul>
     </li>
   </ul>
<li><a href="{% url activesessionreport %}">Монитор сессий</a></li>
   <ul class="nav">
     <li class="dropdown">
       <a href="#"
             class="dropdown-toggle"
             data-toggle="dropdown">
             Справочники
             <b class="caret"></b>
       </a>
       <ul class="dropdown-menu">
                         
         <li><a href="{% url nas %}"><i class="cus-disconnect"></i> Сервера доступа</a></li>
         <li><a href="{% url group %}"><i class="cus-link-go"></i> Группы трафика</a></li>
         <li><a href="{% url settlementperiod %}"><i class="icon-calendar"></i>&nbsp;Расчётные периоды</a></li>
         <li><a href="{% url timeperiod %}"><i class="cus-date-next"></i>&nbsp;Периоды тарификации</a></li>
         <li><a href="{% url transactiontype %}"><i class="cus-book-key"></i> Типы платежей</a></li>
         <li class="divider"></li>
         <li><a href="{% url addonservice %}"><i class=" cus-cart-add"></i>&nbsp;Подключаемые услуги</a></li>
         <li><a href="{% url systemuser %}"><i class="icon-user"></i>&nbsp;Системные пользователи</a></li>
         
         <li><a href="{% url tpchangerule %}"><i class="cus-arrow-refresh"></i>&nbsp;Правила смены тарифных планов</a></li> 
         <li><a href="{% url template %}"><i class="cus-report-edit"></i>&nbsp;Шаблоны документов</a></li> 
         <li class="divider"></li>
         <li><a href="{% url ippool %}"><i class="cus-page-white-dvd"></i>&nbsp;IP пулы</a></li>
         <li><a href="{% url switch %}"><i class="cus-cog-edit"></i>&nbsp;Коммутаторы</a></li>
         <li class="divider"></li>
         <li><a href="{% url address %}"><i class="cus-house-go"></i>&nbsp;Адреса</a></li> 
         <li><a href="{% url news %}"><i class="cus-newspaper"></i>&nbsp;Модуль новостей</a></li>
         <li class="nav-header">Оборудование</li>
         <li><a href="{% url hardware %}"><i class="cus-table-add"></i>&nbsp;Устройства</a></li>
         <li class="divider"></li>
         <li><a href="{% url trafficclass %}"><i class="cus-table-refresh"></i>&nbsp;Классы трафика</a></li>
         
         
       </ul>
     </li>
   </ul>
   <ul class="nav">
     <li class="dropdown">
       <a href="#"
             class="dropdown-toggle"
             data-toggle="dropdown">
             Сервис
             <b class="caret"></b>
       </a>
       <ul class="dropdown-menu">
         
         <li><a href="{% url logview %}"><i class="icon-tasks"></i>&nbsp;Просмотр логов</a></li>
         <li><a href="{% url actionlog %}"><i class="icon-list-alt"></i>&nbsp;История действий пользователей</a></li>
         <li><a href="{% url operator_edit %}">Информация о провайдере</a></li>
         <li><a href="{% url periodicalservicelog %}">Последние списания период. услуг</a></li>
         <li><a href="{% url shedulelog %}">Последние сервисные процедуры</a></li>
         <li class="nav-header">Сервисные справочники</li>
         <li><a href="{% url manufacturer %}">Производители оборудования</a></li>
         <li><a href="{% url hardwaretype %}">Типы оборудования</a></li>
         <li><a href="{% url model %}">Модели оборудования</a></li>
         <li><a href="{% url accountgroup %}">Группы абонентов</a></li>
         <li class="nav-header"></li>
         <li><a href="/accounts/logout/"><i class="icon-off"></i>&nbsp;Выйти</a></li>
         
         
       </ul>
     </li>
   </ul>
</ul>
    </div>
  </div>
</div>
{% load crispy_forms_tags %}

<div class="container">{% block body %} {% endblock %}</div>
</body>
</html>
