{% extends "ebsadmin/charts.html" %}
{% load ebsadmin_tags %}
{% block chart_block %}
<script  type="text/javascript" >
var chart;
$(document).ready(function() {
    chart = new Highcharts.Chart({
        chart: {
            renderTo: 'container',
            type: '{{reporttype}}'
        },
        title: {
            text: '{{report_name}}'
        },

        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            }
        },
        yAxis: {
            title: {
                text: '{{yname}}'
            },
            min: 0
        },
        tooltip: {
            formatter: function() {
                    return '<b>'+ this.series.name +'</b><br/>'+
                    Highcharts.dateFormat('%e. %b', this.x) +': '+ this.y +' m';
            }
        },
        
        series: [
                 {
                        name: 'Потребление трафика в день',
                   data: [
                   {% for datetime, count in res %}
                   [Date.UTC({{datetime.year}},  {{datetime.month}}-1, {{datetime.day}},{{datetime.hour}},{{datetime.minute}}),  {{count}}   ],
                {% endfor %}
                   ]
                 },

                 ]
    });
});
</script>    
{% endblock %}