{% extends "ebsadmin/base.html" %}
 {% load render_table from django_tables2 %}
{% block extra_head %}

        <script type="text/javascript"> 
        $(document).ready(function() {

        });
        </script>

{% endblock %}
{% block body %}

  <div class="row-fluid">
<div>
<ul class="breadcrumb">
  <li>
    <a href="{% url dealer %}">Дилеры</a> <span class="divider">/</span>
  </li>
</ul>
</div>

<div class="btn-toolbar pull-right"><a href="{% url dealer_edit %}" id="id_btn_add" class="btn btn-success">Добавить</a>&nbsp;</div>
<div>
  {% render_table table %}
</div>
    </div>
 {% endblock %}

