{% extends "ebsadmin/base.html" %}
{% load bootstrap_toolkit %}
{% load ebsadmin_tags %}
{% block extra_head %}
        <script type="text/javascript"> 
        $(document).ready(function() {

        });
        </script>

{% endblock %}
{% block body %}
<div class="span12">
<div class="row-fluid">
<ul class="breadcrumb">
  <li>
    <a href="{% url group %}">Группы трафика</a> <span class="divider">/</span>
  </li>

  <li class="active">{{form.name.value}}</li>
</ul>

<form method="POST" action="{% url group_edit %}?id={{item.id}}"class="well form-horizontal">
            <legend>Параметры группы трафика{% objectlog item %}</legend>
<div class="alert alert-danger">
Внимание, изменение настроек группы трафика автоматически отразится на всех связанных тарифных планах
</div>
             <fieldset>
                  {{form|as_bootstrap}}
                </fieldset>
                <fieldset>
                    <div class="form-actions form-actions-center">
                        <button class="btn btn-primary" type="submit">Сохранить</button>
                    </div>
                </fieldset>
            </form>


        </div>

    </div>

 {% endblock %}

