{% extends "ebsadmin/base.html" %}
{% load bootstrap_toolkit %}
{% block extra_head %}
        <script type="text/javascript"> 
        $(document).ready(function() {

        });
        </script>

{% endblock %}
{% block body %}
<div class="span12">
<div class="row-fluid">
<ul class="breadcrumb">
  <li>
    <a href="{% url hardware %}">Устройства</a> <span class="divider">/</span>
  </li>

  <li class="active">{{form.name.value}}</li>
</ul>
<form method="POST" action="{% url hardware_edit %}?id={{item.id}}"class="well form-horizontal">
            <legend>Параметры устройства</legend>
             <fieldset>
                  {{form|as_bootstrap}}
                </fieldset>
                <fieldset>
                    <div class="form-actions form-actions-center">
                        <button class="btn btn-primary" type="submit">Сохранить</button>
                    </div>
                </fieldset>
            </form>


        </div>

    </div>

 {% endblock %}

