{% extends "ebsadmin/base.html" %}
{% load crispy_forms_tags %}
{% block extra_head %}
        <script type="text/javascript" src="/media/daterangepicker/daterangepicker.jQuery.js"></script>

        <link rel="stylesheet" href="/media/daterangepicker/ui.daterangepicker.css" type="text/css" />

        <script type="text/javascript"> 
        $(document).ready(function() {
            $('#id_start_date').datetimepicker({
                showSecond: true,
                timeFormat: 'hh:mm:ss',
                stepHour: 1,
                stepMinute: 1,
                stepSecond: 1,
                numberOfMonths: 1,
                dateFormat: 'yy-mm-dd'
            });
            $('#id_end_date').datetimepicker({
                showSecond: true,
                timeFormat: 'hh:mm:ss',
                stepHour: 1,
                stepMinute: 1,
                stepSecond: 1,
                numberOfMonths: 1,
                dateFormat: 'yy-mm-dd'
            });
            {% if table %}
            $('#tab-control a[href="#result"]').tab('show');
            {% else %}
            $('#tab-control a[href="#filter"]').tab('show');
            {% endif %}
        });
        </script>

{% endblock %}
{% block body %}

<ul class="nav nav-tabs" id="tab-control">
  <li ><a href="#filter">Фильтр</a></li>
  <li><a href="#result">Отчёт</a></li>  
</ul>

 {% load render_table from django_tables2 %}
<div class="tab-content">
  <div class="tab-pane" id="filter">
  
  <div class="row-fluid">
        <div class="span12">
            <form action="{{form.action}}" method="GET" class="well form-horizontal">
            {{ form.non_field_errors }}
                <fieldset>
                    <legend>Поиск по логу авторизаций</legend>
                    {{form}}
                
                </fieldset>
                <fieldset>
                    <div class="form-actions form-actions-center">
                        <button class="btn btn-primary" type="submit">Подобрать результаты</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
  
  </div>
  <div class="tab-pane" id="result">{% if table %}{% render_table table %}{% endif %}</div>

</div>
 {% endblock %}

