{% extends "ebsadmin/base.html" %}
{% block extra_head %}
        <script type="text/javascript"> 
        $(document).ready(function() {

        });
        </script>

{% endblock %}
{% block body %}
<div class="span12">
<div class="row-fluid">
<legend>Просмотр логов</legend>
<form method="GET" action="{% url logview %}?id={{item.id}}" class="form-inline" >
            
             <fieldset>
             
                  {{form.log}}&nbsp;{{form.lines.label}}:&nbsp;{{form.lines}}&nbsp;{{form.full}}&nbsp;{{form.full.label}}<button class="btn btn-primary" type="submit">Показать</button>

                </fieldset>
            </form>
                  <textarea class='input-xlarge row-fluid' rows=20>
                  {{content}}
                  </textarea>

        </div>

    </div>

 {% endblock %}

