{% block extra_head %}
 <script type="text/javascript"> 
 $(document).ready(function() {
 });
 </script>

{% endblock %}
{% block body %}
{% if not status %}
{{message}}
                <form action='{% url model_edit %}?id={{item.id}}'' method="POST" class="well form-horizontal ajax">
                <fieldset>
                  {{ form.id }}
                  <div class="control-group">
                  <div class="control-row">
                      <label class="control-label">{{form.manufacturer.label}}: </label>
                      <div class="controls">
                      {{ form.manufacturer }}
                      {% if form.manufacturer.errors %}
                          <span class="help-inline">{% for error in form.manufacturer.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.manufacturer.help_text%}
                          <p class="help-block">
                              {{ form.manufacturer.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  </div>  
                  <div class="control-group">
                  <div class="control-row">
                      <label class="control-label">{{form.hardwaretype.label}}: </label>
                      <div class="controls">
                      {{ form.hardwaretype }}
                      {% if form.hardwaretype.errors %}
                          <span class="help-inline">{% for error in form.hardwaretype.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.hardwaretype.help_text%}
                          <p class="help-block">
                              {{ form.hardwaretype.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  </div>  
                  <div class="control-group">
                  <div class="control-row">
                      <label class="control-label">{{form.name.label}}: </label>
                      <div class="controls">
                      {{ form.name }}
                      {% if form.name.errors %}
                          <span class="help-inline">{% for error in form.name.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.name.help_text%}
                          <p class="help-block">
                              {{ form.name.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  </div>                
                </fieldset>
                <div class="form-actions">
                    <input type='submit' class="btn btn-primary" value="Save Changes">
                    <a class="btn close-dialog" href="#">Close</a>
                </div>
                </form>
{% else %}
Операция произведена успешно.
 <script type="text/javascript"> 
 $(document).ready(function() {
     location.reload();
 });
 </script>
{% endif %}
{% endblock %}