{% extends "ebsadmin/base.html" %}
{% load ebsadmin_tags %}
{% load render_table from django_tables2 %}
{% block extra_head %}

        <script type="text/javascript"> 
        $(document).ready(function() {

            $(".show-confirm").click(function(event) {
                a=$(this);
                $.fn.dialog2.helpers.confirm("Удалить? Все связанные с сервером доступа записи будут сброшены на значение по умолчанию для выбранной записи", {
                    confirm: function() {
                        $.getJSON(a.attr('href'),{},function(data,status){
                            if( status=='success' ){
                                if(data.status==true)
                                    {
                                    location.reload();
                                    }else{
                                        alert(data.message)
                                    }
                                
                            }else{
                                alert('Произошла непредвиденная ошибка')
                            }

                        })                      
                        }, 
                    decline: function() {  }
                });

                event.preventDefault(event);
            });

        });
        </script>

{% endblock %}
{% block base %}

  <div class="row-fluid">
<div class="alert alert-info">
        Настройки серверов доступа являются важными составляющими логики работы системы. Не допускайте несанкционированного доступа к настройкам. 
      </div>
<div>
<ul class="breadcrumb">
  <li>
    <a href="{% url nas %}">Серверы доступа</a> <span class="divider">/</span>
  </li>
</ul>
</div>

<div class="btn-toolbar pull-right"><a href="{% url nas_edit %}" id="id_btn_add" class="btn btn-success">Добавить</a>&nbsp;</div>
<div>
  {% render_table table %}
</div>
    </div>
 {% endblock %}

