{% load ebsadmin_tags %}
{% block extra_head %}
 <script type="text/javascript"> 
 $(document).ready(function() {
 });
 </script>

{% endblock %}
{% block body %}
{% if not status %}
    {% for message in messages %}

<div class="alert fade in {{ message.tags }}">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ message }}
          </div>

      {% endfor %}
{% if form %}
                <form action='{% url radiusattr_edit %}?nas={{nas.id}}&tarif={{tariff.id}}'' method="POST" class="well form-horizontal ajax form-condensed ">
                <fieldset>
                  {{ form.id }}
                  {{ form.nas }}
                  {{ form.tarif }}
                  <div class="control-group">
                  <div class="control-row">
                      <label class="control-label">Vendor: </label>
                      <div class="controls">
                      {{ form.vendor }}
                      {% if form.vendor.errors %}
                          <span class="help-inline">{% for error in form.vendor.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.vendor.help_text%}
                          <p class="help-block">
                              {{ form.vendor.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label">{{form.attrid.label}}: </label>
                      <div class="controls">
                      {{ form.attrid }}
                      {% if form.attrid.errors %}
                          <span class="help-inline">{% for error in form.attrid.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.attrid.help_text%}
                          <p class="help-block">
                              {{ form.attrid.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  <div class="control-group">

                      <label class="control-label">{{form.value.label}}:</label>
                      <div class="controls">
                      {{ form.value }}
                      {% if form.value.errors %}
                          <span class="help-inline">{% for error in form.value.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.value.help_text%}
                          <p class="help-block">
                              {{ form.value.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                
                </fieldset>
                <div class="form-actions">
                    <input type='submit' class="btn btn-primary" value="Save Changes">
                    <a class="btn close-dialog" href="#">Close</a>
                </div>
                </form>
{% endif %}
{% else %}
Операция произведена успешно.
 <script type="text/javascript"> 
 $(document).ready(function() {
     location.reload();
 });
 </script>
{% endif %}
{% endblock %}