{% extends "ebsadmin/base.html" %}
 {% load render_table from django_tables2 %}
{% block extra_head %}

        <script type="text/javascript"> 
        $(document).ready(function() {
        	function recalc(){
                $("#id_discount_sum").val($("#id_discount").val()/100*{{cards_sum|default:"0"}});
                $("#id_sum_for_pay").val({{cards_sum|default:"0"}}-($("#id_discount").val()/100*{{cards_sum|default:"0"}}));  
                $("#id_prepayment_sum").val(({{cards_sum|default:"0"}}-($("#id_discount").val()/100*{{cards_sum|default:"0"}}))*($("#id_prepayment").val()/100));
                
            };
            
            $('#id_discount').spinit({min: 0, height:20, width:100, max: 100, initValue:{{form.discount.value}}, callback:recalc });
            $('#id_prepayment').change(function(){recalc()});
            
            $("#id_sum_for_pay").mask("9?99");
            $('#id_paydeffer').spinit({min: 0,  height:20, width:100, max: 100, initValue:{{form.paydeffer.value}} });
            $("#id_prepayment").mask("9?99");
            $('#id_prepayment_sum').popover({title:'Оплата за карты', content: 'Указанная сумма будет внесена на баланс дилера в качестве оплаты за данную партию карт'});
            recalc()
        });
        </script>

{% endblock %}
{% block body %}
<div class="span12">
<div class="row-fluid">
<ul class="breadcrumb">
  <li>
    <a href="{% url card %}">Карты</a> <span class="divider">/</span>
  </li>

  <li class="active">{{form.name.value}}</li>
</ul>
<form method="POST" action="{% url salecard_edit %}?id={{item.id}}"class="well form-horizontal form-condensed ">
            <legend>Накладная на передачу карт дилеру</legend>
             <fieldset>
             {{form.cards}}
                   <div class="control-group">
                    <div class="control-row">
                      <label class="control-label">{{form.dealer.label}}:</label>
                      <div class="controls">
                      {{ form.dealer }}<a href="{% url dealer_edit %}?id={{form.dealer.value}}">{{dealer.organization}}</a>
                      {% if form.dealer.errors %}
                          <span class="help-inline">{% for error in form.dealer.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.dealer.help_text%}
                          <p class="help-block">
                              {{ form.dealer.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                    </div>
                  </div>  
                   <div class="control-group">
                    <div class="control-row">
                      <label class="control-label">Карт на сумму:</label>
                      <div class="controls">
                      {{cards_sum}}
                      </div>
                    </div>
                  </div>  
                   <div class="control-group">
                    <div class="control-row">
                      <label class="control-label">{{form.discount.label}}:</label>
                      <div class="controls">
                      {{ form.discount }}
                      {% if form.discount.errors %}
                          <span class="help-inline">{% for error in form.discount.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.discount.help_text%}
                          <p class="help-block">
                              {{ form.discount.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                    </div>
                    <div class="control-row">
                      <label class="control-label">{{form.paydeffer.label}}:</label>
                      <div class="controls">
                      {{ form.paydeffer }}
                      {% if form.paydeffer.errors %}
                          <span class="help-inline">{% for error in form.paydeffer.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.paydeffer.help_text%}
                          <p class="help-block">
                              {{ form.paydeffer.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                    </div>
                  </div>  
                   <div class="control-group">
                    <div class="control-row">
                      <label class="control-label">{{form.discount_sum.label}}:</label>
                      <div class="controls">
                      {{ form.discount_sum }}
                      {% if form.discount_sum.errors %}
                          <span class="help-inline">{% for error in form.discount_sum.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.discount_sum.help_text%}
                          <p class="help-block">
                              {{ form.discount_sum.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                    </div>

                  </div>
                   <div class="control-group">
                    <div class="control-row">
                      <label class="control-label">{{form.prepayment.label}}:</label>
                      <div class="controls">
                      {{ form.prepayment }}
                      {% if form.prepayment.errors %}
                          <span class="help-inline">{% for error in form.prepayment.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.prepayment.help_text%}
                          <p class="help-block">
                              {{ form.prepayment.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                    </div>
                    <div class="control-row">
                      <label class="control-label">{{form.prepayment_sum.label}}:</label>
                      <div class="controls">
                      {{ form.prepayment_sum }}
                      {% if form.prepayment_sum.errors %}
                          <span class="help-inline">{% for error in form.prepayment_sum.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.prepayment_sum.help_text%}
                          <p class="help-block">
                              {{ form.prepayment_sum.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                    </div>
                  </div>

                    
                    
                   <div class="control-group">
                    <div class="control-row">
                      <label class="control-label">{{form.sum_for_pay.label}}:</label>
                      <div class="controls">
                      {{ form.sum_for_pay }}
                      {% if form.sum_for_pay.errors %}
                          <span class="help-inline">{% for error in form.sum_for_pay.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.sum_for_pay.help_text%}
                          <p class="help-block">
                              {{ form.sum_for_pay.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                    </div>

                  </div>
                   <div class="control-group">
                    <div class="control-row">
                      <label class="control-label">{{form.created.label}}</label>
                      <div class="controls">
                      {{ form.created }}
                      {% if form.created.errors %}
                          <span class="help-inline">{% for error in form.created.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.created.help_text%}
                          <p class="help-block">
                              {{ form.created.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                    </div>
                    <div class="control-row">

                  </div>
                </fieldset>
                  <div>
                  {% if table %}{% render_table table "django_tables2/cards_table.html" %} {% endif %}
                  </div>
                <fieldset>
                    <div class="form-actions form-actions-center">
                        <button class="btn btn-primary" type="submit">Сохранить</button>
                    </div>
                </fieldset>
            </form>


        </div>

    </div>

 {% endblock %}

