{% load ebsadmin_tags %}
{% if not status %}
{{message}}
 <script type="text/javascript"> 
 $(document).ready(function() {
     $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
     $(".timepicker").mask("99:99:99");
 });
 </script>

            
                <form action='{% url suspendedperiod %}?account_id={{account.id}}' method="POST" class="well form-horizontal ajax form-condensed ">
                <fieldset>
                  <div class="control-group">
                  <div class="control-row">
                      <label class="control-label">Аккаунт: </label>
                      <div class="controls">
                      {{ form.account }}
                      {% if form.account.errors %}
                          <span class="help-inline">{% for error in form.account.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.account.help_text%}
                          <p class="help-block">
                              {{ form.account.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label">{{form.start_date.label}}: </label>
                      <div class="controls">
                      {{ form.start_date }}
                      {% if form.start_date.errors %}
                          <span class="help-inline">{% for error in form.start_date.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.start_date.help_text%}
                          <p class="help-block">
                              {{ form.start_date.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  <div class="control-group">

                      <label class="control-label">{{form.end_date.label}}:</label>
                      <div class="controls">
                      {{ form.end_date }}
                      {% if form.end_date.errors %}
                          <span class="help-inline">{% for error in form.end_date.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.end_date.help_text%}
                          <p class="help-block">
                              {{ form.end_date.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label">{{form.activated_by_account.label}}:</label>
                      <div class="controls">
                      {{ form.activated_by_account }}
                      {% if form.activated_by_account.errors %}
                          <span class="help-inline">{% for error in form.activated_by_account.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.activated_by_account.help_text%}
                          <p class="help-block">
                              {{ form.activated_by_account.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>

                </fieldset>
                <div class="form-actions">
				    <input type='submit' class="btn btn-primary" value="Save Changes">
				    <a class="btn close-dialog" href="#">Close</a>
				</div>
                </form>
{% else %}
Операция произведена успешно.
 <script type="text/javascript"> 
 $(document).ready(function() {
     location.reload();
 });
 </script>
{% endif %}