{% extends "ebsadmin/tariff_edit.html" %}

{% load i18n %}
{% load ebsadmin_tags %}
{% load render_table from django_tables2 %}

{% block extra_head %}
  {{block.super}}

  <style type="text/css">
    .modal {
      position: fixed;
      top: 10%;
      left: 50%;
      z-index: 1050;
      width: 600px;
      margin: 0 0 0 -400px; /* -1 * (width / 2) */ 
      overflow: auto;
      background-color: #ffffff;
      border: 1px solid #999;
      border: 1px solid rgba(0, 0, 0, 0.3);
      *border: 1px solid #999;
      -webkit-border-radius: 6px;
         -moz-border-radius: 6px;
              border-radius: 6px;
      -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
         -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
              box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
      -webkit-background-clip: padding-box;
         -moz-background-clip: padding-box;
              background-clip: padding-box;
    }
  </style>
{% endblock %}

{% block tariff_content %}
  <legend>{% blocktrans %}Лимиты трафика{% endblocktrans %}</legend>

  <div class="alert alert-info">
    {% blocktrans %}Лимиты трафика позволяют ограничить объём потребляемого трафика за указанный период времени.{% endblocktrans %}
  </div>

  <fieldset>
    {% if table %}{% render_table table %}{% endif %}
    <div class="btn-toolbar">
      <a href="{% url 'tariff_trafficlimit_edit' %}?tariff_id={{tariff.id}}"
          class="btn btn-success general-modal-dialog"
          data-dlgtitle="{% blocktrans %}Добавить лимит трафика{% endblocktrans %}"
          data-dlgid="ps-modal">
        {% blocktrans %}Добавить{% endblocktrans %}
      </a>
    </div>
  </fieldset>
{% endblock %}