{% extends "ebsadmin/tariff_edit.html" %}
{% load i18n %}
 {% load render_table from django_tables2 %}
 
 

                
{% block extra_head %}
{{block.super}}

 <script type="text/javascript"> 
 $(document).ready(function() {
     $(".open-custom-dialog").click(function(event) {
         $('<div />').dialog2({
             title: "Периодическая услуга", 
             content: this.href, 
             id: "periodicalservice-modal"
         });

         event.preventDefault(event);
     });
     $(".show-confirm").click(function(event) {
         a=$(this);
         $.fn.dialog2.helpers.confirm("Удалить? Удаление разовой услуги вызовет обнуление информации о списаниях по ней. Вместо этого рекомемендуется воспользоваться отключением услуги.", {
             confirm: function() {
                 $.getJSON(a.attr('href'),{},function(data,status){
                     if( status=='success' ){
                         if(data.status==true)
                             {
                             location.reload();
                             }else{
                                 alert(data.message)
                             }
                         
                     }else{
                         alert('Произошла непредвиденная ошибка')
                     }

                 })                      
                 }, 
             decline: function() {  }
         });

         event.preventDefault(event);
     });
     $("#modal-periodicalservice-dialog").click(function(event) {
         $('<div />').dialog2({
             title: "Добавить разовую услугу", 
             content: "{% url onetimeservice_edit %}?tariff_id={{item.id}}", 
             id: "ps-modal"
         });

         event.preventDefault(event);
     });
 });
 </script>
{% endblock %}

{% block tariff_content %}

            <legend>Разовые услуги</legend>
<div class="alert alert-info">
Разовые услуги позволяют производить списания при подключении пользователя на тарифный план.
</div>
             <fieldset>
{{ formset.non_form_errors.as_ul }}
<table id="formset" class="table table-bordered table-condensed">
{% for form in formset.forms %}
  {% if forloop.first %}
  <thead><tr>
    {% for field in form.visible_fields %}
    <th>{{ field.label|capfirst }}</th>
    {% endfor %}
  </tr></thead>
  {% endif %}
  <tr class="{% cycle row1,row2 %}">
  {% for field in form.visible_fields %}
    <td>
    {# Include the hidden fields in the form #}
    {% if forloop.first %}
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
    {% endif %}
      {{ field.errors.as_ul }}
      {{ field }}
    </td>
  {% endfor %}
  </tr>
{% endfor %}
</table>
  {% if table %}{% render_table table %}{% endif %}
  <div class="btn-toolbar"><a href="#" id="modal-periodicalservice-dialog" class="btn btn-success">Добавить</a></div>
                </fieldset>
{% endblock %}