{% load crispy_forms_tags %}
{% if not status %}
{{message}}
 <script type="text/javascript"> 
 $(document).ready(function() {
 });

 </script>


            <form method="POST" action="{% url tariff_prepaidtraffic_edit %}?id={{item.id}}" class="well form-horizontal ajax form-condensed ">
            {{form|crispy}}
                
                <div class="form-actions">
                    <input type='submit' class="btn btn-primary" value="Save Changes">
                    <a class="btn close-dialog" href="#">Close</a>
                </div>
            </form>

{% else %}
Операция произведена успешно.
 <script type="text/javascript"> 
 $(document).ready(function() {
     location.reload();
 });
 </script>
{% endif %}
