{% extends "ebsadmin/tariff_edit.html" %}
{% load ebsadmin_tags %}
 {% load render_table from django_tables2 %}

{% block extra_head %}
{{block.super}}

 <script type="text/javascript"> 
 $(document).ready(function() {
     $(".open-custom-dialog").click(function(event) {
         $('<div />').dialog2({
             title: "Правило тарификации времени", 
             content: this.href, 
             id: "timeaccessnode-modal"
         });

         event.preventDefault(event);
     });
     
     $(".show-confirm").click(function(event) {
         a=$(this);
         $.fn.dialog2.helpers.confirm("Удалить правило тарификации времени?.", {
             confirm: function() {
                 $.getJSON(a.attr('href'),{},function(data,status){
                     if( status=='success' ){
                         if(data.status==true)
                             {
                             location.reload();
                             }else{
                                 alert(data.message)
                             }
                         
                     }else{
                         alert('Произошла непредвиденная ошибка')
                     }

                 })                      
                 }, 
             decline: function() {  }
         });

         event.preventDefault(event);
     });
     
     $("#modal-timeaccessnode-dialog").click(function(event) {
         $('<div />').dialog2({
             title: "Добавить параметры тарификации", 
             content: "{% url tariff_timeaccessnode_edit %}?time_access_service_id={{item.id}}&tariff_id={{tariff.id}}", 
             id: "timeaccessnode-modal"
         });

         event.preventDefault(event);
     });
 });
 </script>
{% endblock %}
{% block tariff_content %}
<form method="POST" action="{% url tariff_timeaccessservice %}?id={{item.id}}&tariff_id={{tariff.id}}"class="well form-horizontal form-condensed ">
{{form.id}}
<div class="btn-toolbar"><a href="{{item.get_remove_url}}" class="btn btn-danger align-right show-confirm">Удалить услугу</a></div>
            <legend>Тарификация времени по RADIUS</legend>
             <fieldset>
{% if item %}
  {% render_table table %}
  <div class="btn-toolbar"><a href="#" id="modal-timeaccessnode-dialog" class="btn btn-success">Добавить</a></div>
{% else %}
<div class="alert">
Добавьте услугу тарификации времени по RADIUS Accounting статистике, чтобы указать детальные параметры тарификации.
</div>
{% endif %}
  
                </fieldset>
            <legend>Параметры тарификации</legend>
             <fieldset>
                  <div class="control-group">
                  <div class="control-row">
                      <label class="control-label">{{form.rounding.label}}: </label>
                      <div class="controls">
                      {{ form.rounding }}
                      {% if form.rounding.errors %}
                          <span class="help-inline">{% for error in form.rounding.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.rounding.help_text %}
                          <p class="help-block">
                              {{ form.rounding.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  <div class="control-row">
                      <label class="control-label">{{form.tarification_step.label}}: </label>
                      <div class="controls">
                      {{ form.tarification_step }}
                      {% if form.tarification_step.errors %}
                          <span class="help-inline">{% for error in form.tarification_step.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.tarification_step.help_text%}
                          <p class="help-block">
                              {{ form.tarification_step.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>

                  </div>

                </fieldset>
                <legend>Предоплаченный трафик</legend>
                  <div class="control-group">
                  <div class="control-row">
                      <label class="control-label">{{form.prepaid_time.label}}: </label>
                      <div class="controls">
                      {{ form.prepaid_time }}
                      {% if form.prepaid_time.errors %}
                          <span class="help-inline">{% for error in form.prepaid_time.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.prepaid_time.help_text%}
                          <p class="help-block">
                              {{ form.prepaid_time.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  <div class="control-row">
                      <label class="control-label">{{form.reset_time.label}}: </label>
                      <div class="controls">
                      {{ form.reset_time }}
                      {% if form.reset_time.errors %}
                          <span class="help-inline">{% for error in form.reset_time.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.reset_time.help_text%}
                          <p class="help-block">
                              {{ form.reset_time.help_text|safe }}
                          </p>
                      {% endif %}
                      </div>
                  </div>
                  </div>

                {% if item %}
                <fieldset>
                    <div class="form-actions form-actions-center">
                        <button class="btn btn-primary" type="submit">Сохранить</button>
                    </div>
                </fieldset>
                {% else %}
                <fieldset>
                    <div class="form-actions form-actions-center">
                        <button class="btn btn-primary" type="submit">Добавить RADIUS тарификацию времени</button>
                    </div>
                </fieldset>
                {% endif %}
            </form>
{% endblock %}