{% load ebsadmin_tags %}
{% load i18n %}

{% if not status %}
  {% for message in messages %}
    <div class="alert fade in {{ message.tags }}">
      <button type="button" class="close" data-dismiss="alert">×</button>
      {{ message }}
    </div>
  {% endfor %}

  {% if form %}
    <form method="POST" action="{% url 'tariff_radiustrafficnode_edit' %}" class="well form-horizontal ajax form-condensed ">
      {{form.id}}
      {{form.radiustraffic}}
      <fieldset>
        <div class="control-group">
          <label class="control-label">{{form.value.label}}: </label>
          <div class="controls">
            {{ form.value }}
            {% if form.value.errors %}
            <span class="help-inline">{% for error in form.value.errors %}{{ error }}<br/> {% endfor %}</span>
            {% endif %}
            {% if form.value.help_text%}
            <p class="help-block">
              {{ form.value.help_text|safe }}
            </p>
            {% endif %}
          </div>
        </div>   
        <div class="control-group">
          <div class="control-row">
            <label class="control-label">{{form.timeperiod.label}}: </label>
            <div class="controls">
              {{ form.timeperiod }}
              {% if form.timeperiod.errors %}
              <span class="help-inline">{% for error in form.timeperiod.errors %}{{ error }}<br/> {% endfor %}</span>
              {% endif %}
              {% if form.timeperiod.help_text%}
              <p class="help-block">
                {{ form.timeperiod.help_text|safe }}
              </p>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label">{{form.cost.label}}</label>
          <div class="controls">
            {{ form.cost }}
            {% if form.cost.errors %}
            <span class="help-inline">{% for error in form.cost.errors %}{{ error }}<br/> {% endfor %}</span>
            {% endif %}
            {% if form.cost.help_text%}
            <p class="help-block">
              {{ form.cost.help_text|safe }}
            </p>
            {% endif %}
          </div>
        </div>
      </fieldset>

      <div class="form-actions">
        <input type='submit' class="btn btn-primary" value="Сохранить">
        <a class="btn close-dialog" href="#">Close</a>
      </div>
    </form>
  {% endif %}
{% else %}
  Операция произведена успешно.
  <script type="text/javascript"> 
    $(document).ready(function() {
      location.reload();
    });
  </script>
{% endif %}