{% load i18n %}
    {% for message in messages %}

<div class="alert fade in {{ message.tags }}">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ message }}
          </div>

      {% endfor %}
{% if form %}
{% load ebsadmin_tags %}
{% load crispy_forms_tags %}

        <script type="text/javascript"> 
        $(document).ready(function() {


            $('.datepicker').datepicker({
                months: ["Январь","Февраль","Март","Апрель","Май","Июнь","Июль","Август","Сентябрь","Октябрь","Ноябрь","Декабрь"],
                weekStart: 0,
                noDefault: true,
                format: 'yyyy-mm-dd hh:ii:ss',
                days: ["пн","вт","ср","чт","пт","сб","вс"],});
        });
        </script>

{{form|crispy}}
{% endif %}




