{% extends "ebsadmin/base.html" %}
{% load i18n %}
{% load ebsadmin_tags %}
{% block extra_head %}
<script type="text/javascript" src="/media/dynatree/jquery.dynatree.js"></script>
<link href="/media/dynatree/skin/ui.dynatree.css" rel="stylesheet" type="text/css" id="skinSheet">


        <script type="text/javascript"> 
        $(document).ready(function() {

            $('.datepicker').datepicker({
                months: ["{% blocktrans %}Январь{% endblocktrans %}","{% blocktrans %}Февраль{% endblocktrans %}","{% blocktrans %}Март{% endblocktrans %}","{% blocktrans %}Апрель{% endblocktrans %}","{% blocktrans %}Май{% endblocktrans %}","{% blocktrans %}Июнь{% endblocktrans %}","{% blocktrans %}Июль{% endblocktrans %}","{% blocktrans %}Август{% endblocktrans %}","{% blocktrans %}Сентябрь{% endblocktrans %}","{% blocktrans %}Октябрь{% endblocktrans %}","{% blocktrans %}Ноябрь{% endblocktrans %}","{% blocktrans %}Декабрь{% endblocktrans %}"],
                weekStart: 1,
                noDefault: true,
                format: 'yyyy-mm-dd hh:ii:ss',
                days: ["{% blocktrans %}вс{% endblocktrans %}", "{% blocktrans %}пн{% endblocktrans %}","{% blocktrans %}вт{% endblocktrans %}","{% blocktrans %}ср{% endblocktrans %}","{% blocktrans %}чт{% endblocktrans %}","{% blocktrans %}пт{% endblocktrans %}","{% blocktrans %}сб{% endblocktrans %}"],});


            
            $("#id_button_tp").click(function(){
                $.fn.dialog2.helpers.prompt("{% blocktrans %}Название{% endblocktrans %}", {
                    ok: function(event, value) {
                        $.getJSON('{% url timeperiod_edit %}',{value:value},function(data,status){
                            if( status=='success' ){
                                if(data.status==true)
                                   $("#tree").dynatree("getRoot").addChild({
                                        title: value,
                                        key: "TP___"+data.id,
                                        isFolder: true
                                    });
                                else
                                    alert(data.generated)
                                    return
                            }else{
                                alert('{% blocktrans %}В процессе отправки произошла ошибка{% endblocktrans %}')
                            }
                            return
                        })
                    }, 
                    cancel: function() {}
                });
            });

            $("#id_button_node").click(function(){
                var node = $("#tree").dynatree("getActiveNode");
                var active_node =$("#tree").dynatree("getActiveNode");
                var action='new';
                if (active_node.data.key.indexOf("TP___")!=0){

                	if(active_node.getParent().data.key.indexOf("TP___")!=0){
	                    $.fn.dialog2.helpers.alert("{% blocktrans %}Выберите период{% endblocktrans %}", {
	                    });
	                    return
                	}else{
                		active_node = active_node.getParent();
                		action='edit';
                	}
                }

                $.ajax({
                    url: "{% url timeperiodnode_edit %}",
                    type: "POST",
                    cache:false,
                    dataType: "json",
                    data: $("#id_form").serialize(),
                    success: function(data){   
                    $("#id_form_content").html(data.form);
                    if (data.status==true){
                    	if (action=='new'){
	                        active_node.addChild({
	                            title: data.name,
	                            key: "NODE___"+data.id
	                        })
                        }else{
                        	node.setTitle(data.name);
                    }}
                    }
                  });
                
            });

            function editTp(node){
                var prevTitle = node.data.title,
                        tree = node.tree;
               
                    $.fn.dialog2.helpers.prompt("{% blocktrans %}Название{% endblocktrans %}", {
                        defaultValue: prevTitle,
                        ok: function(event, value) {
                            
                            if (node.data.key.indexOf("TP__")==0){
                            $.getJSON('{% url timeperiod_edit %}',{key:node.data.key, value:value},function(data,status){
                                if( status=='success' ){
                                    if(data.status==true)
                                        node.setTitle(value)
                                    else
                                        alert(data.message)
                                        return
                                }else{
                                    alert('{% blocktrans %}В процессе отправки произошла ошибка{% endblocktrans %}')
                                }
                                return
                            })};

                            
                        }
                    });



        }
            
            function editNode(node){
                var prevTitle = node.data.title,
                        tree = node.tree;
                
                // Disable dynatree mouse- and key handling
                //tree.$widget.unbind();
                // Replace node with <input>
                //$(".dynatree-title", node.span).html("<input id='editNode' value='" + prevTitle + "'>");
                //$("#id_text_edit").val(prevTitle);

                $.ajax({
                	  url: "{% url timeperiodnode_edit %}",
                	  type: "GET",
                	  cache:false,
                	  dataType: "json",
                	  data: {key:node.data.key},
                	  success: function(data){   
                   	  $("#id_form_content").html(data.form);
                	  }
                	});
                


        }
            $(function(){
                var isMac = /Mac/.test(navigator.platform);
                // Attach the dynatree widget to an existing <div id="tree"> element
                // and pass the tree options as an argument to the dynatree() function:
                $("#tree").dynatree({
                    selectMode: 3,
                    minExpandLevel: 1,
                    clickFolderMode:1,
                    children: {{ojax|safe}},
            onClick: function(node, event) {
            	    
            	    	editNode(node);
                    //if( event.shiftKey ){
                            //editNode(node);
                            //return false;
                    //}
            },
            onDblClick: function(node, event) {
                    editTp(node);
                    return false;
            },
            onKeydown: function(node, event) {
                    switch( event.which ) {
                    case 113: // [F2]
                            editNode(node);
                            return false;
                    case 13: // [enter]
                            if( isMac ){
                                    editNode(node);
                                    return false;
                            }
                    }
            }
                });
              });

            $("#id_button_delete").click(function(event) {
                var node = $("#tree").dynatree("getActiveNode");
                 $.fn.dialog2.helpers.confirm("{% blocktrans %}Вы уверены, что хотите удалить запись?{% endblocktrans %}", {
                     confirm: function() { 
                         $.getJSON('{% url timeperiod_delete %}',{key:node.data.key},function(data,status){
                             if( status=='success' ){
                                 if(data.status==true)
                                    node.remove()
                                 else
                                     alert(data.message)
                                     return
                             }else{
                                 alert('{% blocktrans %}В процессе отправки произошла ошибка{% endblocktrans %}')
                             }
                             return
                         })
                     }, 
                 });

                 event.preventDefault(event);
             });
                 
        });
        </script>

{% endblock %}
{% block base %}

<div class="row-fluid">

<p class="help-block">{% blocktrans %}Двойной клик по элементу - редактировать{% endblocktrans %}</p>

<div class="span5" id="tree"></div>
<div class="span6">
<form method="POST" id="id_form" class="well form-horizontal form-condensed ">
<div id="id_form_content">

</div>

                    <div class="form-actions form-actions-center">
                        
                        <button id="id_button_node" class="btn btn-primary" type="button">{% blocktrans %}Сохранить подпериод{% endblocktrans %}</button>
                        
                    </div>
                <fieldset>
                    <div class="form-actions form-actions-center">
                    <button id="id_button_tp" class="btn btn-primary" type="button">{% blocktrans %}Добавить период{% endblocktrans %}</button>
                        <button id="id_button_delete" class="btn btn-danger" type="button">{% blocktrans %}Удалить элемент{% endblocktrans %}</button>
                    </div>
                </fieldset>
            </form>
            
</div>
</div>

 {% endblock %}

