{% extends "ebsadmin/base.html" %}
{% load render_table from django_tables2 %}
{% load ebsadmin_tags %}
{% block extra_head %}
        <script type="text/javascript"> 
        $(document).ready(function() {

            $(".show-confirm").click(function(event) {
                a=$(this);
                $.fn.dialog2.helpers.confirm("Удалить правило?", {
                    confirm: function() {
                        $.getJSON(a.attr('href'),{},function(data,status){
                            if( status=='success' ){
                                if(data.status==true)
                                    {
                                    location.reload();
                                    }else{
                                        alert(data.message)
                                    }
                                
                            }else{
                                alert('Произошла непредвиденная ошибка')
                            }

                        })                      
                        }, 
                    decline: function() {  }
                });

                event.preventDefault(event);
            });
        });
        </script>

{% endblock %}
{% block body %}




  <div class="row-fluid">
  
<div>
<ul class="breadcrumb">
  <li>
    <a href="{% url tpchangerule %}">Правила смены тарифных планов</a> <span class="divider">/</span>
  </li>
</ul>
</div>
<div class="btn-toolbar pull-right"><a href="{% url tpchangerule_edit %}" id="id_btn_add" class="btn btn-success">Добавить</a>&nbsp;</div>
<div>
  {% render_table table "django_tables2/cards_table.html" %}
</div>
    </div>
  

 {% endblock %}

