{% extends "ebsadmin/base.html" %}
{% load ebsadmin_tags %}
{% block extra_head %}
        <script type="text/javascript"> 
        $(document).ready(function() {
            if ( $("#id_on_next_sp").is(':checked')){
                $('#id_settlement_period').removeAttr('disabled');  
            
            }else{
                $("#id_settlement_period").attr('disabled', 'disabled');
                $('#id_settlement_period').prop('selectedIndex',0);
                
            }
            $("#id_on_next_sp").change(function(e){
            	if ( $("#id_on_next_sp").is(':checked')){
            		$('#id_settlement_period').removeAttr('disabled');  
            	
            	}else{
            		$("#id_settlement_period").attr('disabled', 'disabled');
            		$('#id_settlement_period').prop('selectedIndex',0);
            		
            	}
            })
        });
        </script>

{% endblock %}
{% block body %}
<div class="span12">
<div class="row-fluid">
<ul class="breadcrumb">
  <li>
    <a href="{% url tpchangerule %}">Правила смены тарифных планов</a> <span class="divider">/</span>
  </li>

  <li class="active">{{form.name.value}}</li>
</ul>
<form method="POST" action="{% url tpchangerule_edit %}?id={{item.id}}"class="well form-horizontal">
            {{form.id}}
            <legend>Правило перехода на тарифный план{% objectlog item %}</legend>
             <fieldset>
                  <div class="control-group">

                      <label class="control-label">{{form.from_tariff.label}}: </label>
                      <div class="controls">
                      {{ form.from_tariff }}
                      {% if form.from_tariff.errors %}
                          <span class="help-inline">{% for error in form.from_tariff.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.from_tariff.help_text%}
                          <p class="help-block">
                              {{ form.from_tariff.help_text|safe }}
                          </p>
                      {% endif %}

                  </div>
                  </div>
                  {% if form.id.value %}
                  <div class="control-group">
                      <label class="control-label">{{form.to_tariff.label}}: </label>
                      <div class="controls">
                      {{ form.to_tariff }}
                      {% if form.to_tariff.errors %}
                          <span class="help-inline">{% for error in form.to_tariff.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.to_tariff.help_text%}
                          <p class="help-block">
                              {{ form.to_tariff.help_text|safe }}
                          </p>
                      {% endif %}

                  </div>
                  </div>
                  {% else %}
                  <div class="control-group">
                      <label class="control-label">{{form.to_tariffs.label}}: </label>
                      <div class="controls">
                      {{ form.to_tariffs }}
                      {% if form.to_tariffs.errors %}
                          <span class="help-inline">{% for error in form.to_tariffs.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.to_tariffs.help_text%}
                          <p class="help-block">
                              {{ form.to_tariffs.help_text|safe }}
                          </p>
                      {% endif %}

                  </div>
                  </div>
                  {% endif %}
                  <div class="control-group">
                      <label class="control-label">{{form.cost.label}}: </label>
                      <div class="controls">
                      {{ form.cost }}
                      {% if form.cost.errors %}
                          <span class="help-inline">{% for error in form.cost.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.cost.help_text%}
                          <p class="help-block">
                              {{ form.cost.help_text|safe }}
                          </p>
                      {% endif %}

                  </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label">{{form.ballance_min.label}}: </label>
                      <div class="controls">
                      {{ form.ballance_min }}
                      {% if form.ballance_min.errors %}
                          <span class="help-inline">{% for error in form.ballance_min.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.ballance_min.help_text%}
                          <p class="help-block">
                              {{ form.ballance_min.help_text|safe }}
                          </p>
                      {% endif %}

                  </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label">{{form.on_next_sp.label}}: </label>
                      <div class="controls">
                      {{ form.on_next_sp }}
                      {% if form.on_next_sp.errors %}
                          <span class="help-inline">{% for error in form.on_next_sp.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.on_next_sp.help_text%}
                          <p class="help-block">
                              {{ form.on_next_sp.help_text|safe }}
                          </p>
                      {% endif %}

                  </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label">{{form.settlement_period.label}}: </label>
                      <div class="controls">
                      {{ form.settlement_period }}
                      {% if form.settlement_period.errors %}
                          <span class="help-inline">{% for error in form.settlement_period.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.settlement_period.help_text%}
                          <p class="help-block">
                              {{ form.settlement_period.help_text|safe }}
                          </p>
                      {% endif %}

                  </div>
                  </div>
                  <div class="control-group">
                      <label class="control-label">{{form.disabled.label}}: </label>
                      <div class="controls">
                      {{ form.disabled }}
                      {% if form.disabled.errors %}
                          <span class="help-inline">{% for error in form.disabled.errors %}{{ error }}<br/> {% endfor %}</span>
                      {% endif %}
                      {% if form.disabled.help_text%}
                          <p class="help-block">
                              {{ form.disabled.help_text|safe }}
                          </p>
                      {% endif %}

                  </div>
                  </div>
                </fieldset>
                <fieldset>
                    <div class="form-actions form-actions-center">
                        <button class="btn btn-primary" type="submit">Сохранить</button>
                    </div>
                </fieldset>
            </form>


        </div>

    </div>

 {% endblock %}

