{% extends "ebsadmin/base.html" %}
{% load i18n %}
{% load ebsadmin_tags %}
{% load render_table from django_tables2 %}
{% block extra_head %}

        <script type="text/javascript"> 
        $(document).ready(function() {
            $(".show-confirm").click(function(event) {
                a=$(this);
                $.fn.dialog2.helpers.confirm("Удалить?", {
                    confirm: function() {
                        $.getJSON(a.attr('href'),{},function(data,status){
                            if( status=='success' ){
                                if(data.status==true)
                                    {
                                    location.reload();
                                    }else{
                                        alert(data.message)
                                    }
                                
                            }else{
                                alert('Произошла непредвиденная ошибка')
                            }

                        })                      
                        }, 
                    decline: function() {  }
                });

                event.preventDefault(event);
            });
            $(".open-custom-dialog").click(function(event) {
                $('<div />').dialog2({
                    title: "Изменить класс", 
                    content: this.href, 
                    id: "trafficclass-modal"
                });

                event.preventDefault(event);
            });
            $("#id_btn_add").click(function(event) {
                $('<div />').dialog2({
                    title: "Добавить класс", 
                    content: "{% url trafficclass_edit %}", 
                    id: "trafficclass-modal"
                });

                event.preventDefault(event);
            });
            $("#id_btn_save").click(function(){
                var values = jQuery("#id_main_table input[type=hidden]").serializeArray();
                var js = [];
                $.each(values, function(key, value) { 
                     js.push({name:'id', value:value.value})
                    });
                    $.post("{% url trafficclass_weight %}", js, function(data, status){
                        if( status=='success' ){
                            if(data.status==true)
                                {
                                location.reload();
                                }else{
                                    alert(data.message)
                                }
                            
                        }else{
                            alert('Произошла непредвиденная ошибка')
                        }
                    }); 
            });
            var fixHelper = function(e, ui) {
                ui.children().each(function() {
                    $(this).width($(this).width());
                });
                return ui;
            };

            $( "#id_main_table tbody" ).sortable({
            	helper: fixHelper,            
                update : function () {
                	var i=1;
                	$.each(jQuery("#id_main_table input[type=text]"), function(ind, obj){
                		obj.value = i;
                		i +=1;
                	});
                	$("#id_show_warning").show();
                	return
             
                    } }).disableSelection();
            $("#id_show_warning").hide();
        });
        </script>

{% endblock %}
{% block base %}




  <div class="row-fluid">
<div class="alert alert-info">
        <strong>Внимание!</strong> Просмотр классов происходит сверху-вниз. От меньшего веса к большему.
      </div>
<div class="alert alert-error" id="id_show_warning">
        <strong>Внимание!</strong> Сохраните изменения, нажав кнопку Сохранить.
      </div>
<div>
<ul class="breadcrumb">
  <li>
    <a href="{% url trafficclass %}">Классы трафика</a> <span class="divider">/</span>
  </li>
</ul>
</div>

<div class="btn-toolbar pull-right"><a href="#" id="id_btn_add" class="btn btn-success">Добавить</a>&nbsp;<a href="#" id="id_btn_save" class="btn btn-warning">Сохранить</a></div>
<div>
  {% render_table table %}
</div>
    </div>
  

 {% endblock %}

