<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
</head>

<body>

<div style="width:100%; "> 
<div style="float:right ">
<span style="font-weight:bold; ">Дилер</span><br>		
Организация: $dealer_orgainzation<br>	
Директор: $dealer_director<br>	
Юр адрес: $dealer_ur_address<br>	
УНН: $dealer_unn<br>	
ОКПО: $dealer_okpo<br>	
Банк: $dealer_bank, код $dealer_bank_code<br>	
</div>

<div style="float:left ">
	<span style="font-weight:bold; ">Оператор</span><br>	
	Организация: $operator_organization<br>	
	Директор: $operator_director<br>	
	Юр адрес: $operator_ur_address<br>	
	УНН: $operator_unn<br>	
	ОКПО: $operator_okpo<br>	
	Банк: $operator_bank, Код $operator_bank_code<br>	
</div>
</div>

<div style="font-weight:bold; float:left; width:100%; text-align:center; margin-bottom:20px; margin-top:20px; ">Счёт фактура на оплату карт экспресс-оплаты по документу $id от $now</div>

<div style="clear:both "></div>
<table border="1" align="center">
	<tr>
		<td>ID карты</td>
		<td>Серия</td>
		<td>Номинал</td>
		<td>Активировать С</td>
		<td>Активировать ПО</td>
	</tr>
</table>

Итого $count карт на сумму: $sum_for_pay<br>	
Скидка: $discount на сумму $discount_sum<br>	
К оплате:<br>	
Оплатить всю сумму до:$date	

</body>
</html>
